<p>
	Les études aux cycles supérieurs s’effectuent dans un contexte d’apprentissage différent de vos études de 1er cycle. Elles nécessitent ainsi souvent le développement de nouvelles habiletés et stratégies pour vous adapter à cette nouvelle réalité. Dans cette section, vous trouverez des textes qui abordent les préoccupations propres aux étudiantes et étudiants qui poursuivent des études dans ces cycles.
</p>
<h2>À signaler</h2>
<h3>Pour les étudiants des 2e et 3e cycles :</h3>
<p>
	Nous offrirons à l'automne 2014 le cours « SAVOIR-ÊTRE, ÉTHIQUE ET PROFESSIONNALITÉ » (GPL-7905) (1 cr.). L'inscription se fait via CAPSULE (sous la matière « Études pluridisciplinaires »). Ce cours aborde la question de la construction d'une identité personnelle et professionnelle claire. Places limitées à 20 personnes.
</p>
<ul>
	<li><a href="{{LIEN}}choix-sujet" title="Choix du sujet et du directeur de recherche " target="_blank">Choix du sujet et du directeur de recherche </a></li>
	<li><a href="{{LIEN}}gestion-temps" title="Essai, mémoire et thèses : les défis de la gestion du temps " target="_blank">Essai, mémoire et thèses : les défis de la gestion du temps </a></li>
	<li><a href="{{LIEN}}obstacle-redaction" title="Obstacles à la rédaction aux cycles supérieurs" target="_blank">Obstacles à la rédaction aux cycles supérieurs</a></li>
	<li><a href="{{LIEN}}page-blanche" title="Le phénomène de la page blanche" target="_blank">Le phénomène de la page blanche</a></li>
	<li><a href="{{LIEN}}relation-encadrement" title="Savoir tirer le meilleur de la relation d'encadrement" target="_blank">Savoir tirer le meilleur de la relation d'encadrement</a></li>
</ul>
<ul>
	<li><a href="{{LIEN}}etudes-superieures" title="Envisager des études supérieures" target="_blank">Envisager des études supérieures</a></li>
	<li><a href="{{LIEN}}integration" title="Planifier son intégration au marché du travail" target="_blank">Planifier son intégration au marché du travail</a></li>
</ul>

<ul>
	<li><a href="{{LIEN}}choc-du-retour" title="Séjour à l'étranger : le choc du retour" target="_blank">Séjour à l'étranger : le choc du retour</a></li>
</ul>