<p>
	Avec les études universitaires, de nouveaux défis à relever se pointent souvent à l'horizon, ce qui peut nécessiter l'acquisition de stratégies différentes, ou vous amener à effectuer des ajustements pour faire face à certaines difficultés. Le rythme des études plus élevé, la plus grande quantité d'informations à assimiler, la gestion de son temps, les périodes d'examens et de remise de travaux peuvent aussi occasionner du stress en cours de route.
</p>
<p>
	Le secteur « Apprentissage et réussite » vous offre des outils visant l'amélioration ou l'acquisition d'habiletés propres à votre métier d'étudiant ou d'étudiante. Il vous propose des moyens concrets (exposés, textes, consultation individuelle) pour vous aider à résoudre les difficultés que vous rencontrez dans vos études et qui peuvent avoir un impact négatif sur votre réussite scolaire.
</p>
<p>
	Vous trouverez ci-dessous plusieurs textes pouvant vous être utiles. Ils sont regroupés en quatre catégories :
</p>
<h2>Stratégies d'apprentissage</h2>
<ul>
	<li><a href="{{LIEN}}concentration" title="La concentration" target="_blank">La concentration</a></li>
	<li><a href="{{LIEN}}gestion-temps" title="La gestion du temps" target="_blank">La gestion du temps</a></li>
	<li><a href="{{LIEN}}memorisation" title="La mémorisation" target="_blank">La mémorisation</a></li>
	<li><a href="{{LIEN}}lecture" title="La lecture" target="_blank">La lecture</a></li>
	<li><a href="{{LIEN}}ecoute" title="L'écoute en classe" target="_blank">L'écoute en classe</a></li>
	<li><a href="{{LIEN}}preparation-examens" title="La préparation aux examens" target="_blank">La préparation aux examens</a></li>
	<li><a href="{{LIEN}}travaux-ecrits" title="Les travaux écrits" target="_blank">Les travaux écrits</a></li>
	<li><a href="{{LIEN}}travaux-equipe" title="Les travaux en équipe" target="_blank">Les travaux en équipe</a></li>
	<li><a href="{{LIEN}}sciences-pures" title="L'étude des sciences pures et appliquées" target="_blank">L'étude des sciences pures et appliquées</a></li>
	<li><a href="{{LIEN}}contexte" title="Étudieur en contexte québécois" target="_blank">Étudieur en contexte québécois</a></li>
	<li><a href="{{LIEN}}strategies-TDAH" title="Stratégies pour étudier avec un TDAH" target="_blank">Stratégies pour étudier avec un TDAH</a></li>
</ul>
<h2>Difficultés fréquentes en cours d'apprentissage</h2>
<ul>
	<li><a href="{{LIEN}}baisse-motivation" title="La baisse de motivation" target="_blank">La baisse de motivation</a></li>
	<li><a href="{{LIEN}}famille-etudes" title="Concilier la famille et les études : Mission impossible?" target="_blank">Concilier la famille et les études : Mission impossible?</a></li>
	<li><a href="{{LIEN}}stages" title="Les difficultés en stage" target="_blank">Les difficultés en stage</a></li>
	<li><a href="{{LIEN}}perfectionnisme" title="Le perfectionnisme" target="_blank">Le perfectionnisme</a></li>
	<li><a href="{{LIEN}}conflits-travaux-equipe" title="Prévenir et gérer les conflits dans les travaux en équipe" target="_blank">Prévenir et gérer les conflits dans les travaux en équipe</a></li>
	<li><a href="{{LIEN}}procrastination" title="La procrastination" target="_blank">La procrastination</a></li>
	<li><a href="{{LIEN}}retour-etudes" title="Le retour aux études" target="_blank">Le retour aux études</a></li>
	<li><a href="{{LIEN}}TDAH" title="Le TDAH : Définition, traitements et ressources universitaires" target="_blank">Le TDAH : Définition, traitements et ressources universitaires</a></li>
</ul>
<h2>Stress et anxiété scolaire</h2>
<ul>
	<li><a href="{{LIEN}}stress" title="Bien vivre le stress" target="_blank">Bien vivre le stress</a></li>
	<li><a href="{{LIEN}}relaxation" title="La relaxation" target="_blank">La relaxation</a></li>
	<li><a href="{{LIEN}}resolution-problemes" title="La résolution de problèmes" target="_blank">La résolution de problèmes</a></li>
	<li><a href="{{LIEN}}anxiete" title="Stress, anxiété et perceptions" target="_blank">Stress, anxiété et perceptions</a></li>
	<li><a href="{{LIEN}}trac" title="Le trac : comment mieux l'apprivoiser" target="_blank">Le trac : comment mieux l'apprivoiser</a></li>
	<li><a href="{{LIEN}}stress-solutions" title="Trop de stress? Douze pistes de solutions" target="_blank">Trop de stress? Douze pistes de solutions</a></li>
</ul>
<h2>2<sup>e</sup> et <sup>3e</sup> cycles</h2>
<ul>
	<li><a href="{{LIEN}}choix-sujet" title="Choix du sujet et du directeur de recherche " target="_blank">Choix du sujet et du directeur de recherche </a></li>
	<li><a href="{{LIEN}}defis-gestion-temps" title="Essai, mémoire et thèses : les défis de la gestion du temps" target="_blank">Essai, mémoire et thèses : les défis de la gestion du temps</a></li>
	<li><a href="{{LIEN}}obstacle-redaction" title="Obstacles à la rédaction aux cycles supérieurs" target="_blank">Obstacles à la rédaction aux cycles supérieurs</a></li>
	<li><a href="{{LIEN}}page-blanche" title="Le phénomène de la page blanche" target="_blank">Le phénomène de la page blanche</a></li>
	<li><a href="{{LIEN}}relation-encadrement" title="Savoir tirer le meilleur de la relation d'encadrement" target="_blank">Savoir tirer le meilleur de la relation d'encadrement</a></li>
</ul>
<p>
	<a href="{{LIEN}}nous-joindre-apprentissage" title="Nous joindre" target="_blank">Nous joindre</a>
</p>