<p>
	Les études universitaires peuvent être très satisfaisantes, mais entraînent aussi leur lot de stress. Spontanément, beaucoup de gens donnent un sens négatif au stress, alors qu'il vous motive, vous stimule à aller de l'avant ou vous permet de vous protéger d'une situation menaçante. Le stress est un atout essentiel et fait partie de la vie, qui sans lui risquerait d'être bien ennuyante ! 
</p>
<p>
	Le stress peut être décrit comme un phénomène d'adaptation de l'organisme face à toute demande qui lui est faite. Dans la vie étudiante, la quantité de demandes est importante et presque constante. Bien que l'adaptation aux études universitaires puisse constituer un stress plus important (lien Partez du bon pied), celui-ci demeurera présent tout au long de vos études et de votre vie professionnelle, d'où l'importance de bien comprendre ce phénomène et d'apprendre à le maîtriser.
</p>
<nav>
	<ul>
		<li><a href="#meme-chose" title="Stress et anxiété, est-ce la même chose ?">Stress et anxiété, est-ce la même chose ?</a></li>
		<li><a href="#seul" title="Êtes-vous seul ou seule à stresser ?">Êtes-vous seul ou seule à stresser ?</a></li>
		<li><a href="#affecte" title="Le stress vous affecte-t-il ?">Le stress vous affecte-t-il ?</a></li>
		<li><a href="#stresse" title="Qu'est-ce qui vous stresse ?">Qu'est-ce qui vous stresse ?</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="meme-chose">
	<h1>Stress et anxiété, est-ce la même chose ?</h1>
	<p>
		Bien que les termes stress et anxiété soient souvent utilisés indifféremment dans le langage parlé, il existe une distinction entre ces deux concepts. 
	</p>
	<p>
		<strong>Stress</strong> : Il s'agit d'une réaction automatique de l'organisme à toute demande (physique, émotive, ou mentale) à laquelle vous avez à faire face dans la vie quotidienne, qu'elle soit positive ou négative. Le stress ressenti peut être bénéfique ou nuisible, selon la manière dont vous réagissez. 
	</p>
	<p>
		<strong>Anxiété</strong> : Il s'agit d'une émotion qui accompagne la perception d'une menace (crainte). L'anxiété est une émotion qui prend racine dans l'instinct de survie, pour vous protéger des dangers. Chez certaines personnes, le système d'alarme que représente l'anxiété est tellement sensible qu'il se déclenche parfois sans qu'il y ait de véritable danger. L'anxiété peut ainsi devenir excessive et nuire à votre fonctionnement. 
	</p>
	<p>
		L'anxiété scolaire fait référence à la peur de l'échec. Une autre forme très répandue d'anxiété parmi les étudiants, étudiantes, professionnels et professionnelles est l'anxiété de performance, qui réfère à la peur de ne pas être à la hauteur de vos attentes, de ne pas atteindre vos objectifs. 
	</p>
	<p>
		Dans les différents textes présentés dans ce secteur du site, nous vous proposons des stratégies pour vous aider à maîtriser votre niveau de stress, de même qu'à composer avec l'anxiété. 
	</p>
</section>
<section id="seul">
	<h1>Êtes-vous seul ou seule à stresser ? Le contexte de la vie étudiante universitaire</h1>
	<p>
		Bien que les étudiants et étudiantes ne vivent pas tous des problèmes reliés au stress, la plupart en éprouveront les manifestations, à un moment ou à un autre de leurs études. La vie universitaire constitue un contexte unique qui peut favoriser le stress. La présence d'un climat de compétition dans certains programmes, l'accent souvent mis sur les notes et sur la performance, en plus du rythme élevé de l'apprentissage universitaire peuvent générer une pression constante. La valorisation de l'excellence et de la réussite dans la société (et éventuellement sur le marché du travail) peut subtilement vous amener à glisser dans un rythme de vie effréné. De plus en plus d'étudiants et étudiantes universitaires occupent un emploi, ont des responsabilités domestiques ou familiales et d'autres engagements (social, amoureux), en plus du temps et de l'énergie consacrés à leurs études. Enfin, le contexte de précarité financière (revenu limité, endettement) peut aussi contribuer à accroître ce niveau de stress. 
	</p>
</section>
<section id="affecte">
	<h1>Le stress vous affecte-t-il ?</h1>
	<p>
		Lorsque le niveau de stress devient trop élevé, qu'il perdure et que vous vous sentez à court de ressources pour y faire face, il risque alors d'entraîner un déséquilibre dans votre vie et de devenir néfaste. Des symptômes peuvent alors se manifester sur les plans physiologiques, psychologiques (émotions et cognitions) et comportementaux. Une première étape, et un élément central d'une bonne gestion du stress, consiste à reconnaître les signaux d'alarme de votre organisme lorsqu'ils se manifestent. 
	</p>
	<p>
		L'évaluation de votre niveau de stress dépend du nombre et de la permanence des manifestations ressenties, puisque leur présence occasionnelle est tout à fait normale. Le tableau ci-dessous peut vous fournir des indications (tenez compte du dernier mois). Si vous avez des difficultés à répondre, une bonne suggestion serait de noter pendant une semaine les moments (quand, où, ce qui se passe) où vous vous sentez stressé ou stressée. 
	</p>
	<table>
		<caption>Manifestations sur le plan physiologique</caption>
		<thead>
			<tr>
				<th></th>
				<th>Pas du tout</th>
				<th>Un peu</th>
				<th>Modérément</th>
				<th>Beaucoup</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Troubles du sommeil</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Augmentation ou diminution de l'appétit</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Fatigue générale</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Difficulté à se détendre, tics nerveux</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Tensions musculaires, tremblements</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Transpiration, bouffées de chaleur</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Maux de tête</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Étourdissements</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Battements cardiaques accélérés</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Respiration difficile, sensation d'étouffement</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Troubles digestifs (brûlements d'estomac, crampes abdominales, diarrhée)</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<p>
		<em>N. B. : Lorsque plusieurs symptômes physiologiques apparaissent de façon soudaine et inattendue, soit dans un court laps de temps (5 minutes), la réaction peut être qualifiée d'attaque de panique.</em>
	</p>
	<table>
		<caption>Manifestations sur le plan psychologique (émotif et cognitif)</caption>
		<thead>
			<tr>
				<th></th>
				<th>Pas du tout</th>
				<th>Un peu</th>
				<th>Modérément</th>
				<th>Beaucoup</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Inquiétudes</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Humeur instable, irritabilité</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Crainte que le pire ne survienne</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Peur de perdre le contrôle</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Difficulté à prendre des décisions </td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Baisse de motivation</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Modification de l'intérêt sexuel </td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Difficultés de concentration</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Trous de mémoire, oublis</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Déprime</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Sentiment de vulnérabilité</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Manque de confiance en soi</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<p>
		<em>N. B. : Certaines de ces manifestations peuvent aussi être des indicateurs de la dépression.</em>
	</p>
	<table>
		<caption>Manifestations sur le plan psychologique (émotif et cognitif)</caption>
		<thead>
			<tr>
				<th></th>
				<th>Pas du tout</th>
				<th>Un peu</th>
				<th>Modérément</th>
				<th>Beaucoup</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Retards ou absences aux cours</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Se ronger les ongles, avoir des tics, manies</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Regarder souvent l'heure</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Sauter des repas ou manger du « fast food »</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Fumer davantage</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Boire davantage d'alcool</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Utiliser des drogues ou des médicaments</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Éviter des situations (gens, endroits)</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Remettre à plus tard</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Vérifier des choses plusieurs fois</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<p>
		<em>N. B. : Ces comportements ont souvent pour objectif de diminuer le stress ou de tenter de l'éviter. Souvent, les comportements stimulés par le stress vous sont plus dommageables que le stress en soi.</em>
	</p>
	<p>
		Il n'existe pas de niveau de stress optimal à atteindre pour trouver un équilibre. Le seuil de tolérance diffère selon les personnes et peut varier selon les périodes de votre vie. Ce qui est stressant pour un étudiant ou une étudiante (ex. : une présentation orale), peut être agréable pour un ou une autre.
	</p>
</section>
<section id="stresse">
	<h1>Qu'est-ce qui vous stresse ? Les principales sources de stress de la vie étudiante</h1>
	<p>
		Une seconde étape à une bonne gestion de votre stress consiste à identifier les sources de stress présentes dans votre vie. La liste ci-dessous énumère les facteurs les plus couramment reliés à la vie universitaire. Pour un étudiant ou une étudiante, le stress est souvent concentré à certains moments-clés de la session (examens, période suivant la mi-session, recherche d'emploi). Vous pouvez utiliser l'échelle ci-dessous en guise d'auto-évaluation. 
	</p>
	<h2>Jusqu'à quel point est-ce une source de stress dans votre vie ?</h2>
	<em>Échelle de 0 = pas du tout à 10 = beaucoup</em>
	<ol>
		<li>
			Est-ce que vous traversez une période où vous devez vous adapter à des changements importants ? (Ex. : échec, rupture amoureuse, deuil, déménagement, arrivée à l'université, nouvel emploi, maladie, etc.)<br>
			<strong>(____)</strong>
		</li>
		<li>
			Est-ce que vous devez faire face quotidiennement à des irritants ? (Ex. : conflit interpersonnel avec « coloc » ou parents, problèmes financiers, bruit, imprévus, transport, insatisfaction face à votre programme scolaire, etc.)<br>
			<strong>(____)</strong>
		</li>
		<li>
			Est-ce que vos tâches scolaires et habitudes de travail sont sources de stress ? (Ex. : absence d'endroit pour étudier, préparation aux examens, lectures peu efficaces, tendance à remettre l'étude à plus tard, exposé oraux, etc.)<br>
			<strong>(____)</strong>
		</li>
		<li>
			Est-ce que votre rythme de vie est équilibré ? (Ex. : surcharge de travail, échéances serrées, manque de temps pour vous, solitude, etc.)<br>
			<strong>(____)</strong>
		</li>
		<li>
			Est-ce que certaines de vos perceptions et attitudes engendrent du stress ? (Ex. : façons de réagir, difficulté à résoudre les problèmes, objectifs rigides, doutes quant à votre compétence, perfectionnisme excessif, etc.)<br>
			<strong>(____)</strong>
		</li>
	</ol>
	<p>
		Le stress et l'anxiété sont des phénomènes normaux, mais qui peuvent poser problème lors de vos études et pendant votre carrière. Vous pouvez consulter les différents textes à ce sujet, afin de développer des stratégies qui vous aideront à faire face aux difficultés. Vous pouvez commencer par le texte « <a href="{{LIEN}}solutions-stress" title="Trop de stress ? Douze pistes de solutions" target="_blank">Trop de stress ? Douze pistes de solutions</a> ». 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		Boucher, F., et A. Binette (1981), Bien vivre le stress, Boucherville, Éditions de Mortagne. 
	</cite></p>
	<p><cite>
		Burns, D. (1985), Être bien dans sa peau, Saint-Lambert, Éditions Héritage. 
	</cite></p>
	<p><cite>
		Carlson, R. (1998), Ne vous noyez pas dans un verre d'eau : simplifiez-vous la vie !, Montréal, Stanké.
	</cite></p>
	<p><cite>
		Fortin, B. (2001), La gestion du stress au travail, Montréal, Les consultations pédagogiques Fortin.
	</cite></p>
	<p><cite>
		Ladouceur, R., A. Marchand et J.-M. Boisvert (dir.) (1999), Les troubles anxieux : approche cognitive et comportementale, Boucherville, G. Morin.
	</cite></p>
	<p><cite>
		Lelord, F. (2001), Bien vivre avec son stress, coll. « Contre la montre », Paris, Village mondial : Pearson Education. 
	</cite></p>
</section>
<section id="complementaire">
	<h1>Contenu complémentaire</h1>
	<p><cite>
		Ellis, A. (1999), Dominez votre anxiété avant qu'elle ne vous domine, Montréal, Éditions de l'Homme. 
	</cite></p>
	<p><cite>
		Marchand, A. et A. Letarte (1993). La peur d'avoir peur : guide de traitement du trouble panique avec agoraphobie, coll. « Partage », Montréal, Stanké. 
	</cite></p>
	<p><cite>
		Néron, S. (1993), Des outils pour maîtriser l'anxiété et la panique, coll. « Psychologie médicale », Montréal, Méridien. 
	</cite></p>
	<p><cite>
		Ramirez Basco, M. (2000), Y a-t-il des perfectionnistes heureux ?, Montréal, Le Jour. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Véronique Mimeault, psychologue
	</p>
</footer>
