<p>
	Il n'est pas suffisant de vous asseoir devant vos livres et de tourner les pages pour faire une étude efficace. Il faut également orienter votre attention sur la tâche, ce qui est plus difficile. La concentration est l'orientation de l'ensemble des activités mentales vers un seul objet et elle est la base d'un travail intellectuel efficace. Comme le sommeil, la concentration n'est pas sous votre contrôle direct, c'est pourquoi vous devez tenter de contrôler les facteurs externes (ex. : endroit choisi) et internes (ex. : activités mentales) qui l'influencent.
</p>
<p>
	La concentration est fragile et plusieurs variables peuvent l'influencer, telles que les stimulations de votre environnement ou vos inquiétudes. C'est pourquoi il est plus efficace d'élaborer un plan d'action afin d'améliorer votre concentration que de vous blâmer pour un manque d'efficacité dans votre travail.
</p>
<nav>
	<ul>
		<li><a href="#endroit-adequat" title="Un endroit adéquat pour l'étude... et seulement pour l'étude">Un endroit adéquat pour l'étude... et seulement pour l'étude</a></li>
		<li><a href="#rechauffe-esprit" title="« Je me réchauffe l'esprit... »">« Je me réchauffe l'esprit... »</a></li>
		<li><a href="#structure" title="Un travail divisé = un esprit structuré !">Un travail divisé = un esprit structuré !</a></li>
		<li><a href="#blocage" title="« Si je bloque sur une notion »">« Si je bloque sur une notion »</a></li>
		<li><a href="#recompense" title="Récompensez-vous !">Récompensez-vous !</a></li>
		<li><a href="#pauses" title="Quoi faire pendant vos pauses ?">Quoi faire pendant vos pauses ?</a></li>
		<li><a href="#chasser-idees" title="« Des idées me trottent dans la tête, comment les chasser ? »">« Des idées me trottent dans la tête, comment les chasser ? »</a></li>
		<li><a href="#forme" title="Être en forme !">Être en forme !</a></li>
		<li><a href="#strategie" title="Des stratégies d'étude qui stimulent la concentration">Des stratégies d'étude qui stimulent la concentration</a></li>
		<li><a href="#concentration" title="Concentration et motivation">Concentration et motivation</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="endroit-adequat">
	<h1>Un endroit adéquat pour l'étude... et seulement pour l'étude</h1>
	<ul>
		<li>
			Tentez d'éliminer ou de réduire les distractions dans le milieu où vous travaillez (télévision, radio, nourriture, autres personnes, etc.).
		</li>
		<li>
			Essayez, si possible, d'utiliser toujours le même endroit pour votre étude. Cet endroit sera donc associé à la concentration. 
		</li>
		<li>
			Évitez le lit comme lieu de travail. Il est important de travailler dans une position qui incite à l'action, donc une position assise et légèrement inclinée vers votre travail et non le contraire. 
		</li>
		<li>
			Évitez la musique, à moins d'en être incapable. Si cela vous aide à vous concentrer, choisissez une musique instrumentale que vous connaissez bien. Le disque que vous avez acheté récemment diminuera à coup sûr votre concentration.
		</li>
	</ul>
</section>
<section id="rechauffe-esprit">
	<h1>« Je me réchauffe l'esprit... »</h1>
	<p>
		Une activité physique se réalise mieux lorsque vous vous réchauffez avant de l'accomplir. C'est la même chose pour les tâches intellectuelles. Faites une transition entre votre dernière activité et votre travail. Par exemple, prenez quelques minutes pour relaxer et revenez sur votre objectif d'étude et sur vos motivations à le réaliser. Vous pouvez également réfléchir à ce que vous avez vu dans le cours jusqu'à maintenant ou faire un survol des lectures à faire. En résumé, préparez doucement votre esprit à ce que vous allez faire.
	</p>
</section>
<section id="structure">
	<h1>Un travail divisé = un esprit structuré !</h1>
	<p>
		La division du travail en petits objectifs précis avant de débuter favorise la concentration. Élaborez un objectif précis et une approximation du temps requis. Plus vous avez de la difficulté à vous concentrer, plus vos objectifs devraient être précis mais surtout, petits. Par exemple, faire l'exercice numéro 5 dans le cours X.
	</p>
</section>
<section id="blocage">
	<h1>« Si je bloque sur une notion »</h1>
	<p>
		Lorsque vous avez de la difficulté à comprendre un problème ou une notion, il est bien de persévérer. Cependant, l'acharnement à résoudre une difficulté entraîne souvent une baisse de la motivation et une diminution de vos habiletés de résolution de problème. Persévérez, mais faites-vous aider ou prenez une pause si votre difficulté persiste.
	</p>
</section>
<section id="recompense">
	<h1>Récompensez-vous !</h1>
	<p>
		Même après avoir réalisé un objectif minime, offrez-vous une récompense sous forme de pause. Si vous avez des difficultés de concentration, il est préférable de faire plusieurs courtes pauses plutôt que d'en faire une très longue après l'atteinte d'un gros objectif.
	</p>
</section>
<section id="pauses">
	<h1>Quoi faire pendant vos pauses ?</h1>
	<p>
		Il faut augmenter la probabilité de revenir au travail... et favoriser la concentration pour votre prochain objectif. Lors de votre pause, bougez un peu, respirez de l'air frais. Il faut oxygéner votre outil de travail, c'est-à-dire votre cerveau ! À la fin de votre pause, élaborez un nouvel objectif.
	</p>
</section>
<section id="chasser-idees">
	<h1>« Des idées me trottent dans la tête, comment les chasser ? »</h1>
	<p>
		Dans le cas de pensées négatives, telles que des inquiétudes ou des problèmes divers qui nuisent à votre concentration, il s'agit d'être actif ou active face à ce qui vous préoccupe. Tenter de ne pas y penser fonctionne rarement avec les pensées négatives. Lorsque ce type de pensées (ex. : inquiétudes, préoccupations, souvenirs douloureux) vous viennent à l'esprit, arrêtez votre travail et écrivez ces pensées. Il sera alors moins difficile de prendre du recul et d'élaborer des solutions possibles face à ce qui vous préoccupe. Une fois la pensée écrite, tentez de trouver un début de solution au problème ou identifiez un moment où vous pourrez y revenir. Une fois cet exercice fait, retournez au travail (voir aussi le texte <a href="{{LIEN}}perceptions" title="Stress, anxiété et perceptions : maîtriser les pensées toxiques !" target="_blank">Stress, anxiété et perceptions : maîtriser les pensées toxiques !</a>).
	</p>
	<p>
		Dans le cas de rêves éveillés, c'est-à-dire de pensées positives qui nuisent à la concentration, il sera également important de ne pas attendre qu'ils quittent votre esprit d'eux-mêmes. Voici une stratégie que vous pouvez essayer : lorsque vous vous apercevez que vous êtes « dans la lune », levez-vous et terminez votre rêve debout. Par la suite, retournez au travail. Si vous faites cet effort à presque toutes les fois que vous rêvassez, ce problème diminuera.
	</p>
</section>
<section id="forme">
	<h1>Être en forme !</h1>
	<p>
		La concentration est facilement influencée par différentes variables, notamment la fatigue excessive, la maladie, la déprime, le manque de sommeil, l'alimentation, la consommation de psychotropes (ex. : le cannabis et l'alcool), etc. Si vous avez des difficultés de concentration importantes, analysez votre rythme de vie et évaluez si certains points seraient à ajuster. N'oubliez pas que votre concentration est votre principal outil de travail.
	</p>
</section>
<section id="strategie">
	<h1>Des stratégies d'étude qui stimulent la concentration</h1>
	<p>
		Consultez la section sur la <a href="{{LIEN}}lecture" title="lecture active" target="_blank">lecture active</a> afin de développer des stratégies de lecture qui augmenteront la concentration.
	</p>
</section>
<section id="concentration">
	<h1>Concentration et motivation</h1>
	<p>
		Le degré de concentration est également relié à votre degré de motivation par rapport à une tâche. Comme nous l'avons vu, il est important de revenir sur vos bonnes raisons d'étudier avant de commencer, surtout si vous sentez une démotivation pour la tâche que vous voulez débuter. Voir à ce sujet notre section sur <a href="{{LIEN}}motivation" title="la motivation scolaire" target="_blank">la motivation scolaire</a>. 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<h2>Liens Internet</h2>
	<p><cite>
		The Unabridged Student Counseling Virtual Pamphlet Collection : <a href="http://www.dr-bob.org/vpc/virtulets.html" title="The Unabridged Student Counseling Virtual Pamphlet Collection" target="_blank">http://www.dr-bob.org/vpc/virtulets.html</a>
	</cite></p>
	<p><cite>
		Guide format PDF: <a href="wp-content/uploads/2014/11/Guide_Concentration.pdf" title="La concentration et la gestion du temps" target="_blank">La concentration et la gestion du temps</a>. 
	</cite></p>
	<h2>Livres</h2>
	<p><cite>
		Beaud, M. &amp; Daniel, L. (1988). L'art de la thèse. Les éditions Boréal.
	</cite></p>
	<p><cite>
		Bégin, C. (1992). Devenir efficace dans ses études. Éditions Beauchemin.
	</cite></p>
	<p><cite>
		Boucher, F. &amp; Avard, J. (1984). Réussir ses études. Éditions de Mortagne. 
	</cite></p>
	<p><cite>
		Burka, J.B. &amp; Yuen, L.M. (1986). Pourquoi remettre à plus tard ? Le jour, éditeur.
	</cite></p>
	<p><cite>
		Dionne, B. (1990). Pour réussir. Éditions Études Vivantes. 
	</cite></p>
	<p><cite>
		Gauthier, L. &amp; Poulin, N. (1987). Savoir apprendre (2e édition). Les éditions de l'Université de Sherbrooke. 
	</cite></p>
	<p><cite>
		Goulet, L. &amp; Lépine, G. (1986). Cahier de méthodologie (3e édition). Les éditions de l'Université du Québec à Montréal. 
	</cite></p>
	<p><cite>
		Pauk, W. (1998). Study skills for college athletes. H&amp;H Publishing company. 
	</cite></p>
	<p><cite>
		Tremblay, R.R. &amp; Perrier, Y. (2000). Savoir plus. Les éditions de la Chenelière. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Dominique Dubé, psychologue
	</p>
</footer>
