<p>
	Il est possible de rencontrer des difficultés en cours de route, lors de la réalisation d'un projet d'étude universitaire. Dans cette section, vous trouverez des textes portant sur  des difficultés fréquemment rencontrées par les étudiantes et les étudiants.
</p>
<ul>
	<li><a href="{{LIEN}}baisse-motivation" title="La baisse de motivation" target="_blank">La baisse de motivation</a></li>
	<li><a href="{{LIEN}}famille-etudes" title="Concilier la famille et les études : Mission impossible?" target="_blank">Concilier la famille et les études : Mission impossible?</a></li>
	<li><a href="{{LIEN}}stages" title="Les difficultés en stage" target="_blank">Les difficultés en stage</a></li>
	<li><a href="{{LIEN}}perfectionnisme" title="Le perfectionnisme" target="_blank">Le perfectionnisme</a></li>
	<li><a href="{{LIEN}}conflits-travaux-equipe" title="Prévenir et gérer les conflits dans les travaux en équipe" target="_blank">Prévenir et gérer les conflits dans les travaux en équipe</a></li>
	<li><a href="{{LIEN}}procrastination" title="La procrastination" target="_blank">La procrastination</a></li>
	<li><a href="{{LIEN}}retour-etudes" title="Le retour aux études" target="_blank">Le retour aux études</a></li>
	<li><a href="{{LIEN}}TDAH" title="Le TDAH : Définition, traitements et ressources universitaires" target="_blank">Le TDAH : Définition, traitements et ressources universitaires</a></li>
</ul>