<p>
	La prise de notes lors des cours a plusieurs avantages. Une bonne écoute et des notes complètes vous permettront de profiter au mieux de vos cours. Compte tenu que plusieurs notions importantes sont habituellement communiquées directement par le professeur ou la professeure, il est nécessaire d'avoir pris de bonnes notes pour bien vous préparer à l'examen. De plus, les notes permettent de faire ressortir l'essentiel de l'exposé de la professeure ou du professeur, ce qui n'est pas à dédaigner lors de la révision des notions du cours. De plus, ces informations permettent souvent de mieux cibler les éléments prioritaires de vos lectures. Finalement, la prise de notes favorise la concentration, surtout dans les grands groupes, ce qui améliore la mémorisation et la compréhension.
</p>
<nav>
	<ul>
		<li><a href="#responsabilité" title="Prenez la responsabilité d'une bonne écoute">Prenez la responsabilité d'une bonne écoute</a></li>
		<li><a href="#objectifs" title="Fixez-vous des objectifs afin d'améliorer votre écoute">Fixez-vous des objectifs afin d'améliorer votre écoute</a></li>
		<li><a href="#professeurs" title="Tous les professeurs et professeures n'enseignent pas de la même façon">Tous les professeurs et professeures n'enseignent pas de la même façon</a></li>
		<li><a href="#attentif" title="Être attentif ou attentive dès le début du cours... jusqu'à à la fin !">Être attentif ou attentive dès le début du cours... jusqu'à à la fin !</a></li>
		<li><a href="#notions-prioritaires" title="Comment sélectionner les notions prioritaires du discours">Comment sélectionner les notions prioritaires du discours</a></li>
		<li><a href="#recopier" title="Recopier vos notes... est-ce vraiment utile ?">Recopier vos notes... est-ce vraiment utile ?</a></li>
		<li><a href="#nenregistrer-pas" title="N'enregistrez pas le cours... si possible">N'enregistrez pas le cours... si possible</a></li>
		<li><a href="#idees" title="Quelques autres idées...">Quelques autres idées...</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="responsabilité">
	<h1>Prenez la responsabilité d'une bonne écoute</h1>
	<p>
		Rappelez-vous qu'une bonne écoute implique également une réflexion sur ce qui est présenté. C'est pourquoi écouter, ce n'est pas seulement entendre ! Plusieurs obstacles peuvent interférer avec votre écoute. Le professeur ou la professeure peut parler d'une façon difficile à comprendre, trop rapidement, trop lentement. Il ou elle peut avoir tendance à digresser fréquemment et, peut-être, manquer de structure. Il est possible qu'il ou elle lise ce que vous avez déjà dans vos textes, ce qui peut limiter votre motivation à l'écouter. Les obstacles à l'écoute peuvent également provenir de votre attitude. Peu importe les obstacles, prenez la responsabilité de vous améliorer et apprenez à écouter de façon active. Une attitude constructive vous permettra de profiter au maximum de votre cours.
	</p>
</section>
<section id="objectifs">
	<h1>Fixez-vous des objectifs afin d'améliorer votre écoute</h1>
	<p>
		Tentez de préciser les objectifs à atteindre afin d'améliorer votre écoute. Par exemple, une bonne écoute demande de résumer et d'analyser les notions présentées, d'anticiper ce qui pourrait être dit à la suite d'une idée, de comparer ce qui est dit dans le cours à ce qui est présenté dans le texte, de sélectionner le principal, d'identifier et d'interpréter les apartés du professeur ou de la professeure en fonction du sujet principal, d'évaluer l'information sans la juger prématurément, etc. Vous pouvez vous fixer l'objectif de réaliser l'une ou l'autre de ces actions avant un cours, ce qui vous permettra de vous améliorer concrètement.
	</p>
</section>
<section id="professeurs">
	<h1>Tous les professeurs et professeures n'enseignent pas de la même façon</h1>
	<p>
		Certains professeurs ou professeures parlent des notions vues précédemment en début de cours, d'autres font un résumé à la fin de la période. Certains ont un plan détaillé de la leçon, d'autres parlent d'une façon moins structurée, ce qui force l'auditeur à rechercher les idées principales. Certains utilisent différents moyens pour captiver l'auditoire, d'autres parlent d'une façon ennuyante pour vous. Tentez d'identifier les caractéristiques de vos professeurs ou professeures, afin de vous fixer des objectifs d'écoute qui convergent avec leurs styles respectifs. Par exemple, si quelqu'un est plus ennuyant pour vous, tentez de revenir sur vos motivations à l'écoute avant le cours et fixez-vous des objectifs d'écoute pour ce cours. Si vous avez de la difficulté à comprendre les notions présentées, préparez-vous davantage pour ce cours, par exemple à l'aide de lectures.
	</p>
</section>
<section id="attentif">
	<h1>Être attentif ou attentive dès le début du cours... jusqu'à à la fin !</h1>
	<p>
		Les premières minutes d'un cours sont importantes, notamment si la personne présente un résumé de ce qui sera abordé ou fait un retour sur certains aspects des notions vues jusqu'à maintenant. Ces informations sont très utiles pour votre préparation aux évaluations. De plus, il est prioritaire de prendre en note les résumés en fin de cours, puisqu'ils peuvent mettre en lumière des informations particulièrement pertinentes.
	</p>
</section>
<section id="notions-prioritaires">
	<h1>Comment sélectionner les notions prioritaires du discours</h1>
	<p>
		Plusieurs étudiants et étudiantes tentent d'écrire tous les mots prononcés par leurs professeures ou professeurs, ayant pour objectif de ne rien manquer d'important. Dans plusieurs cours, cet objectif est difficilement réalisable et vous mène fréquemment à rater des informations, puisque toute votre énergie est consacrée à la transcription du discours intégral et plutôt qu'à l'analyse de ce qui pourrait être vraiment important. Voici quelques suggestions afin d'améliorer la situation.
		<ol>
			<li>
				Soyez attentif ou attentive aux répétitions, puisque plusieurs professeurs et professeures les utilisent afin de souligner les points majeurs. Quelquefois, ils répéteront mot pour mot l'idée, alors que d'autres utiliseront d'autres termes pour une même idée. Certaines phrases de transition permettent d'identifier une répétition : « par exemple », « en d'autres mots », « je le répète », etc. Ce qui est répété est habituellement important, mais n'a pas à être noté deux fois ! 
			</li>
			<li>
				Soyez à l'affût des phrases de transition. Elles indiquent les liens logiques entre les idées et pointent souvent celles qui sont importantes. En voici quelques unes à rechercher dans le discours : 
				<ul>
					<li>
						les phrases qui indiquent des opposés ou des différences : contrairement à, cependant ; 
					</li>
					<li>
						les mots qui mettent l'accent sur un aspect : spécifiquement, le plus important, particulièrement ; 
					</li>
					<li>
						les mots qui indiquent l'ordre des idées : par la suite, premièrement, deuxièmement, finalement. Cet ordre devrait ressortir dans vos notes ;
					</li>
					<li>
						les mots qui indiquent un résumé (habituellement important à noter) : en bref, pour ces raisons, en conclusion ; 
					</li>
					<li>
						les mots qui indiquent une cause à effet : en raison de, conséquemment. 
					</li>
				</ul>
			</li>
			<li>
				Remarquez les comportements non verbaux. Certains signes non verbaux peuvent indiquer l'importance d'une notion : une hausse de ton, l'écriture au tableau ou sur des transparents, un temps plus important consacré à une notion, des gestes qui indiquent des liens entre les notions et le matériel visuel (ex. : transparents), la réduction du débit, la consultation des notes par le professeur ou la professeure. Soyez à l'affût de ces signes. 
			</li>
			<li>
				Écrivez de façon schématique sans détruire le sens. Par exemple, « les perceptions constituent une variable importante dans le développement du stress », pourrait devenir : « perceptions = variable importante (ou ++) pr développement stress ». 
			</li>
			<li>
				Comparez vos notes avec des collègues de classe. Si vous avez des doutes concernant la pertinence de vos notes, vous pouvez les comparer avec celles d'au moins deux personnes. Cette comparaison pourra vous donner des idées pour vous améliorer ou vous indiquer que vous avez d'excellentes notes ! 
			</li>
			<li>
				Préparez-vous au cours. La lecture des textes de préparation, le survol des notes prises lors du cours précédent, ainsi que la réalisation des exercices sont des comportements qui vous aideront à mieux cibler les notions à prendre en note.
			</li>
		</ol>
	</p>
</section>
<section id="recopier">
	<h1>Recopier vos notes... est-ce vraiment utile ?</h1>
	<p>
		Plusieurs étudiants et étudiantes réécrivent leurs notes pour qu'elles soient plus claires. Cette stratégie donne effectivement de belles notes de cours, mais est habituellement peu efficace en termes d'apprentissage et prend beaucoup de temps. Prenez ce temps pour annoter vos notes (!), pour les compléter et surtout pour bien comprendre les notions qui s'y trouvent, et ce, le plus tôt possible après le cours.
	</p>
</section>
<section id="nenregistrer-pas">
	<h1>N'enregistrez pas le cours... si possible</h1>
	<p>
		Évitez d'enregistrer les cours. L'écoute des enregistrements vous prendra un temps énorme, qui est rarement efficace en termes de mémorisation et d'apprentissage. De plus, vous n'améliorerez pas vos habiletés en prise de notes. Comparez plutôt vos notes avec des collègues.
	</p>
</section>
<section id="idees">
	<h1>Quelques autres idées...</h1>
	<ul>
		<li>
			Indiquez par des symboles les idées sur lesquelles le professeur ou la professeure a mis l'accent. 
		</li>
		<li>
			Notez toujours les exemples écrits au tableau. 
		</li>
		<li>
			Utilisez seulement des abréviations que vous connaissez. Sinon, revenez sur vos notes immédiatement après le cours. 
		</li>
		<li>
			Indiquez dans le haut de vos notes le nom du cours et la date. S'il s'agit d'un conférencier invité, notez son nom. 
		</li>
		<li>
			Afin de faire ressortir la structure du discours, utilisez des espaces et écrivez les notions selon différents niveaux. Par exemple, les caractéristiques d'une notion principale seront écrites sous l'idée principale avec une marge plus grande. Il est préférable d'utiliser ce type de structure, plutôt que de tenter d'élaborer un ordre plus formel avec des chiffres ou des lettres (ex. : 1, 1.1, 1.1.2, 1.1.2.1). 
		</li>
	</ul>
</section>
<section id="references">
	<h1>Références</h1>
	<h2>Liens Internet</h2>
	<p><cite>
		The Unabridged Student Counseling Virtual Pamphlet Collection : <a href="http://www.dr-bob.org/vpc/virtulets.html" title="The Unabridged Student Counseling Virtual Pamphlet Collection" target="_blank">http://www.dr-bob.org/vpc/virtulets.html</a>
	</cite></p>
	<p><cite>
		Guide format PDF: <a href="wp-content/uploads/2014/11/Guide_Concentration.pdf" title="La concentration et la gestion du temps" target="_blank">La concentration et la gestion du temps</a>. 
	</cite></p>
	<h2>Livres</h2>
	<p><cite>
		Beaud, M. &amp; Daniel, L. (1988). L'art de la thèse. Les éditions Boréal.
	</cite></p>
	<p><cite>
		Bégin, C. (1992). Devenir efficace dans ses études. Éditions Beauchemin.
	</cite></p>
	<p><cite>
		Boucher, F. &amp; Avard, J. (1984). Réussir ses études. Éditions de Mortagne. 
	</cite></p>
	<p><cite>
		Burka, J.B. &amp; Yuen, L.M. (1986). Pourquoi remettre à plus tard ? Le jour, éditeur.
	</cite></p>
	<p><cite>
		Dionne, B. (1990). Pour réussir. Éditions Études Vivantes. 
	</cite></p>
	<p><cite>
		Gauthier, L. &amp; Poulin, N. (1987). Savoir apprendre (2e édition). Les éditions de l'Université de Sherbrooke. 
	</cite></p>
	<p><cite>
		Goulet, L. &amp; Lépine, G. (1986). Cahier de méthodologie (3e édition). Les éditions de l'Université du Québec à Montréal. 
	</cite></p>
	<p><cite>
		Pauk, W. (1998). Study skills for college athletes. H&H Publishing company. 
	</cite></p>
	<p><cite>
		Tremblay, R.R. &amp; Perrier, Y. (2000). Savoir plus. Les éditions de la Chenelière. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Dominique Dubé, psychologue
	</p>
</footer>
