<p>
	Pendant votre parcours aux études supérieures, la réalisation d’un essai, d’un mémoire ou d’une thèse risque de soulever divers questionnements et vous aurez besoin de personnes ressources pour vous éclairer dans votre démarche. En tête de liste, les directeurs de recherche sont appelés à vous guider dans les rouages du monde de la recherche. L’encadrement constitue un processus complexe et la qualité du lien établi avec la personne qui vous dirige s’avère un facteur déterminant pour mener à terme votre projet. Le présent texte vise à vous informer sur les facteurs à considérer pour faciliter la relation avec votre directrice ou directeur de recherche. 
</p>
<nav>
	<ul>
		<li><a href="#etudiants" title="Les responsabilités des étudiants">Les responsabilités des étudiants</a></li>
		<li><a href="#directeurs-recherche" title="Les rôles et responsabilités des directeurs de recherche">Les rôles et responsabilités des directeurs de recherche</a></li>
		<li><a href="#style" title="Le style d’encadrement">Le style d’encadrement</a></li>
		<li><a href="#relation" title="La relation avec le directeur de recherche">La relation avec le directeur de recherche</a></li>
		<li><a href="#modalites" title="Les modalités de fonctionnement">Les modalités de fonctionnement</a></li>
		<li><a href="#communication" title="La communication">La communication</a></li>
		<li><a href="#codirection" title="La codirection">La codirection</a></li>
		<li><a href="#conflit" title="Les situations d’impasse ou de conflit">Les situations d’impasse ou de conflit</a></li>
		<li><a href="#conclusion" title="Conclusion">Conclusion</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="etudiants">
	<h1>Les responsabilités des étudiants</h1>
	<p>
		Si les directeurs de recherche jouent un rôle primordial dans la réalisation de l’essai, du mémoire ou de la thèse, vous y avez également une grande part de responsabilité. Afin d’éviter des déceptions, des conflits ou d’entretenir des attentes irréalistes, il est important de clarifier vos responsabilités à l’égard de vos études de maîtrise ou de doctorat de même que de la relation d’encadrement.
	</p>
	<p>
		L’autonomie, l’initiative et le sens des responsabilités sont des qualités attendues chez les étudiants inscrits aux cycles supérieurs. Vous devez notamment assurer une gestion de temps efficace, respecter les échéanciers et suivre les normes et les exigences de présentation de textes. Afin de faciliter votre démarche, il vous incombe de chercher différentes sources de financement ainsi que de faire appel à d’autres personnes-ressources au besoin. 
	</p>
	<p>
		Sur le plan de la relation d’encadrement, vous avez un rôle important à jouer dans l’établissement d’une relation saine avec la personne qui dirige vos travaux. Exprimez vos besoins et sollicitez une rencontre, sans attendre qu’elle vous soit proposée. 
	</p>
</section>
<section id="directeurs-recherche">
	<h1>Les rôles et responsabilités des directeurs de recherche</h1>
	<p>
		En acceptant d’encadrer un essai, un mémoire ou une thèse, les directeurs de recherche s’engagent à vous accompagner tout au long de cette démarche. Ils joueront simultanément ou alternativement plusieurs rôles auprès de vous, soit : (1) un rôle professionnel, (2) un rôle administratif et (3) un rôle de soutien.
	</p>
	<h2>Le rôle professionnel</h2>
	<p>
		Les directeurs de recherche ont pour mandat de vous guider dans les étapes de votre projet (choix de la question de recherche, planification et établissement de l’échéancier de travail, conseils théoriques et méthodologiques). De plus, ils peuvent vous proposer des stratégies pour résoudre divers problèmes liés à la réalisation de votre projet. Rappelons que si les directeurs doivent vous conseiller sur le contenu de votre recherche et vous orienter vers les ressources appropriées, la réalisation des diverses parties du projet vous revient. Finalement, sur le plan professionnel, les directeurs de recherche ont un mandat d’évaluation. Vous êtes donc en droit de vous attendre à des commentaires détaillés et constructifs sur votre travail. Pendant votre période de rédaction, par exemple, votre directeur de recherche lira vos écrits à plusieurs reprises et sera appelé à vous fournir une rétroaction dans un délai raisonnable. Ce délai variera selon l’entente que vous aurez préférablement convenue dès le début de votre collaboration. Pour faciliter la lecture et ne pas retarder la correction, vous pourriez envisager de remettre votre document par sections, plutôt qu’un manuscrit complet. Pour des renseignements plus spécifiques au choix d’un directeur de recherche, consultez le texte <a href="{{LIEN}}sujet-directeur" title="Entreprendre des études aux cycles supérieurs : le choix de votre sujet et de votre directeur de recherche" target="_blank">Entreprendre des études aux cycles supérieurs : le choix de votre sujet et de votre directeur de recherche</a>. 
	</p>
	<h2>Le rôle administratif</h2>
	<p>
		Le rôle administratif comprend les tâches associées à l’organisation et à la gestion, notamment l’inscription, le soutien financier, etc. Votre directeur doit demeurer disponible pour vous rencontrer régulièrement. La durée et la fréquence des rencontres peuvent varier, mais suffisamment de temps devrait être prévu pour traiter l’ensemble des points que vous souhaitez aborder. Si votre directeur planifie une absence prolongée du bureau, diverses stratégies devraient être mises en place pour faciliter les contacts (p.ex. le courriel). De même, une tierce personne (p. ex. un étudiant de troisième cycle ou un professionnel de recherche) pourrait être désignée pour répondre adéquatement à vos questions en son absence.
	</p>
	<h2>Le rôle de soutien</h2>
	<p>
		Plusieurs spécialistes affirment qu’une bonne relation d’encadrement est aussi importante que les qualifications ou l’expertise d’un directeur dans son domaine de recherche. Le soutien du directeur de recherche s’avère essentiel pour la réalisation d’études supérieures. Il serait légitime d’espérer que votre directeur de recherche demeure ouvert et sensible à votre bien-être général, entretienne une relation courtoise avec vous et vous encourage tout au long de votre cheminement. Cela pourrait vous aider à développer autonomie et confiance face à votre démarche.
	</p>
</section>
<section id="style">
	<h1>Le style d’encadrement</h1>
	<p>
		Plusieurs facteurs personnels comme les attentes des directeurs de recherche, leur personnalité ou leur manière de travailler peuvent influencer la façon d’encadrer la réalisation d’un essai, d’un mémoire ou d’une thèse. Selon votre personnalité et vos besoins, un style d’encadrement en particulier pourrait vous convenir davantage. Par exemple, si vous sentez le besoin d’un encadrement plus étroit, vous préférerez probablement travailler avec une personne qui offre une direction plus structurée. Au contraire, si vous êtes de nature plus indépendante et vous prenez facilement des initiatives, vous pourriez vous sentir plus à l’aise avec un encadrement moins directif. Le tableau suivant décrit quatre styles d’encadrement généralement observés :
	</p>
	<table>
		<caption>Styles d'encadrement</caption>
		<thead>
			<tr>
				<th>Style</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Directif</td>
				<td>
					Dirige les étudiants tout au long du processus,soit de l’élaboration de la question de recherche jusqu’à la fin de la rédaction. Les étudiants sont suivis pas à pas pour chaque étape de la recherche et sont rencontrés fréquemment.
				</td>
			</tr>
			<tr>
				<td>Conseiller</td>
				<td>
					Dirige les étudiants au moment de l’élaboration du projet, agit comme conseiller pendant les étapes intermédiaires et redevient plus directif au moment de la rédaction.
				</td>
			</tr>
			<tr>
				<td>Guide</td>
				<td>
					Dirige plus étroitement au cours des premières étapes de recherche, puis devient graduellement moins directif à mesure que les étudiants trouvent leur voie. 
				</td>
			</tr>
			<tr>
				<td>Non directif</td>
				<td>
					Laisse les étudiants autonomes tout au long de la réalisation de la recherche. En général, les contacts sont moins fréquents.
				</td>
			</tr>
		</tbody>
	</table>
	<p>
		Ces quatre styles d’encadrement comportent tous des avantages et des inconvénients et on ne peut affirmer qu’un style est préférable à un autre. Idéalement, plutôt que de s’en tenir à une seule façon d’intervenir, il serait souhaitable que les directeurs adaptent leur façon d’encadrer aux besoins changeants des étudiants tout au long de leurs études de maîtrise ou de doctorat.
	</p>
</section>
<section id="relation">
	<h1>La relation avec le directeur de recherche</h1>
	<p>
		La situation d’encadrement constitue d’abord et avant tout une relation interpersonnelle où la personnalité de chacun colore le lien. Par exemple, si vous travaillez avec un directeur reconnu pour être très exigeant et que vous êtes sensible à la critique, il se peut que vous ressentiez de l’anxiété lors de vos rencontres. Parfois, votre estime personnelle pourrait aussi être affectée par une interprétation erronée des commentaires reçus. Il faut garder à l’esprit que les commentaires et corrections portent sur ce que vous produisez et non sur votre personne. 
	</p>
	<p>
		Par ailleurs, la notoriété des directeurs de recherche pourrait vous intimider ou vous donner l’impression qu’ils sont inaccessibles. Plusieurs étudiants n’osent pas avouer qu’ils ne comprennent pas tel ou tel aspect par crainte de décevoir ou encore d’être jugés sur leurs capacités intellectuelles. Prenez garde de ne pas vous laisser troubler. Il va de soi que vous travaillez avec une personne plus expérimentée que vous en recherche, mais cette personne demeure un être humain qui a aussi été étudiant dans le passé! L’objectif n’est pas de développer une relation d’amitié, mais plutôt de vous sentir à l’aise pour dialoguer et ainsi faire progresser vos travaux. 
	</p>
	<p>
		Règle générale, la relation d’encadrement évolue de la manière suivante : au départ, vous aurez à vous familiariser avec la problématique à l’étude et on vous aidera à définir votre projet. Les rencontres viseront davantage à vous informer et à approuver la direction que prendra votre travail. Éventuellement, vous en connaîtrez davantage sur le sujet et vous pourrez soumettre vos propres idées, laissant ainsi place à des discussions plus élaborées. Enfin, plus votre formation avancera, plus il devrait y avoir collaboration (par exemple, vous pourriez être coauteur d’un article, apporter votre aide dans une demande de subvention ou collaborer à d’autres projets de recherche en parallèle, etc.). 
	</p>
	<p>
		Afin de vivre un encadrement favorisant l’avancement de vos travaux, tout en préservant votre estime personnelle, voici quelques facteurs à prendre en considération : 
	</p>
	<h2>Facteur à considérer dans une relation d'encadrement</h2>
	<ul>
		<li>
			Prenez garde au réflexe d’évitement. Si vous avez peur de la critique, il se peut que vous ayez tendance à éviter les rencontres. Ne tombez pas dans ce piège, car moins vous aurez de contacts, plus votre appréhension risque d’augmenter et plus il vous sera difficile d’établir un bon lien de collaboration… C’est une roue sans fin! 
		</li>
		<li>
			Assurez-vous, dès que vous quittez le bureau de votre directrice ou directeur, de ne pas oublier les recommandations formulées au cours de la rencontre. En effet, il pourrait arriver que vous vous sentiez mal à l’aise au point de ne pas oser poser des questions ou de prendre des notes en sa présence. Toutefois, il s’avère plus efficace d’inscrire à mesure tout élément pertinent et de clarifier vos interrogations pendant la rencontre. N’hésitez pas à revenir sur des questions demeurées ambiguës dans les plus brefs délais. 
		</li>
		<li>
			Veillez à remettre vos documents dans une version qui soit la plus complète possible (références, structure du texte, orthographe, numérotation des pages, etc.). Cela fait toujours meilleure impression et évite de faire dévier l’attention de la directrice ou du directeur. 
		</li>
		<li>
			Rappelez-vous qu’il est tout à fait normal d’avoir plusieurs corrections à faire sur votre document. Plusieurs ressentent un « choc de la correction » : ils se jugent pour les erreurs commises et se découragent devant l’ampleur du travail à faire. N’oubliez pas que vous êtes en situation d’apprentissage. Cela ne veut pas dire que vous n’avez pas la capacité d’écrire, mais tout simplement que la rédaction d’un tel document comporte inévitablement des exigences spécifiques (comme par exemple si vous devez publier dans un journal qui a ses propres normes). Faites preuve d’humilité, surtout si vous êtes de nature perfectionniste, et sachez tirer profit des connaissances et de l’expérience de la personne qui dirige vos travaux. 
		</li>
		<li>
			Ne croyez pas que votre directrice ou directeur ne s’intéresse pas à vous ou à votre projet s’il ou elle vous pose quelques questions pour resituer votre travail… Les directeurs passent rapidement d’un étudiant à l’autre; il est normal qu’ils aient besoin de se remettre dans le contexte de votre recherche. De plus, à mesure que vous progressez, leur connaissance de votre sujet ne pourra être aussi approfondie que la vôtre.
		</li>
		<li>
			Souvenez-vous que votre directrice ou directeur agit comme conseiller, alors ne vous vexez pas si on ne vous fournit pas d’articles spécifiques à lire mais qu’on vous donne plutôt quelques pistes ou références. Rappelez-vous que les études supérieures visent à développer votre autonomie. 
		</li>
	</ul>
</section>
<section id="modalites">
	<h1>Les modalités de fonctionnement</h1>
	<p>
		Il est important de clarifier rapidement le cadre de la relation d’encadrement. Le plus tôt sera le mieux. Voici quelques points que vous auriez avantage à discuter avec votre directrice ou directeur : 
	</p>
	<ul>
		<li>
			les attentes et besoins de chacun
		</li>
		<li>
			le style d'encadrement
		</li>
		<li>
			la fréquence des rencontres
		</li>
		<li>
			l'élaboration d'un échéancier - pour plus de de détails à ce sujet, vous pouvez consulter le texte <a href="{{LIEN}}defis-gestion-temps" title="Essai, mémoire et thèse, les défis de la gestion du temps" target="_blank">Essai, mémoire et thèse, les défis de la gestion du temps</a>
		</li>
		<li>
			la propriété intellectuelle
		</li>
		<li>
			les possibilités de financement
		</li>
		<li>
			les ressources matérielles
		</li>
		<li>
			le mode de fonctionnement (délai pour remettre les corrections, prise de rendez-vous, etc.)
		</li>
		<li>
			les contraintes de part et d’autre. Chez les directeurs, il pourrait s’agir par exemple d’une absence prolongée pour sabbatique, d’un séjour à l’étranger, d’un projet de retraite, etc. Du côté étudiant, les contraintes pourraient par exemple être en lien avec des obligations familiales, un emploi, des difficultés financières, etc. 
		</li>
	</ul>
	<p>
		Cette discussion permet d’éviter bien des malentendus puisque chacun identifie clairement ses objectifs et une entente conjointe est prise. Ainsi, vous évitez les mauvaises surprises (par exemple, un arrêt de financement car votre directrice ou directeur croyait que vous termineriez le projet quelques mois plus tôt). Il est recommandé de consigner l’ensemble des ententes prises au départ, car si jamais un conflit devait survenir, vous pourriez vous y référer. 
	</p>
	<p>
		Par ailleurs, il est important de prévoir des rencontres sur une base régulière, et ce, même si vous n’avez pas de document à remettre. Certains craignent parfois de déranger, mais n’hésitez pas à solliciter une rencontre. Sur le plan de la fréquence des rencontres, il pourrait être utile de fixer une rencontre toutes les deux semaines ou tous les mois. Évidemment, cela varie d’un projet ou d’un directeur à l’autre. Les rencontres d’encadrement comportent plusieurs avantages. Elles vous permettent notamment de : 
	</p>
	<ul>
		<li>
			informer votre directrice ou directeur de l’évolution de votre travail
		</li>
		<li>
			être guidé dans vos recherches
		</li>
		<li>
			prévenir les problèmes liés à l’orientation que prendra votre travail (éviter les mauvaises surprises)
		</li>
		<li>
			maintenir votre motivation
		</li>
		<li>
			diminuer l'isolement
		</li>
	</ul>
	<p>
		Une rencontre d’encadrement exige une certaine préparation afin que vous puissiez aborder l’ensemble des points sur lesquels vous vous questionnez. Voici quelques recommandations pour optimiser vos rencontres : 
	</p>
	<table>
		<caption>Préparation des rencontres d'encadrement</caption>
		<tbody>
			<tr>
				<td>Avant la rencontre</td>
				<td>
					<ul>
						<li>
							Résumez ce qui avait été discuté et convenu lors de votre rencontre précédente et ce que vous avez accompli depuis. 
						</li>
						<li>
							Inscrivez toutes les questions (administratives, de recherche ou autres) qui vous traversent l’esprit entre les rencontres et que vous n’arrivez pas à clarifier seul.
						</li>
						<li>
							Notez précisément l’information que vous souhaitez obtenir afin d’éviter que la discussion devienne trop informelle et dérive sur des éléments moins importants ou moins urgents. 
						</li>
						<li>
							Établissez un ordre du jour avec ces points.
						</li>
						<li>
							Faites parvenir l’ordre du jour à votre directrice ou directeur un jour ou deux à l’avance, afin qu’elle ou il prenne connaissance de ce dont vous voulez discuter et planifie le temps nécessaire à la rencontre. 
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Pendant la rencontre</td>
				<td>
					<ul>
						<li>
							Prenez le temps de bien resituer votre directrice ou directeur sur votre projet.
						</li>
						<li>
							Revenez en détail sur l’état de l’avancement des travaux depuis la dernière rencontre, vos réflexions, vos questionnements et vos pistes de solution.
						</li>
						<li>
							Abordez chaque point de votre ordre du jour.
						</li>
						<li>
							Prenez des notes (ne prenez pas pour acquis que vous vous souviendrez de tout!). 
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<ul>
						<li>
							Assurez-vous d’avoir d’une bonne compréhension des tâches à faire. Si la suite n’est pas claire, cela pourrait affecter votre motivation. Vous pourriez être plus à risque de procrastiner et ainsi de retarder l’avancement de vos travaux. 
						</li>
						<li>
							Faites un compte rendu de la rencontre afin de résumer les tâches à effectuer et l’évolution que doit prendre votre travail (points abordés, décisions prises, idées, problèmes). 
						</li>
						<li>
							Prévoyez un échéancier pour la suite de votre travail. 
						</li>
						<li>
							Fixez idéalement la date de votre prochaine rencontre. 
						</li>
						<li>
							Mettez-vous d’accord sur les tâches à faire et remplissez vos engagements.
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</section>
<section id="communication">
	<h1>La communication</h1>
	<p>
		Comme dans toute relation interpersonnelle, une bonne communication avec votre directrice ou directeur de recherche est cruciale pour votre réussite. Ne sous-estimez pas votre rôle dans la relation d’encadrement. Vous devez vous assurer, autant que faire se peut, du maintien de la communication et des bonnes relations. Si vous avez des incompréhensions ou des insatisfactions, exprimez-les. Vous aiderez ainsi à clarifier les malentendus et à éviter que la situation ne se détériore. Pensez-y, c’est vous qui avez le plus à perdre en cas de malentendu ou de conflit. Vous serez gagnant si vous contribuez à maintenir une bonne communication avec votre directrice ou directeur. 
	</p>
	<h2>Stratégies pour maintenir une bonne communication et une bonne entente</h2>
	<ul>
		<li>
			Soyez à l’heure à vos rendez-vous. 
		</li>
		<li>
			Respectez les échéances.
		</li>
		<li>
			Établissez une alliance en commençant la conversation par des questions générales. Votre directrice ou directeur risque moins de se sentir comme un guichet qui doit répondre à vos questions de recherche. 
		</li>
		<li>
			N’hésitez pas à poser des questions sur les corrections suggérées ou les commentaires formulés au sujet de votre travail. Cela vous permettra de bien identifier ce qu’il y a à faire pour le bonifier (p. ex. : erreurs de grammaire, conceptualisation, non pertinence de certains éléments). 
		</li>
		<li>
			Exprimez vos objections ou préoccupations clairement et calmement si vous êtes en désaccord avec votre directrice ou directeur. 
		</li>
		<li>
			Suggérez, lorsque c’est possible, des pistes de solutions pour les difficultés. 
		</li>
		<li>
			Informez votre directrice ou directeur de tout facteur pouvant perturber vos études (blocage, doute, maladie, problèmes personnels, etc.). Il est préférable qu’elle ou il sache que des difficultés personnelles vous empêchent de travailler plutôt que de conclure que vous manquez de motivation ou d’assiduité. 
		</li>
		<li>
			Montrez que vous êtes conscient des efforts et du temps qu’elle ou il investit dans votre travail. 
		</li>
	</ul>
</section>
<section id="codirection">
	<h1>La codirection</h1>
	<p>
		Lorsque le projet de recherche est plus complexe ou touche plus d’une discipline, il peut être avantageux de travailler en codirection. Tant les directeurs que les étudiants peuvent bénéficier de cette démarche. D’abord, la codirection favorise l’accès à une expertise plus large, en raison de disciplines professionnelles et académiques variées, et cela donne lieu à des discussions stimulantes sur le plan intellectuel. Toutefois, la codirection peut également avoir ses inconvénients. En effet, l’implication de plusieurs personnes dans le processus d’encadrement comporte un potentiel de désaccords et de divergences d’opinions, pouvant interférer avec le travail de l’étudiante ou l’étudiant, au détriment de l’évolution de sa recherche. Parfois, les chercheurs viennent de la même discipline, mais ils n’ont pas le même cadre théorique. En d’autres occasions, ils proviennent de disciplines différentes et le potentiel de conflit peut être encore plus grand. De plus, à moins d’une entente au préalable du processus, il arrive que le rôle de chacun ne soit pas défini clairement, que l’un ou l’autre s’implique peu, entre autres parce qu’il attribue à l’autre directrice ou directeur le rôle principal. La qualité de l’encadrement des étudiants risque alors d’en souffrir. Il s’avère donc primordial de clarifier dès le début les rôles et responsabilités de chacun. 
	</p>
</section>
<section id="conflit">
	<h1>Les situations d’impasse ou de conflit</h1>
	<p>
		Comme il a été mentionné, la relation d’encadrement constitue une relation interpersonnelle où interagissent les styles de personnalité de chacun. Si la relation peut être harmonieuse, il arrive aussi qu’elle devienne conflictuelle. Nul n’est à l’abri d’un conflit. Un conflit peut survenir lorsqu’une action, un geste ou une parole est perçu comme une intention d’agression de l’autre envers soi. Lorsque survient une telle situation (p. ex. : manque d’encadrement, propos blessants, critiques personnelles, abus de pouvoir, etc.), un premier réflexe pourrait être de répondre sur le coup de l’émotion, de dénigrer la personne ou de se venger. Il s’agit toutefois de réactions négatives à éviter. D’autres vont plutôt subir en silence, se dénigrer ou même songer à abandonner leurs études. Ces réactions ne sont pas souhaitables non plus. Dans la mesure du possible, il vaut mieux freiner toute réaction impulsive, tenter de se calmer et prendre du recul afin de réfléchir plus objectivement à la situation. Il est souvent utile d’en parler à des proches, en particulier s’ils ne fréquentent pas le même milieu. Si vous vivez une situation conflictuelle, n’attendez pas que le conflit se règle tout seul par le simple passage du temps, car il risque de s’envenimer et d’être difficilement remédiable. 
	</p>
	<p>
		Pascale Poudrette, psychologue et spécialiste en résolution de conflit, propose une démarche concrète suivant des étapes précises qui aideront à analyser la situation conflictuelle et en favoriser la résolution. Les étapes sont les suivantes : 
	</p>
	<h2>1. Déterminer le type de conflit</h2>
	<p>
		Il existe cinq types de conflits :
	</p>
	<ul>
		<li>
			Le conflit de données (manque d’information, mauvaise information, points de vue ou interprétations différentes). 
		</li>
		<li>
			Le conflit relationnel (émotions fortes, mauvaise communication, mauvaises perceptions, stéréotypes, agissements négatifs et répétitifs). 
		</li>
		<li>
			Le conflit de valeurs (différences en ce qui a trait aux choix de vie, aux idéologies, à la religion). 
		</li>
		<li>
			Le conflit d’intérêt (divergence d’intérêts perçue ou réelle). 
		</li>
		<li>
			Le conflit d’ordre structurel (abus de pouvoir, utilisation de contrôle, rôles mal définis). 
		</li>
	</ul>
	<h2>2. Déterminer les faits</h2>
	<p>
		À ce stade, il faut localiser la source du conflit, définir le conflit et tenter de clarifier la compréhension que les personnes impliquées se font du conflit. 
	</p>
	<h2>3. Identifier les intérêts et les besoins des parties</h2>
	<p>
		Précisez en détail les points communs et les divergences. Faites votre propre examen de conscience. N’oubliez pas qu’en général, les torts sont rarement d’un seul côté. 
	</p>
	<h2>4. Déterminer les objectifs communs et établir des critères objectifs</h2>
	<p>
		Une discussion avec votre directrice ou directeur s’impose au cours de laquelle vous aurez avantage à vous entendre sur un objectif commun. Demeurez le plus objectif possible. Rediscutez des ententes prises au départ afin d’avoir un point de référence s’il y a déviation. 
	</p>
	<h2>5. Développer des pistes de solution possibles</h2>
	<p>
		Évaluez les avantages et les inconvénients de ces solutions ainsi que les conséquences, dans le but d’en arriver à une solution qui convienne aux deux parties. 
	</p>
	<h2>6. Sélectionner les options</h2>
	<p>
		Privilégiez des options qui laissent place à la collaboration, de sorte que chacun puisse faire des compromis et s’engager à les respecter. 
	</p>
	<h2>7. Évaluer les résultats du processus</h2>
	<p>
		Si nécessaire, une nouvelle rencontre pourrait permettre de faire le point sur la situation et les solutions mises en place.
	</p>
	<br>
	<p>
		Afin d’aborder le sujet de votre relation avec votre directrice ou directeur de recherche, n’hésitez pas à poser des questions directes mais formulées de façon positive afin de montrer que vous ne doutez pas de ses bonnes intentions. Ces questions mèneront naturellement à la discussion sur la relation elle-même. Voici des exemples de questions qui pourraient être posées en ce sens :
	</p>
	<p>
		<q>Avez-vous l’impression que je travaille suffisamment entre nos rencontres?</q><br>
		<q>Êtes-vous satisfait(e) de la façon dont j’utilise vos commentaires?</q><br>
		<q>Êtes-vous satisfait(e) de mon attitude vis-à-vis votre encadrement?</q><br>
		<q>Comment pourrions-nous, croyez-vous, travailler plus efficacement?</q>
	</p>
	<p>
		Si vous songez à changer de directrice ou de directeur, sachez qu’il s’agit là d’une démarche très délicate qui pourrait entraîner d’importantes répercussions sur votre travail (propriété des données, échéanciers retardés, etc.) et sur vous-même. De plus, cela entraînera sans doute des conséquences négatives pour la directrice ou le directeur, sur les plans professionnel et personnel. Ne prenez pas cette décision à la légère et ne faites pas de démarches pour trouver une autre personne pour diriger vos travaux sans avoir tenté de régler le conflit avec votre directrice ou directeur. À prime abord, il est préférable d’envisager d’autres solutions moins drastiques. Voici comment procéder pour obtenir de l’aide si la situation devenait plus difficile : 
	</p>
	<ul>
		<li>
			Tentez de résoudre le conflit avec votre directrice ou directeur d’abord 
		</li>
		<li>
			Cherchez de l’aide auprès d’une tierce personne qui pourra agir comme médiateur : 
			<ul>
				<li>
					La direction de programme
				</li>
				<li>
					La direction du département
				</li>
				<li>
					Le doyen ou le vice-doyen de la faculté
				</li>
				<li>
					La direction de l’institut ou du centre de recherche auquel vous êtes associé
				</li>
				<li>
					Tout autre responsable d’activités de formation liées à la recherche
				</li>
				<li>
					La Faculté des études supérieures <a href="http://www.fesp.ulaval.ca" title="http://www.fesp.ulaval.ca">http://www.fesp.ulaval.ca</a>
				</li>
			</ul>
		</li>
		<li>
			Demandez conseil auprès des services suivants si vous croyez être victime de harcèlement ou si vous estimez que vos droits sont bafoués : 
			<ul>
				<li>
					L’association des étudiantes et des étudiants de Laval inscrits aux études supérieures (AELIÉS) <a href="http://www.aelies.ulaval.ca" title="http://www.aelies.ulaval.ca" target="_blank">http://www.aelies.ulaval.ca</a>
				</li>
				<li>
					Le Centre d’intervention en matière de harcèlement <a href="http://www2.ulaval.ca/services-de-a-a-z/harcelement/accueil.html" title="http://www2.ulaval.ca/services-de-a-a-z/harcelement/accueil.html" target="_blank">http://www2.ulaval.ca/services-de-a-a-z/harcelement/accueil.html</a>
				</li>
				<li>
					Le bureau de l’Ombudsman <a href="http://www.ombudsman.ulaval.ca" title="http://www.ombudsman.ulaval.ca" target="_blank">http://www.ombudsman.ulaval.ca</a>
				</li>
			</ul>
		</li>
	</ul>
</section>
<section id="conclusion">
	<h1>Conclusion</h1>
	<p>
		Étudier aux cycles supérieurs n’est pas toujours un processus facile et peut comporter plusieurs années de travail en collaboration avec la personne qui dirige vos travaux de recherche. La qualité de la relation d’encadrement s’avère donc cruciale pour vous aider à mener à terme votre projet d’essai, de mémoire ou de thèse. Une relation saine et productive fait appel au respect mutuel et au professionnalisme. Bien qu’il s’agisse d’une responsabilité partagée, n’attendez pas avant de réagir et assumez un rôle actif dans votre relation d’encadrement. Au besoin, n’hésitez pas à chercher de l’aide auprès des professionnels du Centre d’aide aux étudiants. 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		Association canadienne pour les études supérieures (ACES) (2008). Les principes directeurs de l’encadrement des étudiants des cycles supérieurs. 
	</cite></p>
	<p><cite>
		Desjardins, M. (1994, 1995). How to Succeed in Graduate School: A Guide for Students and Advisors. Crossroads ,the Online ACM Student Magazine.<br>
		<a href="http://www.cs.umbc.edu/~mariedj/papers/advice-summary.html" title="http://www.cs.umbc.edu/~mariedj/papers/advice-summary.html" target="_blank">http://www.cs.umbc.edu/~mariedj/papers/advice-summary.html</a>. 
	</cite></p>
	<p><cite>
		Faculté des études supérieures, Politique d’encadrement des étudiants à la maîtrise avec mémoire et au doctorat, adoptée par le Conseil universitaire à sa séance du 1e avril 2008.<br>
		<a href="http://www.ulaval.ca/sg/reg/Politiques/Politique_encadrement_maitrise_doctorat.pdf" title="http://www.ulaval.ca/sg/reg/Politiques/Politique_encadrement_maitrise_doctorat.pdf" target="_blank">http://www.ulaval.ca/sg/reg/Politiques/Politique_encadrement_maitrise_doctorat.pdf</a>
	</cite></p>
	<p><cite>
		Leduc, A. (1990). La direction des mémoires et des thèses. Brossard : Behaviora.
	</cite></p>
	<p><cite>
		Morin, S. (2006). Études supérieures recherche. Guide étudiant, Vice-rectorat aux études supérieures, Université de Sherbrooke.<br>
		<a href="http://www.usherbrooke.ca/etudes-superieures/recherche/" title="http://www.usherbrooke.ca/etudes-superieures/recherche/" target="_blank">http://www.usherbrooke.ca/etudes-superieures/recherche/</a>. 
	</cite></p>
	<p><cite>
		Prégent, R. (2000). L’encadrement des travaux de mémoire et de thèse – Conseils pédagogiques aux directeurs de recherche. Montréal : Presses internationales, Polytechnique. 
	</cite></p>
	<p><cite>
		Royer, C. (1998). Vers un modèle de direction de recherche en sciences humaines. Québec : Presses de l’Université du Québec. 
	</cite></p>
	<p><cite>
		Taylor, S. &amp; Beasley, N. (2005). A Handbook for Doctoral Supervisors. London: Routledge. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Chantal Thibodeau, Psychologue<br>
		Caroline Sylvain, Psychologue
	</p>
</footer>
