<p>
	Commencer un projet d’études hors de son pays d’origine s’avère, sans contredit, une expérience enrichissante à tous points de vue. Cela comporte aussi plusieurs défis qui peuvent être surmontés plus ou moins facilement selon les étudiants. En effet, s’installer dans un pays étranger exige des adaptations sociales et culturelles pouvant avoir un impact direct sur la réussite scolaire. Ce document vous propose des conseils visant à faciliter l’adaptation aux études universitaires dans un contexte québécois.
</p>
<nav>
	<ul>
		<li><a href="#particuliarites" title="Le système d’enseignement au Québec : ses particularités">Le système d’enseignement au Québec : ses particularités</a></li>
		<li><a href="#gestion-temps" title="Des ajustements incontournables : la gestion du temps">Des ajustements incontournables : la gestion du temps</a></li>
		<li><a href="#strategies" title="Les stratégies d’étude">Les stratégies d’étude</a></li>
		<li><a href="#evaluation" title="Les modes d’évaluation">Les modes d’évaluation</a></li>
		<li><a href="#langue" title="La langue">La langue</a></li>
		<li><a href="#informatique" title="L’informatique">L’informatique</a></li>
		<li><a href="#aide-specialisee" title="Des ressources d’aide spécialisées : à utiliser en cas de besoin !">Des ressources d’aide spécialisées : à utiliser en cas de besoin !</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="particuliarites">
	<h1>Le système d’enseignement au Québec : ses particularités</h1>
	<p>
		Le système d’enseignement au Québec possède des caractéristiques propres qui peuvent différer considérablement du système dans lequel vous avez réalisé vos études antérieures. Une méconnaissance de ces différences pourrait malheureusement avoir des conséquences sur votre succès. Voici brièvement les principaux aspects auxquels porter une attention particulière.
	</p>
	<h2>La notion de crédits :</h2>
	<p>
		Le programme dans lequel vous êtes inscrit comporte un certain nombre de crédits (ex. : un certificat = 30 crédits et un baccalauréat = 90 ou 120 crédits habituellement). Certains cours sont obligatoires, d’autres sont optionnels, comme spécifié dans la description de votre programme. Chaque cours réussi vous permet d’obtenir les crédits correspondants (ex. : 1 cours peut équivaloir à 1, 2, 3 ou 4 crédits de formation). Une session régulière à temps complet est habituellement constituée de 12 ou de 15 crédits.
	</p>
	<h2>Le système de notation :</h2>
	<p>
		Lorsque vous êtes inscrit à un cours, la somme des évaluations réalisées (ex. : travaux écrits ou examens) vous permettra d’obtenir un résultat sur 100. Ces différentes modalités d’évaluation sont habituellement spécifiées dans le plan du cours, qui vous sera remis au premier cours. Selon le barème utilisé dans ce cours, cette valeur sur 100 sera transposée en une note lettrée (ex. : A+, B, C, etc.). Le barème le plus souvent utilisé est le suivant (voir hyperlien ci-dessous), mais il peut varier d’un cours ou d’un programme à l’autre. La note de passage d’un cours est « D ». Voir également : <s><a href="http://www.futursetudiants.ulaval.ca/admission/cours_compensateurs/systeme_de_notation/" title="Système de notation" target="_blank">Système de notation</a></s>
	</p>
	<h2>La notion de moyenne cumulative :</h2>
	<p>
		Chacune de ces lettres correspond à une valeur numérique variant de 0 (échec) à 4,33 (A+), qui sera utilisée dans le calcul de votre moyenne cumulative. Différents types de moyennes sont calculées, mais les plus importantes sont la moyenne de cycle et la moyenne de programme. Vous pouvez connaître la valeur de votre moyenne en consultant votre dossier sur Capsule. <a href="http://www.capsule.ulaval.ca/" title="http://www.capsule.ulaval.ca/" target="_blank">http://www.capsule.ulaval.ca/</a>
	</p>
	<h2>Les conditions de poursuite des études :</h2>
	<p>
		Il importe de connaître certains aspects du règlement des études en ce qui a trait aux conditions de poursuite des études, car cela peut avoir un impact sur votre cheminement. Notamment, le règlement stipule que pour être autorisé à poursuivre vos études dans le programme, vous devez conserver une moyenne de programme égale ou supérieure à 2,0/4,33 (ce qui correspond à la lettre « C ») dès que celle-ci est calculée sur 12 crédits ou plus. L’obtention de résultats scolaires « passables » (ex. : D) peut ainsi ne pas être suffisant pour la réussite de vos études. Le règlement des études prévoit aussi un mécanisme d’encadrement et de suivi pour les étudiants qui verraient leur moyenne diminuer sous ce seuil. Ils peuvent être placés sous « probation », jusqu’à ce qu’ils aient totalisé 30 crédits dans leur programme, ou sous « exclusion », s’ils ne satisfont pas à cette exigence après avoir obtenu 30 crédits dans leur programme. C’est votre directeur de programme qui évalue chacun des cas de probation et qui autorise la poursuite des études. Il est donc important d’entreprendre des actions rapidement pour améliorer vos résultats scolaires si vous vous trouvez dans une telle situation. Heureusement, il est possible d’augmenter votre moyenne cumulative, notamment en reprenant des cours moins bien réussis ou non réussis. Vous pouvez trouver le règlement des études dans son intégralité à cette adresse. Voir aussi : <s></section><a href="http://www.ulaval.ca/sg/reg/Reglements/Reglement_des_etudes.pdf" title="Règlement des études" target="_blank">Règlement des études</a></s>
	</p>
	<h2>Le rythme des études :</h2>
	<p>
		Le rythme scolaire du système d’enseignement du Québec est souvent qualifié de rapide, ce qui a des répercussions sur le plan de l’organisation, de la planification et de la gestion du temps. En effet, l’erreur la plus couramment mentionnée parmi les étudiants internationaux est la tendance à sous-estimer la quantité et la difficulté des apprentissages à réaliser et, ainsi, attendre trop longtemps avant de commencer l’étude.
	</p>
	<p>
		Une session universitaire s’étend sur 15 semaines, avec une interruption d’une semaine environ à la mi-session (aussi appelée semaine de lecture ou de relâche, puisqu’il n’y a pas de cours durant cette semaine). Au cours de la session, le rythme des études est rapide : beaucoup de nouveau contenu est présenté chaque cours. L’apprentissage des notions est habituellement cumulatif, de telle sorte qu’il est facile de prendre du retard si vous n’investissez pas d’efforts réguliers dans l’acquisition et la révision de la matière vue chaque semaine dans les cours. De plus, bien que votre horaire de cours vous permette d’avoir plusieurs périodes « libres » chaque jour, on attend de vous que ce temps soit utilisé pour faire du travail autonome hors des cours (lectures, exercices, révisions et travaux). Évidemment, personne ne vous encadrera dans la planification de ces périodes; il n’en tient ainsi qu’à vous de vous organiser et de vous discipliner. À titre indicatif, pour chacun des cours, il est conseillé de consacrer environ deux heures d’étude personnelle hebdomadairement, et ce, pour chaque heure de cours. Ainsi, pour un cours auquel vous consacrez trois heures en classe par semaine, il serait souhaitable d’investir environ six heures d’étude personnelle par semaine.
	</p>
</section>
<section id="gestion-temps">
	<h1>Des ajustements incontournables : la gestion du temps</h1>
	<p>
		Afin de bien gérer votre temps, voici quelques recommandations : 
	</p>
	<h2>&#9632; Utilisez des outils pour concrétiser le temps et pour vous aider à planifier vos études :</h2>
	<p>
		Calendrier, agenda et grille horaire sont d’une aide précieuse. Utilisez vos plans de cours pour prendre en note toutes les échéances (ex. : dates d’examens et de remises de travaux) et utilisez un outil qui vous permettra d’avoir une vue d’ensemble de la session. 
	</p>
	<h2>&#9632; Commencez à faire du travail scolaire dès le début de la session :</h2>
	<p>
		Dès les premières semaines de cours, fixez-vous de petits objectifs quotidiens. Une liste de tâches hebdomadaires peut vous aider à ne pas constamment remettre au lendemain. Il est plus efficace de prévoir de courtes périodes d’étudeplus fréquentes avec des objectifs concrets que d’attendre d’avoir une journée entièrement libre devant soi, ou encore, d’avoir une montagne de travail accumulé. Un retard trop important peut nuire à votre motivation et compromettre votre réussite aux périodes d’évaluation. Il est également connu que les étudiants qui remettent l’étude à plus tard s’exposent à vivre davantage d’échecs que ceux qui planifient leurs travaux. 
	</p>
	<h2>&#9632; Identifiez des moments disponibles pour l’étude hors des périodes de cours :</h2>
	<p>
		Mettez par écrit votre horaire de cours hebdomadaire et réservez des périodes d’étude et de révision pour chacun de vos cours, particulièrement ceux pour lesquels vous éprouvez plus de difficulté. Dans ces moments, tentez de réviser la matière vue en cours, de faire les exercices recommandés, de résumer les points importants des lectures et de cibler les notions non comprises afin de pouvoir poser des questions. Si vous avez des cours à distance, vous n’avez pas de période de cours prévue à l’horaire, mais il est recommandé de consacrer du temps à ces cours régulièrement.
	</p>
	<p>
		Pour plusieurs étudiants, leur projet d’études à l’étranger implique de quitter le milieu familial et, ainsi, de devoir s’acquitter des tâches domestiques auxquelles ils ne sont pas habitués : épicerie, préparation des repas, lessive et gestion des finances personnelles. De plus, le fait de vous retrouver dans un contexte nouveau qui vous confronte à beaucoup de différences peut vous exiger de déployer des efforts et une énergie supplémentaires, même si vous avez toujours réussi avec facilité auparavant. Cela est d’autant plus vrai si vous devez concilier vos études avec d’autres responsabilités (ex. : un emploi ou une famille). Si vous vous rendez compte en cours de route que vous avez accumulé trop de retard et que vous vous dirigez vers des échecs, il peut être utile de se rappeler les dates suivantes :
	</p>
	<h2>&#9632; Date d’abandon de cours avec remboursement (environ dix jours après le début de la session) : possibilité d’abandonner un ou plusieurs cours avec remboursement des frais de scolarité.</h2>
	<br>
	<h2>&#9632; Date d’abandon de cours sans mention d’échec (environ dix semaines après le début de la session) : possibilité d’abandonner un ou plusieurs cours sans remboursement des frais de scolarité, mais sans mention d’échec pour ce cours à votre dossier scolaire.</h2>
	<p>
		Prenez toutefois note que la plupart du temps, on exigera que vous soyez aux études à plein temps dans votre programme (c’est-à-dire un minimum de 12 crédits) pour vous prévaloir du permis d’études au Québec.
	</p>
	<p>
		Pour obtenir plus de conseils sur la gestion du temps, vous pouvez aussi consulter les textes suivants :
	</p>
	<p>
		Gestion du temps : <a href="{{LIEN}}gestion-temps" title="lien" target="_blank">lien</a><br>
		Procrastination : <a href="{{LIEN}}procrastination" title="lien" target="_blank">lien</a>
	</p>
</section>
<section id="strategies">
	<h1>Les stratégies d’étude</h1>
	<p>
		Dans un système scolaire différent, il n’est pas toujours évident de déceler les attentes pédagogiques propres à la culture du système d’enseignement et, conséquemment, d’adopter des stratégies efficaces pour s’y adapter. Les sections suivantes passent en revue les principales stratégies d’étude requises pour favoriser la réussite de vos études universitaires.
	</p>
	<h2>La concentration :</h2>
	<p>
		Le premier ingrédient requis pour les séances d’étude productives est la concentration. Le premier principe de base à respecter est de planifier les périodes d’étude à des moments optimaux pour vous et à des endroits où vous ne risquez pas d’être interrompu ou dérangé. Le texte suivant vous propose un ensemble de stratégies pour améliorer la capacité de concentration si celle-ci fait défaut. Voir aussi : <a href="{{LIEN}}concentration" title="la concentration" target="_blank">la concentration</a>.
	</p>
	<h2>L'écoute en classe et la prise de notes :</h2>
	<p>
		Il est important d’assister aux cours et de s’y préparer à l’aide du plan de cours afin de pouvoir profiter au maximum de l’information qui y est transmise. En effet, la matière vue en cours est souvent à étudier en priorité par rapport au contenu des livres de référence. La prise de notes en classe est donc essentielle pour favoriser une bonne écoute, mais aussi afin de vous servir de synthèse pour orienter votre étude au moment des examens. En classe, les relations et les interactions professeurs-étudiants sont généralement moins empreintes d’autorité et moins distantes que dans d’autres systèmes scolaires. N’hésitez donc surtout pas à poser des questions au professeur ou à prendre rendez-vous avec lui pour lui demander conseil sur vos apprentissages. Le texte suivant vous suggère des stratégies plus détaillées pour avoir une écoute et une prise de notes efficaces. Voir aussi : <a href="{{LIEN}}ecoute-en-classe" title="L'écoute en classe" target="_blank">L'écoute en classe</a>.
	</p>
	<h2>Les lectures :</h2>
	<p>
		Adopter une méthode de lecture active est un élément incontournable pour la réussite de vos études. En effet, la quantité de choses à lire pour chacun de vos cours peut être impressionnante et si vous n’arrivez pas à faire le tri et à ressortir les points les plus importants, vous risquez de vous perdre dans l’information. Vous n’aurez généralement pas le temps de relire plusieurs fois vos textes ou vos chapitres; vous devez donc trouver une méthode permettant de surligner, d’annoter, de résumer ou de schématiser vos lectures. Le texte suivant vous propose plusieurs conseils à ce sujet. Voir aussi : <a href="{{LIEN}}lecture" title="lecture" target="_blank">lecture</a>.
	</p>
	<h2>Sciences pures et appliquées</h2>
	<p>
		Les étudiants en sciences pures et appliquées doivent en général insister plus sur les exercices et les travaux pratiques que sur la lecture des notions théoriques. Le plus important est de tester votre compréhension de la matière en vous exerçant à résoudre des problèmes afin de gagner en rapidité. Le texte suivant s’adresse spécifiquement aux étudiants de ces domaines d’étude. Voir aussi : <a href="{{LIEN}}sciences-pures" title="Science pures et appliquées" target="_blank">Science pures et appliquées</a>.
	</p>
	<p>
		Les exigences de mémorisation peuvent varier selon les cours, mais de façon générale, les questions posées aux examens exigeront une mémorisation assez précise des notions et des concepts enseignés plutôt qu’une compréhension globale. Comme il est impossible de tout retenir, la sélection des notions à mémoriser est primordiale. La récitation et la révision sont essentielles : une simple lecture de base de la matière ne permet pas de la structurer assez précisément pour faire des liens et se souvenir de la matière au moment des évaluations. Si vous devez améliorer cet aspect, le texte suivant vous sera utile. Voir aussi : <a href="{{LIEN}}memorisation" title="la mémorisation" target="_blank">la mémorisation</a>.
	</p>
</section>
<section id="evaluation">
	<h1>Les modes d’évaluation</h1>
	<p>
		Les modes d’évaluation varient beaucoup selon les cours et les programmes d’étude : il peut s’agir de travaux écrits ou pratiques, de travaux faits seul ou en équipe, de laboratoires ou d’examens. Ceux-ci peuvent être répartis au cours de la session en plusieurs petites évaluations comportant moins de matière, ou encore, consister en deux évaluations sommatives de 50 %. Le plan de cours constitue votre feuille de route et précise ce qui est attendu de vous à ce niveau ainsi que la façon dont ces évaluations seront pondérées. Il est rarement possible de refaire les examens manqués ou non réussis, à moins de raisons médicales documentées. En cas d’erreur ou de traitement inéquitable, le règlement des études prévoit toutefois la possibilité de demander une révision de note. Le règlement prévoit également des sanctions sévères en cas de tricherie. De plus, si vous remettez un travail en retard, des points seront habituellement retranchés de votre note.
	</p>
	<h2>La préparation aux examens :</h2>
	<p>
		Assurez-vous d’obtenir des renseignements clairs sur l’examen (ex. : contenu, durée et types de questions). Souvent, ces renseignements sont précisés dans le cours de la semaine qui précède l’examen. Faites un plan d’étude afin de vous assurer de couvrir les points essentiels de tous les chapitres. Il est généralement recommandé de commencer la révision d’un examen quelques semaines à l’avance. Ajustez votre préparation selon le type d’examen : l’examen insiste-t-il sur les cas pratiques ou les concepts théoriques? Les questions seront-elles à développement court ou long, ou à choix multiples? Dans le doute, n’hésitez pas à questionner vos professeurs ou d’autres étudiants. Une bonne préparation est souvent la meilleure façon de gérer le stress inhérent à tout examen. Si les résultats de vos premiers examens ne sont pas satisfaisants, ce qui est possible vu l’ensemble des ajustements à apporter dans vos méthodes, n’hésitez pas à utiliser les ressources d’aide à votre disposition. La lecture du texte suivant pourrait vous aider à bien vous préparer. Voir aussi : <a href="{{LIEN}}examens" title="la préparation aux examens" target="_blank">la préparation aux examens</a>.
	</p>
	<h2>Les travaux écrits :</h2>
	<p>
		Un travail écrit est un travail de plus grande envergure qui exige souvent plusieurs étapes (ex. : élaboration d’un plan, recherche documentaire et rédaction). Assurez vous de bien comprendre les objectifs du travail demandé puisque les définitions des termes (ex. : dissertation, essai ou laboratoire) peuvent différer de ce que vous avez fait dans le passé. Le règlement pour le plagiat (utiliser le travail d’un autre étudiant ou utiliser des phrases ou des idées sans citer les sources) est sévèrement réprimandé. Très souvent, une équipe sera constituée pour réaliser des travaux. Ceci peut représenter un défi pour un étudiant d’origine étrangère : il peut être difficile d’aller vers les autres pour s’intégrer à une équipe. Aussi, la façon de travailler en équipe peut être différente de ce que vous avez connu auparavant et ouvrir la porte à des confrontations ou à des opinions divergentes. Il faudra donc parfois vous armer de patience et de persévérance afin d’arriver à faire votre place. Enfin, dans certains cours, il peut arriver que vous deviez présenter oralement votre travail devant la classe. Quoi qu’il en soit, les deux documents suivants peuvent vous donner de précieuses balises. Voir aussi : <a href="{{LIEN}}travaux-equipe" title="les travaux d'équipe" target="_blank">les travaux d'équipe</a>.
	</p>
</section>
<section id="langue">
	<h1>La langue</h1>
	<p>
		Le français est la langue d’apprentissage à l’Université Laval. La rédaction de vos examens et de vos travaux exige donc de maîtriser un français de qualité, sinon une perte de points, généralement jusqu’à concurrence de 20 % de la note, sera appliquée. Il est de votre responsabilité d’améliorer cet aspect si vous éprouvez des difficultés : l’École de langues peut être une ressource utile, de même que l’utilisation judicieuse de logiciels de correction (ex. : Antidote). Il peut également arriver dans certains cours que les volumes de référence soient uniquement disponibles en anglais. Ceci peut également être une occasion à saisir pour améliorer vos habiletés dans cette langue. Voir aussi : <a href="http://www.elul.ulaval.ca/" title="http://www.elul.ulaval.ca/" target="_blank">http://www.elul.ulaval.ca/</a>.
	</p>
</section>
<section id="informatique">
	<h1>L’informatique</h1>
	<p>
		On s'attend à ce que vous ayez une autonomie dans ce domaine et elle est même obligatoire dans certaines facultés. Des cours de mise à niveau sont offerts sur le campus et vous pouvez obtenir des renseignements auprès de la Direction des technologies de l’information, qui offre des possibilités de formation. Voir aussi : <a href="https://www.dti.ulaval.ca/" title="https://www.dti.ulaval.ca/" target="_blank">https://www.dti.ulaval.ca/</a>
	</p>
</section>
<section id="aide-specialisee">
	<h1>Des ressources d’aide spécialisées : à utiliser en cas de besoin !</h1>
	<p>
		La réussite d’un projet d’études universitaires exige des efforts constants. Le défi est d’autant plus grand lorsque ces études sont réalisées loin de chez soi, éloigné du soutien des proches. L’isolement et les difficultés scolaires peuvent entraîner une spirale négative et compromettre la réussite de certains étudiants. Bénéficier d’un appui ou d’une aide sur le plan méthodologique peut avoir un impact important sur votre motivation et le succès de votre projet. Des ressources d’aide, telles que le Centre d’aide aux étudiants ou les conseillers au étudiants étrangers du <a href="https://www.bve.ulaval.ca/accompagnement_des_etudiants_etrangers/" title="Bureau de la vie étudiante" target="_blank">Bureau de la vie étudiante</a>, sont mises en place sur le campus et peuvent vous être salutaires dans les moments les plus difficiles ou d’impasse. J’espère que ce document vous aura permis d’acquérir des outils précieux et qu’il sera comme une main tendue vers vous, si toutefois vous en éprouvez le besoin, au cours de votre passage à l’Université Laval.
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		Pilote, Annie. Favoriser la réussite des étudiants d’origine étrangère à l’Université Laval- Analyse de besoins dans une démarche de conception d’une formation, rapport présenté à la DGPC, Université Laval, décembre 2004. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Véronique Mimeault, psychologue 
	</p>
</footer>
