<p>
	7 h 00 Jonathan n’a pas dormi de la nuit. Non pas parce qu’il a étudié pour son examen mais parce qu’il fait ses dents… Sa maman, elle, a un examen à 8 h 30. Vite ! Préparer fiston pour la garderie, prendre une bouchée en vitesse et hop ! la journée commence. Pas le temps de réviser sa matière avant l’examen.
</p>
<p>
	Faire des études universitaires en soi est très exigeant. Être à la fois parent et étudiant représente un défi supplémentaire. Bien entendu, la vie familiale apporte beaucoup de joies mais aussi des imprévus… Un enfant tombe malade et l’horaire des parents est chambardé. Comment arriver à réussir ses études tout en répondant aux besoins des enfants ? Il n’existe pas de recette magique pour concilier la famille et les études. C’est souvent par essais et erreurs que les parents parviennent à atteindre un certain équilibre. Voici quelques moyens concrets pour faciliter cette conciliation.
</p>
<nav>
	<ul>
		<li><a href="#aide-financiere" title="Avoir accès à toute l’aide financière possible">Avoir accès à toute l’aide financière possible</a></li>
		<li><a href="#service-de-garde" title="Choisir un service de garde approprié à vos besoins">Choisir un service de garde approprié à vos besoins</a></li>
		<li><a href="#methodes-efficaces" title="Adopter des méthodes d’étude efficaces">Adopter des méthodes d’étude efficaces</a></li>
		<li><a href="#prevenir" title="Prévenir vos professeurs, professeures ou vos coéquipiers, coéquipières">Prévenir vos professeurs, professeures ou vos coéquipiers, coéquipières</a></li>
		<li><a href="#planifier-quotidien" title="Planifier le quotidien">Planifier le quotidien</a></li>
		<li><a href="#deleguer" title="Apprendre à déléguer">Apprendre à déléguer</a></li>
		<li><a href="#deuil" title="Faire son deuil de la famille parfaite">Faire son deuil de la famille parfaite</a></li>
		<li><a href="#profiter-moment" title="Profiter du moment présent avec votre ou vos enfants">Profiter du moment présent avec votre ou vos enfants</a></li>
		<li><a href="#isolement" title="Briser l’isolement">Briser l’isolement</a></li>
		<li><a href="#equilibre" title="Ne pas négliger votre équilibre personnel ">Ne pas négliger votre équilibre personnel </a></li>
		<li><a href="#conclusion" title="Conclusion">Conclusion</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="aide-financiere">
	<h1>Avoir accès à toute l’aide financière possible</h1>
	<p>
		La situation financière peut devenir une préoccupation supplémentaire pour les étudiantes et les étudiants qui ont des responsabilités familiales. Consultez le Bureau des bourses et de l’aide financière [<a href="www.bbaf.ulaval.ca" title="www.bbaf.ulaval.ca" target="_blank">www.bbaf.ulaval.ca</a>] pour vous assurer d’obtenir toute l’aide disponible pour votre situation. De plus, même si vous étudiez à temps partiel, vous pouvez être admissible au programme de prêts et bourses. 
	</p>
</section>
<section id="service-de-garde">
	<h1>Choisir un service de garde approprié à vos besoins</h1>
	<p>
		L’horaire des étudiants et étudiantes peut varier en fonction des heures de cours (jour ou soir), des travaux en équipe, des colloques, des rencontres avec les professeurs et professeures, de la mi-session, etc., ce qui peut devenir un véritable casse-tête pour les parents. Comme les services de garde (Centre de la petite enfance (CPE) ou milieu familial) ont des horaires fixes, n’oubliez pas d’établir une liste de personnes (grands-parents, parenté, voisins, voisines, amis, amies) qui pourront prendre la relève en dehors des heures de garde. Les services de halte-garderie peuvent aussi vous être utiles puisqu’ils offrent un service de dépannage.
	</p>
	<p>
		Pour plus d’information sur les services de garde :
	</p>
	<ul>
		<li>
			Centre Jour (18 mois à 5 ans), pavillon Agathe-Lacerte : 656-5428 
			<a href="http://www2.ulaval.ca/futurs-etudiants/milieu-de-vie-logement-transport/services-aux-etudiants/garderies-cpe-et-services-aux-parents-etudiants.html" title="http://www2.ulaval.ca/futurs-etudiants/milieu-de-vie-logement-transport/services-aux-etudiants/garderies-cpe-et-services-aux-parents-etudiants.html" target="_blank">http://www2.ulaval.ca/futurs-etudiants/milieu-de-vie-logement-transport/services-aux-etudiants/garderies-cpe-et-services-aux-parents-etudiants.html</a>
		</li>
		<li>
			La Petite Cité (3 mois à 5 ans), derrière le pavillon Agathe-Lacerte : 656-2323 
			<a href="http://www2.ulaval.ca/futurs-etudiants/milieu-de-vie-logement-transport/services-aux-etudiants/garderies-cpe-et-services-aux-parents-etudiants.html" title="http://www2.ulaval.ca/futurs-etudiants/milieu-de-vie-logement-transport/services-aux-etudiants/garderies-cpe-et-services-aux-parents-etudiants.html" target="_blank">http://www2.ulaval.ca/futurs-etudiants/milieu-de-vie-logement-transport/services-aux-etudiants/garderies-cpe-et-services-aux-parents-etudiants.html</a>
		</li>
		<li>
			<s>Halte-garderie L'Arche de Noé (2 mois à 12 ans), 3180, avenue d'Amours, Sainte-Foy : 650-5718 
			<a href="http://www.arche2noe.com" title="http://www.arche2noe.com" target="_blank">http://www.arche2noe.com</a></s>
		</li>
	</ul>
</section>
<section id="methodes-efficaces">
	<h1>Adopter des méthodes d’étude efficaces</h1>
	<p>
		Les parents aux études ont souvent plus d’un horaire à gérer… Comme le temps accordé à vos études est limité, vous avez avantage à bien gérer votre temps et à adopter des méthodes d’étude efficaces. Voici quelques stratégies suggérées pour les parents aux études :
		<ul>
			<li>
				Outils de travail indispensables : agenda et ordinateur. L’agenda permet une meilleure planification de votre temps. Utilisez des codes de couleurs différents en fonction des secteurs de votre vie (études, famille, personnel). L’ordinateur s’avère très utile pour sauver du temps et éviter certains déplacements (transactions bancaires, contacts avec les collègues et professeurs, professeures, travaux scolaires).
			</li>
			<li>
				Profitez au maximum des moments durant lesquels votre ou vos enfants dorment ou sont à la garderie ou à l’école pour effectuer les travaux qui demandent une grande concentration.
			</li>
			<li>
				Favorisez les courtes périodes d’étude et divisez vos tâches en petites parties. Même si vous n’avez pas le temps de tout faire, vous aurez au moins la satisfaction d’en avoir commencé ou compléter une partie.
			</li>
			<li>
				Étudiez vos examens quelques jours à l’avance pour éviter d’être pris ou prise au dépourvu si votre enfant tombe malade.
			</li>
			<li>
				Organisez un bureau ou coin de travail pour votre ou vos enfants. Matériel de bricolage, papier, crayons, livres à dessiner et sac d’école. L’enfant aura l’impression de travailler comme vous et de « jouer à étudier » comme papa ou maman.
			</li>
			<li>
				Filtrez vos appels quand votre ou vos enfants sont à l’école ou à la garderie pour vous concentrer sur vos tâches scolaires.
			</li>
			<li>
				Si possible, essayez de travailler à la bibliothèque ou ailleurs qu’à la maison, pour ne pas vous laisser distraire par les autres tâches domestiques ou personnelles à accomplir. 
			</li>
			<li>
				Pour connaître d’autres méthodes d’études efficaces, nous vous encourageons à lire la section <a href="{{LIEN}}strategies-apprentissage" title="Stratégies d’apprentissage" target="_blank">Stratégies d’apprentissage</a> et à participer aux exposés « <a href="{{LIEN}}cles-reussite" title="Les clés de la réussite" target="_blank">Les clés de la réussite</a> ».
			</li>
		</ul>
	</p>
</section>
<section id="prevenir">
	<h1>Prévenir vos professeurs, professeures ou vos coéquipiers, coéquipières</h1>
	<p>
		En cas d’imprévus qui vous obligeraient à vous absenter (enfant malade ou hospitalisé), il serait important de prévenir vos professeurs, professeures ou vos coéquipiers, coéquipières. Pour les premiers, un billet médical peut s’avérer nécessaire pour justifier un retard dans la remise d’un travail ou votre absence à un examen. Pour les travaux en équipe, essayez d’envisager avec vos collègues des mesures que vous pourrez prendre advenant ce genre de situation, par exemple transmettre par courriel votre partie du travail. 
	</p>
</section>
<section id="planifier-quotidien">
	<h1>Planifier le quotidien</h1>
	<p>
		La routine sécurise les enfants et facilite la vie des parents. Pour réduire les sources de stress, vous avez avantage à bien planifier tout ce qui touche au quotidien. Voici quelques suggestions :
	</p>
	<ul>
		<li>
			Utilisez des aide-mémoire comme une liste de choses à ne pas oublier avant de quitter la maison, une pour les parents et une autre pour le ou les enfants.
		</li>
		<li>
			Dressez une liste d’épicerie permanente. Faites-en des copies et remplissez-la avant de faire vos achats.
		</li>
		<li>
			Préparez les lunchs, les vêtements et le matériel pour le ou les enfants la veille pour éviter la course du matin.
		</li>
		<li>
			Établissez à l’avance les menus de la semaine. Le parent qui arrive en premier saura quoi préparer. 
		</li>
		<li>
			Planifiez les périodes de la semaine consacrées aux tâches domestiques. 
		</li>
	</ul>
</section>
<section id="deleguer">
	<h1>Apprendre à déléguer</h1>
	<p>
		Comme un bon gestionnaire d’entreprise, essayez de bien vous entourer et de connaître les forces de chacun. Prévoyez à l’avance les périodes où vous serez moins disponible (mi-session, remise des travaux, etc.). Vous pourrez, si possible, déléguer certaines tâches domestiques. Votre ou vos enfants peuvent même apporter leur contribution en fonction de leur âge. Cela développe leur autonomie et vous permet de passer plus de temps ensemble.
	</p>
	<p>
		Vous pouvez aussi dresser une liste des événements à ne pas manquer : jour de la rentrée, spectacle annuel, remise des bulletins, matchs importants, etc. Si vous êtes dans l’impossibilité d’y assister, demandez à une personne de votre entourage de filmer l’événement. Vous pourrez ainsi le regarder en famille par la suite.
	</p>
</section>
<section id="deuil">
	<h1>Faire son deuil de la famille parfaite</h1>
	<p>
		Attention ! Avoir le sens de l’organisation ne rime pas avec perfection. Les parents qui arrivent à bien concilier leur vie familiale, personnelle et professionnelle acceptent de se tromper et adoptent une attitude positive et souple face aux problèmes éprouvés au quotidien. Prenez le temps de définir avec les membres de votre famille ce qui est essentiel pour chacun et ainsi établir vos priorités. Vous serez peut-être surpris des réponses… En effet, votre ou vos enfants n’ont peut-être pas envie d’avoir un horaire rempli d’activités parascolaires. D’autant plus que votre temps en famille est restreint, votre ou vos enfants seront sans doute plus heureux de passer simplement du temps en votre compagnie. Si vous vous sentez coupable de ne pas en faire assez avec les enfants ou dans vos études ou vous éprouvez de la difficulté à dire non et à établir vos priorités, nous vous conseillons de lire le texte Le perfectionnisme.
	</p>
</section>
<section id="profiter-moment">
	<h1>Profiter du moment présent avec votre ou vos enfants</h1>
	<p>
		À force d’avoir mille et une choses en tête pour veiller au bon fonctionnement de la vie familiale, il est facile de s’éloigner de l’essentiel : être avec le ou les enfants. Les études, et parfois le travail, grugent le temps à accorder à la famille. Voici donc quelques idées pour profiter pleinement des moments passés avec eux :
		<ul>
			<li>
				Après une journée passée loin de vous, votre ou vos enfants sont impatients de vous retrouver… mais ils sont aussi affamés. Prenez-le temps de vous asseoir avec eux en leur offrant une collation pour patienter jusqu’à l’heure du souper. Demandez leur aide pour préparer le souper en écoutant de la musique.
			</li>
			<li>
				Sur le chemin du retour de la garderie, écoutez des comptines ou racontez-vous des blagues.
			</li>
			<li>
				À l’heure du coucher, racontez-leur ou lisez-leur une histoire. 
			</li>
			<li>
				La période des devoirs est une occasion d’observer les progrès de chaque enfant. 
			</li>
			<li>
				Prenez en note les finesses ou les réflexions de votre ou vos enfants dans un carnet. Cela vous permettra d’être attentif, attentive au moment présent et de conserver de précieux souvenirs.
			</li>
		</ul>
	</p>
	<p>
		Avoir un ou des enfants comporte un grand avantage : ils nous apprennent à vivre le moment présent. Le temps passé avec eux apporte du plaisir et vous aidera à décrocher.
	</p>
</section>
<section id="isolement">
	<h1>Briser l’isolement</h1>
	<p>
		Les parents aux études se sentent souvent seuls à vivre cette réalité. Une enquête révèle que la diminution du temps consacré à la vie sociale représente le plus grand facteur de stress chez les parents-étudiants (Goudreau, 1996). Souvent, ils s’impliquent moins avec les autres étudiants et étudiantes, car leur peu de temps libre est consacré à la famille. En 2005, l’Association des parents étudiant ou travaillant à l’Université Laval (APETUL) [<a href="http://www.apetul.asso.ulaval.ca" title="http://www.apetul.asso.ulaval.ca" target="_blank">www.apetul.asso.ulaval.ca</a>] a été créée justement pour briser l’isolement de ces familles. Elle permet de créer des liens avec les autres parents de l’université par des cafés-rencontres, des activités organisées une fois par mois (p. ex. matinées cinéma), un bazar annuel, etc.
	</p>
	<p>
		Voici d’autres organismes qui offrent des activités pour venir en aide aux parents (conférences, groupes d’entraide, consultations) : 
	</p>
	<ul>
		<li>
			La Maison de la famille de votre quartier
		</li>
		<li>
			Entraide-Parents, 1605, chemin Sainte-Foy, Québec : 664-0050 
			<a href="http://www.entraideparents.com" title="www.entraideparents.com" target="_blank">[www.entraideparents.com]</a>
		</li>
		<li>
			Groupe les Relevailles, 855, avenue Holland, bur. 203, Québec : 688 3301 
			<a href="http://www.groupelesrelevailles.qc.ca" title="www.groupelesrelevailles.qc.ca" target="_blank">[www.groupelesrelevailles.qc.ca]</a>
		</li>
	</ul>
</section>
<section id="equilibre">
	<h1>Ne pas négliger votre équilibre personnel</h1>
	<p>
		Avec votre horaire chargé, la première chose que vous avez tendance à négliger, c’est vous-même ! Par conséquent, la fatigue et le manque de sommeil risquent de devenir vos pires ennemis. Prendre soin de vous devrait aussi faire partie de vos priorités. Facile à dire… Mais si vous négligez cet aspect, c’est tout le reste qui en payera le prix (études, couple, famille). Essayez de réserver du temps pour vous, que ce soit à l’heure du dîner ou une soirée par semaine. Pour connaître d’autres moyens pour atteindre un meilleur équilibre de vie, consultez le texte Trop de stress ? Douze pistes de solutions. 
	</p>
</section>
<section id="conclusion">
	<h1>Conclusion</h1>
	<p>
		Certes, les défis que doivent relever les parents aux études sont nombreux mais non insurmontables. Être parent procure de grandes satisfactions et représente une source de motivation. Vos efforts et vos sacrifices en valent la peine ! En plus de devenir une source d’inspiration pour vos enfants, votre formation universitaire vous permettra d’améliorer vos conditions de vie, ce qui profitera à toute la famille. 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		BOLDUC, Diane (2004), Rapport de l’enquête Conciliation études-travail-famille et vie personnelle, Comité Pacte Famille, Regroupement des centres de la petite enfance des Cantons de l’Est [en ligne]. [<a href="http://www.cpe-estrie.org/pdf/Rapportfinal.doc" title="http://www.cpe-estrie.org/pdf/Rapportfinal.doc" target="_blank">http://www.cpe-estrie.org/pdf/Rapportfinal.doc</a>] (16 janvier 2008) 
	</cite></p>
	<p><cite>
		FERLAND, Francine (2006), Pour parents débordés et en manque d’énergie, Montréal, Éditions Sainte-Justine. 
	</cite></p>
	<p><cite>
		<s>GUÉNETTE, Françoise (2001), « La guerre du temps », Gazette des femmes, vol. 23, no 4 (novembre-décembre), p. 15 [en ligne]. [<a href="http://www.gazettedesfemmes.com/recherche/?F=recherche&idt=&affart=3265" title="http://www.gazettedesfemmes.com/recherche/?F=recherche&idt=&affart=3265" target="_blank">http://www.gazettedesfemmes.com/recherche/?F=recherche&idt=&affart=3265</a>] (16 janvier 2008)</s>
	</cite></p>
	<p><cite>
		<s>GOUDREAU, Hélène (1996), « Études et bébés : une épreuve d’endurance », Liaison, vol. 31, no 1 (29 août) [en ligne]. [<a href="http://www.usherbrooke.ca/liaison_vol29 37/vol31/v31n1/PSYCHO.html" title="http://www.usherbrooke.ca/liaison_vol29 37/vol31/v31n1/PSYCHO.html" target="_blank">http://www.usherbrooke.ca/liaison_vol29 37/vol31/v31n1/PSYCHO.html</a>] (16 janvier 2008)</s>
	</cite></p>
	<p><cite>
		GUÉRICOLAS, Pascale (2003). « Papa et maman à l’université », Au fil des événements, 13 novembre [en ligne]. [<a href="http://www.scom.ulaval.ca/Au.fil.des.evenements/2003/11.13/famille.html" title="www.scom.ulaval.ca/Au.fil.des.evenements/2003/11.13/famille.html" target="_blank">www.scom.ulaval.ca/Au.fil.des.evenements/2003/11.13/famille.html</a>] (16 janvier 2008) 
	</cite></p>
	<p><cite>
		<s>MAM’S MAMBOUNDOU, Wenceslas (2003), « Conciliation des études et de la famille : une lourde tâche pour les étudiants-parents », Pensons famille, vol. 15, no 73 (septembre), p. 9-17 [en ligne]. [<a href="http://www.familis.org/riopfq/publication/pensons73/pensonsfamille73.pdf" title="http://www.familis.org/riopfq/publication/pensons73/pensonsfamille73.pdf" target="_blank">http://www.familis.org/riopfq/publication/pensons73/pensonsfamille73.pdf</a>] (16 janvier 2008)</s>
	</cite></p>
	<p><cite>
		PEEL, Kathy (1999), Guide de survie de la mère au travail. Famille, travail, loisirs : comment tout concilier au quotidien, Montréal, Éditions libre expression. 
	</cite></p>
	<p><cite>
		<s>VIAU, Nadine (2002), Situation dans les Centres de la petite enfance dans les Universités du Québec, Force Jeunesse [en ligne] [<a href="http://www.forcejeunesse.qc.ca/PDF/tableau_CPE_universitaires_final.doc" title="http://www.forcejeunesse.qc.ca/PDF/tableau_CPE_universitaires_final.doc" target="_blank">http://www.forcejeunesse.qc.ca/PDF/tableau_CPE_universitaires_final.doc</a>] (16 janvier 2008)</s>
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Marie-Hélène Simard, psychologue
	</p>
</footer>
