<p>
	Les difficultés de gestion du temps sont un motif fréquent de consultation au Centre d'aide aux étudiants. Les études universitaires requièrent certains ajustements pour réussir, entre autres quant au degré d'autonomie et de discipline personnelle. Gérer le temps à consacrer au travail personnel en dehors des heures de cours est souvent ce qui constitue le plus grand défi ! D'autant plus que plusieurs étudiantes et étudiants sont aussi engagés dans d'autres responsabilités (ex. : emploi rémunéré).
</p>
<nav>
	<ul>
		<li><a href="#outils" title="Vous outiller">Vous outiller</a></li>
		<li><a href="#horaire" title="« Je me fais un horaire, mais je ne le respecte pas »">« Je me fais un horaire, mais je ne le respecte pas »</a></li>
		<li><a href="#objectifs" title="Des objectifs d'étude pour vous structurer dans le temps">Des objectifs d'étude pour vous structurer dans le temps</a></li>
		<li><a href="#priorites" title="Établir vos priorités !">Établir vos priorités !</a></li>
		<li><a href="#strategique" title="Soyez stratégique !">Soyez stratégique !</a></li>
		<li><a href="#chronophage" title="À l'attaque... des chronophages !">À l'attaque... des chronophages !</a></li>
		<li><a href="#regles" title="Quelques petites règles dont il ne faut pas trop vous éloigner...">Quelques petites règles dont il ne faut pas trop vous éloigner...</a></li>
		<li><a href="#fin-de-session" title="« Fin de session : par quoi je commence ? »">« Fin de session : par quoi je commence ? »</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="outils">
	<h1>Vous outiller</h1>
	<p>
		Essayer de mémoriser toutes les tâches à faire dans une vie universitaire bien remplie occasionne tôt ou tard des erreurs de planification et des oublis. Une bonne utilisation des outils de gestion du temps vous permettra de sauver beaucoup d'énergie et de vous sentir plus en contrôle des événements. Dès le début de la session, utilisez un calendrier pour vous fournir une vue d'ensemble de la session. L'agenda, la grille horaire et les listes de choses à faire vous seront utiles dans l'organisation des tâches de votre quotidien.
	</p>
	<ul>
		<li class="pdf">
			<a href="wp-content/uploads/2014/11/Calendrier-session-A-2014.pdf" title="Automne 2014" target="_blank">Automne 2014</a>
		</li>
		<li class="pdf">
			<a href="wp-content/uploads/2014/11/Calendrier-session-H-2015.pdf" title="Hiver 2015" target="_blank">Hiver 2015</a>
		</li>
		<li class="pdf">
			<a href="wp-content/uploads/2014/11/Calendrier-session-E-2015.pdf" title="Été 2015" target="_blank">Été 2015</a>
		</li>
		<li class="doc">
			<a href="wp-content/uploads/2014/11/HORAIRE-HEBDOMADAIRE.doc" title="Grille horaire hebdomadaire" target="_blank">Grille horaire hebdomadaire</a>
		</li>
	</ul>
</section>
<section id="horaire">
	<h1>« Je me fais un horaire, mais je ne le respecte pas »</h1>
	<p>
		Une gestion du temps fonctionnelle doit être basée sur le respect de votre rythme personnel. Si bien utiliser votre temps est un problème pour vous, il est possible que vous ne sachiez pas exactement où il file ! Pour vous améliorer, il peut être utile de commencer par savoir où vous en êtes... Vous devez savoir quoi planifier, mais aussi bien connaître et comprendre ce qui est efficace pour vous. Vous pouvez consulter le guide en format pdf <a href="wp-content/uploads/2014/11/Guide_Concentration.pdf" title="La concentration et la gestion du temps" target="_blank">La concentration et la gestion du temps</a> pour plus de détails sur la façon de recueillir ces informations et la manière de les utiliser pour faire une planification réaliste. Votre façon de fonctionner et vos besoins diffèrent de ceux de vos amis et amies. Vous bâtir une gestion du temps rigide ou trop idéale mène souvent au découragement, à la culpabilité et malheureusement, à finalement laisser tomber toute idée de planification au bout de quelques semaines...
	</p>
</section>
<section id="objectifs">
	<h1>Des objectifs d'étude pour vous structurer dans le temps</h1>
	<p>
		Vous fixer des objectifs vous aide à bien répartir vos efforts dans le temps, à soutenir votre motivation et à être moins dépendant ou dépendante de vos humeurs pour vous mettre à la tâche. À long terme, vous arranger au jour le jour et « éteindre des feux » peut nuire à vos apprentissages. De bons objectifs possèdent les caractéristiques suivantes :
	</p>
	<ul>
		<li>
			spécifiques : savoir quelle tâche sera effectuée précisément ;
		</li>
		<li>
			mesurables : il devrait être possible de savoir à quel moment l'objectif est atteint (important pour le sentiment d'efficacité personnelle) ;
		</li>
		<li>
			orientés dans le temps : déterminer quand la tâche sera effectuée et complétée (se fixer une échéance, mais avec une marge de manoeuvre) ; 
		</li>
		<li>
			acceptables : être fixés par vous et dépendre de vous ; 
		</li>
		<li>
			réalistes : il est préférable de viser moins haut et d'atteindre vos objectifs que de viser trop haut et de vivre un insuccès.
		</li>
	</ul>
	<p>
		Il importe aussi de prévoir des moments pour vérifier où en est l'atteinte de vos objectifs (ex. : le dimanche soir ou avant de débuter une autre semaine ; le soir, après votre journée et le matin, avant d'amorcer votre journée). Des imprévus peuvent survenir ; il est impossible de tout planifier et une fois pour toutes. Certains obstacles peuvent nuire au respect des objectifs fixés, dont la tendance à remettre au lendemain, un manque de motivation ou un niveau de stress trop élevé (Voir aussi les textes La <a href="{{LIEN}}procrastination" title="procrastination" target="_blank">procrastination</a>, <a href="{{LIEN}}motivation" title="La baisse de motivation" target="_blank">La baisse de motivation</a> ainsi que la section au sujet du <a href="{{LIEN}}stress-anxiete" title="stress et de l'anxiété" target="_blank">stress et de l'anxiété</a>). 
	</p>
</section>
<section id="priorites">
	<h1>Établir vos priorités !</h1>
	<p>
		Comment faire une liste de priorités ? 
	</p>
	<p>
		A = URGENT ET IMPORTANT (doit être fait cette semaine) <br>
		B = URGENT (peut attendre à la semaine suivante)<br>
		C = IMPORTANT (à faire prochainement)
	</p>
	<ol>
		<li>
			Faire en premier les A. On a tendance à faire les C en premier car ces tâches provoquent moins d'anxiété (ex. : faire le ménage de son bureau).
		</li>
		<li>
			Diviser la tâche qui nous cause le plus de stress (souvent celle qui est la plus prioritaire).
		</li>
	</ol>
	<p>
		Une liste efficace indique le degré de priorité de ce qui est à effectuer et comporte des objectifs précis et réalisables.
	</p>
	<table>
		<caption>Exemple d'une liste hebdomadaire de priorités</caption>
		<thead>
			<tr>
				<th>Mauvaise liste</th>
				<th>Bonne liste</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					faire mes problèmes de stats<br>
					faire mon rapport de labo<br>
					faire mes lectures<br>
					aller à la banque<br>
					appeler Lucie<br>
					acheter carte de fête pour maman<br>
					faire le lavage
				</td>
				<td>
					(A) faire problèmes de stats chap. 2, p. 10 à 20, les 3 premiers numéros<br>
					(A) compléter les exercices de labo<br>
					(A) survol du chap. 3 en physique<br>
					(B) lecture des notes du dernier cours en chimie<br>
					(B) aller à la banque<br>
					(B) acheter carte de fête pour maman<br>
					(C) choisir un sujet pour le travail en économie<br>
					(C) faire le lavage<br>
					(C) appeler Lucie
				</td>
			</tr>
		</tbody>
	</table>
</section>
<section id="strategique">
	<h1>Soyez stratégique !</h1>
	<p>
		Il n'est pas toujours possible d'arriver à tout faire ce qui est exigé dans chacun de vos cours. Vous devez ainsi user de stratégie pour rentabiliser votre temps, sans vous pénaliser dans la réussite de vos cours. Voici quelques exemples :
	</p>
	<ul>
		<li>
			faites les activités intellectuelles aux périodes où vous êtes le plus efficace (énergie et concentration à leur meilleur) ;
		</li>
		<li>
			alternez les tâches (en fonction de leur degré de complexité et de votre intérêt) ;
		</li>
		<li>
			combinez certaines activités (ex. : lire dans un café, réviser dans l'autobus) ;
		</li>
		<li>
			rapprochez l'étude d'une matière du cours concerné ;
		</li>
		<li>
			commencez par étudier les parties de matière les plus prioritaires ou incomprises.
		</li>
	</ul>
</section>
<section id="chronophage">
	<h1>À l'attaque... des chronophages !</h1>
	<p>
		Essayez d'éliminer l'influence de « grugeurs de temps » sur lesquels vous pouvez exercer un contrôle :
	</p>
	<ul>
		<li>
			les interruptions (ex. : téléphone, bavardage) ;
		</li>
		<li>
			une classification inefficace (ex. : bonne organisation, cartables) ; 
		</li>
		<li>
			demandes non urgentes de l'entourage (ex. : difficulté à dire non) ; 
		</li>
		<li>
			les pertes de temps (ex. : Internet, zappage à la télévision) ; 
		</li>
		<li>
			les déplacements inutiles (ex. : minimiser les allers-retours) ; 
		</li>
		<li>
			une mauvaise stratégie d'étude (ex. : mauvaise concentration).
		</li>
	</ul>
</section>
<section id="regles">
	<h1>Quelques petites règles dont il ne faut pas trop vous éloigner...</h1>
	<ul>
		<li>
			Pour les études universitaires, calculer un minimum d'une heure de travail personnel (idéalement deux) pour chaque heure de cours. Évidemment, certains cours vous demanderont moins de temps, d'autres plus.
		</li>
		<li>
			Tentez de vous limiter à 10 heures de travail scolaire par jour (étude et cours inclus). Ceci afin de favoriser votre concentration et votre motivation pour les journées subséquentes. 
		</li>
		<li>
			Visez un maximum de cinq heures à travailler à une même tâche, pour une même matière, dans une même journée.
		</li>
		<li>
			Ne pas vous surcharger de travail pour une période entre deux cours ou précédant le coucher.
		</li>
		<li>
			Gardez-vous une période de 24 heures dans la semaine sans aucune activité scolaire. 
		</li>
		<li>
			Si possible, limitez à 10 à 15 heures par semaine le temps consacré à un travail rémunéré si vous êtes aux études à temps plein.
		</li>
		<li>
			Les courtes séances d'étude permettent un meilleur apprentissage que les « marathons ». 
		</li>
		<li>
			Les pauses permettent de demeurer plus efficace. 
		</li>
		<li>
			Tenir compte de tous vos besoins (ex. : social, exercice, sommeil) vous assurera d'avoir de l'énergie pour fournir des efforts le moment venu.
		</li>
	</ul>
</section>
<section id="fin-de-session">
	<h1>« Fin de session : par quoi je commence ? »</h1>
	<p>
		Vous vous sentez débordé ou débordée à l'approche des échéances, voire dépassé ou dépassée ? Vous avez accumulé beaucoup, beaucoup de retard ? Voici quelques façons de mieux vous en tirer.
	</p>
	<ul>
		<li>
			Calmez-vous un instant et prenez le temps de vous faire un plan de match par écrit.
		</li>
		<li>
			Assurez-vous de tenir compte de la pondération des tâches dans la répartition de votre temps (ex. : devoir qui exige du temps mais qui vaut seulement cinq points).
		</li>
		<li>
			Laissez tomber tout ce que vous pouvez ou tout ce qui ne vous pénalisera pas, ou même, dans certains cas, abandonnez un cours pour lequel vos chances de réussite sont très incertaines.
		</li>
		<li>
			Tentez de répartir votre étude selon vos cours, plutôt que de bien approfondir la matière d'un cours et d'en négliger un autre complètement. 
		</li>
		<li>
			Fixez-vous un temps limite à passer sur chacun de vos cours. Faites un survol et assurez-vous de commencer par l'étude des notions incomprises ou plus importantes.
		</li>
		<li>
			N'exigez pas de vous-même de produire la même qualité que si vous aviez tout votre temps. 
		</li>
		<li>
			Restreignez votre étude principalement à vos notes de cours (ce qui a été vu en classe).
		</li>
		<li>
			Ne vous laissez pas démotiver en cours de route par de mauvais résultats. 
		</li>
		<li>
			Assurez-vous de ne pas trop couper dans votre sommeil et votre alimentation. 
		</li>
		<li>
			Évitez les personnes qui vous démotivent et recherchez celles qui vous motivent. 
		</li>
		<li>
			Offrez-vous des récompenses pour vous encourager pendant et après l'effort. 
		</li>
		<li>
			Sachez reconnaître si vous avez besoin d'aide.
		</li>
	</ul>
</section>
<section id="references">
	<h1>Références</h1>
	<h2>Liens Internet</h2>
	<p><cite>
		The Unabridged Student Counseling Virtual Pamphlet Collection : <a href="http://www.dr-bob.org/vpc/virtulets.html" title="The Unabridged Student Counseling Virtual Pamphlet Collection" target="_blank">http://www.dr-bob.org/vpc/virtulets.html</a>
	</cite></p>
	<p><cite>
		Guide format PDF: <a href="wp-content/uploads/2014/11/Guide_Concentration.pdf" title="La concentration et la gestion du temps" target="_blank">La concentration et la gestion du temps</a>. 
	</cite></p>
	<h2>Livres</h2>
	<p><cite>
		Beaud, M. &amp; Daniel, L. (1988). L'art de la thèse. Les éditions Boréal.
	</cite></p>
	<p><cite>
		Bégin, C. (1992). Devenir efficace dans ses études. Éditions Beauchemin.
	</cite></p>
	<p><cite>
		Boucher, F. &amp; Avard, J. (1984). Réussir ses études. Éditions de Mortagne. 
	</cite></p>
	<p><cite>
		Burka, J.B. &amp; Yuen, L.M. (1986). Pourquoi remettre à plus tard ? Le jour, éditeur.
	</cite></p>
	<p><cite>
		Dionne, B. (1990). Pour réussir. Éditions Études Vivantes. 
	</cite></p>
	<p><cite>
		Gauthier, L. &amp; Poulin, N. (1987). Savoir apprendre (2e édition). Les éditions de l'Université de Sherbrooke. 
	</cite></p>
	<p><cite>
		Goulet, L. &amp; Lépine, G. (1986). Cahier de méthodologie (3e édition). Les éditions de l'Université du Québec à Montréal. 
	</cite></p>
	<p><cite>
		Pauk, W. (1998). Study skills for college athletes. H&amp;H Publishing company. 
	</cite></p>
	<p><cite>
		Tremblay, R.R. &amp; Perrier, Y. (2000). Savoir plus. Les éditions de la Chenelière. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Dominique Dubé, psychologue
	</p>
</footer>
