<p>
	Les habiletés qui permettent de lire un journal ou un roman ne suffisent pas pour lire un texte complexe et en retenir l'essentiel. La lecture efficace des textes de vos cours demande des conditions appropriées de lecture mais, surtout, oblige à être actif ou active par rapport à l'information lue. Les stratégies ci-dessous réfèrent surtout aux lectures d'accompagnement des cours. Pour les lectures liées à la réalisation de travaux écrits, voir également la section sur le sujet (<a href="{{LIEN}}travaux-ecrits" title="Les travaux écrits" target="_blank">Les travaux écrits</a>). Voyons ensemble quelques stratégies pour une lecture efficace.
</p>
<nav>
	<ul>
		<li><a href="#quand" title="Quand lire vos textes ?">Quand lire vos textes ?</a></li>
		<li><a href="#environnement" title="Un environnement qui favorise votre concentration">Un environnement qui favorise votre concentration</a></li>
		<li><a href="#rechauffer-esprit" title="« Je me réchauffe l'esprit... »">« Je me réchauffe l'esprit... »</a></li>
		<li><a href="#survol" title="Ce texte mérite un survol !">Ce texte mérite un survol !</a></li>
		<li><a href="#poser-questions" title="Posez-vous des questions pendant la lecture">Posez-vous des questions pendant la lecture</a></li>
		<li><a href="#prendre-notes" title="Prenez des notes... pour tester votre mémoire et sauver du temps">Prenez des notes... pour tester votre mémoire et sauver du temps</a></li>
		<li><a href="#souligner" title="Soulignez les passages importants... pour augmenter votre efficacité">Soulignez les passages importants... pour augmenter votre efficacité</a></li>
		<li><a href="#reviser" title="Révisez la matière et tester votre mémoire...">Révisez la matière et tester votre mémoire...</a></li>
		<li><a href="#difficultes" title="Difficultés de compréhension pendant la lecture... que faire ?">Difficultés de compréhension pendant la lecture... que faire ?</a></li>
		<li><a href="#resume" title="Comment lire un texte scientifique ou une thèse en vue d'un résumé ou d'une analyse ?">Comment lire un texte scientifique ou une thèse en vue d'un résumé ou d'une analyse ?</a></li>
		<li><a href="#se-perdre" title="Pour ne pas vous perdre dans la matière">Pour ne pas vous perdre dans la matière</a></li>
		<li><a href="#trop-temps" title="« Mes lectures prennent trop de temps »">« Mes lectures prennent trop de temps »</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="quand">
	<h1>Quand lire vos textes ?</h1>
	<p>
		Avant le cours. Cela permet d'augmenter la compréhension, la mémorisation et la concentration pendant la séance. Vos cours deviennent alors efficaces en termes d'apprentissage. Il est important cependant de bien vous questionner sur l'objectif de vos lectures préparatoires aux cours. Dans le cas de séminaires de lecture lors desquels vous discutez des textes, une lecture en profondeur sera pertinente. Si votre lecture sert de préparation à un cours dans lequel la professeure ou le professeur explique les éléments importants des lectures, il s'agit, lors de cette première lecture, d'identifier les notions importantes et celles qui vous posent des problèmes de compréhension.
	</p>
	<p>
		Après le cours. Il est souvent plus efficace de lire les textes plus en profondeur lorsque les notions importantes sont identifiées et expliquées, ce qui est habituellement fait pendant le cours. À la suite du cours, lisez bien vos notes manuscrites afin d'identifier et de comprendre les notions principales. Vous pourrez alors procéder à une lecture plus approfondie des textes. Il est très important de connaître et de comprendre les notions les plus importantes, pour par la suite aller dans les détails (et non le contraire).
	</p>
	<p>
		Dans tous les cas, questionnez-vous bien sur l'objectif de la lecture afin d'être efficace.
	</p>
</section>
<section id="environnement">
	<h1>Un environnement qui favorise votre concentration</h1>
	<p>
		Voir le texte concernant la <a href="{{LIEN}}concentration" title="concentration" target="_blank">concentration</a>.
	</p>
</section>
<section id="rechauffer-esprit">
	<h1>« Je me réchauffe l'esprit... »</h1>
	<p>
		Il vous faut un réchauffement avant d'accomplir une activité physique. Même chose pour le travail intellectuel. Faites une transition entre votre dernière activité et votre travail. Par exemple, prenez quelques minutes pour relaxer et revenez sur votre objectif de lecture (préparation à un cours ou retour sur ce qui a été vu, compréhension de telle ou telle notion, etc.) ainsi que sur vos motivations à le réaliser. Vous pouvez également réfléchir à ce que vous avez vu dans le cours jusqu'à maintenant. En résumé, préparez doucement votre esprit à votre période de lecture.
	</p>
</section>
<section id="survol">
	<h1>Ce texte mérite un survol !</h1>
	<p>
		Afin d'augmenter votre efficacité, faites un survol. Cela vous donnera une idée générale des points traités et vous aidera à repérer les passages plus importants. Pour survoler, vous pouvez lire le résumé, les sous-titres, l'introduction, la conclusion, etc. Une connaissance de la structure générale du texte augmente votre attention et votre mémorisation.
	</p>
</section>
<section id="poser-questions">
	<h1>Posez-vous des questions pendant la lecture</h1>
	<p>
		Si vous avez de la difficulté à vous souvenir de ce que vous lisez, une des raisons possibles est que vous n'êtes pas assez actif ou active par rapport à l'information lue. D'abord, il faut vous poser des questions en cours de lecture. Quelle est l'idée principale du paragraphe, de la section ? Y a-t-il d'autres exemples possibles ? Quel est le lien avec le cours ? Posez-vous des questions suite à la lecture de petites parties et non après plusieurs pages. Vous devez également prendre des notes.
	</p>
</section>
<section id="prendre-notes">
	<h1>Prenez des notes... pour tester votre mémoire et sauver du temps</h1>
	<p>
		Une autre stratégie importante pour augmenter la mémorisation des informations est de prendre des notes pendant la lecture. La plupart du temps, il est peu efficace de recopier le texte des documents. Optez plutôt pour des résumés sous forme de mots-clés qui vous permettront de tester vos connaissances. Voici un exemple : 
	</p>
	<p>
		Imaginons une partie de texte qui présentent les cinq principales caractéristiques de la théorie XYZ. Votre résumé pourrait comprendre uniquement les mots suivants : « 5 caractéristiques théorie XYZ (p. 145) ». Vous devez vous souvenir des caractéristiques en question. Si vous avez oublié cette information, retournez au texte à la page identifiée. Autrement dit, votre résumé pourrait ne comprendre que les titres des notions vues, comme un index. Vous pourrez utiliser ces résumés afin de tester votre mémoire en préparation à l'examen. De façon générale, évitez les résumés de lecture très développés avec beaucoup de détails, qui sont très longs à réaliser et peu efficaces en termes d'apprentissage.
	</p>
	<p>
		La prise de note peut être plus développée dans le cas de lectures pour réaliser un travail écrit. Voir à ce sujet le texte au sujet de la <a href="{{LIEN}}redaction" title="rédaction des travaux écrits" target="_blank">rédaction des travaux écrits</a>. 
	</p>
</section>
<section id="souligner">
	<h1>Soulignez les passages importants... pour augmenter votre efficacité</h1>
	<p>
		Parallèlement à vos résumés en mots-clés, vous pouvez souligner (ou surligner) certaines parties du texte afin d'y revenir plus rapidement lorsque vous révisez vos résumés. Habituellement, souligner l'idée principale et les détails importants qui la supportent vous permet de réviser plus efficacement.
	</p>
	<ul>
		<li>
			Attendez d'avoir lu au complet la section ou le paragraphe avant de souligner. Par la suite, retournez en arrière et soulignez les points importants.
		</li>
		<li>
			Habituellement, l'idée importante est une généralisation que l'auteur ou l'auteure développe par la suite.
		</li>
		<li>
			Indiquez dans la marge, avec des flèches ou des mots, les relations entre les idées principales soulignées. 
		</li>
		<li>
			Ne pas trop souligner... Pas plus de 15 à 20 % du texte ne devrait être souligné s'il s'agit d'un document de référence pour le cours.Lorsque le texte est terminé, revenez sur les points soulignés, cela augmentera votre mémorisation à moyen terme.
		</li>
	</ul>
</section>
<section id="reviser">
	<h1>Révisez la matière et tester votre mémoire...</h1>
	<p>
		Afin que vos lectures soient profitables, révisez ce que vous avez identifié comme étant important et testez votre mémoire à l'aide de vos résumés ou de vos synthèses.
	</p>
</section>
<section id="difficultes">
	<h1>Difficultés de compréhension pendant la lecture... que faire ?</h1>
	<p>
		Les difficultés de compréhension d'une notion lors d'une lecture apparaissent habituellement en raison d'une incompréhension des notions précédentes. Vous pouvez tenter de revenir en arrière dans votre lecture afin d'identifier à quel moment dans le texte cette notion ou cette idée fut discutée pour la première fois. De plus, il est souvent possible de consulter un autre document sur le même sujet, ce qui peut aider. Finalement, n'hésitez pas à consulter vos collègues, la professeure ou le professeur ou encore son assistante ou son assistant. Un apprentissage exige par moments la consultation d'autres personnes ; c'est normal.
	</p>
</section>
<section id="resume">
	<h1>Comment lire un texte scientifique ou une thèse en vue d'un résumé ou d'une analyse ?</h1>
	<p>
		Voir également la section concernant les travaux écrits. Bien comprendre la description du travail à faire avant de commencer la lecture du texte.
	</p>
	<ul>
		<li>
			Ayez un crayon en main lors de la lecture ! 
		</li>
		<li>
			Lisez rapidement le texte au complet ou en partie (selon son ampleur), sans vous attarder aux détails. Recherchez l'idée principale, ce que l'auteur ou l'auteure veut prouver. 
		</li>
		<li>
			Identifiez la signification des termes inconnus par écrit, notamment s'ils sont répétés fréquemment. 
		</li>
		<li>
			Par la suite, lisez d'une façon plus détaillée et tentez de trouver une réponse aux questions suivantes : Qu'est-ce que l'auteure ou l'auteur désire prouver ? Quels sont les points principaux ? À quelle idée principale se réfèrent ces points ? Les exemples ne sont pas des points principaux. 
		</li>
		<li>
			Tentez d'identifier la structure des paragraphes et les grands thèmes couverts par ceux-ci. Pour chaque thème, il y a habituellement des sous-thèmes. Écrivez la structure que vous faites ressortir de ce texte par thèmes et sous-thèmes. Normalement, vous devriez conserver la logique de l'auteur : son idée principale et les points qui la sous-tendent. À ce moment, tentez un premier jet si vous avez à écrire sur ce texte. 
		</li>
		<li>
			Toujours prendre des notes parallèlement à votre lecture et structurer ces notes à mesure.
		</li>
	</ul>
</section>
<section id="se-perdre">
	<h1>Pour ne pas vous perdre dans la matière</h1>
	<p>
		À moins d'un avis contraire de vos professeures ou professeurs, il est suggéré de maîtriser en premier les notions développées pendant les cours magistraux et d'avoir réussi les exercices lorsque vous révisez l'ensemble de la matière. Faites attention de ne pas vous éparpiller dans différentes lectures sans avoir de priorités quant aux notions à réviser et à mémoriser.
	</p>
</section>
<section id="trop-temps">
	<h1>« Mes lectures prennent trop de temps »</h1>
	<p>
		Plusieurs raisons peuvent expliquer l'augmentation du temps requis pour vos lectures. Si vous avez des difficultés de concentration, vous pouvez consulter les informations sur ce thème dans la section correspondante. De plus, peut-être essayez-vous de mémoriser les informations en même temps vous faites une première lecture. Dans ce cas, il est préférable de dégager et de comprendre les points principaux en lisant et de faire un exercice de mémorisation par la suite. Finalement, il est possible d'augmenter votre vitesse de lecture par la pratique d'exercices. Par exemple, vous pouvez faire l'exercice suivant une fois par jour : pointez les mots d'un texte à l'aide d'un crayon, que vous déplacez à votre vitesse normale de lecture. Vos yeux suivent alors ce crayon qui défile sous le texte à lire. Par la suite, faites défiler le crayon deux fois plus rapidement sur le texte et tentez de le suivre en lisant. Faites cet exercice deux minutes par jour. Sans être magique, la pratique de cette stratégie peut augmenter la vitesse de lecture de manière significative. 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<h2>Liens Internet</h2>
	<p><cite>
		The Unabridged Student Counseling Virtual Pamphlet Collection : <a href="http://www.dr-bob.org/vpc/virtulets.html" title="The Unabridged Student Counseling Virtual Pamphlet Collection" target="_blank">http://www.dr-bob.org/vpc/virtulets.html</a>
	</cite></p>
	<p><cite>
		Guide format PDF: <a href="wp-content/uploads/2014/11/Guide_Concentration.pdf" title="La concentration et la gestion du temps" target="_blank">La concentration et la gestion du temps</a>. 
	</cite></p>
	<h2>Livres</h2>
	<p><cite>
		Beaud, M. &amp; Daniel, L. (1988). L'art de la thèse. Les éditions Boréal.
	</cite></p>
	<p><cite>
		Bégin, C. (1992). Devenir efficace dans ses études. Éditions Beauchemin.
	</cite></p>
	<p><cite>
		Boucher, F. &amp; Avard, J. (1984). Réussir ses études. Éditions de Mortagne. 
	</cite></p>
	<p><cite>
		Burka, J.B. &amp; Yuen, L.M. (1986). Pourquoi remettre à plus tard ? Le jour, éditeur.
	</cite></p>
	<p><cite>
		Dionne, B. (1990). Pour réussir. Éditions Études Vivantes. 
	</cite></p>
	<p><cite>
		Gauthier, L. &amp; Poulin, N. (1987). Savoir apprendre (2e édition). Les éditions de l'Université de Sherbrooke. 
	</cite></p>
	<p><cite>
		Goulet, L. &amp; Lépine, G. (1986). Cahier de méthodologie (3e édition). Les éditions de l'Université du Québec à Montréal. 
	</cite></p>
	<p><cite>
		Pauk, W. (1998). Study skills for college athletes. H&amp;H Publishing company. 
	</cite></p>
	<p><cite>
		Tremblay, R.R. &amp; Perrier, Y. (2000). Savoir plus. Les éditions de la Chenelière. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Dominique Dubé, psychologue
	</p>
</footer>
