<p>
	Vous pouvez télécharger gratuitement ces guides. Il est aussi possible d'acheter une version cartonnée en communiquant avec <a href="{{LIEN}}nous-joindre" title="Nous joindre" target="_blank">nous</a>.
</p>
<ul>
	<li class="pdf">
		<a href="wp-content/uploads/2014/11/Guide_Concentration.pdf" title="La concentration et la gestion du temps" target="_blank">La concentration et la gestion du temps</a>
	</li>
	<li class="pdf">
		<a href="wp-content/uploads/2014/11/Guide_Lecture.pdf" title="La lecture active et la mémorisation" target="_blank">La lecture active et la mémorisation</a>
	</li>
	<li class="pdf">
		<a href="wp-content/uploads/2014/11/Guide_Ecoute.pdf" title="L'écoute en classe et la prise de notes" target="_blank">L'écoute en classe et la prise de notes</a>
	</li>
	<li class="pdf">
		<a href="wp-content/uploads/2014/11/Guide_Examen.pdf" title="La préparation aux examens et les examens" target="_blank">La préparation aux examens et les examens</a>
	</li>
	<li class="pdf">
		<a href="wp-content/uploads/2014/11/Guide_Procrastination.pdf" title="Surmonter la procrastination" target="_blank">Surmonter la procrastination</a>
	</li>
	<li class="pdf">
		<a href="wp-content/uploads/2014/11/Guide_Travaux_longs.pdf" title="Les travaux longs" target="_blank">Les travaux longs</a>
	</li>
	<li class="pdf">
		<a href="wp-content/uploads/2014/11/Guide_Exposes_oraux.pdf" title="Les exposés oraux" target="_blank">Les exposés oraux</a>
	</li>
	<li class="pdf">
		<a href="wp-content/uploads/2014/11/Guide_Motivation.pdf" title="La motivation" target="_blank">La motivation</a>
	</li>
</ul>