<p>
	Les études universitaires visent différents objectifs, dont celui de comprendre en profondeur les notions présentées. Effectivement, il est primordial de bien comprendre les notions étudiées, mais il faut aussi s'en souvenir ! ! Or, plusieurs étudiantes et étudiants sous-estiment la mémorisation pour leur préparation aux examens. Il est fréquent que les examens demandent une bonne mémorisation des notions développées lors de la session. Il est donc important de prendre les moyens afin d'y arriver. Cela permettra de soutenir votre compréhension des notions lors de l'évaluation.
</p>
<nav>
	<ul>
		<li><a href="#priorites" title="Une première étape : la sélection des priorités">Une première étape : la sélection des priorités</a></li>
		<li><a href="#recitation" title="La récitation... difficile de s'en passer !">La récitation... difficile de s'en passer !</a></li>
		<li><a href="#reviser" title="Révisez rapidement les notions mémorisées... pour ne pas repartir à zéro">Révisez rapidement les notions mémorisées... pour ne pas repartir à zéro</a></li>
		<li><a href="#memorisation" title="Mémorisation sous forme de mots et d'images">Mémorisation sous forme de mots et d'images</a></li>
		<li><a href="#pause" title="Prenez une pause... pour mieux intégrer l'information">Prenez une pause... pour mieux intégrer l'information</a></li>
		<li><a href="#alterner" title="Alternez les matières étudiées, ainsi que le type d'étude">Alternez les matières étudiées, ainsi que le type d'étude</a></li>
		<li><a href="#courtes-periodes" title="Les courtes périodes d'étude ou de révision ne sont pas inutiles !">Les courtes périodes d'étude ou de révision ne sont pas inutiles !</a></li>
		<li><a href="#imagination" title="Utilisez votre imagination... pour faire des associations">Utilisez votre imagination... pour faire des associations</a></li>
		<li><a href="#blanc-de-memoire" title="« J'ai un blanc de mémoire à l'examen... quoi faire ? »">« J'ai un blanc de mémoire à l'examen... quoi faire ? »</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="priorites">
	<h1>Une première étape : la sélection des priorités</h1>
	<p>
		Tentez d'identifier les notions prioritaires à mémoriser. Pour la majorité des cours de premier cycle, commencez par les notions développées directement lors du cours (s'il s'agit de cours magistraux) et les exercices, s'il y a lieu. Les lectures préparatoires aux cours vous permettront de mieux suivre lors de la séance, cependant il est préférable de débuter par la mémorisation des notions principales que de tenter de mémoriser tous les détails des manuels. S'il y a des questions en fin de chapitre dans vos lectures, vous pouvez les utiliser afin de cibler les notions à mémoriser. Évidemment, il y a différentes méthodes d'enseignement et d'évaluation. Consultez vos professeurs ou professeures en cas de doute.
	</p>
</section>
<section id="recitation">
	<h1>La récitation... difficile de s'en passer !</h1>
	<p>
		Afin d'emmagasiner l'information en mémoire à long terme, la majorité des personnes doivent utiliser la récitation, c'est-à-dire qu'elles doivent tester leur mémoire sans le support du texte écrit qu'elles désirent retenir. Lorsque vous identifiez une notion à mémoriser, étudiez-la afin d'obtenir une bonne compréhension. Par la suite, tentez de dire (ou d'écrire) la notion sans regarder votre document. Le fait de tester votre mémoire sans le support du texte vous permettra de stimuler beaucoup plus votre mémoire que la lecture seule. Dans la majorité des cours de premier cycle, l'idéal serait de réciter l'information afin de pouvoir vous souvenir du matériel exactement et rapidement lors de l'examen. Les exigences de mémorisation peuvent cependant varier. À la suite du premier examen, vous pourrez ajuster votre méthode.
	</p>
</section>
<section id="reviser">
	<h1>Révisez rapidement les notions mémorisées... pour ne pas repartir à zéro</h1>
	<p>
		Afin de fortifier votre mémoire, revenez rapidement sur ce que vous avez récité, et ce, à mesure que vous avancez dans la matière. Testez votre mémoire après de courtes parties de matière. Cela évitera de reprendre à zéro votre mémorisation à toutes les fois que vous reprenez l'étude d'une même matière. Pour ce faire, vous pouvez utiliser des résumés sous forme de mots-clés qui vous permettront de tester vos connaissances. Voici un exemple :
	</p>
	<p>
		Imaginons une partie de texte qui présente les cinq principales caractéristiques de la théorie XYZ. Votre résumé pourrait comprendre uniquement les mots suivants : « 5 caractéristiques théorie XYZ (p. 145) ». Lors de votre révision, vous devrez vous souvenir des caractéristiques en question. Si vous avez oublié l'information, retournez au texte à la page identifiée.
	</p>
	<p>
		De plus, revenez rapidement sur ce que vous avez appris à la fin de votre période d'étude. Vous pouvez le faire en tentant de vous remémorer les notions, en relisant ce que vous avez souligné, en parlant des informations à quelqu'un ou en utilisant la stratégie de résumé ci-dessus. Prenez au moins dix minutes de révision pour chaque heure d'étude que vous avez fait. Si vous ne revenez pas rapidement sur les notions apprises, il est très probable que vous en oublierez une bonne partie dans les 24 heures qui suivent. Bien tester votre mémoire après une période d'étude améliore l'efficacité de la prochaine période.
	</p>
</section>
<section id="memorisation">
	<h1>Mémorisation sous forme de mots et d'images</h1>
	<p>
		Afin d'utiliser l'ensemble de vos capacités, vous pouvez tenter de mémoriser une notion sous forme de mots et également d'images. Il est possible de transformer un concept en image ; cette stratégie favorise la mémoire.
	</p>
</section>
<section id="pause">
	<h1>Prenez une pause... pour mieux intégrer l'information</h1>
	<p>
		En plus d'aider à la concentration, les pauses facilitent le transfert de l'information en mémoire à long terme en permettant à cette information de s'intégrer aux connaissances déjà maîtrisées. Cependant, ce phénomène naturel se réalise dans la mesure où il y a une certaine détente des facultés intellectuelles. Prenez des pauses de 10 minutes à chaque 50 minutes. Lors de ces pauses, vous pouvez, si possible, bouger un peu, bien respirer, prendre de l'air frais. Évitez un loisir que vous aimez beaucoup lors de ces pauses ; vous pourriez oublier le temps qui passe.
	</p>
</section>
<section id="alterner">
	<h1>Alternez les matières étudiées, ainsi que le type d'étude</h1>
	<p>
		Les capacités de mémorisation ainsi que la motivation peuvent diminuer si vous tentez d'étudier pendant plusieurs heures le même type de matière. Si c'est possible, vous pouvez alterner le type de tâche, par exemple en passant d'une étude de notions théoriques à la résolution de problèmes ou d'exercices.
	</p>
</section>
<section id="courtes-periodes">
	<h1>Les courtes périodes d'étude ou de révision ne sont pas inutiles !</h1>
	<p>
		Si vous étudiez des notions qui sont plus difficiles à retenir pour vous, de courtes périodes de révision pourraient être utiles et efficaces. Vous pouvez écrire sur un petit carton une question qui réfère à la notion qui pose problème et écrire la réponse à l'endos. Vous pouvez utiliser ces petites cartes à différents moments, par exemple lorsque vous attendez un ami, dans une file d'attente, dans l'autobus ou autres. Ces courtes périodes de questionnement peuvent vous faire sauver du temps d'étude et améliorer votre efficacité.
	</p>
</section>
<section id="imagination">
	<h1>Utilisez votre imagination... pour faire des associations</h1>
	<p>
		Vous pouvez faire des associations entre la notion à mémoriser et des exemples d'application, des utilités possibles, des expériences personnelles qui pourraient référer de près ou de loin à la notion ou à des notions déjà maîtrisées. Les associations stimulent la mémoire à long terme.
	</p>
</section>
<section id="blanc-de-memoire">
	<h1>« J'ai un blanc de mémoire à l'examen... quoi faire ? »</h1>
	<p>
		Premièrement, ne pas paniquer ! Une anxiété élevée interfère avec la mémoire (voir le texte <a href="{{LIEN}}examens" title="La préparation des examens" target="_blank">La préparation des examens</a>). Tentez plutôt de diriger votre pensée sur la matière, mais de façon générale plutôt qu'en vous orientant essentiellement sur la réponse recherchée. Posez-vous des questions telles que « qu'est-ce que j'ai appris dans ce cours ? », « quel était le sujet général ? », « quel type d'exercices ai-je fait ? ». Par la suite, tentez de rapprocher votre esprit du chapitre pertinent à la notion, par exemple en vous demandant « qu'est-ce que j'ai vu d'autre dans ce chapitre ? ». Ce type de réflexion permet de stimuler les liens entre les notions, ce qui peut aider à retrouver l'information. Si vous ne retrouvez pas l'information, changez de question pour y revenir plus tard. 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<h2>Liens Internet</h2>
	<p><cite>
		The Unabridged Student Counseling Virtual Pamphlet Collection : <a href="http://www.dr-bob.org/vpc/virtulets.html" title="The Unabridged Student Counseling Virtual Pamphlet Collection" target="_blank">http://www.dr-bob.org/vpc/virtulets.html</a>
	</cite></p>
	<p><cite>
		Guide format PDF: <a href="wp-content/uploads/2014/11/Guide_Concentration.pdf" title="La concentration et la gestion du temps" target="_blank">La concentration et la gestion du temps</a>. 
	</cite></p>
	<h2>Livres</h2>
	<p><cite>
		Beaud, M. &amp; Daniel, L. (1988). L'art de la thèse. Les éditions Boréal.
	</cite></p>
	<p><cite>
		Bégin, C. (1992). Devenir efficace dans ses études. Éditions Beauchemin.
	</cite></p>
	<p><cite>
		Boucher, F. &amp; Avard, J. (1984). Réussir ses études. Éditions de Mortagne. 
	</cite></p>
	<p><cite>
		Burka, J.B. &amp; Yuen, L.M. (1986). Pourquoi remettre à plus tard ? Le jour, éditeur.
	</cite></p>
	<p><cite>
		Dionne, B. (1990). Pour réussir. Éditions Études Vivantes. 
	</cite></p>
	<p><cite>
		Gauthier, L. &amp; Poulin, N. (1987). Savoir apprendre (2e édition). Les éditions de l'Université de Sherbrooke. 
	</cite></p>
	<p><cite>
		Goulet, L. &amp; Lépine, G. (1986). Cahier de méthodologie (3e édition). Les éditions de l'Université du Québec à Montréal. 
	</cite></p>
	<p><cite>
		Pauk, W. (1998). Study skills for college athletes. H&amp;H Publishing company. 
	</cite></p>
	<p><cite>
		Tremblay, R.R. &amp; Perrier, Y. (2000). Savoir plus. Les éditions de la Chenelière. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Dominique Dubé, psychologue
	</p>
</footer>
