<p>
	La rentrée scolaire et ses expériences stimulantes vous semblent bien loin derrière... L'attrait de la nouveauté (nouveau milieu, nouvelles personnes, nouveaux cours) s'est passablement dissipé. Dépassée l'euphorie du début ; vous êtes en perte de vitesse... Vous pensiez pourtant avoir pris un bon élan ! Apprendre prend du temps et de l'énergie. Pas toujours facile de maintenir votre motivation, de vous investir au quotidien, quand l'objectif que vous poursuivez est encore éloigné et vous paraît peut-être même hors d'atteinte.
</p>
<nav>
	<ul>
		<li><a href="#motivation" title="Motivation = énergie orientée vers un but">Motivation = énergie orientée vers un but</a></li>
		<li><a href="#prendre-soin" title="Les avantages de prendre soin de votre motivation">Les avantages de prendre soin de votre motivation</a></li>
		<li><a href="#indices" title="Les indices de la démotivation">Les indices de la démotivation</a></li>
		<li><a href="#demotivation" title="Bien évaluer les sources de votre démotivation">Bien évaluer les sources de votre démotivation</a></li>
		<li><a href="#considerations" title="Pour vous motiver : quelques considérations">Pour vous motiver : quelques considérations</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="motivation">
	<h1>Motivation = énergie orientée vers un but</h1>
	<p>
		<q>Qu'est-ce que je fais ici ?</q><br>
		<q>Faire ça ou autre chose...</q><br>
		<q>Ça ne mène à rien de faire ces cours...</q><br>
		<q>C'est trop forçant.</q>
	</p>
	<p>
		Si ce discours est celui qui vous envahit peu à peu, vous êtes peut-être en panne de motivation. Graduellement, vous négligez vos études, vous accumulez du retard, ce qui, en retour, vous démobilise davantage. Vous pouvez consulter le guide en format pdf sur <a href="wp-content/uploads/2014/11/Guide_Motivation.pdf" title="la motivation" target="_blank">la motivation</a> pour une description des facteurs déterminants et des indicateurs de la motivation. 
	</p>
</section>
<section id="prendre-soin">
	<h1>Les avantages de prendre soin de votre motivation</h1>
	<p>
		Durant vos études universitaires, il est normal que votre motivation fluctue, il est même sain de vous remettre en question en cours de route. La motivation est un état dynamique qui évolue et qui doit être entretenu et activé régulièrement. Même si elle dépend de plusieurs facteurs, dont certains peuvent être hors de votre contrôle, vous seul ou seule êtes en mesure de l'influencer, puisqu'elle origine de vos perceptions. Prendre soin de votre motivation vous permettra de retirer beaucoup plus de plaisir de votre passage à l'université. Par conséquent, la qualité de vos apprentissages en sera améliorée. Une bonne motivation vous aidera aussi à faire face aux périodes plus difficiles, à persévérer en cas de difficultés.
	</p>
</section>
<section id="indices">
	<h1>Les indices de la démotivation</h1>
	<ul>
		<li>
			Indices physiques : fatigue, apathie. 
		</li>
		<li>
			Indices émotionnels : culpabilité, ennui, frustration, découragement. 
		</li>
		<li>
			Indices comportementaux : excuses pour ne pas étudier, absences aux cours, échecs. 
		</li>
		<li>
			Indices cognitifs : baisse de concentration, difficulté de mémorisation. 
		</li>
	</ul>
	<p>
		Cependant, attention ! L'étudiante ou l'étudiant motivé n'est pas libre de toute contrainte ni toujours satisfait de ses performances. Il peut aussi lui arriver de douter, d'avoir moins le goût d'étudier ou de ne pas se sentir à la hauteur. Il ne faut pas confondre être motivé (état qui pousse à agir vers l'atteinte d'un but qui a du sens) et être passionné (être animé, emballé pour quelque chose) ! En d'autres mots, pas besoin d'être passionné pour être motivé !
	</p>
</section>
<section id="demotivation">
	<h1>Bien évaluer les sources de votre démotivation</h1>
	<p>
		Depuis un certain temps, vous constatez que vous êtes démotivé ou démotivée face à vos études. Quels sont les aspects qui vous démotivent ? À l'inverse, qu'est-ce qui vous motive ou aiderait à vous sentir plus motivée ou motivé ? Lorsque vous repensez à une période où vous étiez motivé ou motivée face à vos études, qu'y avait-il de différent ? Installez-vous, crayon et papier en main, et prenez quelques instants afin de préciser la source de vos déceptions (ex. : compétition entre les étudiants et étudiantes), insatisfactions (ex. : enseignement trop axé sur les théories) et difficultés (ex. : exigences du programme). Tentez de mettre le doigt sur des facteurs précis et de trouver des moyens d'agir plutôt que de rester dans le vague. 
	</p>
	<p>
		Parmi les causes possibles de démotivation, en voici quelques-unes fréquemment rencontrées chez les étudiants et étudiantes qui nous consultent. 
	</p>
	<ul>
		<li>
			Manque de correspondance entre vos perceptions et la réalité. Vos perceptions et attentes face à vos études ne peuvent correspondre à 100 % à la réalité à laquelle vous faites face. À titre d'exemple, certains cours plus théoriques ou fondamentaux vous sembleront peut-être inutiles, en comparaison à l'apprentissage de notions plus concrètes, ce qui peut affecter votre motivation. Pourtant, l'enseignement de ces notions vous permet d'acquérir des connaissances et des qualités de base (ex. : rigueur, capacité d'analyse et d'abstraction), qui constituent votre force comme étudiante ou étudiant universitaire !
		</li>
		<li>
			Orientation scolaire : l'intérêt porté à votre programme d'étude est remis sérieusement en question. Tenez-vous bien informé ou informée des différentes options qui s'offrent à vous et consultez les <a href="{{LIEN}}orientation" title="ressources nécessaires" target="_blank">ressources nécessaires</a> pour vous sortir de cette impasse.
		</li>
		<li>
			Humeur dépressive : depuis quelques temps, vous vous sentez triste, facilement découragé ou découragée, vous voyez tout comme des montagnes, vous dormez plus ou moins bien que d'habitude, vous manquez d'énergie et de concentration, vous vous sentez fatigué ou fatiguée, vous n'avez pas d'appétit, vous vous dévalorisez facilement. Vous pouvez consulter la section <a href="{{LIEN}}psychologie" title="Santé psychologique" target="_blank">Santé psychologique</a>.
		</li>
		<li>
			Mauvaises performances scolaires : vous faites des efforts, mais ceux-ci ne portent pas fruit. À l'université, il est plus difficile de se démarquer des autres. Pour chacune des tâches reliées à vos études, savez-vous quoi faire et comment le faire ? Vous pouvez consulter les différents textes au sujet des méthodes d'étude dans ce site.
		</li>
		<li>
			Manque d'engagement : en dehors de vos périodes de cours, l'université offre peu de structure (personne n'est là pour vous surveiller et pour vérifier si vous faites votre travail). Passer davantage de temps à l'université peut être un moyen de vous investir davantage dans vos apprentissages et de développer un plus grand sentiment d'appartenance. Bien qu'un emploi rémunéré hors de vos études puisse être source de motivation, cela peut aussi entraîner la démotivation si le nombre d'heures que vous lui consacrez est trop élevé.
		</li>
		<li>
			La procrastination : la tendance à reporter vos tâches scolaires à plus tard entraîne inévitablement un retard et des émotions négatives, qui peuvent vous démotiver. Consultez le texte sur <a href="{{LIEN}}procrastination" title="la procrastination" target="_blank">la procrastination</a>.
		</li>
		<li>
			Les attributions : les attributions réfèrent à la façon dont une personne perçoit les causes de ce qui lui arrive. Attribuer vos difficultés ou vos échecs à votre manque d'intelligence, au professeur ou à la professeure, au « système », plutôt qu'à des stratégies d'apprentissages inadéquates, à un manque d'efforts ou à votre attitude peut contribuer à entretenir la démotivation. De même, attribuer vos succès à la chance plutôt qu'à vos compétences n'est pas tellement encourageant...
		</li>
	</ul>
</section>
<section id="considerations">
	<h1>Pour vous motiver : quelques considérations</h1>
	<ul>
		<li>
			Les périodes d'étude trop longues sont démotivantes, car vous avez alors tendance à travailler plus lentement et vous restez ainsi avec l'impression de ne pas avancer. Planifiez des périodes courtes mais fréquentes pour vous inciter à vous mettre à la tâche. La motivation vient avec le sentiment d'être productif ou productive.
		</li>
		<li>
			Définissez-vous des buts plus spécifiques et à plus court terme (ex. : fin de la session, fin de l'année scolaire). Votre comportement est beaucoup plus soumis au contrôle des conséquences à court terme (ex. : dire oui à une invitation de sortie) qu'à celles qui s'actualiseront dans un avenir lointain (ex. : obtenir son diplôme). Ce qui est satisfaisant dans l'immédiat peut entrer en conflit avec vos meilleurs intérêts pour l'avenir. Pour agir de manière conséquente avec les buts poursuivis, vous devez développer de l'autocontrôle au quotidien (prendre des mesures pour que les activités dont l'effet gratifiant est plus immédiat ne l'emportent pas toujours sur celles qui sont plus arides mais plus profitables à long terme). Tentez également de voir les effets positifs à court terme d'effectuer votre travail : satisfaction personnelle, diminution du stress, loisirs plus agréables, augmentation des notes, etc. Tentez de trouver d'autres bonnes raisons que « parce qu'il le faut »... 
		</li>
		<li>
			Faites suivre vos efforts d'activités agréables. Ces activités en seront même plus satisfaisantes ! Écouter la télévision toute la soirée est-il si emballant que cela en a l'air ? Cela n'entraîne-t-il pas aussi un sentiment de déception et de culpabilité, une impression de ne pas progresser ? Ces activités sont plus plaisantes quand elles sont utilisées comme renforcement après avoir accompli certaines tâches. 
		</li>
		<li>
			Ayez toujours en tête les raisons d'exécuter une tâche. Tentez d'entrevoir ce qu'elle vous permet d'acquérir sur le plan personnel, au delà des exigences immédiates de la professeure ou du professeur, ou encore de la réussite du cours : savoir établir et respecter vos priorités, gérer votre temps et planifier votre travail, apprendre à persister malgré les obstacles, développer des capacités de résolution de problèmes, etc. Ceci vaut particulièrement pour les tâches rebutantes : pratiquer votre patience, être débarrassé ou débarrassée, renforcer votre autodiscipline... Tentez d'adopter une vision large, surtout en début de formation, et ne rejetez pas une matière d'emblée parce que vous n'y voyez pas d'utilité immédiate évidente. Une attitude de rejet et de fermeture ne vous avancera à rien. 
		</li>
		<li>
			On développe une aversion pour une discipline avant tout parce qu'on n'y réussit pas. Sortez du cercle vicieux : ne pas être intéressé ou intéressée à travailler parce que vous ne réussissez pas, mais ne pas avoir la satisfaction de réussir parce que vous n'êtes pas intéressé ou intéressée à travailler. Souvent, une telle attitude vous conduira à l'échec et à la reprise du cours, ce qui n'a rien de bien motivant. Sachez reconnaître si vous avez besoin de plus d'encadrement et consultez les ressources à votre disposition sur le campus.
		</li>
	</ul>
	<p>
		D'autres stratégies sont aussi suggérées dans le guide en format pdf sur <a href="wp-content/uploads/2014/11/Guide_Motivation.pdf" title="la motivation scolaire" target="_blank">la motivation scolaire</a>.
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<h2>Liens Internet</h2>
	<p><cite>
		<s>The Unabridged Student Counseling Virtual Pamphlet Collection : 
		<a href="http://ub-counseling.buffalo.edu/vpc.html" title="http://ub-counseling.buffalo.edu/vpc.html" target="_blank">http://ub-counseling.buffalo.edu/vpc.html</a></s>
	</cite></p>
	<p><cite>
		<a href="wp-content/uploads/2014/11/Guide_Motivation.pdf" title="Guide PDF : La motivation" target="_blank">Guide PDF : La motivation</a>
	</cite></p>
	<h2>Livres</h2>
	<p><cite>
		Beaud, M. &amp; Daniel, L. (1988). L'art de la thèse. Les éditions Boréal. 
	</cite></p>
	<p><cite>
		Bégin, C. (1992). Devenir efficace dans ses études. Éditions Beauchemin. 
	</cite></p>
	<p><cite>
		Boucher, F. &amp; Avard, J. (1984). Réussir ses études. Éditions de Mortagne. 
	</cite></p>
	<p><cite>
		Burka, J.B. &amp; Yuen, L.M. (1986). Pourquoi remettre à plus tard ? Le jour, éditeur. 
	</cite></p>
	<p><cite>
		Dionne, B. (1990). Pour réussir. Éditions Études Vivantes. 
	</cite></p>
	<p><cite>
		Gauthier, L. &amp; Poulin, N. (1987). Savoir apprendre (2e édition). Les éditions de l'Université de Sherbrooke. 
	</cite></p>
	<p><cite>
		Goulet, L. &amp; Lépine, G. (1986). Cahier de méthodologie (3e édition). Les éditions de l'Université du Québec à Montréal. 
	</cite></p>
	<p><cite>
		Pauk, W. (1998). Study skills for college athletes. H&amp;H Publishing company. 
	</cite></p>
	<p><cite>
		Tremblay, R.R. &amp; Perrier, Y. (2000). Savoir plus. Les éditions de la Chenelière.
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Véronique Mimeault, psychologue
	</p>
</footer>
