<p>
	Exprimer par écrit l'objet de sa pensée est une tâche fort complexe et fort exigeante. Cela demande une grande concentration et des efforts intellectuels considérables. La rédaction d'un essai, d'un mémoire de maîtrise ou d'une thèse de doctorat n'échappe pas à cette règle et comporte des risques. Alors qu'au premier cycle, les travaux écrits, quoique notés, ne doivent pas être repris et corrigés, aux cycles supérieurs, il faut compter souvent plusieurs versions avant d'en arriver au produit final. 
</p>
<p>
	Devant cet état de fait, peu étonnant qu'en période de rédaction, bon nombre d'étudiantes et d'étudiants se heurtent à certaines embûches. Nous vous présentons, dans le texte qui suit, divers obstacles qui peuvent surgir au cours de cette période et nous vous offrons des pistes de solutions afin de les surmonter.
</p>
<nav>
	<ul>
		<li><a href="#isolement" title="L'isolement et le sentiment de solitude">L'isolement et le sentiment de solitude</a></li>
		<li><a href="#reconaissance" title="Le manque de reconnaissance et de compréhension">Le manque de reconnaissance et de compréhension</a></li>
		<li><a href="#inutilite" title="Le sentiment d'inutilité">Le sentiment d'inutilité</a></li>
		<li><a href="#incompetence" title="Le sentiment d'incompétence">Le sentiment d'incompétence</a></li>
		<li><a href="#objectif" title="La perte de vue de l'objectif et des priorités">La perte de vue de l'objectif et des priorités</a></li>
		<li><a href="#manque-inspiration" title="Le manque d'inspiration">Le manque d'inspiration</a></li>
		<li><a href="#manque-motivation" title="Le manque de motivation">Le manque de motivation</a></li>
		<li><a href="#mettre-a-la-tache" title="Les difficultés à se mettre à la tâche">Les difficultés à se mettre à la tâche</a></li>
		<li><a href="#surcharge" title="L'impression de surcharge">L'impression de surcharge</a></li>
		<li><a href="#anxiete" title="L'anxiété">L'anxiété</a></li>
		<li><a href="#epuisement" title="L'épuisement">L'épuisement</a></li>
		<li><a href="#conclusion" title="Conclusion">Conclusion</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="isolement">
	<h1>L'isolement et le sentiment de solitude</h1>
	<p>
		La solitude est le problème le plus souvent évoqué par les étudiantes et les étudiants des cycles supérieurs. Alors qu'au premier cycle on fait partie d'un groupe, aux deuxième et troisième cycles on se retrouve souvent seul à travailler sur un projet à long terme. Cela est d'autant plus vrai lorsque vient le moment de la rédaction de l'essai, du mémoire ou de la thèse, qui est en soi une activité solitaire. 
	</p>
	<p>
		Afin de combattre cette solitude, intégrez-vous à un centre ou à une équipe de recherche, où des gens pourront vous accorder soutien et conseils. S'il n'en existe pas dans votre domaine, rien ne vous empêche de prendre vous-même l'initiative de former un groupe de soutien ou de travail. 
	</p>
	<p>
		Venez travailler à l'université, ou encore partagez un bureau avec d'autres étudiantes et étudiants. Une fois sur place, profitez-en pour prendre des pauses avec les gens présents et pour participer aux activités départementales, qu'elles soient sociales ou scientifiques. 
	</p>
	<p>
		Ne négligez pas votre vie sociale. Trop souvent, les étudiantes et étudiants en processus de rédaction adoptent un mode de vie monastique et n'entretiennent pas leurs relations interpersonnelles. Maintenez contact avec vos amis et faites-vous en de nouveaux, parmi ceux et celles que vous côtoyez dans le cadre de votre projet. Il est nettement avantageux d'avoir des amis qui connaissent et comprennent la réalité des études supérieures. 
	</p>
	<p>
		Enfin, vous pouvez faire usage des nouvelles technologies. Gardez contact avec l'extérieur en utilisant des ressources Internet comme le courrier électronique ou les sites de discussions.
	</p>
</section>
<section id="reconaissance">
	<h1>Le manque de reconnaissance et de compréhension</h1>
	<p>
		Au cours de la rédaction de l'essai, du mémoire ou de la thèse, les étudiantes et étudiants peuvent donner à leur entourage l'impression de ne pas être très occupés. C'est à ce moment que vous pouvez entendre des commentaires pour le moins désagréables tels que « tu ne travailles pas vraiment, tu restes chez toi, à la maison » ; « tu ne fais qu'écrire et pelleter des nuages » ; « quand deviendras-tu utile à la société ? ». À l'usure, ce type de remarques peut miner votre motivation et la confiance que vous avez en vous ou en votre projet. 
	</p>
	<p>
		ans ces circonstances, il devient impératif d'expliquer à votre entourage ce que vous faites, ce que cela exige et ce que cela représente pour vous et votre domaine de recherche. Les gens qui n'ont pas fait d'études supérieures ne saisissent pas toujours très bien l'ampleur et l'utilité de votre démarche. Aussi, sachez vous entourer de gens qui font ou ont déjà fait la même chose que vous. Partagez avec eux vos joies et vos peines. Ils seront à même de comprendre ce que vous vivez, de vous conseiller ou de vous appuyer.
	</p>
</section>
<section id="inutilite">
	<h1>Le sentiment d'inutilité</h1>
	<p>
		Dans bien des cas, il arrive un moment où on se demande à quoi sert ce que l'on fait. La recherche pourrait se comparer au nombre infini de gouttes qui composent un océan. Il est tout à fait normal, lorsque nous focalisons toute notre attention sur une seule de ces gouttes, de s'interroger sur le bien fondé de nos activités de recherche. 
	</p>
	<p>
		Lorsque cela se produit, c'est signe que le temps est probablement venu de rendre visite à votre directrice ou directeur de recherche. Il pourrait également être avantageux d'assister à des conférences ou de participer à des colloques. Vous y rencontrerez des gens qui travaillent dans votre domaine, qui partagent votre intérêt pour celui-ci et qui en saisissent toute la pertinence. 
	</p>
</section>
<section id="incompetence">
	<h1>Le sentiment d'incompétence</h1>
	<p>
		Il s'agit encore là d'un sentiment vécu par la plupart des étudiantes et étudiants des cycles supérieurs. Bien souvent, il apparaît au moment où, malgré un grand investissement de votre part, vous avez l'impression que la rédaction n'avance plus.
	</p>
	<p>
		Si vous avez un sentiment d'incompétence, vous êtes peut-être bloqué, bloquée et il est probablement temps de rencontrez votre directrice ou directeur. N'ayez pas peur de poser des questions et de demander des explications supplémentaires. Vos collaborateurs apprécieront les efforts que vous déployez pour vous sortir de cette impasse et ne prendront pas pour acquis que vous savez tout. Tout en reconnaissant leur qualité et leur compétence, évitez de mettre ces gens sur un piédestal, puisqu'ils ont été, comme vous, des chercheurs débutants.
	</p>
	<p>
		Le sentiment d'incompétence naît souvent d'attentes et d'objectifs trop élevés. Peut-être croyez-vous devoir écrire l'essai, le mémoire ou la thèse qui révolutionnera le domaine et marquera l'histoire ? Si tel est le cas, il serait bon de revoir ces attentes et ces objectifs et de les rendre plus réalistes. Si vous remarquez que vous avez tendance à viser toujours les plus hauts sommets, nous vous recommandons la lecture du texte ayant pour titre Le perfectionnisme : quand le mieux devient l'ennemi du bien. 
	</p>
	<p>
		Il est peut-être aussi temps de réviser et d'adapter votre approche à l'écriture. N'oubliez pas, rédiger un ouvrage d'une telle envergure est un apprentissage. Il est donc tout à fait normal d'avoir à modifier et à améliorer votre façon de générer des idées, d'organiser votre pensée, de la mettre sur papier et de résoudre les problèmes reliés à l'écriture. 
	</p>
	<p>
		Enfin, nous savons tous que la rédaction d'un document de recherche est faite d'une multitude d'actions et d'étapes à franchir. Vous pouvez donc facilement avoir l'impression, lorsque vous prenez conscience de tout ce qui reste à accomplir, que vous n'avancez pas. Afin d'éviter cela, tenez un journal de bord dans lequel vous inscrivez à chaque jour ce que vous avez fait. Votre attention sera alors portée sur ce qui a été accompli et vous alimenterez ainsi votre sentiment de compétence.
	</p>
</section>
<section id="objectif">
	<h1>La perte de vue de l'objectif et des priorités</h1>
	<p>
		Il peut vous arriver d'oublier l'objectif de votre travail et de ne plus très bien savoir où vous en êtes. C'est alors que vous perdez de vue et le début, et la fin, et que vous oubliez ce qui est prioritaire et ce qui ne l'est pas. Bien qu'il soit tout à fait normal de vous sentir parfois perdue ou perdu lors de la rédaction de travaux de recherche, nous vous invitons, si cela vous arrive, à suspendre momentanément vos travaux et à prendre du recul. Révisez votre projet et revenez à votre problématique, à vos objectifs et à vos questions de départ. Une fois que vous les avez bien cernés, écrivez-les et gardez-les à vue. La tentation de vous en éloigner sera moindre et vous resterez sur la bonne voie.
	</p>
</section>
<section id="manque-inspiration">
	<h1>Le manque d'inspiration</h1>
	<p>
		Plusieurs croient que l'inspiration arrive soudainement chez les auteurs qui attendent passivement un flot magique d'idées. L'inspiration est plutôt le fruit d'une préparation mentale. Il faut disposer votre esprit au travail d'écriture et rédiger régulièrement. Le manque d'inspiration est causé par l'irrégularité et par une mauvaise organisation personnelle. C'est pourquoi nous vous recommandons, ainsi qu'à tous ceux et celles en processus de rédaction, de réfléchir d'abord à ce que vous allez écrire, de faire un plan et de découper votre travail en sous-objectifs. Écrivez de façon régulière et continue. Si vous occupez un emploi rémunéré à horaire variable, nous vous recommandons, si cela est possible, de prendre congé pour une période afin de vous consacrer de façon plus intensive à la rédaction de votre essai, de votre mémoire ou de votre thèse.
	</p>
	<p>
		Pour plus d'information à ce sujet, nous vous invitons à lire le texte <a href="{{LIEN}}page-blanche" title="L'étape de la rédaction : surmonter le phénomène de la page blanche" target="_blank">L'étape de la rédaction : surmonter le phénomène de la page blanche</a>. 
	</p>
</section>
<section id="manque-motivation">
	<h1>Le manque de motivation</h1>
	<p>
		Afin de réussir ce que vous entreprenez, il importe d'être motivé ou motivée. Plusieurs étudiantes et étudiants des deuxième et troisième cycles manquent de motivation lorsque le moment de se mettre à l'écriture arrive, et ce, même s'ils ont débuté leur projet avec beaucoup d'enthousiasme et de motivation. Ce phénomène est tout à fait normal et fait partie du processus de recherche. Vous devez vous attendre à vivre des journées, voire des semaines, non productives où rien n'ira dans le sens où vous le désirez. L'ennui est souvent une façon, chez l'être humain, de composer avec l'inconnu et l'imprévu. Ne sautez pas trop rapidement à la conclusion que quelque chose ne fonctionne pas ou que vous n'êtes pas à votre place. 
	</p>
	<p>
		Si le manque de motivation persiste, gardez à l'esprit l'enrichissement et la satisfaction qu'apporte l'accomplissement des tâches reliées à la réalisation d'un essai, d'un mémoire ou d'une thèse. Les étudiantes et les étudiants pour qui la durée des études se prolongent oublient souvent les buts et les raisons qui les ont amenés, au départ, à entreprendre des études supérieures. Rappelez-vous vos motifs, notez-les et relisez-les régulièrement. Si vous désirez en connaître davantage sur cet obstacle, nous vous encourageons à lire le texte <a href="{{LIEN}}motivation" title="La baisse de motivation" target="_blank">La baisse de motivation</a>. 
	</p>
</section>
<section id="mettre-a-la-tache">
	<h1>Les difficultés à se mettre à la tâche</h1>
	<p>
		Beaucoup ont tendance à reporter à plus tard les tâches perçues comme étant longues et pénibles. La plupart des étudiantes et des étudiants éprouvent de la difficulté à se mettre au travail, car ils ne savent pas clairement ce qui doit être fait et comment cela doit être fait. Identifiez, avec l'aide de votre directrice ou directeur, les objectifs et les sous-objectifs à atteindre et la façon la plus simple de les atteindre. À titre d'exemple, vous pouvez, lorsque vous abordez la rédaction du cadre théorique de votre mémoire, le diviser en sous-sections et discuter avec votre directrice ou directeur de l'angle sous lequel seront traitées chacune de ces subdivisions. Une fois un sous-objectif atteint, il est important de vous en féliciter et de vous offrir une récompense. 
	</p>
	<p>
		Vous pouvez aussi varier les tâches à accomplir à chaque jour. Plutôt que de rédiger une même partie, toute la journée durant, vous pouvez, par exemple, compléter la recherche en bibliothèque ou vous consacrer à la rédaction d'une autre section. Aussi, la recommandation de découper le travail en objectifs courts et réalisables est tout à fait appropriée dans cette situation. 
	</p>
	<p>
		Si toutefois la mise en pratique de ces recommandations n'améliorait pas votre situation, nous vous invitons à lire les textes <a href="{{LIEN}}procrastination" title="La procrastination" target="_blank">La procrastination</a> et <a href="{{LIEN}}defis-gestion-temps" title="Les défis de la gestion du temps aux études supérieures" target="_blank">Les défis de la gestion du temps aux études supérieures</a>.
	</p>
</section>
<section id="surcharge">
	<h1>L'impression de surcharge</h1>
	<p>
		Cette impression survient lorsque, au fur et à mesure que vous avancez, le travail semble prendre une ampleur insoupçonnée. Plus vous développez un projet, plus vous découvrez les différentes questions que celui-ci soulève et les différents aspects qui pourraient faire, à eux seuls, l'objet d'une autre recherche. 
	</p>
	<p>
		Lorsque vous ne savez plus où donner de la tête et que vous avez l'impression qu'il y aurait tant de choses, toutes plus importantes les unes que les autres, à faire, à vérifier et à tester, prenez du recul et revenez à vos objectifs de départ. Une rencontre avec votre directrice ou directeur serait également de mise. Lorsque vous êtes hors piste, c'est son rôle de vous indiquer le chemin du retour vers le sentier principal.
	</p>
	<p>
		Il arrive parfois que ce soit l'entourage (directrice, directeur ou collègues) qui vous demande d'accomplir des tâches supplémentaires ou vous offre des contrats additionnels. La surcharge devient alors bien réelle. Si votre priorité demeure la réalisation de votre mémoire ou de votre thèse, apprenez à dire non et à déléguer. Nous vous invitons à lire le texte <a href="{{LIEN}}defis-gestion-temps" title="Les défis de la gestion du temps aux études supérieures" target="_blank">Les défis de la gestion du temps aux études supérieures</a> afin d'en connaître davantage à ce sujet. 
	</p>
</section>
<section id="anxiete">
	<h1>L'anxiété</h1>
	<p>
		Plusieurs auteurs évoquent les barrières psychologiques que doivent franchir les étudiantes et les étudiants, surtout au moment de la rédaction. Bon nombre d'entre eux vivent beaucoup d'anxiété et de stress lorsque vient le moment de produire par écrit l'essai, le mémoire ou la thèse. Certains ont pour objectif de révolutionner le domaine, d'arriver avec une idée, une conceptualisation nouvelle et originale et de produire un texte de très grande portée et de qualité exceptionnelle. Ces attentes élevées suscitent donc beaucoup de peur, d'anxiété. Un peu de pression peut avoir un effet motivant chez l'être humain mais trop peut nuire au moral et à l'efficacité. Il devient alors important d'apprendre à maîtriser cette anxiété. Afin de connaître divers moyens pour y parvenir, nous vous suggérons de lire les textes de la section <a href="{{LIEN}}stress-anxiete-scolaire" title="Stress et anxiété scolaire" target="_blank">Stress et anxiété scolaire</a> et le texte <a href="{{LIEN}}page-blanche" title="L'étape de la rédaction : surmonter le phénomène de la page blanche" target="_blank">L'étape de la rédaction : surmonter le phénomène de la page blanche</a>.
	</p>
</section>
<section id="epuisement">
	<h1>L'épuisement</h1>
	<p>
		Les étudiantes et les étudiants des cycles supérieurs doivent souvent jongler avec leurs études, le travail et la vie de famille. La conciliation de ces différentes sphères d'activité n'est pas toujours simple à réaliser. De plus, certaines et certains s'investissent en temps et en émotion à un point tel dans leur projet de recherche qu'ils deviennent incapables de fournir le moindre effort, et ce, non seulement dans leurs études, mais dans plusieurs sphères de leur vie. 
	</p>
	<p>
		Il demeure impératif de maintenir un régime de vie équilibré et de doser vos efforts. Prenez soin de votre santé en maintenant une bonne alimentation, en faisant de l'exercice et de la relaxation et en vous accordant le repos et le sommeil dont vous avez besoin. N'oubliez pas de vous offrir des temps d'arrêt et des moments de loisirs. Ne vous investissez pas uniquement dans la rédaction de votre projet : ayez d'autres activités que celles reliées à la recherche. Afin d'en connaître davantage sur l'épuisement nous vous invitons à lire le texte L'<a href="{{LIEN}}epuisement" title="épuisement étudiant" target="_blank">épuisement étudiant</a>. 
	</p>
</section>
<section id="conclusion">
	<h1>Conclusion</h1>
	<p>
		Nous vous avons présenté les principaux obstacles, entre autres tels que rapportés les étudiantes et les étudiants qui nous consultent. Nous ne prétendons pas avoir fait le tour de tous les obstacles possibles à la rédaction d'un essai, d'un mémoire ou d'une thèse. Nous espérons cependant avoir pu répondre à certaines de vos interrogations et avoir pu vous rendre la tâche un peu plus facile. 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		Beaud, M. (2003), L'art de la thèse, Paris, La Découverte.
	</cite></p>
	<p><cite>
		Bégin, C. (1995), Apprivoiser l'isolement. Le contexte (atelier III). Contenu de présentation pour les ateliers sur l'encadrement aux études supérieures [Document inédit], Université du Québec à Montréal. 
	</cite></p>
	<p><cite>
		Bourdages, L. (2001), La persistance aux études supérieures : le cas du doctorat, Québec, PUL.
	</cite></p>
	<p><cite>
		Leduc, A. (1990), La direction des mémoires et des thèses, Brossard, Behaviora.
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Louise Careau, psychologue
	</p>
</footer>
