<p>
	Le niveau de stress ressenti est souvent relié à la manière dont vous interprétez les évènements (ex. : suite à un résultat plus faible à un examen, vous pourriez vous dire « je vais échouer ma session, c'est certain »). Un discours intérieur composé d'inquiétudes, d'anticipations négatives ou de dévalorisations crée de l'angoisse et du stress. Ce type de pensées survient la plupart du temps de façon automatique à votre esprit, sans toujours tenir compte de tous les éléments de la situation. C'est pourquoi il est nécessaire de considérer vos perceptions dans le contrôle du stress et des émotions négatives en général. 
</p>
<nav>
	<ul>
		<li><a href="#emotions-negatives" title="L'évaluation des pensées qui provoquent des émotions négatives">L'évaluation des pensées qui provoquent des émotions négatives</a></li>
		<li><a href="#inquietudes" title="Maîtrisez vos inquiétudes">Maîtrisez vos inquiétudes</a></li>
		<li><a href="#indulgence" title="Soyez indulgent, indulgente envers vous-même">Soyez indulgent, indulgente envers vous-même</a></li>
		<li><a href="#conclusion" title="Conclusion">Conclusion</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="emotions-negatives">
	<h1>L'évaluation des pensées qui provoquent des émotions négatives</h1>
	<p>
		Vous arrive-t-il de vous dire des choses que vous n'oseriez pas dire à votre meilleur ami ou meilleure amie ? 
	</p>
	<p>
		Vos émotions recèlent une source importante d'information. Lorsque vous vivez des émotions négatives, arrêtez-vous un instant, prenez un papier et un crayon, puis répondez aux questions qui suivent par écrit. 
	</p>
	<ol>
		<li>
			Précisez votre malaise. (Ex.: « Je me sens stressé, stressée ou déprimé, déprimée. »)
		</li>
		<li>
			Identifiez ce que vous vous dites. (Ex.: « Si je n'ai pas un A, je suis poche. »)
		</li>
		<li>
			Analysez votre discours intérieur. (Ex.: « Est-ce que ce que je me dis est exact ? » « S'agit-il d'une hypothèse ou d'une certitude ? » « Est-ce qu'il y a des expériences qui contredisent cette façon de penser ? »)
		</li>
		<li>
			Apportez des nuances. (Ex.: « Est-ce utile de me parler de cette façon ? » « Est-ce si grave ? » « Suis-je totalement responsable ? » « Que puis-je me dire de plus exact et de plus utile ? » « Comment une autre personne pourrait-elle voir ce qui m'arrive ? » « Quelles sont mes compétences dans cette situation ? ») 
		</li>
	</ol>
	<p>
		Certaines attitudes peuvent stimuler l'anxiété et la dépression de façon plus importante. En voici quelques exemples. 
	</p>
	<p>
		<strong>Le tout ou rien</strong> : Votre pensée n'est pas nuancée. Vous classez les choses en deux seules catégories : les bonnes et les mauvaises (pas de zones grises). Par conséquent, si votre performance laisse à désirer, vous considérez votre vie comme un échec total.<br>
		<em>Exemple : Tout ou rien, noir ou blanc, bon ou mauvais, perfection ou échec, jamais ou toujours.</em>
	</p>
	<p>
		<strong>La généralisation à outrance</strong> : Un seul évènement malheureux vous apparaît comme faisant partie d'un cycle sans fin d'échecs, vous tirez une règle générale à partir de cas particuliers.<br>
		<em>Exemple: si une fois, toujours ; si pas maintenant, jamais ; si un élément négatif, tout est négatif ; si inconfort, panique.</em>
	</p>
	<p>
		<strong>Le filtre</strong> : Vous choisissez un aspect négatif et, tout en ignorant les autres aspects importants, vous vous attardez à un tel point à ce petit détail de la situation que toute votre vision de la réalité en est faussée. C'est comme une goutte d'encre qui vient teinter un plein contenant d'eau.<br>
		<em>Exemple : vous préoccuper d'un commentaire négatif que votre partenaire vous fait, en ne tenant plus compte des commentaires positifs.</em>
	</p>
	<p>
		<strong>Le rejet du positif</strong> : Pour toutes sortes de raisons, vous rejetez toutes vos expériences positives, en affirmant qu'elles ne comptent pas. De cette façon vous préservez votre image négative des choses, même si elle entre en contradiction avec votre expérience de tous les jours.<br>
		<em>Exemple : ne pas croire un compliment, en vous disant que la personne « veut seulement être gentille ». </em>
	</p>
	<p>
		<strong>Les conclusions hâtives</strong> : Vous sautez à une conclusion négative, sans vérification des faits ou même si aucun fait précis ne peut confirmer votre interprétation. Vous prévoyez le pire, tout en ayant déjà la conviction que votre prédiction sera confirmée.<br>
		<em>Exemple : penser que l'autre « doit trouver que j'ai pas l'air intelligent », malgré le fait objectif que cette personne se comporte correctement.</em>
	</p>
	<p>
		<strong>L'exagération (la dramatisation) et la minimisation</strong> : Des évènements négatifs sont traités comme des catastrophes, plutôt que de manière plus relative. Vous amplifiez l'importance de certaines choses, et minimisez l'importance d'autres choses jusqu'à ce qu'elles vous semblent insignifiantes. <br>
		<em>Exemple : exagérer vos défauts ou le succès de quelqu'un d'autre, et minimiser vos qualités ou les imperfections de l'autre.</em>
	</p>
	<p>
		<strong>Les raisonnements émotifs</strong> : Vous présumez que vos sentiments les plus sombres reflètent nécessairement la réalité des choses, vous assumez que les réactions émotives reflètent la situation réelle.<br>
		<em>Exemple : décider que parce que quelqu'un se sent désespéré, la situation est désespérée.</em>
	</p>
	<p>
		<strong>Les « je dois » et « je devrais » </strong> : Vous essayez de vous motiver par des « je devrais » ou des « je ne devrais pas » comme si, pour vous convaincre de faire quelque chose, il fallait vous battre ou vous punir. Cela suscite chez vous un sentiment de culpabilité. <br>
		<em>Exemple : « il faut que j'aie la meilleure note ». </em>
	</p>
	<p>
		<strong>L'étiquetage</strong> : Au lieu de vous référer à des actions spécifiques, vous vous apposez une étiquette négative globale, en utilisant des mots très colorés et chargés d'émotion. <br>
		<em>Exemple : « Je suis un loser »</em>
	</p>
	<p>
		<strong>La personnalisation</strong> : Vous vous considérez responsable d'un évènement fâcheux lorsqu'en fait, il a été provoqué par d'autres facteurs.<br>
		<em>Exemple : « si je ne lui avait pas dit cela, l'accident ne serait pas arrivé ».</em>
	</p>
</section>
<section id="inquietudes">
	<h1>Maîtrisez vos inquiétudes</h1>
	<ul>
		<li>
			Est-ce difficile pour vous de tolérer les incertitudes ?
		</li>
		<li>
			Avez-vous tendance à toujours envisager le pire ? 
		</li>
	</ul>
	<p>
		L'anxiété peut être générée par des <u>inquiétudes</u>, c'est-à-dire des pensées concernant des éventualités négatives (ex : vous inquiéter de ne pas trouver d'emploi à la fin de vos études, de ne pas être admis ou admise à un programme contingenté). Le point de départ des inquiétudes est l'incertitude qui se manifeste souvent par : « qu'est-ce qui arrivera si... », « tout d'un coup que... ». Plus la certitude d'être en danger est grande, plus vous serez anxieux ou anxieuse. Ces pensées renvoient également à l'incapacité de réagir si la « catastrophe » appréhendée survient. Comme les inquiétudes sont des hypothèses sur ce qui pourrait arriver - et non des faits -, il importe de tenter de les évaluer afin de contrôler votre anxiété. 
	</p>
	<p>
		Prenez un papier et un crayon, notez vos différentes inquiétudes et tentez de répondre aux questions suivantes. Cet exercice vous permettra d'identifier la <u>véracité</u> de chaque inquiétude, d'évaluer la <u>probabilité</u> qu'elle se réalise et d'en évaluer les <u>impacts</u> réels.
	</p>
	<ul>
		<li>
			Qu'est-ce que je crains ? Quels sont les faits qui alimentent cette inquiétude ? Quels sont ceux qui ne la supportent pas ? Quel est le pire qui puisse arriver ?
		</li>
		<li>
			Quelle est la probabilité que cela se réalise? 
		</li>
		<li>
			Si ce que je crains survient, quelles seront les conséquences pour moi, pour mon avenir ? Dans quelle mesure ces conséquences seraient-elles tolérables ? 
		</li>
		<li>
			Ai-je déjà vécu une situation semblable, ou d'autres l'ont-ils déjà vécue ? Qu'est-il arrivé ? 
		</li>
		<li>
			Comment pourrais-je envisager cette situation dans un an ? dans cinq ans ? 
		</li>
	</ul>
	<p>
		Les inquiétudes peuvent miner votre capacité de profiter du moment présent. Tentez de vous concentrer sur le <u>processus</u> et non uniquement sur le <u>but</u> que vous voulez atteindre. Parfois, une tendance à ne regarder que le but amène à vous sentir submergé, submergée devant l'ampleur du travail à réaliser (ex. : « je n'aurai pas assez de temps ! ») et génère des doutes (« est-ce que je vais y arriver ? »). Orienter votre attention sur le processus et les étapes pour atteindre votre but éveille des questions plus stimulantes : 
	</p>
	<ul>
		<li>
			Que dois-je faire maintenant pour augmenter mes chances de réussite ? 
		</li>
		<li>
			Dois-je débuter par ceci ou cela ? 
		</li>
		<li>
			Quelles ressources puis-je solliciter pour m'aider ?
		</li>
	</ul>
</section>
<section id="indulgence">
	<h1>Faites preuve d'indulgence envers vous-même</h1>
	<ul>
		<li>
			Avez-vous tendance à entretenir des exigences élevées et rigides ?
		</li>
		<li>
			Vous comparez-vous beaucoup aux autres ?
		</li>
		<li>
			Est-ce que vos objectifs vous paralysent, davantage qu'ils ne vous stimulent ?
		</li>
		<li>
			Ressentez-vous souvent de l'insatisfaction, même lorsque vous réussissez bien ?
		</li>
		<li>
			Avez-vous de la difficulté à vous donner le droit de faire des erreurs ? 
		</li>
	</ul>
	<p>
		Il n'est pas possible de vous démarquer des autres de façon constante à l'université et, pour cette raison, il est souvent plus avantageux de se comparer... à soi. Il n'y a rien de mal à l'ambition, mais des exigences trop élevées risquent de vous décourager et de vous paralyser davantage que de vous stimuler. Certains facteurs sont hors de votre contrôle ; ainsi, vous pourriez vraiment faire de votre mieux et être quand même insatisfait ou insatisfaite. Vous aurez alors tendance à penser que ce que vous avez fait n'était pas suffisant, à vous déprécier, tout en redoublant d'efforts, pour atteindre... la perfection ? Cette attitude est souvent caractéristique des étudiantes et étudiants perfectionnistes (lien perfectionnisme). Ceux-ci sont d'éternels insatisfaits qui maintiennent des doutes sur leurs capacités, malgré une multitude de faits qui démontrent leur valeur comme personnes ou futurs professionnels. Pour assouplir un peu vos attentes et vos exigences : 
	</p>
	<ul>
		<li>
			trouvez-vous des objectifs qui dépendent le plus possible de vous. Se fixer des buts plus modestes permet souvent de les atteindre plus aisément ou même, de les dépasser (ce qui augmente la confiance en soi au lieu de la diminuer). La norme ne doit pas être fixée à l'extérieur de soi, mais à partir de soi ; 
		</li>
		<li>
			évaluez ce que vous imposer toutes ces exigences vous apporte et identifiez les inconvénients que cela vous cause (ex. : épuisement, perte du plaisir d'étudier) ; 
		</li>
		<li>
			au delà d'un certain seuil, les efforts fournis vous nuisent plus qu'ils ne vous aident (ex. : arrêtez l'étude d'un examen bien préparé, plutôt que de vous rassurer en vérifiant sans cesse jusqu'à la dernière minute) ; 
		</li>
		<li>
			n'oubliez pas : pas d'essai, pas d'erreur et pas d'erreur, pas d'apprentissage ; 
		</li>
		<li>
			et puis, qu'arriverait-il si vous abaissiez un peu vos normes, vos critères ? En quoi est-ce si grave si quelqu'un est meilleur que vous dans un domaine ? 
		</li>
	</ul>
</section>
<section id="conclusion">
	<h1>Conclusion</h1>
	<p>
		Le contrôle de l'anxiété et du stress passe par le contrôle de nos perceptions face à nous-mêmes et face aux évènements. Agissez lorsque vos pensées et vos attitudes provoquent de l'anxiété et des émotions négatives : vous en sortirez gagnant, gagnante... et souvent plus calme ! 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		Boucher, F., et A. Binette (1981), Bien vivre le stress, Boucherville, Éditions de Mortagne. 
	</cite></p>
	<p><cite>
		Burns, D. (1985), Être bien dans sa peau, Saint-Lambert, Éditions Héritage. 
	</cite></p>
	<p><cite>
		Carlson, R. (1998), Ne vous noyez pas dans un verre d'eau : simplifiez-vous la vie !, Montréal, Stanké.
	</cite></p>
	<p><cite>
		Fortin, B. (2001), La gestion du stress au travail, Montréal, Les consultations pédagogiques Fortin. 
	</cite></p>
	<p><cite>
		Ladouceur, R., A. Marchand et J.-M. Boisvert (dir.) (1999), Les troubles anxieux : approche cognitive et comportementale, Boucherville, G. Morin. 
	</cite></p>
	<p><cite>
		Lelord, F. (2001), Bien vivre avec son stress, coll. « Contre la montre », Paris, Village mondial : Pearson Education. 
	</cite></p>
</section>
<section id="complementaire">
	<h1>Contenu complémentaire</h1>
	<p><cite>
		Ellis, A. (1999), Dominez votre anxiété avant qu'elle ne vous domine, Montréal, Éditions de l'Homme. 
	</cite></p>
	<p><cite>
		Marchand, A. et A. Letarte (1993). La peur d'avoir peur : guide de traitement du trouble panique avec agoraphobie, coll. « Partage », Montréal, Stanké. 
	</cite></p>
	<p><cite>
		Néron, S. (1993), Des outils pour maîtriser l'anxiété et la panique, coll. « Psychologie médicale », Montréal, Méridien. 
	</cite></p>
	<p><cite>
		Ramirez Basco, M. (2000), Y a-t-il des perfectionnistes heureux ?, Montréal, Le Jour. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Dominique Dubé, psychologue<br>
		Véronique Mimeault, psychologue
	</p>
</footer>
