<p>
	Plusieurs personnes ont de la difficulté à communiquer leurs connaissances lors des examens, notamment en raison d'une anxiété excessive. En effet, le stress élevé interfère avec les fonctions cognitives (ex. : concentration, mémorisation) et nuit alors à la performance. Différentes stratégies pour vous préparer et pour passer des examens, ainsi que pour contrôler votre stress peuvent améliorer la situation.
</p>
<nav>
	<ul>
		<li><a href="#avant" title="Contrôlez votre anxiété avant l'examen">Contrôlez votre anxiété avant l'examen</a></li>
		<li><a href="#pendant" title="Contrôlez votre anxiété pendant l'examen">Contrôlez votre anxiété pendant l'examen</a></li>
		<li><a href="#apres" title="Questions à vous poser après un examen">Questions à vous poser après un examen</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="avant">
	<h1>Contrôlez votre anxiété avant l'examen</h1>
	<h2>Planifiez vos périodes d'étude et commencez tôt</h2>
	<p>
		Fixez-vous des objectifs d'étude concrets et précis. Voir à ce sujet le texte concernant la <a href="{{LIEN}}gestion-temps" title="gestion du temps" target="_blank">gestion du temps</a>. Évidemment, vous serez moins sensible à l'anxiété si vous commencez votre étude tôt. Afin que votre étude à long terme soit efficace, révisez ce que vous avez appris précédemment avant de commencer à étudier une nouvelle partie de matière. 
	</p>
	<h2>Simulez une situation d'examen</h2>
	<p>
		Vous pouvez tenter de simuler un examen entre amis afin de vous pratiquer. Pour ce faire, développer une banque de questions et tentez d'y répondre dans des conditions similaires à celles prévues lors de l'évaluation (temps limité, à livres fermés ou ouverts, etc.). Si vous faites cet exercice en groupe, vous pourrez également identifier ce que les autres considèrent important dans la matière. 
	</p>
	<h2>Les perceptions et l'anxiété</h2>
	<p>
		L'anxiété vécue avant une évaluation est provoquée la plupart du temps par des doutes sur votre préparation ainsi que sur votre capacité à faire face à cette évaluation. Ces doutes et ces craintes peuvent prendre plusieurs formes : crainte d'échouer, de ne pas obtenir la note visée, d'avoir des trous de mémoire, de vous faire avoir, de manquer de temps, etc. Si vous vivez un degré élevé d'anxiété avant un examen, il se peut que vos doutes deviennent des certitudes à votre esprit. Par exemple, une perception du type « je vais échouer, c'est certain, c'est sûr » est caractérisée par la certitude de la crainte, ce qui augmente l'anxiété. Or, votre incertitude concernant un examen n'est pas une certitude ! Dès lors, une première étape au contrôle de votre anxiété est l'identification de vos craintes et leur évaluation, puisque les faits ne les justifient pas toujours. En effet, si vous êtes bien préparé ou préparée, pourquoi être certain d'échouer ? À ce sujet, vous pouvez également consulter le texte <a href="{{LIEN}}stress-anxiete" title="Stress, anxiété et perceptions" target="_blank">Stress, anxiété et perceptions</a>. 
	</p>
	<h2>Tentez d'identifier vos craintes au sujet de l'examen à venir</h2>
	<p>
		Qu'est-ce que vous craignez concernant l'examen ? Essayez d'écrire sur une feuille les doutes que vous avez à l'esprit concernant l'évaluation. Cet exercice vous permettra de prendre plus facilement du recul par rapport à vos doutes. 
	</p>
	<h2>Revenez sur vos compétences avant l'examen</h2>
	<p>
		Quelle est votre préparation pour l'examen ? S'il n'y en a aucune, c'est normal de vivre un degré élevé d'anxiété... si vos études vous tiennent à coeur ! Cependant, si vous avez consacré du temps à une bonne préparation, il vaudrait la peine de le considérer avant de trop craindre l'examen. Prenez vos notes de cours ou un autre document dans lequel sont résumées la majorité des notions (ex. : plan de cours détaillé). Testez votre compréhension et votre mémorisation par un survol des différentes informations. Si vous maîtrisez la grande majorité des notions, est-ce certain que l'examen va mal se passer ? Avant de trop douter de vos moyens, analysez votre compétence à partir de faits réels. 
	</p>
	<h2>« J'ai bien étudié, mais j'ai déjà eu des résultats insatisfaisants malgré une bonne étude... »</h2>
	<p>
		La plupart des examens évaluent ce que vous avez appris lors du cours. Si vous maîtrisez la matière, vous avez de bonnes chances de réussir. Il peut cependant survenir des contre-performances malgré un temps de préparation suffisant. Habituellement, il y a des raisons aux contre-performances : bonne compréhension mais manque de mémorisation, bonne mémorisation mais incompréhension, panique lors des examens, étude de dernière minute, lacunes dans les pré-requis au cours, etc. Analysez les raisons possibles des moins bons résultats et tentez d'y remédier. Cela est plus efficace que d'être très inquiet ou inquiète, sans agir. 
	</p>
	<h2>Quoi faire la veille de l'examen</h2>
	<p>
		Si vous maîtrisez la matière, vous pouvez faire une courte révision des notions et vous reposez. Vous aurez besoin de votre énergie lors de l'examen et il est peu efficace de vous acharner à étudier des notions connues. Si vous êtes en retard, il n'y a pas d'autre moyen que de jouer le tout pour le tout. Évitez cependant les nuits blanches, car si vous manquez de préparation, vous aurez besoin de toute votre tête.
	</p>
</section>
<section id="pendant">
	<h1>Contrôlez votre anxiété pendant l'examen</h1>
	<p>
		L'anxiété peut survenir à différents moments lorsque vous passez un examen : dès le départ, à la rencontre d'une question difficile ou vers la fin, alors que le temps file. Dans tous les cas, votre attention se détourne de l'examen et de la matière pour se fixer sur des craintes, des anticipations, sur un mode de pensée moins constructif. C'est ce détournement de l'attention additionné à l'activation physiologique de l'anxiété qui provoque les trous de mémoire et la difficulté à bien réfléchir. Que faire si l'anxiété augmente et vient nuire à votre efficacité lors de l'examen ? 
	</p>
	<h2>Commencez par les questions plus faciles</h2>
	<p>
		Cela permet de réchauffer votre esprit et de prendre confiance. 
	</p>
	<h2>Arrêtez le travail et respirez doucement pendant quelques secondes</h2>
	<p>
		Lorsque l'anxiété monte, le manque de concentration qui en découle peut créer des erreurs d'inattention. Il préférable faire une pause de 20 à 30 secondes et de bien respirer afin de laisser baisser la tension. 
	</p>
	<h2>Redirigez votre esprit sur la matière</h2>
	<p>
		Lorsque vous vivez beaucoup d'anxiété, votre attention n'est plus dirigée sur la matière mais sur des pensées négatives. Tentez de rediriger votre attention sur les notions étudiées en l'évoquant de façon plus large vers le plus précis. Par exemple, si vous vivez un degré d'anxiété qui nuit à votre concentration, respirez quelques secondes et tentez de vous rappelez ce que vous avez vu dans le cours de façon générale : Quel était le sujet du cours ? Qu'est-ce que vous avez vu dans les autres chapitres ? Quelles sont les autres notions du chapitre visé dans la question ? Souvenez-vous d'autres exercices que vous avez faits dans le cours, même s'ils n'ont pas de lien avec la question. Cette façon de faire vous permettra de rediriger plus facilement votre attention vers la matière, ce qui fera diminuer votre anxiété et vous permettra de profiter davantage de votre préparation. 
	</p>
	<h2>Votre mandat pour l'examen : réfléchir à la matière</h2>
	<p>
		Plusieurs personnes anxieuses lors des examens prévoient des catastrophes dès que la réponse à une question ne leur est pas évidente à la première lecture. Les notions étudiées sont complexes et nombreuses, il est donc normal de ne pas toujours connaître la réponse dès la première lecture. Prenez le temps de réfléchir correctement, c'est votre tâche à l'examen et c'est normal. 
	</p>
	<h2>Prévoyez le coup...</h2>
	<p>
		Avant l'examen, pensez aux stratégies à utiliser si jamais vous devenez anxieuse ou anxieux. Cela vous permettra de réagir plus rapidement et de garder votre calme. Lors de l'examen, les dés sont jetés ; il s'agit donc de réfléchir du mieux que vous pouvez à la matière.
	</p>
	<h2>Pour les questions à développement</h2>
	<ul>
		<li>
			Lisez bien la question et soulignez les mots-clés. Y a-t-il plus d'une question dans ce qui est demandé ? Prenez le temps de comprendre les éléments descriptifs de la question (ex. : comparez, énumérez, expliquez).
		</li>
		<li>
			Inscrivez dans la marge ou sur une feuille brouillon ce qui vous vient à l'esprit lors de la première lecture.
		</li>
		<li>
			Faites un plan de vos idées et organisez-les logiquement avant d'écrire la réponse, cela diminuera la confusion dans les textes.
		</li>
		<li>
			Vous pouvez paraphraser la question en guise d'introduction de la réponse si cela est pertinent. Par exemple, à la question « Quels sont les recours de Jean-Paul ? », vous pourriez commencez par « Les recours de Jean-Paul sont... » pour poursuivre avec vos justifications.
		</li>
		<li>
			Faites des phrases courtes et rédigez lorsque vous avez bien en tête la structure de votre réponse.
		</li>
		<li>
			Si vous manquez de temps, inscrivez les idées contenues dans votre plan. Vous pourriez en retirer quelques points malgré tout.
		</li>
	</ul>
	<h2>Pour les questions à choix multiples...</h2>
	<ul>
		<li>
			Récitez la réponse avant de regarder les choix. Vous serez moins influencé ou influencée par une série de fausses hypothèses. 
		</li>
		<li>
			Si vous hésitez entre deux énoncés, tentez de trouver les arguments qui prouvent la fausseté de chacun d'eux. Il est souvent plus éclairant de trouver quel énoncé semble le plus faux que de tenter d'identifier celui qui est le plus vraisemblable...
		</li>
		<li>
			Ne vous fiez pas aux patrons de réponses ; tout est possible (ex. : huit « c » de suite).
		</li>
	</ul>
</section>
<section id="apres">
	<h1>Questions à vous poser après un examen</h1>
	<p>
		Afin d'améliorer votre performance lors d'un examen futur, il peut être utile de consulter l'examen, si cela est possible, et de vous poser les questions suivantes :
	</p>
	<ul>
		<li>
			Ai-je bien utilisé mon temps ? 
		</li>
		<li>
			Y avait-il des questions auxquelles je ne m'attendais vraiment pas ? Pourquoi ?
		</li>
		<li>
			Comment pourrais-je mieux prévoir le prochain examen ? 
		</li>
		<li>
			Quelle était la partie d'examen la plus difficile ? Pourquoi ? 
		</li>
		<li>
			Est-ce que les questions étaient basées davantage sur les notes de cours ou sur les lectures d'accompagnement ? 
		</li>
		<li>
			Est-ce que j'ai manqué de mémorisation ?
		</li>
		<li>
			Quel était mon niveau de stress, d'anxiété ?
		</li>
		<li>
			Quel était le style de question : mémorisation, compréhension, application ? 
		</li>
		<li>
			Les réponses demandaient-elles une récitation exacte des notions vues ? 
		</li>
	</ul>
	<p>
		Bon succèes dans vos examens !
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<h2>Liens Internet</h2>
	<p><cite>
		The Unabridged Student Counseling Virtual Pamphlet Collection : <a href="http://www.dr-bob.org/vpc/virtulets.html" title="The Unabridged Student Counseling Virtual Pamphlet Collection" target="_blank">http://www.dr-bob.org/vpc/virtulets.html</a>
	</cite></p>
	<p><cite>
		Guide format PDF: <a href="wp-content/uploads/2014/11/Guide_Concentration.pdf" title="La concentration et la gestion du temps" target="_blank">La concentration et la gestion du temps</a>. 
	</cite></p>
	<h2>Livres</h2>
	<p><cite>
		Beaud, M. &amp; Daniel, L. (1988). L'art de la thèse. Les éditions Boréal.
	</cite></p>
	<p><cite>
		Bégin, C. (1992). Devenir efficace dans ses études. Éditions Beauchemin.
	</cite></p>
	<p><cite>
		Boucher, F. &amp; Avard, J. (1984). Réussir ses études. Éditions de Mortagne. 
	</cite></p>
	<p><cite>
		Burka, J.B. &amp; Yuen, L.M. (1986). Pourquoi remettre à plus tard ? Le jour, éditeur.
	</cite></p>
	<p><cite>
		Dionne, B. (1990). Pour réussir. Éditions Études Vivantes. 
	</cite></p>
	<p><cite>
		Gauthier, L. &amp; Poulin, N. (1987). Savoir apprendre (2e édition). Les éditions de l'Université de Sherbrooke. 
	</cite></p>
	<p><cite>
		Goulet, L. &amp; Lépine, G. (1986). Cahier de méthodologie (3e édition). Les éditions de l'Université du Québec à Montréal. 
	</cite></p>
	<p><cite>
		Pauk, W. (1998). Study skills for college athletes. H&H Publishing company. 
	</cite></p>
	<p><cite>
		Tremblay, R.R. &amp; Perrier, Y. (2000). Savoir plus. Les éditions de la Chenelière. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Dominique Dubé, psychologue
	</p>
</footer>
