<p>
	La procrastination est l'habitude de reporter inutilement à plus tard des tâches ou des activités. Cette habitude peut avoir des conséquences négatives sur vos résultats scolaires, mais aussi sur la qualité de votre formation et sur votre bien-être. En effet, remettre à plus tard de façon excessive provoque habituellement de l'anxiété, de la culpabilité et un tas de problèmes inutiles. Il est possible de vaincre cette habitude en analysant bien les causes de la procrastination et en développant des attitudes et des comportements antiprocrastination.
</p>
<nav>
	<ul>
		<li><a href="#remettre-plus-tard" title="« Pourquoi je remets à plus tard ? »">« Pourquoi je remets à plus tard ? »</a></li>
		<li><a href="#pensees-toxiques" title="Les pensées toxiques à la poubelle !">Les pensées toxiques à la poubelle !</a></li>
		<li><a href="#pourquoi" title="« Pourquoi j'étudierais ? »">« Pourquoi j'étudierais ? »</a></li>
		<li><a href="#priorites" title="Quelles sont vos priorités ?">Quelles sont vos priorités ?</a></li>
		<li><a href="#petit-train" title="Petit train va loin...">Petit train va loin...</a></li>
		<li><a href="#objectifs" title="Des objectifs clairs !">Des objectifs clairs !</a></li>
		<li><a href="#dire-non" title="Comment dire non aux offres alléchantes...">Comment dire non aux offres alléchantes...</a></li>
		<li><a href="#pression-externe" title="Un peu de pression externe...">Un peu de pression externe...</a></li>
		<li><a href="#etudier-maison" title="Si étudier à la maison est un combat...">Si étudier à la maison est un combat...</a></li>
		<li><a href="#sous-pression" title="« Oui, mais je travaille mieux sous pression »">« Oui, mais je travaille mieux sous pression »</a></li>
		<li><a href="#cadeau" title="Un petit cadeau pour vous féliciter !">Un petit cadeau pour vous féliciter !</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="remettre-plus-tard">
	<h1>« Pourquoi je remets à plus tard ? »</h1>
	<p>
		Essayez d'identifier vos raisons de remettre à plus tard lorsque vous prévoyez travailler. Est-ce du stress, de l'ennui, du découragement, une sous-estimation du temps requis ? Bien identifier vos prétextes vous permettra de <u>prendre conscience plus facilement que vous passez en mode procrastination</u>. Plusieurs raisons peuvent provoquer la procrastination ; consultez le guide en format pdf <a href="wp-content/uploads/2014/11/Guide_Procrastination.pdf" title="Surmonter la procrastination scolaire" target="_blank">Surmonter la procrastination scolaire</a> pour une description plus complète de ces causes.
	</p>
	<div class="encadre">
		<h2>Exemples de prétextes :</h2>
		<p>
			<q>Je ne suis pas « dedans », je serai plus en forme demain... </q><br>
			<q>Il me reste beaucoup de temps, je le ferai demain... </q><br>
			<q>J'ai des choses plus pressantes...</q><br>
			<q>C'est vraiment ennuyant, je vais faire autre chose... </q><br>
			<q>Ça ne sert à rien cet exercice...</q><br>
			<q>Ça va vraiment être difficile et long, je le ferai demain... </q>
		</p>
	</div>
</section>
<section id="pensees-toxiques">
	<h1>Les pensées toxiques à la poubelle !</h1>
	<p>
		Vous savez que la plupart de vos prétextes pour remettre à plus tard ne tiennent pas lorsqu'ils sont opposés aux faits. Lorsque vos prétextes habituels arrivent à votre esprit, remettez-les en question en les opposant aux faits. Personne d'autre ne peut le faire à votre place. En ce sens, attention avant de douter de vous et ainsi prédire votre échec. Les prédictions ne sont pas des faits ! 
	</p>
	<div class="encadre">
		<h2>Le prétexte : j'ai encore beaucoup de temps.</h2>
		<p>
			Regardez si cette idée a été confirmée par le passé. Faites face à cette pensée en analysant sérieusement votre emploi du temps et le nombre réel d'heures requises pour réaliser un bon travail.
		</p>
	</div>
</section>
<section id="pourquoi">
	<h1>« Pourquoi j'étudierais ? »</h1>
	<p>
		Comme nous l'avons vu précédemment, lorsque vous remettez au lendemain, vous avez habituellement en tête différentes raisons pour lesquelles vous ne feriez pas le travail. C'est pourquoi il est primordial de revenir sur vos motivations, vos aspirations, vos projets reliés au travail que vous allez faire, et ce, avant de remettre à plus tard. S'il n'y a aucune bonne raison d'étudier dans votre esprit, mis à part le fameux « parce qu'il le faut », alors pourquoi se mettre à la tâche ? Parce que le temps passé à travailler aujourd'hui est un pas vers l'atteinte de vos objectifs. À ce sujet, vous pouvez consulter le texte sur <a href="{{LIEN}}motivation" title="la motivation" target="_blank"></a>la motivation. 
	</p>
	<div class="encadre">
		<h2>Exercice : pourquoi j'étudierais ?</h2>
		<p>
			Mettez rapidement sur papier les raisons pour lesquelles il serait bien de vous y mettre. Affichez cette liste à votre endroit de travail. Revenez sur cette liste, lorsque vous avez le goût de remettre au lendemain.
		</p>
		<p>
			Exemples de raisons à court terme : augmentation des résultats, diminution du stress à la fin de la session, amélioration des connaissances, diminution des préoccupations pendant mes loisirs, meilleure qualité du travail, fierté une fois l'objectif de travail atteint, etc.
		</p>
		<p>
			Exemples de raisons à long terme : meilleure compétence comme professionnel ou professionnelle, formation complétée avec fierté, atteinte d'un objectif professionnel qui vous tient à coeur, etc. Il y a certainement des raisons pour lesquelles vous êtes dans tel ou tel programme, pensez-y !
		</p>
		<p>
			L'important est d'identifier vos raisons personnelles et non celles de vos amis et amies, de vos parents ou autres. De plus, regardez les raisons à court terme (ex. : la fierté après l'atteinte d'un petit objectif) et à long terme (ex. : compétence comme professionnel ou professionnelle).
		</p>
	</div>
</section>
<section id="priorites">
	<h1>Quelles sont vos priorités ?</h1>
	<p>
		Il arrive fréquemment que la procrastination s'installe lorsqu'une personne ne sait plus par quelle tâche débuter. Dès lors, il importe de préciser quelles seront vos priorités. En ce sens, essayez de planifier votre travail (voir le texte au sujet de <a href="{{LIEN}}gestion-temps" title="la gestion du temps" target="_blank">la gestion du temps</a>). 
	</p>
</section>
<section id="petit-train">
	<h1>Petit train va loin...</h1>
	<p>
		Plusieurs adeptes de la procrastination ont l'habitude de viser de très gros objectifs de travail, puisqu'ils sont habitués aux marathons d'étude de dernière minute. Lorsque vous avez de l'avance, il est préférable de planifier de petits objectifs de travail entrecoupés de pauses. Plus vous avez de la difficulté à vous y mettre, plus vous diminuez votre objectif. Il n'est pas rare que certains étudiants ou étudiantes commencent par des objectifs de 15 minutes afin de réussir à s'y mettre. Les petits succès amènent d'autres succès plus importants et permettent de travailler plus régulièrement.
	</p>
</section>
<section id="objectifs">
	<h1>Des objectifs clairs !</h1>
	<p>
		<q>Ce soir je vais travailler</q>... voilà un objectif de travail imprécis ! Travailler quelle matière ? Pendant combien de temps ? Lire quelles pages, faire quels exercices ? Des objectifs précis aident à vous mettre à la tâche.
	</p>
</section>
<section id="dire-non">
	<h1>Comment dire non aux offres alléchantes...</h1>
	<p>
		Plusieurs activités peuvent s'offrir à vous, souvent plus tentantes que de travailler dans certaines matières. Comment dire non ? Si c'est un problème pour vous, l'établissement de périodes fixes pour l'étude pourrait vous aider. Lors de ces périodes, votre objectif sera de toujours dire non aux offres. De plus, avant de dire oui, donnez-vous un délai de réflexion de quelques minutes afin d'analyser les conséquences de ce oui et les possibilités de remettre l'activité à un moment ultérieur.
	</p>
</section>
<section id="pression-externe">
	<h1>Un peu de pression externe...</h1>
	<p>
		Prenez des ententes avec des amis ou amies, des collègues. Informez une personne (superviseur ou superviseure, collègue de travail, amie ou ami, etc.) de votre plan de travail. Vous pouvez également informer cette personne de votre échéancier et prendre des ententes en ce sens, comme par exemple lui montrer le travail réalisé à la date convenue. Le travail en équipe peut également favoriser la mise à la tâche. Cependant, il faut habituellement qu'il y ait un travail individuel avant les rencontres.
	</p>
</section>
<section id="etudier-maison">
	<h1>Si étudier à la maison est un combat...</h1>
	<p>
		S'il y a trop d'activités attirantes chez vous (ordinateur, téléphone, télévision, roman, etc.), vous pouvez envisager un autre lieu de travail, ce qui pourrait faciliter votre mise à la tâche.
	</p>
</section>
<section id="sous-pression">
	<h1>« Oui, mais je travaille mieux sous pression »</h1>
	<p>
		Il est possible que le stress provoqué par le manque de temps permette une hausse de votre efficacité au travail. C'est une des raisons pour laquelle les adeptes de la procrastination se considèrent plus efficaces à la dernière minute. Cependant, il ne faut pas confondre rapidité d'exécution et travail de qualité. De plus, le travail que vous aurez réalisé un peu plus à l'avance vous permettra d'être moins stressé ou stressée, d'être mieux préparé et de profiter davantage des cours, et ce, même si vous n'arrivez pas à être aussi efficace que lorsque vous êtes en retard.
	</p>
</section>
<section id="cadeau">
	<h1>Un petit cadeau pour vous féliciter !</h1>
	<p>
		Lorsque vous avez atteint un objectif de travail (qui peut être petit au départ), récompensez-vous ! 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<h2>Liens Internet</h2>
	<p><cite>
		The Unabridged Student Counseling Virtual Pamphlet Collection : <a href="http://www.dr-bob.org/vpc/virtulets.html" title="The Unabridged Student Counseling Virtual Pamphlet Collection" target="_blank">http://www.dr-bob.org/vpc/virtulets.html</a>
	</cite></p>
	<p><cite>
		Guide format PDF: <a href="wp-content/uploads/2014/11/Guide_Procrastination.pdf" title="Surmonter la procrastination scolaire" target="_blank">Surmonter la procrastination scolaire</a>. 
	</cite></p>
	<h2>Livres</h2>
	<p><cite>
		Beaud, M. &amp; Daniel, L. (1988). L'art de la thèse. Les éditions Boréal.
	</cite></p>
	<p><cite>
		Bégin, C. (1992). Devenir efficace dans ses études. Éditions Beauchemin.
	</cite></p>
	<p><cite>
		Boucher, F. &amp; Avard, J. (1984). Réussir ses études. Éditions de Mortagne. 
	</cite></p>
	<p><cite>
		Burka, J.B. &amp; Yuen, L.M. (1986). Pourquoi remettre à plus tard ? Le jour, éditeur.
	</cite></p>
	<p><cite>
		Dionne, B. (1990). Pour réussir. Éditions Études Vivantes. 
	</cite></p>
	<p><cite>
		Gauthier, L. &amp; Poulin, N. (1987). Savoir apprendre (2e édition). Les éditions de l'Université de Sherbrooke. 
	</cite></p>
	<p><cite>
		Goulet, L. &amp; Lépine, G. (1986). Cahier de méthodologie (3e édition). Les éditions de l'Université du Québec à Montréal. 
	</cite></p>
	<p><cite>
		Pauk, W. (1998). Study skills for college athletes. H&amp;H Publishing company. 
	</cite></p>
	<p><cite>
		Tremblay, R.R. &amp; Perrier, Y. (2000). Savoir plus. Les éditions de la Chenelière. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Dominique Dubé, psychologue
	</p>
</footer>