<ul>
	<li>
		Trouvez-vous anormal d'avoir des problèmes ? 
	</li>
	<li>
		Avez-vous tendance à essayer de ne pas y penser ? 
	</li>
	<li>
		Passez-vous plus de temps à penser à vos problèmes qu'aux solutions permettant de les résoudre ? 
	</li>
	<li>
		Voyez-vous vos problèmes comme des menaces plutôt que des défis à relever ? 
	</li>
</ul>
<p>
	Un problème pourrait être défini comme la différence ressentie entre une situation perçue et une situation désirée. Un problème peut aussi être vu comme la manifestation d'un besoin non comblé, ce qui crée un état d'insatisfaction, un déséquilibre, pouvant être éliminé suite à certains changements. 
</p>
<p>
	La résolution de problèmes est un exercice qui vise à préciser la situation qui vous préoccupe en la définissant en termes moins globaux et confus (ex. : ça va mal dans mes études) et à l'analyser. Il vous est probablement déjà arrivé de vous sentir démuni ou démunie face à une situation, de la considérer comme « trop compliquée ». Il est alors tentant d'essayer de ne pas penser au problème, de le fuir plutôt que de l'affronter. 
</p>
<p>
	La méthode de résolution de problèmes qui suit vous permet de décomposer les étapes par lesquelles les gens procèdent habituellement sans s'en rendre compte. Ces étapes peuvent vous aider à structurer vos idées et à prendre du recul face à vos difficultés. Elles peuvent se chevaucher : vous pouvez avoir à revenir à certaines étapes antérieures afin de trouver une solution satisfaisante. 
</p>
<h2>Exemple : le cas de Sylvie</h2>
<p>
	Sylvie se sent stressée et constamment pressée par le temps. Depuis quelques semaines, elle a plus de difficulté à se concentrer, ne dort pas bien et craint que cela nuise à ses performances scolaires.
</p>
<nav>
	<ul>
		<li><a href="#definir" title="Définissez le problèeme">Définissez le problèeme</a></li>
		<li><a href="#Generer" title="Générez des solutions">Générez des solutions</a></li>
		<li><a href="#choisir" title="Choisir une solution">Choisir une solution</a></li>
		<li><a href="#appliquer" title="Appliquez la solution choisie">Appliquez la solution choisie</a></li>
		<li><a href="#evaluer" title="Évaluez les solutions appliquées">Évaluez les solutions appliquées</a></li>
	</ul>
</nav>
<section id="definir">
	<h1>Définissez le problèeme</h1>
	<p>
		Avant de tenter de régler un problème, il importe de bien le définir. Parfois, cette seule étape permet d'en arriver à modifier certaines perceptions et à régler une bonne part du problème qui vous préoccupe. Trouver des solutions à une difficulté qui demeure vague et confuse ou à plusieurs problèmes à la fois peut sembler décourageant. Assurez-vous de séparer les problèmes s'il y en a plusieurs. Afin de préciser la nature de la difficulté, posez-vous les questions suivantes : 
	</p>
	<ul>
		<li>
			Qu'est-ce qui vous dérange ?
		</li>
		<li>
			Quelle est la situation que vous voulez faire cesser ?
		</li>
		<li>
			Dans quel contexte ce problème apparaît-il ? (quand ? où ? comment ? avec qui ?)
		</li>
		<li>
			Que ressentez-vous ?
		</li>
		<li>
			Est-ce bien votre problème ? 
		</li>
	</ul>
	<p>
		Questionnez-vous aussi sur le but que vous souhaitez atteindre au terme de ce processus. Quelle sera la situation, une fois ce problème résolu ?
	</p>
	<h2>Le problème de Sylvie :</h2>
	<p>
		Ce qui dérange Sylvie, c'est le fait de ne plus avoir de temps pour elle, pour ses amis, et d'être constamment à la course. Elle se sent fatiguée, à bout et elle est plus irritable avec son copain, ce qu'il lui reproche parfois. Elle sent aussi qu'elle manque de temps pour étudier, malgré le fait que cela lui tienne à coeur. Cependant, Sylvie doit travailler pour arriver à joindre les deux bouts. Elle a 5 cours et travaille 25 heures par semaine. 
	</p>
</section>
<section id="Generer">
	<h1>Générez des solutions</h1>
	<p>
		Cette étape consiste à dresser un inventaire, le plus large possible, des solutions au problème que vous avez identifié, sans juger pour l'instant leur valeur ou leur réalisme. Un des risques ici est d'opter pour vos solutions habituelles ou de n'envisager que les solutions extrêmes. Souvent, la solution se trouve dans une action que vous n'avez peut-être jamais envisagée. Un autre risque est de porter un jugement trop rapide sur les idées qui vous viennent en tête et de rejeter des solutions originales, pouvant être constructives. 
	</p>
	<p>
		Que pourriez-vous faire ? Imaginez toutes les solutions possibles, même les plus farfelues, sans vous censurer. Il peut être utile à cette étape d'aller chercher de l'information additionnelle (ex. : consulter une personne de votre entourage, des ressources comme Internet). 
	</p>
	<ol>
		<li>
			abandonner ses études
		</li>
		<li>
			travailler davantage
		</li>
		<li>
			prendre un cours de moins
		</li>
		<li>
			emprunter de l'argent à ses parents
		</li>
		<li>
			mieux gérer son temps
		</li>
		<li>
			quitter son emploi
		</li>
		<li>
			demander une marge de crédit
		</li>
		<li>
			diminuer ses dépenses (partager un appartement ou vendre sa voiture)
		</li>
		<li>
			réduire ses heures au travail 
		</li>
		<li>
			déléguer de ses responsabilités à l'association étudiante 
		</li>
	</ol>
</section>
<section id="choisir">
	<h1>Choisir une solution</h1>
	<p>
		Après avoir formulé toutes vos idées, il est temps de passer à la prise de décision. Souvent, la solution réside dans une combinaison de plusieurs éléments de solution. Pesez le pour et le contre des options et la faisabilité de celles-ci. Procédez par élimination. Il peut aider de les trier, de la plus applicable à la moins réalisable. Ne cherchez pas la solution parfaite (ce qui est très rare !) mais une bonne solution (elles sont plus nombreuses). 
	</p>
	<p>
		Le processus de résolution de problèmes peut parfois être stoppé à cette étape : plutôt que de courir le risque de vous tromper, il peut être tentant de préférer ne rien choisir. Assurez-vous également de pouvoir mettre vous-même en oeuvre la solution choisie, et de ne pas compter uniquement sur les autres. 
	</p>
	<h2>Le choix de Sylvie :</h2>
	<p>
		Sylvie a choisi de combiner quatre solutions :
	</p>
	<ol>
		<li>
			prendre un cours de moins
		</li>
		<li>
			mieux gérer son temps
		</li>
		<li>
			demander une marge de crédit
		</li>
		<li>
			déléguer de ses responsabilités à l'association étudiante
		</li>
	</ol>
</section>
<section id="appliquer">
	<h1>Appliquez la solution choisie</h1>
	<p>
		Décidez des étapes à accomplir afin d'appliquer votre solution et... passez à l'action ! Il n'est pas nécessaire d'être certain, certaine qu'il s'agit de LA bonne solution avant de l'essayer. Les meilleures solutions du monde ne régleront rien si vous ne les appliquez pas ! 
	</p>
	<p>
		Certains comportements ou certaines craintes (ex. : remise à plus tard, peur du jugement ou des critiques) peuvent vous faire hésiter à mettre en application la solution choisie. Il est important d'en prendre conscience. Prendre une décision entraîne certaines conséquences, mais il est souvent possible de les évaluer en bonne partie. Surtout, n'oubliez pas que passer à l'action amène souvent un sentiment de satisfaction et augmente votre confiance en vous. 
	</p>
	<h2>Mise en application des solutions de Sylvie :</h2>
	<p>
		Sylvie prendra un cours de moins à la prochaine session, afin d'arriver à mieux concilier ses études et son travail. Elle a aussi commencé à utiliser davantage son agenda. Elle a décidé de déléguer certaines de ses responsabilités au sein de l'association étudiante. Enfin, elle a fait une demande pour une marge de crédit, pour diminuer le stress lié aux fins de mois et aux imprévus. 
	</p>
</section>
<section id="evaluer">
	<h1>Évaluez les solutions appliquées</h1>
	<p>
		Laissez-vous un peu de temps pour voir si le problème est vraiment réglé. Vous sentez-vous soulagé, soulagée ? Votre objectif est-il atteint ? Prenez une minute pour identifier ce que vous en retenez.
	</p>
	<p>
		Si, au contraire, le problème persiste après quelques temps, reprenez chacune des étapes de la résolution de problèmes. Certains éléments peuvent vous apparaître sous un jour nouveau.
	</p>
	<h2>L'évaluation des solutions appliquées par Sylvie :</h2>
	<p>
		Sylvie se sent encore stressée par moments, mais elle dort mieux et a une plus grande marge de manoeuvre dans son horaire. En utilisant son agenda, elle a trouvé des moyens d'être plus efficace dans son étude. Cela lui permet aussi d'avoir plus de temps pour ses loisirs. Pour l'instant, elle considère avoir retrouvé un état confortable. Elle réévaluera la situation au besoin. 
	</p>
	<p>
		Laissez-vous une période d'ajustement pour pratiquer vos habiletés de résolution de problèmes. Soyez patient, patiente et permettez-vous de vous améliorer graduellement. L'important est d'agir, d'initier un mouvement plutôt que de demeurer passif ou passive et de vous isoler face aux difficultés. Le simple fait de définir votre problème par écrit et de vous pencher sur les solutions possibles permet de diminuer vos inquiétudes, même si le problème ne peut être réglé totalement. Au besoin, demandez une aide professionnelle. 
	</p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Véronique Mimeault, psychologue
	</p>
</footer>
