<p>
	De plus en plus de personnes reviennent sur les bancs d'école, que ce soit pour changer de carrière, pour parfaire leur formation ou tout simplement pour le plaisir d'apprendre. Retourner aux études est une décision importante qui suscite, pour plusieurs, de nombreuses préoccupations. Nous tenterons de cerner certaines d'entre elles et de fournir quelques conseils pour faciliter votre retour aux études.
</p>
<nav>
	<ul>
		<li><a href="#preoccupations" title="Préoccupations liées au retour aux études">Préoccupations liées au retour aux études</a></li>
		<li><a href="#conseils" title="Conseils pour faciliter votre retour aux études">Conseils pour faciliter votre retour aux études</a></li>
		<li><a href="#ressources" title="Ressources à explorer">Ressources à explorer</a></li>
		<li><a href="#conclusion" title="Conclusion">Conclusion</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="preoccupations">
	<h1>Préoccupations liées au retour aux études</h1>
	<h2>Je n'ai plus de temps à perdre !</h2>
	<p>
		Il est vrai qu'en raison de leurs obligations familiales ou personnelles, les étudiants et étudiantes qui font un retour aux études sont souvent impatients de se retrouver sur le marché du travail. Ils ont l'impression d'avoir une moins grande marge d'erreurs. Si un échec scolaire, des problèmes financiers ou des problèmes de santé retardent leur échéancier, c'est la catastrophe ! Essayez d'adopter une certaine souplesse face aux délais que vous vous êtes fixés. Vous devez franchir une étape à la fois pour atteindre votre objectif. Concentrez-vous plutôt sur les tâches à accomplir dans chacun de vos cours. Vous profiterez ainsi pleinement de vos études sans vous imposer une pression démesurée.
	</p>
	<h2>« J'ai moins de chances de me trouver un emploi que les jeunes diplômés. »</h2>
	<p>
		La crainte de voir de plus jeunes « se caser » avant vous peut affecter votre motivation en cours de route. Cependant, rappelez-vous qu'en plus d'acquérir une formation universitaire, vous possédez des compétences (gestion de personnel, sens de l'organisation) qui profiteront aux entreprises. De plus, la baisse démographique fait en sorte que la main-d' oeuvre se fera plus rare. Dans ce contexte, l'âge deviendra un critère de sélection moins important. Le Service de placement de l'Université Laval [<a href="http://www.spla.ulaval.ca" title="http://www.spla.ulaval.ca" target="_blank">http://www.spla.ulaval.ca</a>] offre différentes activités pour faciliter votre recherche d'emploi. Vous pouvez aussi lire le texte Relativiser ses craintes face au marché du travail.
	</p>
	<h2>« Je devrais comprendre plus vite car j'ai plus d'expérience ou de vécu. »</h2>
	<p>
		Votre expérience comporte bien sûr des avantages comme votre capacité à faire des liens avec le marché du travail ou vos expériences personnelles et à avoir un esprit critique plus développé. Malheureusement, ce n'est pas suffisant pour faciliter votre compréhension et votre mémorisation. Nous vous suggérons alors de développer rapidement des stratégies d'étude (prise de notes, résumés en mots-clés, schémas, graphiques) qui vous permettront de bien structurer et mémoriser l'information.	
	</p>
	<h2>« Les évaluations me font peur. »</h2>
	<p>
		La peur d'échouer est souvent l'hantise des étudiants et des étudiantes. Certains conservent un mauvais souvenir des périodes d'examens où la panique était au rendez-vous. Ils ont peur de ne pas maîtriser leur stress, au point où leur performance en sera affectée. Pour d'autres, les évaluations représentent une mesure de leur valeur personnelle. L'enjeu leur paraît plus grand s'ils ont tout laissé pour retourner aux études. (« Si j'ai un échec, je vais regretter ma décision. ») Essayez plutôt de percevoir les examens comme une façon d'évaluer vos connaissances et misez sur une bonne préparation. Il sera encore temps d'apporter des ajustements après vos premières évaluations. Pour obtenir d'autres moyens afin de mieux contrôler votre anxiété, nous vous invitons à lire le texte La préparation des examens.
	</p>
	<h2>« Je n'ai pas les capacités intellectuelles pour faire des études universitaires. »</h2>
	<p>
		Certaines personnes ont tendance à remettre en doute leurs capacités intellectuelles avant même d'entreprendre leur projet d'études. D'autres arrivent à ce constat après avoir échoué leurs premières évaluations. Le talent et l'intelligence n'expliquent pas tout dans la réussite des études universitaires. Bien d'autres facteurs entrent en ligne de compte comme l'acquisition de certaines connaissances (anglais, informatique, cours préalables), l'intérêt et la connaissance du programme choisi, l'application de stratégies d'étude efficaces, etc. Il s'agit donc de facteurs modifiables et sur lesquels vous avez un certain contrôle. En plus, les recherches démontrent que « les personnes adultes qui persévèrent dans leurs études en dépit de leurs craintes enregistrent en moyenne des notes supérieures à celles des élèves ayant poursuivi sans interruption leur cheminement scolaire » (Guindon, 1995 : 14). Avant de remettre en question vos capacités intellectuelles, nous vous recommandons de bien analyser vos forces et vos lacunes. Pour vous aider dans cette démarche, n'hésitez pas à venir rencontrer un professionnel ou une professionnelle du Centre d'aide aux étudiants. La lecture du texte « <a href="{{LIEN}}remise-question" title="Sortir des remises en question" target="_blank">Sortir des remises en question</a> » peut aussi vous éclairer. 
	</p>
	<h2>« J'ai peur de négliger ma famille et mes amis. »</h2>
	<p>
		Les études universitaires exigent beaucoup de travail : périodes d'étude, présence aux cours, recherche à la bibliothèque, rencontres d'équipe, etc. Par conséquent, le temps accordé à vos proches sera plus restreint. Vous avez donc avantage à bien les informer de cette réalité et à discuter avec eux des solutions à envisager. Essayez de consacrer du temps à vos proches, car ils demeurent vos principaux alliés pour traverser les périodes de découragement. De plus, pour connaître des moyens afin de faciliter la conciliation famille-études, consultez le texte « <a href="{{LIEN}}famille" title="Concilier la famille et les études : mission impossible ?" target="_blank">Concilier la famille et les études : mission impossible ?</a> »
	</p>
</section>
<section id="conseils">
	<h1>Conseils pour faciliter votre retour aux études</h1>
	<h2>Se laisser le temps</h2>
	<p>
		À vouloir aller trop vite, on va plus lentement. Réapprendre à étudier et à comprendre les rouages universitaires, cela fait beaucoup d'adaptations en même temps. Cette période de transition peut prendre en moyenne une session. Cependant, la durée de votre absence sur les bancs d'école influence le temps nécessaire pour vous adapter à tous les aspects de la vie universitaire. Il serait intéressant de commencer graduellement, en prenant un cours du soir, par exemple. Cela vous laisserait du temps pour acquérir de nouvelles méthodes de travail et vous familiariser avec les exigences universitaires. Nous vous suggérons également de lire le texte « <a href="{{LIEN}}partir-du-bon-pied" title="Partez du bon pied !" target="_blank">Partez du bon pied !</a> », portant sur l'adaptation aux études universitaires.
	</p>
	<h2>Briser l'isolement</h2>
	<p>
		Le sentiment de solitude ou d'isolement est souvent évoqué par les étudiants et étudiantes qui font un retour aux études. Vous pensez être la seule personne à ne pas comprendre un concept abordé en classe ? N'hésitez pas à consulter vos professeurs, professeures ou vos collègues pour ne pas rester avec cette impression. De plus, gardez-vous du temps pour participer à des activités sportives ou socioculturelles sur le campus. Et pourquoi ne pas vous impliquer dans un comité ou une association étudiante ? Voilà différentes façons d'augmenter votre sentiment d'appartenance et de vous sentir moins isolé, isolée. Pour obtenir plus d'information, consultez le Service des affaires étudiantes [<a href="http://www.dse.ulaval.ca/" title="http://www.dse.ulaval.ca/" target="_blank">http://www.dse.ulaval.ca/</a>].
	</p>
	<h2>Réévaluez vos objectifs</h2>
	<p>
		La tendance à vouloir atteindre des objectifs trop élevés et même inatteignables s'observe chez plusieurs des étudiants et étudiantes qui fon un retour aux études. (« Je veux tout comprendre du premier coup. » « Mes études ne doivent rien changer dans ma vie personnelle et familiale. ») Ceux et celles qui exigent trop d'eux-mêmes sont plus susceptibles d'épuisement. Au départ, essayez plutôt d'ajuster vos objectifs en fonction de votre nouvelle réalité. Vous pourrez graduellement augmenter vos exigences envers vous-même en cours de route. Pour plus de renseignements, nous vous conseillons la lecture des textes « <a href="{{LIEN}}perfectionnisme" title="Le perfectionnisme" target="_blank">Le perfectionnisme</a> » et « <a href="{{LIEN}}epuisement-etudiant" title="L'épuisement étudiant" target="_blank">L'épuisement étudiant</a> ».
	</p>
	<h2>Adoptez des méthodes de travail efficaces</h2>
	<p>
		Mieux vaut étudier autrement que davantage. Il s'agit de viser une meilleure efficacité lors des périodes d'étude. Les étudiants et étudiantes qui font un retour aux études ressentent souvent une frustration d'obtenir des résultats inversement proportionnels aux efforts déployés. Les exposés « <a href="{{LIEN}}cles-de-la-reussite" title="Les clés de la réussite" target="_blank">Les clés de la réussite</a> », offerts par le Centre d'aide aux étudiants, présentent des moyens concrets pour acquérir des méthodes d'étude efficaces. Pour plus de renseignements, vous pouvez aussi consulter notre section Réussite universitaire.
	</p>
	<h2>Demandez la collaboration de votre entourage</h2>
	<p>
		Les études universitaires exigent beaucoup de travail et limitent le temps consacré aux responsabilités familiales ou personnelles. N'hésitez pas à déléguer quelques tâches domestiques à vos proches. Lors des périodes de pointe (mi-session, fin de session), votre entourage peut même vous donner un coup de main dans certaines tâches scolaires (correction des travaux longs, servir de public pour les exposés oraux). Il sera d'autant plus fier d'avoir participé à votre réussite.
	</p>
</section>
<section id="ressources">
	<h1>Ressources à explorer</h1>
	<p>
		Il existe plusieurs ressources sur le campus pour vous venir en aide, tant sur le plan personnel que scolaire : 
	</p>
	<ul>
		<li>
			Les exposés, ateliers, rencontres individuelles offerts par notre Centre: consulter les différentes sections de ce site, notamment les « Ressources générales » ici à gauche.
		</li>
		<li>
			Bureau des bourses et de l'aide financière [<a href="http://www.bbaf.ulaval.ca" title="http://www.bbaf.ulaval.ca" target="_blank">http://www.bbaf.ulaval.ca</a>]
		</li>
		<li>
			Service de placement de l'Université Laval [<a href="http://www.spla.ulaval.ca" title="http://www.spla.ulaval.ca" target="_blank">http://www.spla.ulaval.ca</a>]
		</li>
		<li>
			Admission des candidats adultes  [<a href="http://www2.ulaval.ca/futurs-etudiants/candidats-adultes.html" title="http://www2.ulaval.ca/futurs-etudiants/candidats-adultes.html" target="_blank">http://www2.ulaval.ca/futurs-etudiants/candidats-adultes.html</a>]
		</li>
		<li>
			La bibliothèque (séances d'initiation à la recherche documentaire) [<a href="http://www.bibl.ulaval.ca/mieux/orienter/formation_doc/formation_initiation" title="http://www.bibl.ulaval.ca/mieux/orienter/formation_doc/formation_initiation" target="_blank">http://www.bibl.ulaval.ca/mieux/orienter/formation_doc/formation_initiation</a>] 
		</li>
		<li>
			Activités de formation en informatique [<a href="https://www.dti.ulaval.ca/offre-de-services/formation" title="https://www.dti.ulaval.ca/offre-de-services/formation" target="_blank">https://www.dti.ulaval.ca/offre-de-services/formation</a>]
		</li>
		<li>
			Les actualités et les médias du campus (journaux, calendrier des activités, etc.) [<a href="http://www.ulaval.ca/Al/actualites.html" title="http://www.ulaval.ca/Al/actualites.html" target="_blank">http://www.ulaval.ca/Al/actualites.html</a>]
		</li>
		<li>
			L'agenda universitaire distribué au comptoir Multi-Services CADEUL (local 2265, pavillon Maurice-Pollack)
		</li>
		<li>
			La programmation du PEPS (centre sportif) [<a href="http://www.peps.ulaval.ca" title="http://www.peps.ulaval.ca" target="_blank">http://www.peps.ulaval.ca</a>]
		</li>
	</ul>
	<p>
		Découvrez le <a href="http://www2.ulaval.ca/futurs-etudiants/candidats-adultes/ressources-et-outils/temoignages-detudiants.html" title="parcours d'étudiants" target="_blank">parcours d'étudiants</a> de l'Université Laval ayant fait un retour aux études en tant que candidat adulte. 
	</p>
	<p>
		Pour toutes autres informations, consultez le site de l'Université Laval [<a href="http://www.ulaval.ca/" title="http://www.ulaval.ca/" target="_blank">http://www.ulaval.ca/</a>]
	</p>
</section>
<section id="conclusion">
	<h1>Conclusion</h1>
	<p>
		Malgré les efforts et les sacrifices, la majorité des étudiants et étudiantes ne regrettent aucunement un retour aux études. Leurs études représentent à la fois une source de valorisation et une occasion d'améliorer leurs conditions de vie. Selon l'étude de Guindon (1995), la plupart affirme avoir acquis : 
	</p>
	<ul>
		<li>
			une meilleure compréhension de la société et de son fonctionnement ;
		</li>
		<li>
			un esprit de synthèse et d'analyse ;
		</li>
		<li>
			une image plus positive de soi et une meilleure confiance en soi.
		</li>
	</ul>
	<p>
		Nous espérons que ces observations vous inciteront à poursuivre votre projet d'études et à conserver votre plaisir d'apprendre.
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		BOUTIN, Lorraine (2003), « L'âge de tous les possibles : les adultes qui retournent à l'école », Cité éducative, vol. 18, no 2 (mars), p. 12-15 [en ligne]. [<a href="http://www.ageefep.qc.ca/docs/ce/2003mars.pdf" title="http://www.ageefep.qc.ca/docs/ce/2003mars.pdf" target="_blank">http://www.ageefep.qc.ca/docs/ce/2003mars.pdf</a>] (4 mai 2009)
	</cite></p>
	<p><cite>
		CONSEIL SUPÉRIEUR DE L'ÉDUCATION (1985). Les adultes dans les programmes réguliers de l'université : des étudiants à part entière, Avis au ministre de l'Enseignement supérieur et de la Science, Québec (novembre).
	</cite></p>
	<p><cite>
		GUINDON, Michel (1995), Le retour aux études de l'adulte : répercussions personnelles, familiales et professionnelles, Saint-Laurent, Éditions du Renouveau pédagogique. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Marie-Hélène Simard, psychologue
	</p>
</footer>
