<blockquote>
	L'esprit n'est pas un navire à remplir, mais un feu à allumer. 
	<cite>Plutarque</cite>
</blockquote>
<p>
	Les mathématiques et les sciences pures requièrent, selon les cours, des méthodes d'étude différentes des autres matières. De plus, les exigences des cours universitaires requièrent parfois certains ajustements pour réussir (degré d'autonomie dans l'apprentissage, niveau d'intégration des concepts, temps d'étude à investir). Dans la plupart des cas, les difficultés et les échecs sont attribuables à un manque de planification et de préparation, ainsi qu'à de mauvaises stratégies d'étude. Ce document vous propose des conseils pour étudier ces matières plus efficacement et pour favoriser la réussite de ces cours. 
</p>
<nav>
	<ul>
		<li><a href="#preparer" title="Préparez vos cours">Préparez vos cours</a></li>
		<li><a href="#prendre-note" title="Prenez des notes durant le cours">Prenez des notes durant le cours</a></li>
		<li><a href="#manuels-notes-cours" title="Utilisez vos manuels et notes de cours">Utilisez vos manuels et notes de cours</a></li>
		<li><a href="#organisation" title="Soyez organisé, organisée">Soyez organisé, organisée</a></li>
		<li><a href="#planifier" title="Planifiez !">Planifiez !</a></li>
		<li><a href="#a-jour" title="Tenez-vous à jour dans la matière">Tenez-vous à jour dans la matière</a></li>
		<li><a href="#pratique" title="Pratiquez !">Pratiquez !</a></li>
		<li><a href="#reseau" title="Travaillez en réseau">Travaillez en réseau</a></li>
		<li><a href="#resolution-problemes" title="Comprenez les concepts sous-jacents à la résolution de problèmes">Comprenez les concepts sous-jacents à la résolution de problèmes</a></li>
		<li><a href="#relier-matiere" title="Essayez de relier la matière à des problèmes concrets">Essayez de relier la matière à des problèmes concrets</a></li>
		<li><a href="#etapes" title="Effectuez vos exercices par étapes">Effectuez vos exercices par étapes</a></li>
		<li><a href="#panique" title="Vous paniquez ? Rien ne va plus ?">Vous paniquez ? Rien ne va plus ?</a></li>
		<li><a href="#examens" title="Préparez-vous à passer des examens">Préparez-vous à passer des examens</a></li>
		<li><a href="#conclusion" title="Conclusion">Conclusion</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="preparer">
	<h1>Préparez vos cours</h1>
	<p>
		Le but de la préparation n'est pas de tout comprendre mais d'avoir une idée générale du prochain cours, ce qui vous permettra d'avoir une meilleure écoute, une prise de notes plus efficace, et ce, même si votre préparation est brève. Identifiez les parties qui vous semblent plus complexes : vous pourrez leur accorder une plus grande attention lors des explications.
	</p>
	<p>
		Voir aussi le texte concernant <a href="{{LIEN}}ecoute-en-classe" title="l'écoute en classe et la prise de notes" target="_blank">l'écoute en classe et la prise de notes</a>.
	</p>
</section>
<section id="prendre-note">
	<h1>Prenez des notes durant le cours</h1>
	<p>
		Tirez profit du temps passé en classe, en essayant de saisir le maximum et en poursuivant vos efforts de compréhension, même si vous perdez le fil par moments. Si vous manquez une partie d'une explication, écrivez ce que vous pouvez et laissez des espaces pour compléter les notions manquantes. Indiquez par un « ? » ces flous afin de pouvoir y revenir dès que possible. 
	</p>
	<p>
		Posez des questions en classe. Au moins, le professeur ou la professeure saura que la matière vous semble confuse. Il est certain que votre sentiment sera partagé par d'autres étudiants et étudiantes.
	</p>
	<p>
		Voir aussi le texte concernant <a href="{{LIEN}}ecoute-en-classe" title="l'écoute en classe et la prise de notes" target="_blank">l'écoute en classe et la prise de notes</a>.
	</p>
</section>
<section id="manuels-notes-cours">
	<h1>Utilisez vos manuels et notes de cours</h1>
	<p>
		Voir aussi le texte concernant la lecture : comment être plus efficace. 
	</p>
	<p>
		Crayon en main, lisez avec méthode et structure, section par section. Assurez-vous de comprendre les exemples, les relations entre les idées, les symboles et la terminologie. Les représentations visuelles de la matière (graphiques, diagrammes, figures, schémas) méritent une attention particulière car ils facilitent l'intégration de l'information. 
	</p>
	<p>
		Révisez les notions antérieures (si nécessaire) pour faciliter votre compréhension de la nouvelle matière. Au besoin, vous pouvez aussi trouver une explication différente dans un autre volume (souvent en référence dans votre plan de cours). Si certaines notions de base vous semblent trop lointaines, des sessions passerelles existent auprès de la <a href="http://www.fsg.ulaval.ca/accueil/" title="Faculté des sciences et de génie" target="_blank">Faculté des sciences et de génie</a>. 
	</p>
</section>
<section id="organisation">
	<h1>Soyez organisé, organisée</h1>
	<p>
		Essayez de travailler de façon assez méthodique et ordonnée pour pouvoir utiliser vos notes de cours, de même que les démarches des problèmes résolus lors de la préparation à vos examens. 
	</p>
</section>
<section id="planifier">
	<h1>Planifiez !</h1>
	<p>
		Il peut être motivant de concevoir le temps que vous consacrez à vos études comme un investissement pour votre vie professionnelle future. 
	</p>
	<p>
		Voir aussi le texte concernant la gestion du temps : <a href="{{LIEN}}gestion-temps" title="comment l'améliorer" target="_blank">comment l'améliorer</a>.
	</p>
</section>
<section id="a-jour">
	<h1>Tenez-vous à jour dans la matière</h1>
	<p>
		Ce principe est particulièrement important puisque la matière s'enchaîne logiquement : chaque cours repose sur le précédent. Assurez-vous de faire le pont entre les nouvelles connaissances et les connaissances antérieures. 
	</p>
	<p>
		Plus vous accumulez du retard, plus vous devrez fournir d'efforts pour comprendre la matière et vous rattraper. Si vous vous sentez « perdu » ou « perdue » dans la matière, il pourrait s'agir d'un seul concept incompris, mais qui vous complique la vie considérablement. 
	</p>
	<p>
		Note : Pour bon nombre d'étudiants et d'étudiantes, l'étude de dernière minute a souvent été suffisante pour rattraper le retard et réussir. Plusieurs continuent de se fier à cette façon de faire à l'université et se heurtent à des difficultés. En plus d'augmenter le risque d'échec, le désavantage majeur de cette habitude est qu'elle diminue la rétention à long terme de la matière. Cela a souvent pour conséquence d'occasionner d'autres difficultés dans la compréhension des cours qui suivront dans votre formation. 
	</p>
	<p>
		Voir aussi le texte concernant la procrastination : <a href="{{LIEN}}procrastination" title="comment ne pas remettre à plus tard" target="_blank">comment ne pas remettre à plus tard</a>.
	</p>
</section>
<section id="pratique">
	<h1>Pratiquez !</h1>
	<p>
		Vous attendre à réussir sans faire vos exercices est irréaliste. Bien qu'il importe de vous assurer d'avoir compris la matière avant de faire les problèmes, n'utilisez pas tout votre temps d'étude à lire la théorie.
	</p>
	<p>
		Les mathématiques sont un peu comme le sport... Un entraînement hebdomadaire vous permettra de vous mettre plus en forme que six heures d'entraînement la veille d'une compétition ! Plus vous vous pratiquerez, plus vous développerez votre confiance et votre rapidité.
	</p>
	<p>
		Faites une sélection judicieuse des problèmes à résoudre. Choisissez un certain nombre de problèmes pour chaque série, plutôt que de faire tous les problèmes d'une même série. Vous risquez moins de manquer de temps pour couvrir l'ensemble de la matière. 
	</p>
	<p>
		Lorsque vous faites vos exercices, tentez de ne pas vous référer à la section « solutionnaire » dès le départ. Aussi, ne procédez pas de façon machinale, cela risque de vous jouer des tours. Gardez à l'esprit que même si vous comprenez la démarche, il est fort possible que vous n'arriverez pas à résoudre le problème si vous n'essayez pas. Laissez de côté la pensée magique du type : « je comprends, c'est logique, alors pas la peine de le faire ! ».
	</p>
</section>
<section id="reseau">
	<h1>Travaillez en réseau</h1>
	<p>
		Il n'y a pas de meilleure façon d'approfondir une matière que d'essayer de l'expliquer ! C'est aussi plus motivant. Il est fort utile de développer un réseau étudiant avec qui travailler en collaboration. Après tout, le travail en équipe occupera probablement une grande partie de votre futur emploi. Comparer des perspectives différentes vous aidera à mieux maîtriser les concepts. Faites cependant attention à ne pas dépendre des autres ; assurez-vous de vous planifier aussi des périodes d'étude seul ou seule.
	</p>
</section>
<section id="resolution-problemes">
	<h1>Comprenez les concepts sous-jacents à la résolution de problèmes</h1>
	<p>
		La résolution de problèmes est une manière de vous aider à comprendre et à appliquer certains concepts. Il est peu profitable d'arriver à la « bonne » réponse si vous ne saisissez pas quand et pourquoi utiliser cette démarche. C'est le but de votre apprentissage. Gardez à l'esprit que les questions à l'examen peuvent être (et seront probablement) différentes des exemples présentés en classe ou dans vos manuels et notes de cours. 
	</p>
	<h2>Il existe différents niveaux de difficulté aux problèmes :</h2>
	<ul>
		<li>
			problèmes exigeant l'application telle quelle de la méthode apprise ; 
		</li>
		<li>
			problèmes exigeant une application de la méthode à une situation différente et non familière. Cela implique le développement d'une approche en plusieurs étapes, requérant plusieurs habiletés mathématiques ;
		</li>
		<li>
			problèmes exigeant une extension de la méthode, avant de pouvoir l'appliquer à une situation différente et non familière. Cela implique une bonne compréhension des concepts sous-jacents et de leurs multiples applications.
		</li>
	</ul>
</section>
<section id="relier-matiere">
	<h1>Essayez de relier la matière à des problèmes concrets</h1>
	<p>
		Interrogez-vous sur les applications possibles des problèmes que vous faites, sur les utilités des notions expliquées (ex. : situations nouvelles, expériences personnelles). 
	</p>
	<p>
		Il peut être difficile de voir une utilité à l'apprentissage de notions parfois très abstraites. Essayez d'identifier ce que cela peut vous permettre de développer sur les plans intellectuel (votre jugement, votre raisonnement logique) et personnel (la persistance à l'effort, la planification). Ces qualités ne sont pas à dédaigner pour de futurs scientifiques, ingénieurs ou ingénieures.
	</p>
</section>
<section id="etapes">
	<h1>Effectuez vos exercices par étapes</h1>
	<ol>
		<li>
			Révisez vos notes de cours, relisez les exemples. Ceci peut vous sembler plus long dans un premier temps, mais peut vous épargner la frustration de ne pas arriver à faire vos problèmes. 
		</li>
		<li>
			Lisez bien le problème afin d'en avoir une idée générale. Un problème bien lu est à moitié résolu... Identifiez le type de problème dont il s'agit. Reliez ce problème à un exemple abordé dans le cours. Pensez aux exercices similaires que vous avez déjà faits. 
		</li>
		<li>
			Relisez chaque phrase pour y puiser l'information fournie et identifiez dans vos propres mots ce qui vous est demandé. Au besoin, illustrez à l'aide d'un graphique ou d'un diagramme. Faites des liens entre l'information fournie et celle qui est recherchée. Écrivez une équation pour exprimer ces relations (données et inconnues). 
		</li>
		<li>
			Lorsque vous obtenez une réponse, retournez aux données initiales et vérifiez-en le sens. Est-ce que la solution répond à la question posée ? Est-ce dans la bonne unité de mesure ou étendue ? 
		</li>
		<li>
			Si le problème semble compliqué, résolvez une partie du problème en le simplifiant et en le rendant moins abstrait (ex. : utilisez des nombres extrêmement petits ou grands, remplacez une inconnue par un nombre). Travaillez à rebours. Qu'avez-vous besoin de savoir pour obtenir la réponse ? Faites une tentative de résolution et vérifiez votre réponse. Celle-ci vous indiquera peut-être une piste de solution. 
		</li>
	</ol>
	<h2>Après avoir résolu un problème, prenez le temps de l'analyser :</h2>
	<ul>
		<li>
			Quelles sont les concepts ou équations appliqués ? 
		</li>
		<li>
			Comment avez-vous commencé le problème ? Quelles sont les étapes permettant de le résoudre ? 
		</li>
		<li>
			Comparez et contrastez les problèmes. Quelles sont les différences et les ressemblances entre les exercices réalisés en classe et ceux du manuel ou des notes de cours ? entre chaque chapitre et entre les chapitres ? 
		</li>
		<li>
			Pourriez-vous résoudre ce problème d'une autre façon ? le simplifier ? 
		</li>
	</ul>
	<p>
		Cette méthode consolide la compréhension et l'intégration de la matière. Elle permet aussi de mieux retenir les démarches à réaliser selon le type de problèmes à résoudre. Portez une attention particulière aux erreurs que vous faites, et essayez de les comprendre. Tenez une liste de vos erreurs « typiques ».
	</p>
</section>
<section id="panique">
	<h1>Vous paniquez ? Rien ne va plus ?</h1>
	<p>
		Voir aussi le texte concernant la motivation : <a href="{{LIEN}}motivation" title="comment la maintenir" target="_blank">comment la maintenir</a>.
	</p>
	<p>
		« Bloquer » sur un problème est souvent lié à un ensemble de réactions : anxiété, panique, incapacité de se concentrer, dévalorisation, frustration, impuissance, découragement. Ces réactions apparaissent lorsque vous rencontrez un obstacle, mais peuvent devenir rapidement votre principal obstacle (démissionner, « procrastiner »). 
	</p>
	<p>
		Entretenir des croyances concernant une activité d'apprentissage peut déterminer les comportements que vous adopterez. Par exemple : 
	</p>
	<p>
		<q>La bosse des maths, on l'a ou on l'a pas...</q><br>
		<q>Ces exercices-là ne servent à rien, personne n'utilise ça dans la vraie vie !</q><br>
		<q>Une matière obscure et complexe comme celle-là, c'est inhumain !</q>
	</p>
	<p>
		Les étudiants et étudiantes qui ont des difficultés peuvent être tentés d'en faire une affaire de talent plutôt que d'efforts. Ils étudient souvent moins régulièrement, tendent à fuir la tâche, à démissionner à la première difficulté et à demander moins d'aide. Ne pas comprendre du premier coup ne veut pas dire que vous n'y arriverez jamais. Vous devez vous attendre à devoir lire plus d'une fois certaines sections pour bien les comprendre. Le fait d'avoir des difficultés n'entraîne pas l'échec en soi. 
	</p>
	<p>
		Il importe aussi de distinguer persévérance (essayer différentes choses pendant un temps raisonnable) et acharnement (s'épuiser en passant des heures à « bûcher » en essayant de la même façon). En sciences, les tâtonnements sont normaux et les tentatives infructueuses vous permettent de corriger votre tir pour arriver à la bonne solution. La science se construit par la formulation et la vérification d'hypothèses. 
	</p>
	<h2>Avant d'abandonner :</h2>
	<ol>
		<li>
			Assurez-vous que l'anxiété et la frustration ne vous amènent pas à vous éparpiller. En cas de confusion, faites une pause. Vous devez dans un premier temps résister à la tentation d'abandonner avant d'avoir vraiment essayé une résolution. 
		</li>
		<li>
			Retournez à vos notes et aux explications fournies dans votre manuel ou vos notes de cours, puis reprenez les étapes décrites à la section Effectuez vos exercices par étapes. 
		</li>
		<li>
			S'il vous est encore impossible de résoudre le problème, passez à un autre. Consacrez-vous à une autre tâche pour l'instant. Vous aurez peut-être des idées en résolvant d'autres problèmes... 
		</li>
		<li>
			Si vous ne comprenez pas une notion, essayez de formuler une question précise au sujet de votre incompréhension. Souvent, le seul fait de tenter d'énoncer ce que vous ne comprenez pas vous permettra d'y répondre vous-même. 
		</li>
		<li>
			Demandez de l'aide sans attendre. Il n'est pas efficace d'essayer de tout comprendre en solo. Allez aux séances de dépannages. Les problèmes de l'examen ressemblent souvent à ceux résolus lors de ces périodes. Approchez quelqu'un de votre programme ou prenez rendez-vous avec le professeur ou la professeure. Cela dit, n'oubliez pas que les personnes-ressources sont des « coachs » ; ne vous attendez pas à ce qu'ils fassent tous les efforts à votre place ! 
		</li>
	</ol>
	<p>
		Exemple de mauvaise question : « je ne comprends pas la matière », « je ne comprends pas le no 17 ». 
	</p>
	<p>
		Exemple de bonne question : « voici ce que j'ai fait pour résoudre le no 17... qu'est-ce qui ne marche pas ? » « je ne comprends pas pourquoi [X] n'égale pas [Y]... » « comment passe-t-on de telle étape à telle étape ? ». 
	</p>
	<p>
		Après avoir obtenu de l'aide, refaites le problème et prenez bonne note de ce qui vous manquait pour le réussir.
	</p>
</section>
<section id="examens">
	<h1>Préparez-vous à passer des examens</h1>
	<p>
		Voir aussi le texte au sujet de <a href="{{LIEN}}examens" title="la préparation des examens" target="_blank">la préparation des examens</a>.
	</p>
	<h2>Avant l'examen</h2>
	<p>
		Vous pouvez parfois avoir accès aux examens des années antérieures. Imposez-vous de résoudre les problèmes, avec les mêmes contraintes que vous aurez à l'examen (ex. : sans référer à vos exemples, temps limité, en mélangeant les problèmes). Idéalement, ce ne doit pas être fait la veille de l'examen. 
	</p>
	<h2>Pendant l'examen</h2>
	<p>
		Procédez par étapes et avec méthode pour résoudre les problèmes. La nervosité peut parfois vous amener à vous précipiter. Lisez bien la question et assurez-vous de comprendre toutes les données du problèmes avant de tenter de le résoudre. Gardez toutes les traces de vos démarches de résolution. 
	</p>
	<p>
		Notez tout ce que vous avez en mémoire active (équations, théorème, définitions, etc.), ce qui vous libérera l'esprit. 
	</p>
	<p>
		Survolez l'ensemble de l'examen en vous attardant à la pondération. Assurez-vous de vous garder du temps pour les problèmes qui valent le plus de points. Évaluez le temps approximatif à accorder à chaque question. Si vous dépassez le temps alloué à un problème, à moins d'être sur le point de le terminer, passez à une autre question. 
	</p>
	<p>
		À première vue, vous aurez peut-être l'impression de ne pouvoir résoudre aucun problème. C'est alors que la panique peut s'installer. Cette panique initiale est courante, donc prenez quelques minutes pour la laisser se dissiper (en respirant) avant d'amorcer votre examen ou choisissez une question facile. Ne vous préoccupez pas des autres étudiants et étudiantes. 
	</p>
	<p>
		Vérifier vos calculs au fur et à mesure peut parfois vous sauver du temps. Sinon, révisez si possible votre examen à la fin. 
	</p>
	<p>
		Si vous manquez de temps pour faire les calculs, écrivez ce que vous feriez pour l'obtenir. Dans un problème en plusieurs étapes, effectuez les parties que vous savez, même s'il vous manque la première partie. Vous pouvez obtenir une partie des points.
	</p>
	<h2>Après l'examen</h2>
	<p>
		Lorsque vos notes sont affichées, il peut être pertinent de faire les démarches nécessaires afin d'obtenir votre copie d'examen et d'avoir accès aux solutions. Une bonne analyse de votre copie corrigée peut vous aider pour l'étude de vos prochains examens. Prendre rendez-vous pour rencontrer votre professeur ou professeure peut être intimidant ; cependant, peu importe son attitude, n'oubliez pas que c'est vous que vous pénalisez si vous n'osez pas. 
	</p>
</section>
<section id="conclusion">
	<h1>Conclusion</h1>
	<p>
		Enfin, si vous n'êtes pas satisfait ou satisfaite de vos performances, ne mettez pas automatiquement en cause vos capacités intellectuelles ou vos aptitudes. Questionnez-vous avant tout sur les méthodes d'étude utilisées, sur le temps de préparation investi ou sur votre degré d'anxiété. 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		<a href="http://www.utexas.edu" title="www.utexas.edu" target="_blank">www.utexas.edu</a>
	</cite></p>
	<p><cite>
		<a href="http://www.scs.tamu.edu" title="www.scs.tamu.edu" target="_blank">www.scs.tamu.edu</a>
	</cite></p>
	<p><cite>
		<a href="http://www.csupomona.edu" title="www.csupomona.edu" target="_blank">www.csupomona.edu</a>
	</cite></p>
	<p><cite>
		<s><a href="http://www.albion.edu/asc/QSC/math_anxiety.asp" title="www.albion.edu/asc/QSC/math_anxiety.asp" target="_blank">www.albion.edu/asc/QSC/math_anxiety.asp</a></s>
	</cite></p>
	<p><cite>
		<s><a href="http://www.lemoyne.edu/academic_support_center/mathanx.htm" title="www.lemoyne.edu/academic_support_center/mathanx.htm" target="_blank">www.lemoyne.edu/academic_support_center/mathanx.htm</a></s>
	</cite></p>
	<p><cite>
		<a href="http://www.mathacademy.com/pr/minitext/anxiety/index.asp" title="www.mathacademy.com/pr/minitext/anxiety/index.asp" target="_blank">www.mathacademy.com/pr/minitext/anxiety/index.asp</a>
	</cite></p>
	<p><cite>
		<a href="http://www2.roguecc.edu/Mathematics/Math Anxiety/managing_math_anxiety.htm" title="www2.roguecc.edu/Mathematics/Math Anxiety/managing_math_anxiety.htm" target="_blank">www2.roguecc.edu/Mathematics/Math Anxiety/managing_math_anxiety.htm</a>
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Véronique Mimeault, psychologue
	</p>
</footer>
