<p>
	Chaque année, des milliers d'étudiantes et d'étudiants laissent temporairement les bancs de l'université pour aller en stage. Le stage est une étape importante et enrichissante de plusieurs formations. Il permet un premier contact avec le marché du travail, une mise en pratique des apprentissages théoriques et une exploration de vos compétences et intérêts, sur le plan personnel et professionnel.
</p>
<p>
	Note : Dans ce texte, le terme superviseur ou superviseure sera utilisé pour désigner la personne responsable du stage, le moniteur ou la monitrice, ou encore l'enseignante ou l'enseignant associé.
</p>
<nav>
	<ul>
		<li><a href="#choisir" title="Comment choisir votre stage">Comment choisir votre stage</a></li>
		<li><a href="#premiere-journees" title="Bien amorcer votre stage dès les premières journées">Bien amorcer votre stage dès les premières journées</a></li>
		<li><a href="#expertise-professionnelle" title="Le modèle de l'évolution vers l'expertise professionnelle">Le modèle de l'évolution vers l'expertise professionnelle</a></li>
		<li><a href="#conseils" title="Conseils pour composer avec la vie de stagiaire">Conseils pour composer avec la vie de stagiaire</a></li>
		<li><a href="#difficultes" title="Les difficultés les plus fréquentes en cours de route">Les difficultés les plus fréquentes en cours de route</a></li>
		<li><a href="#conclusion" title="Conclusion">Conclusion</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="choisir">
	<h1>Comment choisir votre stage</h1>
	<p>
		Si vous avez la possibilité de choisir, plusieurs aspects doivent être considérés pour faire la meilleure décision possible. N'hésitez pas à poser des questions, à demander à visiter les lieux, à rencontrer des personnes (ex. : stagiaires précédents ou précédentes) et à obtenir des informations sur le milieu de stage. En consultant les offres de stage, vous pouvez examiner chacun des critères suivants, selon vos priorités :
	</p>
	<h2>1. Le contenu du programme de stage</h2>
	<p>
		Quel secteur spécifique de votre domaine voulez-vous expérimenter ? Quelle clientèle vous intéresse ? Selon quelle approche ? 
	</p>
	<h2>2. Le superviseur ou la superviseure</h2>
	<p>
		Au cours des entrevues de stage, permettez-vous d'examiner votre futur superviseur ou superviseure, tout comme il ou elle vous évalue. Même si le stage vous convient, il se peut que vous ne vous entendiez pas avec cette personne ou que le type de supervision offert ne corresponde pas à vos besoins. Fiez-vous à votre impression en entrevue. D'une certaine façon, ce facteur est important, puisque votre superviseur ou superviseure agira comme modèle pour vous.
	</p>
	<p>
		Exemples de thèmes à discuter avec le superviseur ou la superviseure : vos expériences passées, vos attentes, vos objectifs personnels, le déroulement des rencontres d'encadrement, la fréquence des évaluations...
	</p>
	<h2>3. La possibilité d'emploi</h2>
	<p>
		Certains milieux de stage peuvent offrir des ouvertures sur le marché du travail, alors que cette possibilité est exclue dès le départ pour d'autres milieux. Ce facteur peut constituer un atout, mais n'est peut-être pas le plus important à considérer à ce stade-ci.
	</p>
	<h2>4. Le lieu (ou la ville)</h2>
	<p>
		Peut-être avez-vous besoin de changement et d'aventure ? Un stage peut être une belle occasion d'aller explorer une autre région ou d'autres horizons et de développer de nouveaux contacts.
	</p>
	<h2>5. La période de disponibilité</h2>
	<p>
		Quel moment avez-vous déterminé comme étant le plus approprié dans votre plan de formation pour faire votre stage ?
	</p>
</section>
<section id="premiere-journees">
	<h1>Bien amorcer votre stage dès les premières journées</h1>
	<p>
		Certains milieux de stage ont une procédure bien structurée pour accueillir les stagiaires, ce qui facilitera, bien sûr, votre intégration. Si le milieu n'organise pas votre arrivée :
	</p>
	<h2>1. Installez-vous</h2>
	<p>
		Faites comme si vous veniez d'être engagé ou engagée pour un nouvel emploi. Prenez possession des lieux physiques (installez votre bureau, repérez les choses dont vous aurez besoin).
	</p>
	<h2>Présentez-vous</h2>
	<p>
		Créez dès le départ une bonne impression, n'attendez pas trop. Intéressez-vous aux gens et expliquez-leur qui vous êtes et pour combien de temps vous travaillerez auprès d'eux. Essayez de surmonter votre timidité et allez aux pauses ; dînez avec les autres employés ou employées.
	</p>
	<h2>Posez des questions</h2>
	<p>
		Sachez ce qui est attendu de vous, il n'y a pas de questions stupides (ex. : code vestimentaire, heures de travail).
	</p>
	<h2>Révisez votre contrat d'apprentissage</h2>
	<p>
		Ce contrat est un peu comme votre « plan de cours ». Souvent, il a été lu et signé bien avant le début de votre stage. Le relire attentivement est une bonne façon d'amorcer votre stage.
	</p>
</section>
<section id="expertise-professionnelle">
	<h1>Le modèle de l'évolution vers l'expertise professionnelle</h1>
	<em>(Adapté du modèle de Dreyfus et Benner)</em>
	<p>
		Certaines étapes normales précèdent l'autonomie professionnelle. Ce processus s'étale sur plusieurs années et un certain vécu caractérise chacune des étapes que vous traverserez. Une bonne connaissance de ce processus vous permettra de vous situer dès maintenant à l'intérieur de celui-ci et de vous fixer des attentes plus réalistes envers vous.
	</p>
	<h2>Le ou la novice</h2>
	<p>
		Le novice n'a aucune expérience des situations pratiques reliées à sa future profession. Lors d'un premier stage, beaucoup d'étudiants et d'étudiantes se situent ici. Votre seul point d'appui est la théorie apprise dans vos cours. Beaucoup vivront de l'insécurité à cette étape et douteront d'eux-mêmes. Le ou la stagiaire pourra être porté à se dire « je devrais savoir cela » ou«  j'aurais dû savoir comment réagir ». Pourtant, sans expérience pratique, il est tout à fait normal et inévitable que votre jugement critique ne soit pas encore développé. À cette étape, l'exécution de vos tâches monopolise aussi beaucoup de concentration (ce qui est caractéristique de tout apprentissage, rappelez-vous la première fois où vous avez conduit une voiture manuelle !).
	</p>
	<h2>Le débutant ou la débutante</h2>
	<p>
		Le débutant ou la débutante a déjà fait face à des situations concrètes et fait des liens entre la théorie et la pratique. Il ou elle a encore souvent besoin d'aide pour commettre des actes professionnels. Le sentiment de ne pas être compétent ou compétente peut encore être présent, car dès que vous maîtrisez mieux une certaine habileté, le degré de difficulté ou de complexité des tâches qui seront exigées de vous sera augmenté (ex. : plus de dossiers à traiter, cas plus complexes). En d'autres mots, le débutant ou la débutante est continuellement aux prises avec de nouvelles situations, ce qui réactive son sentiment d'incompétence. À la fin de votre stage, vous aurez généralement atteint le stade débutant avancé.
	</p>
	<h2>Le compétent ou la compétente</h2>
	<p>
		Le compétent ou la compétente a acquis un sentiment de maîtrise et d'efficacité dans la plupart des situations mais sentira encore souvent le besoin de s'améliorer (ex. : en consultant des volumes, en suivant des formations). Ce stade est généralement atteint après deux ou trois années d'expérience, bien que l'évolution puisse être plus ou moins rapide selon les individus et les contextes. Ainsi, l'atteinte de ce stade constitue ainsi définitivement un objectif démesuré pour un stage.
	</p>
	<h2>Le performant ou la performante</h2>
	<p>
		Le performant ou la performante a développé une perception globale de ses tâches professionnelles (ex. : plus grande facilité à prendre des décisions, meilleure identification des priorités). À ce stade, l'individu a de plus en plus d'expériences pratiques en tête et peut même commencer à « oublier » certains aspects plus théoriques des apprentissages. Ce stade est généralement atteint après deux à cinq ans de travail dans le même domaine.
	</p>
	<h2>L'expert ou l'experte</h2>
	<p>
		L'expert ou l'experte a développé des automatismes, une rapidité dans l'exécution des tâches et agit souvent de manière plus intuitive. Ce stade est généralement atteint après cinq ans de pratique. Il peut être frustrant pour une ou un novice, ou encore pour une débutante ou un débutant d'essayer de comprendre le raisonnement d'une experte ou d'un expert ! Ce sera d'ailleurs le cas si vous tentez de vous comparer à votre superviseur ou superviseure... il ou elle vous semblera parfois détenir un pouvoir magique !
	</p>
</section>
<section id="conseils">
	<h1>Conseils pour composer avec la vie de stagiaire</h1>
	<h2>1. Ayez confiance en vos moyens</h2>
	<p>
		Tous les stagiaires ont peur de ne pas être « bon » ou « bonne ». N'exigez pas de vous une confiance d'expert ou d'experte, mais une confiance de novice ou de débutante, débutant. Il est normal de vous sentir habité par certaines craintes (ex. : peur de ne pas être capable). Vous faire confiance implique d'agir, malgré des doutes, et de solliciter les ressources nécessaires pour avancer. Vous pouvez aussi consulter le lien sur la <a href="{{LIEN}}estime-de-soi" title="confiance en soi" target="_blank">confiance en soi</a>.
	</p>
	<h2>2. Minimisez les comparaisons</h2>
	<p>
		À ce stade-ci, le plus possible, comparez-vous à vous-même. Les comparaisons (aux autres stagiaires et professionnelles ou professionnels) vous donneront souvent l'impression que les autres sont meilleurs que vous. Laissez-vous du temps avant de vous juger trop sévèrement. Vous connaissez probablement une évolution différente, parce que vous possédez un bagage d'expériences différentes. Ce n'est pas parce qu'une ou un stagiaire est meilleur que vous qu'elle ou il sera un meilleur professionnel dans deux ans (voir le modèle d'évolution vers l'expertise). Il est néfaste de mettre uniquement l'accent sur vos limites. Afin de vous assurer de bien contrebalancer vos points forts, vos progrès et vos difficultés, ce peut être une bonne idée de tenir un journal de bord pendant votre stages. Essayez de trouver des moyens concrets pour surmonter vos difficultés plutôt que de vous dévaloriser.
	</p>
	<h2>3. Développez et maintenez de bonnes relations interpersonnelles</h2>
	<p>
		Dans un milieu de stage, votre entourage est plus hétérogène (ex. : âges et intérêts plus variés que dans votre programme universitaire). Vous ne choisissez pas vos collègues comme vos compagnons d'université ! Il peut être enrichissant de côtoyer différents types de professionnels ou professionnelles. Un stage peut aussi être une bonne occasion de pratiquer les habiletés d'affirmation de soi (ex. : refuser une demande excessive, demander un congé, recevoir des critiques). 
	</p>
	<p>
		Le ou la stagiaire tient beaucoup à être apprécié des personnes qui bénéficient de ses services (ex. : clients ou clientes, élèves). Contrairement à ce que vous anticipez parfois, ces dernières sont très contentes de contribuer à la formation d'un professionnel ou d'une professionnelle et d'interagir avec un ou une jeune.
	</p>
	<p>
		Le <strong>superviseur</strong> ou la <strong>superviseure</strong> est une personne-clé de l'expérience du stage, d'où l'importance de développer et maintenir une bonne relation. Comme cette personne intervient dans une relation d'autorité avec vous, il peut être bon de garder une saine distance pour la durée du stage. Votre superviseure ou superviseur n'est ni un ami ni un juge, mais un guide, un conseiller. Si vous ressentez une tension (ex. : attitude, manque de disponibilité) qui entrave la relation ou que quelque chose vous dérange, tentez de préciser le malaise le plus rapidement possible et parlez-lui en. La communication au sujet de ces difficultés sera plus difficile si vous attendez. Vous êtes tous deux responsables de la qualité de cette relation. N'oubliez pas que c'est vous qui avez probablement le plus à gagner de ce lien. Enfin, remémorez-vous cette petite phrase : le supervisé ou la supervisée ne devrait pas sentir que quelqu'un le ou la surveille, il ou elle devrait plutôt se sentir soulagé ou soulagée de savoir que quelqu'un est avec lui pour l'aider.
	</p>
	<h2>4. La responsabilité vs le droit à l'erreur</h2>
	<p>
		En stage, vous avez des responsabilités et il est de votre ressort de donner des services professionnels, mais vos actes relèvent principalement de votre superviseur ou superviseure. Gardez en tête que les erreurs et maladresses que vous commettez ne sont pas condamnables puisque vous êtes en situation d'apprentissage. En ce sens, le stage est une bonne occasion d'être enregistré, filmé, vu en action, car cela se reproduit rarement par la suite. La majorité des personnes sont moins performantes lorsqu'elles sont observées, ce qui est normal.
	</p>
	<h2>5. Tirez profit de vos évaluations</h2>
	<p>
		Comme étudiant ou étudiante, on vous a habitué à une évaluation en termes de notes. En stage, vous vous investissez davantage comme personne. Ne vous alarmez pas si vos résultats diffèrent de ceux que vous obtenez habituellement en classe. Ces résultats ne sont pas nécessairement une appréciation de votre travail, de vos efforts ou de votre qualité personnelle, mais un compte rendu de ce que vous avez à améliorer afin de devenir une professionnelle ou un professionnel autonome compétent. En cours de stage ou à l'évaluation mi-stage, demandez à votre superviseure ou superviseur s'il ou elle est satisfait de vos efforts et de la façon dont vous vous impliquez dans votre stage. Cela vous permettra de vous réajuster et d'éviter les mauvaises surprises lors de l'évaluation finale.
	</p>
	<h2>6. Acceptez les écarts entre les milieux pratique et universitaire</h2>
	<p>
		Il peut y avoir des écarts entre les milieux pratique et universitaire, qui pourront vous donner l'impression d'avoir été mal préparé ou préparée. Le stage est une méthode d'apprentissage complémentaire à vos cours. Une formation est rarement complète. N'hésitez pas à compléter votre formation par d'autres expériences (bénévolat, cours, travail, supervision). Vous êtes le premier responsable de votre cheminement.
	</p>
</section>
<section id="difficultes">
	<h1>Les difficultés les plus fréquentes en cours de route</h1>
	<h2>Tâches insuffisantes ou excessives</h2>
	<p>
		Certains milieux de stage exigent plus, d'autres moins. Des ajustements peuvent être nécessaires, parlez-en à votre superviseur ou superviseure, ou encore à un ou une responsable à l'université. Votre contrat d'apprentissage devrait vous fournir des balises et il importe que vous trouviez un juste milieu à votre implication. Le stage exige souvent une disponibilité plus grande que pour les cours. Par contre, vous êtes là pour apprendre et la quantité de tâches ne devrait pas être excessive : un ou une stagiaire a besoin de plus de temps qu'un professionnel ou une professionnelle pour effectuer une même tâche.
	</p>
	<h2>L'anxiété de performance</h2>
	<p>
		Souvenez-vous qu'il est normal de vivre du stress face à une nouvelle situation. Le trac est donc prévisible en stage, surtout au début. Pour composer avec cette forme d'anxiété, certains stagiaires pourront manquer d'initiative alors que d'autres, au contraire, feront du zèle. Ce doute de soi peut stimuler vos apprentissages mais à trop forte dose, devenir dérangeant. Vous pouvez consulter les textes sur le <a href="{{LIEN}}stress-anxiete-scolaire" title="stress et l'anxiété" target="_blank">stress et l'anxiété</a>, si vous croyez que votre niveau de stress est excessif.
	</p>
	<h2>La solitude</h2>
	<p>
		Il est plus difficile d'avoir des contacts avec les autres étudiants et étudiantes en stage que dans les cours. Un stage monopolise beaucoup d'énergie, et il est important de savoir vous entourer et d'échanger sur ce que vous vivez avec d'autres stagiaires.
	</p>
	<h2>Conflit avec le superviseur ou la superviseure</h2>
	<p>
		Si un conflit survient et persiste, parlez-en avec une personne ressource responsable des stages à l'université ou consultez un professionnel ou une professionnelle du COCP.
	</p>
	<h2>Désenchantements, désillusions...</h2>
	<p>
		Un stage est une occasion de vérifier si une personne qui étudie en vue de travailler dans un domaine pourra ou voudra véritablement occuper un emploi dans l'un des milieux de travail possibles. Vous pouvez être attiré ou attirée par un domaine à partir d'une connaissance théorique, mais ne pas connaître les composantes réelles des tâches qu'impliquent ce travail (ex. : supporter ce type de stress, de clientèle, de milieu). La réalité ne correspond pas toujours aux perceptions et aux attentes que vous vous étiez forgées. En général, le stage viendra confirmer votre intérêt, mais il est aussi possible qu'il suscite des remises en question. Assurez-vous de faire la distinction entre les champs spécifiques de votre domaine et évitez les généralisations abusives. N'oubliez pas que le stage est plus souvent une exploration qu'une spécialisation. Essayez de trouver tout de même une valeur à cette expérience, d'y trouver une occasion d'apprentissage.
	</p>
</section>
<section id="conclusion">
	<h1>Conclusion</h1>
	<p>
		Un stage, c'est avant tout une expérience que vous faites pour vous, et non pas pour vos parents, votre superviseur ou superviseure, votre bulletin... Cette expérience a pour but d'explorer, d'apprendre, de connaître et d'avoir un premier contact avec votre profession. 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		DELAYE, T., et GROUSSET, L.-M. (1994), Comment optimiser le travail avec des stagiaires, Nathan.
	</cite></p>
	<p><cite>
		FRENETTE-LECLERC, C.-A. (1992), « Sur la route de l'expertise », Nursing Québec, vol. 12, no 1.
	</cite></p>
	<p><cite>
		GASCHEAU, T., et RIOLS, D. (1993), Le stage en entreprise, Éditions Nathan.
	</cite></p>
	<p><cite>
		HÉBERT, É. (1995), Le stage, instrument d'apprentissage, Cégep de Trois-Rivières.
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Véronique Mimeault, psychologue<br>
		Marcel Bernier, psychologue 
	</p>
</footer>
