<p>
	Les études universitaires exigent que les étudiants développent une plus grande autonomie. Cet objectif semble plus difficile à atteindre pour les étudiants aux prises avec un trouble déficitaire de l’attention ou d’hyperactivité (TDAH). Plusieurs éprouvent un problème à s’autodiscipliner, à être méthodique et sont portés à la procrastination. Ils ont besoin d’une structure externe pour se centrer sur la tâche et être plus productifs. La mise en place de stratégies d’organisation est donc nécessaire pour la poursuite et la réussite de leurs études.
</p>
<p>
	Des stratégies d’études spécifiques pour les personnes ayant un TDAH seront abordées. Vous pouvez cibler <u>une zone de difficulté à la fois</u> et mettre en pratique les solutions suggérées pendant une période de temps assez longue (3 mois environ) pour en vérifier l’efficacité. Vous pouvez consulter les ressources disponibles au Centre d’aide aux étudiants pour vous guider dans l’application de ces solutions.
</p>
<nav>
	<ul>
		<li><a href="#desordre" title="Organiser votre désordre">Organiser votre désordre</a></li>
		<li><a href="#gerer-temps" title="Mieux gérer votre temps au quotidien">Mieux gérer votre temps au quotidien</a></li>
		<li><a href="#liste-taches" title="Par où commencer? Les listes de tâches, alliées indispensables">Par où commencer? Les listes de tâches, alliées indispensables</a></li>
		<li><a href="#oublis" title="Pour contrer les oublis">Pour contrer les oublis</a></li>
		<li><a href="#attention-classe" title="Maintenir votre attention en classe">Maintenir votre attention en classe</a></li>
		<li><a href="#periodes-etude" title="Rendre vos périodes d’étude et de lecture plus efficaces">Rendre vos périodes d’étude et de lecture plus efficaces</a></li>
		<li><a href="#preparation-examens" title="Mieux vous préparer aux examens">Mieux vous préparer aux examens</a></li>
		<li><a href="#humeurs" title="Gérer vos humeurs et votre hyperactivité">Gérer vos humeurs et votre hyperactivité</a></li>
		<li><a href="#strategies" title="Stratégies gagnantes">Stratégies gagnantes</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<p>
	Pour plus de détails sur ce trouble, consulter le texte Le <a href="{{LIEN}}TDAH" title="TDAH : définition, traitements et ressources universitaires" target="_blank">TDAH : définition, traitements et ressources universitaires</a>.
</p>
<p>
	Bonne lecture!
</p>
<section id="desordre">
	<h1>Organiser votre désordre</h1>
	<p>
		Les personnes avec un TDAH ont du mal à s’organiser au quotidien et à long terme. Leur environnement de travail est souvent désordonné. Elles arrivent difficilement à se retrouver au travers des documents qui s’empilent. Voici quelques stratégies pour mieux organiser votre environnement de travail : 
	</p>
	<ul>
		<li>
			Éviter les piles de papier qui traînent sur le bureau.
		</li>
		<li>
			Développer un système de classement facile et clair pour les documents importants (ex. cartables ou chemises de couleur bien identifiées en fonction de chaque cours).
		</li>
		<li>
			Identifier un endroit central qui deviendra votre centre de gestion de ces documents (courrier, factures, documents de travail). Rassembler à cet endroit tout le matériel nécessaire (calculatrice, crayons, dictionnaire, etc.) afin d’éviter de les chercher au moment de gérer vos documents.
		</li>
		<li>
			Indiquer des moments de gestion des documents dans votre agenda.
		</li>
		<li>
			Mettre bien en vue ce qui doit être traité en priorité ou ne pas être oublié. Pour plusieurs personnes qui souffrent du TDAH, ce qui n’est plus à la vue, n’existe plus!
		</li>
		<li>
			Appliquer le principe MUST : Manipuler en Un Seul Temps. Il s’agit de traiter immédiatement les documents reçus tels que les courriels et les factures et de les classer ou de les jeter par la suite.
		</li>
	</ul>
</section>
<section id="gerer-temps">
	<h1>Mieux gérer votre temps au quotidien</h1>
	<p>
		Arriver en retard, oublier un rendez-vous ou la date de remise d’un travail sont des comportements fréquents chez les adultes avec un TDAH. Peu d’entre eux utilisent régulièrement un agenda papier ou électronique, car ils doutent de son efficacité ou n’arrivent pas à maintenir cette habitude. De plus, la notion du temps écoulé est un problème constant chez ces personnes. Nous vous présentons quelques conseils afin de mieux gérer le temps au quotidien.
	</p>
	<ul>
		<li>
			Avoir un agenda papier ou électronique pour faciliter le rappel des activités à l’horaire (ex. : travaux, examens, rendez-vous, activités de loisir). Déterminer un moment précis pour le consulter chaque jour.
		</li>
		<li>
			Utiliser différents codes de couleurs selon le type d’activité et leur degré d’importance (urgence). La plupart des gens qui souffrent de TDAH s’orientent davantage à l’aide de repères visuels.
		</li>
		<li>
			Créer des routines quotidiennes selon votre rythme de travail. Par exemple,  faire les tâches qui demandent plus de concentration lors des périodes où vous êtes plus efficace. En soirée, se reposer ou faire les tâches qui demandent peu de concentration.
		</li>
		<li>
			Faire une tâche à la fois pour éviter de vous éparpiller.
		</li>
		<li>
			Pour rendre plus concrète la notion du temps écoulé, mettre une alarme sonore (ex. : minuterie) pour vous rappeler quand commencer une tâche et quand la terminer.
		</li>
		<li>
			Si nécessaire, diminuer la charge de travail en ayant un horaire de 4 cours au lieu de 5 ou en diminuant les heures de travail rémunéré. Les études sur la réussite universitaire démontrent que plus de 15 heures de travail rémunéré par semaine peuvent nuire à la performance scolaire.
		</li>
	</ul>
</section>
<section id="liste-taches">
	<h1>Par où commencer? Les listes de tâches, alliées indispensables</h1>
	<p>
		Les personnes qui sont atteintes du TDAH éprouvent de la difficulté à entamer ou à terminer leurs tâches. Elles ignorent par où commencer et peuvent rester des heures sur une même activité. Voici quelques conseils pour mieux établir vos priorités et pour amorcer vos tâches plus rapidement : 
	</p>
	<ul>
		<li>
			Faire une liste de tâches à accomplir durant la semaine en utilisant une liste papier ou à l’aide d’un logiciel électronique (ex. intégré dans Outlook ou Google)
		</li>
		<li>
			Employer un système de cotation pour prioriser ses tâches : A (urgent et important), B (urgent) et C (important). Consulter le texte La gestion du temps pour plus de détails.
		</li>
		<li>
			Créer deux types de listes : une pour les études (ex. : travaux, examens, recherche à la bibliothèque, lectures) et une autre pour les tâches personnelles (ex. : rendez-vous, achats, téléphones, factures à payer).
		</li>
		<li>
			Afficher ces listes à des endroits visibles (sur le réfrigérateur, près de l’écran de l’ordinateur, sur le miroir de la salle de bain, près de la porte d’entrée) ou utiliser un système de rappel automatique (calendrier dans Outlook ou pense-bête avec Windows 7) pour éviter de les oublier.
		</li>
		<li>
			Créer une liste quotidienne plus petite et la conserver dans votre porte-monnaie.
		</li>
		<li>
			Réviser régulièrement la liste de choses à faire (matin et soir) et reporter les tâches non complétées sur votre liste de tâches du lendemain.
		</li>
		<li>
			Rayer les tâches complétées au fur et à mesure pour constater tout ce qui est accompli et augmenter ainsi votre motivation.
		</li>
		<li>
			Établir un échéancier ou inscrire les dates auxquelles les tâches doivent être terminées. 
		</li>
	</ul>
</section>
<section id="oublis">
	<h1>Pour contrer les oublis</h1>
	<p>
		La perte d’objets et l’oubli de tâches à accomplir sont courants pour les gens qui souffrent d’un TDAH. Déposer vos clés à un endroit et ne plus vous souvenir où vous les avez rangées en est un exemple. Ces personnes perdent souvent un temps fou à chercher leurs documents. Voici quelques trucs supplémentaires afin de limiter les oublis et favoriser les rappels, en complément de l’agenda et des listes de tâches.
	</p>
	<ul>
		<li>
			Avoir un carnet de notes accessible en tout temps (ex. : dans votre sac à main, près du lit, dans la voiture) afin de noter les idées ou les choses à retenir.
		</li>
		<li>
			Développer des routines en arrivant à la maison ou au travail tel que de toujours ranger vos objets au même endroit (ex : clés, lunettes, cellulaire, porte-monnaie).
		</li>
		<li>
			Écrire votre nom sur vos articles (ex. : crayons, agenda, manteau). Il sera plus facile de vous les rendre si vos objets sont identifiés.
		</li>
		<li>
			Acheter parfois en double certains objets que vous perdez facilement (ex. : des gants, des lunettes de soleil).
		</li>
		<li>
			Pas d’agenda ou de papier avec vous? Écrire sur votre main le rendez-vous ou l’item à ne pas oublier et le retranscrire dans son agenda.
		</li>
		<li>
			Envoyer un message dans votre courriel ou sur votre boîte vocale pour faciliter un rappel important. Un système de rappel automatique à l’ordinateur peut aussi s’avérer utile.
		</li>
	</ul>
</section>
<section id="attention-classe">
	<h1>Maintenir votre attention en classe</h1>
	<p>
		L’écoute en classe représente un véritable défi pour les étudiants aux prises avec ce trouble. Comment rester attentif pendant la durée d’un cours sans être dérangé par vos pensées ou les bruits environnants? Voici quelques moyens pour maintenir davantage votre attention en classe :
	</p>
	<ul>
		<li>
			S’asseoir en avant de la classe pour réduire les distractions.
		</li>
		<li>
			Prendre des notes en classe ou annoter vos notes de cours. L’action mène à la concentration.
		</li>
		<li>
			Demander la possibilité d’enregistrer le cours pour permettre de revenir sur certaines parties du cours ou pour compléter les parties omises en classe. Toutefois, il est préférable de comparer vos notes de cours avec un ou une camarade de classe, car réécouter les enregistrements nécessite beaucoup de temps.
		</li>
		<li>
			Faire vos lectures avant le cours pour mieux vous repérer durant le cours.
		</li>
		<li>
			Poser des questions en classe pour demeurer actif et ainsi maintenir votre attention.
		</li>
		<li>
			Inscrire un crochet sur une feuille chaque fois que vous partez « dans la lune ». Ce truc permet de prendre davantage conscience de vos moments d’absence et aidera à reprendre le fil du cours. 
		</li>
	</ul>
	<p>
		Pour en connaître davantage, consulter le <a href="{{LIEN}}concentration" title="texte sur la concentration" target="_blank">texte sur la concentration</a>.
	</p>
</section>
<section id="periodes-etude">
	<h1>Rendre vos périodes d’étude et de lecture plus efficaces</h1>
	<p>
		Tout comme l’écoute en classe, maintenir votre attention lors des périodes d’étude et de lecture demande un effort supplémentaire pour les personnes ayant un TDAH. De plus, ces tâches exigent la mémorisation d’une grande quantité de matière et de concepts. Voici donc quelques moyens pour rendre vos périodes de travail plus efficaces :
	</p>
	<ul>
		<li>
			Choisir un lieu de travail pour augmenter son efficacité. Pour certains, un endroit tranquille où il y a peu de distractions est favorable (ex. : la bibliothèque). Pour d’autres, travailler dans le bruit les aide à se concentrer (ex. : la cafétéria).
		</li>
		<li>
			Évaluer les distractions habituelles qui vous empêchent d’accomplir une tâche (ex : sonnerie du téléphone, bruits de la télévision, courriel, Facebook, MSN). Trouver des moyens pour les limiter. Fermer la sonnerie du téléphone, éteindre le téléviseur et désactiver le logiciel de courriel en sont quelques exemples.
		</li>
		<li>
			Utiliser des écouteurs ou d’autres bruits neutres (ex. : ventilateur) afin de réduire les autres distractions sonores pendant les périodes d’étude.
		</li>
		<li>
			Planifier de courtes mais fréquentes périodes d’études ou de lecture et prendre des pauses régulièrement afin de rendre votre concentration plus efficace. (voir l’encadré sur la technique POMODORO)
		</li>
		<li>
			Alterner les tâches qui exigent beaucoup d’attention (ex. : lecture, étude) et celles qui en demandent moins (ex. : planification de la semaine, révision des notes de cours).
		</li>
		<li>
			Diviser une tâche complexe ou plus longue en petites tâches et déterminer un échéancier pour chacune.
		</li>
		<li>
			Se fixer des objectifs précis avant de commencer une période d’étude ou de lecture.
		</li>
		<li>
			« Je vais lire le premier chapitre. Je vais faire un résumé des concepts vus lors du premier cours. »
		</li>
		<li>
			Adopter une attitude plus active en faisant vos lectures, sinon vos yeux liront sans vous! Par exemple, avoir un stylo en main  pour indiquer dans la marge les idées principales ou employer un surligneur. 
		</li>
		<li>
			Résumer en mots-clés vos lectures. Il existe des crayons numériques pour faciliter ce travail (C-Pen). Ce type de crayon permet de recopier dans un document Word les idées principales que vous aurez sélectionnées dans un texte.
		</li>
		<li>
			Faire ses lectures à voix haute permet aussi de maintenir son attention.
		</li>
		<li>
			Dresser une liste de questions à poser aux professeurs ou aux collègues.
		</li>
	</ul>
	<p>
		Pour plus de détails, consulter le texte <a href="{{LIEN}}lecture" title="la lecture" target="_blank">la lecture</a>, ainsi que celui sur <a href="{{LIEN}}memorisation" title="la mémorisation" target="_blank">la mémorisation</a>.
	</p>
	<div class="encadre">
		<h2>La technique POMODORO</h2>
		<p>
			Cette technique vise à favoriser son autodiscipline. Elle oblige à entamer une tâche (surnommée « pomodoro », ou tomate en italien, en référence aux minuteries de cuisine en forme de tomate) et à ne pas se laisser distraire par les bruits ambiants ou par ses pensées. Bien entendu, un entraînement régulier est recommandé pour constater son efficacité. Voici donc les outils nécessaires avant de commencer : une minuterie, un crayon et une feuille de papier.
		</p>
		<ol>
			<li>
				Régler la minuterie à 25 minutes. Ce temps correspond à la durée moyenne pendant laquelle le cerveau peut se concentrer efficacement sur une même tâche.
			</li>
			<li>
				Commencer à travailler sur la tâche et lorsqu’une distraction surgit, par exemple, l’idée de répondre à un courriel ou de rendre un appel, l’écrire sur une feuille, sans plus. Essayer aussi de résister à l’envie de lever la tête au moindre bruit.
			</li>
			<li>
				Se remettre à la tâche jusqu’à ce que la minuterie sonne. Quand les 25 minutes sont écoulées, prendre alors une pause de 3 à 5 minutes. Profiter de cette période pour relâcher la pression, s’étirer, bouger et respirer profondément.
			</li>
			<li>
				Après 4 périodes « pomodoro », vous devez faire une pause plus longue de 15 à 30 min. Consulter alors la liste de distractions et évaluer leur importance. Si c’est le cas, exécuter la tâche maintenant ou la rajouter à la liste de tâches. Ne pas oublier de rayer de la liste de tâches les tâches complétées!
			</li>
		</ol>
		<p>
			Pour plus d’informations, consulter le site : <a href="http://www.pomodorotechnique.com" title="www.pomodorotechnique.com" target="_blank">www.pomodorotechnique.com</a>
		</p>
	</div>
</section>
<section id="preparation-examens">
	<h1>Mieux vous préparer aux examens</h1>
	<p>
		La préparation aux examens demande de l’organisation et de cibler ce qui est plus important à étudier. Pendant les examens, les gens avec un TDAH sont vulnérables au stress et aux bruits environnants, ce qui entraîne souvent des fautes d’inattention. Ils doivent souvent relire plusieurs fois les questions et peuvent manquer de temps pour terminer l’examen.
	</p>
	<p>
		Travailler en équipe en constituant une banque de questions peut aider à cerner la matière pertinente à l’examen et rendre l’étude plus stimulante.
	</p>
	<ul>
		<li>
			Rédiger des aide-mémoire pour chaque cours sous forme de fiches (ex. : question ou définition du concept d’un côté et réponse à l’endos).
		</li>
		<li>
			Utiliser à la fois l’oral et l’écrit facilite la mémorisation. Verbaliser, c’est-à-dire résumer à quelqu’un ce que vous avez compris et faire des questions d’examen ou un tableau synthèse pour réviser les notions.  
		</li>
		<li>
			Pendant les examens, utiliser des bouchons à oreilles pour limiter les bruits environnants.
		</li>
		<li>
			Ne pas oublier de prendre de grandes respirations pour mieux contrôler son stress.
		</li>
		<li>
			De plus, s’assurer de lire les questions attentivement en prenant soin de souligner les mots-clés de la question.
		</li>
	</ul>
	<p>
		Pour en savoir davantage, lisez le texte <a href="{{LIEN}}preparation-examens" title="La préparation aux examens" target="_blank">La préparation aux examens</a>.
	</p>
</section>
<section id="humeurs">
	<h1>Gérer vos humeurs et votre hyperactivité</h1>
	<p>
		Les sautes d’humeur, les excès de colère et la prise de décision impulsive sont des comportements très courants chez les adultes avec un TDAH. Ceci affecte leurs relations interpersonnelles (famille, amis, professeurs). Ils peuvent aussi avoir de la difficulté à gérer le stress ainsi qu’à tolérer les frustrations. À force de subir des échecs répétés ou de ne pas réussir à leur plein potentiel, leur estime de soi s’en trouve affaiblie. Plusieurs se qualifient de paresseux, car ils n’arrivent pas à mener à terme leurs projets ou à s’organiser dans la vie quotidienne. Voici des stratégies que vous pouvez mettre en place pour atténuer les conséquences du TDAH sur le plan personnel.
	</p>
	<ul>
		<li>
			Apprendre à reconnaître les situations stressantes (ex. : périodes d’examen, remise des travaux, entrevue d’emploi) et à utiliser des moyens pour mieux composer avec le stress qu’elles génèrent. Consulter la section Stress et anxiété pour connaître des méthodes de gestion du stress comme la relaxation, la réévaluation de la pensée et la résolution de problème.
		</li>
		<li>
			Contrer la procrastination (remise de travaux en retard ou à la dernière minute) qui entraîne de la frustration et de la culpabilité. En appliquant les stratégies d’organisation et de planification (agenda, listes de tâches, technique Pomodoro), vous pourrez graduellement changer cette habitude. Pour plus de détails, lire le texte La procrastination.
		</li>
		<li>
			Développer de bonnes habitudes de sommeil pour limiter la fatigue souvent rattachée au TDAH. De plus, il vaut mieux limiter l’exposition aux écrans d’ordinateur et de télévision avant de se coucher. Les études démontrent que ce type de lumière (Blue light) diminue la sécrétion de mélatonine, une hormone qui facilite le sommeil. Pour plus d’information, consulter le texte L’insomnie.
		</li>
		<li>
			Pour les personnes hyperactives, canaliser le besoin de bouger par le sport. L’exercice physique favorise la sécrétion d’hormones comme la dopamine, qui aide à la gestion des humeurs. L’activité physique joue ainsi un rôle d’antidépresseur naturel.
		</li>
		<li>
			Se récompenser après une séance de travail. Il faut résister à la tentation d’exécuter des tâches agréables ou peu importantes (ex : consulter ses courriels ou son Facebook) avant d’entamer un travail plus urgent.
		</li>
		<li>
			Apprendre à gérer la frustration et la colère pour éviter de nuire à ses relations interpersonnelles. Savoir se retirer d’une situation, prendre une pause ou une respiration profonde sont des moyens qui permettent de limiter les conflits. Pour en savoir davantage, consulter le texte La colère.
		</li>
		<li>
			S’entourer de personnes ressources pour surmonter ses défis. Un tuteur ou « coach » personnel peut aider dans l’organisation du temps. Un parent ou un ami peut également remplir ce rôle.
		</li>
		<li>
			Savoir reconnaître ses forces (créatif, sociable, énergique). La personne ayant un TDAH a tendance à se dévaloriser et à avoir une faible estime d’elle-même. Trouver un travail rémunéré qui permet de rester actif (ex. : vendeur ou moniteur de sport).
		</li>
		<li>
			Dessiner, écrire ou manipuler un objet (ex. : crayon) s’il s’avère impossible de se lever en réunion ou en classe. Ces trucs permettent de canaliser son énergie et aide à maintenir l’attention.
		</li>
		<li>
			Prendre des pauses pour se dégourdir et pour prendre l’air (green breaks). Les recherches démontrent qu’une exposition au plein air réduit les symptômes du TDAH.
		</li>
	</ul>
</section>
<section id="strategies">
	<h1>Stratégies gagnantes</h1>
	<p>
		Le TDAH peut entraîner des conséquences sur la performance aux études universitaires. Néanmoins, il existe plusieurs moyens pour en minimiser l’impact. Le défi reste avant tout de maintenir ces nouvelles stratégies! En terminant, voici les principales stratégies qui favorisent la réussite chez étudiants ayant un TDAH ou un TA (trouble d’apprentissage) :
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		Brown, Thomas E. (2005). Attention Deficit Disorder. The Unfocused Mind in Children and Adults. Yale University Press.
	</cite></p>
	<p><cite>
		La maîtrise du TDAH chez l’adulte. Un programme de thérapie-cognitive-comportementale. Guide du thérapeute. Adaptation française du livre de Steven A. Safren par Martin Lafleur, Marie-France Pelletier, Marie-France Vincent et Annick Vincent.
	</cite></p>
	<p><cite>
		Nadeau, K.G. (2006). Survival Guide for College Students with ADD or LD. Magination Press, NewYork.
	</cite></p>
	<p><cite>
		Sarkis, Stéphanie (2005), 10 solutions contre le déficit d’attention chez l’adulte. Éditions Broquet.
	</cite></p>
	<p><cite>
		Vincent, Annick, M.D.(2005) Mon cerveau a encore besoin de lunettes : le TDAH chez l’adulte. Éditions Académie Impact, Lac Beauport (Québec)
	</cite></p>
</section>
<section id="complementaire">
	<h1>Contenu complémentaire</h1>
	<p><cite>
		<a href="http://www.attentiondeficit-info.com/" title="www.attentiondeficit-info.com" target="_blank">www.attentiondeficit-info.com</a><br>
		Site sur le TDAH préparé par Dr Annick Vincent
	</cite></p>
	<p><cite>
		<a href="http://www.caddra.ca" title="www.caddra.ca" target="_blank">www.caddra.ca</a><br>
		Canadian Attention Deficit Hyperactivity Disorder Resource Alliance
	</cite></p>
	<p><cite>
		<a href="wp-content/uploads/2014/11/TDAH.pdf" title="Guide pédagogique concernant les étudiants ayant un TDAH" target="_blank">Guide pédagogique concernant les étudiants ayant un TDAH</a>
	</cite></p>
	<p><cite>
		<a href="http://www.savie.qc.ca/CampusVirtuel/Etudiant/Accueil.asp" title="www.savie.qc.ca/CampusVirtuel/Etudiant/Accueil.asp" target="_blank">www.savie.qc.ca/CampusVirtuel/Etudiant/Accueil.asp</a><br>
		Technologies d’aide pour étudiants ayant le trouble déficitaire de l’attention
	</cite></p>
	<p><cite>
		<a href="http://www.pomodorotechnique.com" title="www.pomodorotechnique.com" target="_blank">www.pomodorotechnique.com</a><br>
		Technique pour mieux gérer son temps et limiter les distractions
	</cite></p>
	<p><cite>
		<a href="http://www.landmark.edu/institute" title="www.landmark.edu/institute" target="_blank">www.landmark.edu/institute</a><br>
		Collège américain destiné aux étudiants ayant un trouble d’apprentissage ou un TDAH
	</cite></p>
	<p><cite>
		<a href="http://timer.onlineclock.net" title="http://timer.onlineclock.net" 
		target="_blank">http://timer.onlineclock.net</a><br>
		Un des nombreux sites gratuit de minuterie en ligne
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Marie-Hélène Simard, psychologue 
	</p>
</footer>
