<p>
	Dans cette section, vous trouverez des conseils concernant différentes stratégies d'apprentissage. Évidemment, vous pouvez ajuster ces stratégies à votre situation ainsi qu’à votre propre façon de travailler, tout en prenant en considération le type de tâche qui vous est demandée.  Les sujets suivants sont présentés dans cette section :
</p>
<h2>Stratégies d'apprentissage</h2>
<ul>
	<li><a href="{{LIEN}}concentration" title="La concentration" target="_blank">La concentration</a></li>
	<li><a href="{{LIEN}}gestion-temps" title="La gestion du temps" target="_blank">La gestion du temps</a></li>
	<li><a href="{{LIEN}}memorisation" title="La mémorisation" target="_blank">La mémorisation</a></li>
	<li><a href="{{LIEN}}lecture" title="La lecture" target="_blank">La lecture</a></li>
	<li><a href="{{LIEN}}ecoute" title="L'écoute en classe" target="_blank">L'écoute en classe</a></li>
	<li><a href="{{LIEN}}preparation-examens" title="La préparation aux examens" target="_blank">La préparation aux examens</a></li>
	<li><a href="{{LIEN}}travaux-ecrits" title="Les travaux écrits" target="_blank">Les travaux écrits</a></li>
	<li><a href="{{LIEN}}travaux-equipe" title="Les travaux en équipe" target="_blank">Les travaux en équipe</a></li>
	<li><a href="{{LIEN}}sciences-pures" title="L'étude des sciences pures et appliquées" target="_blank">L'étude des sciences pures et appliquées</a></li>
	<li><a href="{{LIEN}}contexte" title="Étudieur en contexte québécois" target="_blank">Étudieur en contexte québécois</a></li>
	<li><a href="{{LIEN}}strategies-TDAH" title="Stratégies pour étudier avec un TDAH" target="_blank">Stratégies pour étudier avec un TDAH</a></li>
</ul>