<p>
	Le stress et l'anxiété en contexte scolaire sont des phénomènes normaux mais qui peuvent devenir nuisibles selon leur intensité ou leur ampleur. L'anxiété excessive peut entre autres affecter votre plaisir d'étudier ainsi que votre performance scolaire. Vous trouverez plusieurs stratégies pour mieux composer avec le stress et l’anxiété dans les textes suivants :
</p>
<ul>
	<li><a href="{{LIEN}}stress" title="Bien vivre le stress" target="_blank">Bien vivre le stress</a></li>
	<li><a href="{{LIEN}}relaxation" title="La relaxation" target="_blank">La relaxation</a></li>
	<li><a href="{{LIEN}}resolution-problemes" title="La résolution de problèmes" target="_blank">La résolution de problèmes</a></li>
	<li><a href="{{LIEN}}anxiete" title="Stress, anxiété et perceptions" target="_blank">Stress, anxiété et perceptions</a></li>
	<li><a href="{{LIEN}}trac" title="Le trac : comment mieux l'apprivoiser" target="_blank">Le trac : comment mieux l'apprivoiser</a></li>
	<li><a href="{{LIEN}}stress-solutions" title="Trop de stress? Douze pistes de solutions" target="_blank">Trop de stress? Douze pistes de solutions</a></li>
</ul>