<p>
	Afin d'évaluer votre degré de stress et d'en connaître un peu plus sur le sujet, voir le texte Bien vivre le stress dans vos études et votre carrière. 
</p>
<p>
	La formule magique pour gérer le stress n'existe pas, mais vous pouvez utiliser différentes stratégies pour y faire face positivement. Dans ce texte, des stratégies vous sont présentées, précédées de questions-clés vous permettant d'évaluer la pertinence de chaque stratégie pour vous. 
</p>
<nav>
	<ul>
		<li><a href="#relations-amicales" title="Prenez soin de vos relations amicales">Prenez soin de vos relations amicales</a></li>
		<li><a href="#distraire" title="Distrayez-vous">Distrayez-vous</a></li>
		<li><a href="#affirmer" title="Affirmez-vous !">Affirmez-vous !</a></li>
		<li><a href="#strategies" title="Essayez de nouvelles stratégies d'étude">Essayez de nouvelles stratégies d'étude</a></li>
		<li><a href="#rythme-de-vie" title="Prenez soin de votre rythme de vie">Prenez soin de votre rythme de vie</a></li>
		<li><a href="#resistance" title="Augmentez votre résistance au stress">Augmentez votre résistance au stress</a></li>
		<li><a href="#manger-dormir" title="Mangez et dormez en paix...">Mangez et dormez en paix...</a></li>
		<li><a href="#activite-physique" title="Canalisez le stress dans une activité physique">Canalisez le stress dans une activité physique</a></li>
		<li><a href="#relaxer" title="Relaxez un peu">Relaxez un peu</a></li>
		<li><a href="#resoudre-problemes" title="Agissez concrètement : résoudre vos problèmes">Agissez concrètement : résoudre vos problèmes</a></li>
		<li><a href="#indulgence" title="Faites preuve d'indulgence envers vous-même">Faites preuve d'indulgence envers vous-même</a></li>
		<li><a href="#pensees-toxiques" title="Évitez les pensées toxiques !">Évitez les pensées toxiques !</a></li>
		<li><a href="#conclusion" title="Conclusion">Conclusion</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="relations-amicales">
	<h1>Prenez soin de vos relations amicales</h1>
	<ul>
		<li>
			Vos relations amicales sont-elles suffisamment diversifiées et bien équilibrées ?
		</li>
		<li>
			Y a-t-il certaines personnes avec qui il serait préférable de prendre vos distances ?
		</li>
	</ul>
	<p>
		Le support social est important, surtout si vous vivez des choses difficiles ou si vous avez à vous adapter à un grand changement. Demander de l'aide ou se confier permet de voir les choses plus clairement, de développer une nouvelle perspective. Il est aussi très rassurant de constater que vous n'êtes pas seul ou seule à vivre une difficulté. Un réseau de connaissances diversifiées (ex. : amis ou amies intimes, copains et copines pour faire des activités) est souvent le plus susceptible de répondre à vos besoins. Il importe toutefois de bien choisir les personnes qui vous entourent et, surtout, celles à qui vous faites des confidences. Au besoin, consultez un professionnel ou une professionnelle. Faites attention aux personnes « bouffe-énergie », pour qui vous devez toujours vous montrer disponible, mais qui offrent peu en retour. Si les contacts sociaux vous rendent anxieux ou anxieuse, consultez le <a href="{{LIEN}}anxiete-sociale" title="Anxiété sociale" target="_blank">lien suivant</a>.
	</p>
</section>
<section id="distraire">
	<h1>Distrayez-vous</h1>
	<ul>
		<li>
			Arrivez-vous à vous accorder du temps chaque semaine sans vous sentir coupable ou sans avoir l'impression de perdre votre temps ?
		</li>
		<li>
			Avez-vous des activités qui vous font plaisir ?
		</li>
	</ul>
	<p>
		Les loisirs sont un moyen agréable de vous « débrancher » des soucis quotidiens. En débutant leurs études universitaires, certaines personnes écartent cet aspect de leur vie. Ces périodes sont essentielles à une bonne concentration ultérieure. Il peut être facilitant de partager clairement le temps alloué à vos études et à vos moments de loisirs (ex. : heure du dîner, journée de la fin de semaine). Ceci vous aidera à mieux profiter de l'une ou l'autre de ces activités et à ne pas laisser vos études envahir les moments consacrés à vous ressourcer. Évidemment, vous distraire à l'extrême peut être nuisible et au contraire augmenter votre niveau de stress. 
	</p>
	<p>
		Si vous n'arrivez pas à trouver le temps de vous amuser, il est possible qu'il y ait un surinvestissement dans une des sphères de votre vie (études, travail, relation amoureuse). Tâchez de :
	</p>
	<ul>
		<li>
			vous accorder des récompenses (ex. : repas au restaurant, massage) après des efforts soutenus ;
		</li>
		<li>
			vous accorder des périodes ou des journées où vous permettez à votre cerveau d'arrêter de fonctionner en quatrième vitesse ;
		</li>
		<li>
			vous assurer qu'au moins une partie de la journée vous plaise. Si ce n'est pas possible, il peut aider de combiner certaines activités (ex. : étudier dans un café).
		</li>
	</ul>
	<p>
		Sinon, <a href="{{LIEN}}epuisement-etudiant" title="l'épuisement" target="_blank">l'épuisement</a> vous guette !
	</p>
</section>
<section id="affirmer">
	<h1>Affirmez-vous !</h1>
	<ul>
		<li>
			Êtes-vous capable de dire votre opinion en respectant celle des autres ?
		</li>
		<li>
			...de dire non sans vous perdre dans les justifications ?
		</li>
		<li>
			...de demander sans toujours craindre de déranger ?
		</li>
		<li>
			...de respecter vos besoins sans vouloir plaire à tout le monde ?
		</li>
		<li>
			...de répondre à une critique sans agressivité ou sans vous dévaloriser ? 
		</li>
	</ul>
	<p>
		L'affirmation de soi est une composante importante d'une bonne gestion du stress, afin d'établir des limites face aux demandes provenant des autres personnes ou de votre environnement. En effet, plusieurs situations de la vie courante peuvent se transformer en stress irritant si vous éprouvez de la difficulté à vous affirmer spontanément (ex. : ne pas avouer que l'on éprouve de la difficulté dans une matière, ne pas arriver à refuser un quart de travail, accepter de faire la part de ménage des autres). Le sentiment de ne pas arriver à tenir les engagements que vous n'avez su refuser est une source de stress qu'il est possible d'éliminer ! En cas de difficulté à ce niveau, le <a href="{{LIEN}}anxiete-sociale" title="Anxiété sociale" target="_blank">lien suivant</a> pourrait vous être utile. 
	</p>
</section>
<section id="strategies">
	<h1>Essayez de nouvelles stratégies d'étude</h1>
	<ul>
		<li>
			Gérez-vous bien votre temps ? 
		</li>
		<li>
			Faites-vous habituellement preuve d'efficacité et de concentration pendant vos périodes d'étude ? 
		</li>
		<li>
			Avez-vous de la difficulté à mémoriser la matière ? 
		</li>
		<li>
			Avez-vous de bonnes stratégies pour préparer et passer vos examens ? 
		</li>
		<li>
			Êtes-vous attentif, attentive pendant les cours ? 
		</li>
		<li>
			Avez-vous le trac lorsque vous devez faire une présentation orale ? 
		</li>
		<li>
			Avez-vous de la difficulté à structurer vos travaux longs ? 
		</li>
		<li>
			Êtes-vous motivé, motivée par votre programme d'étude ? 
		</li>
	</ul>
	<p>
		Vous pouvez consulter les textes portant sur <a href="{{LIEN}}strategies-apprentissage" title="les méthodes d'étude" target="_blank">les méthodes d'étude</a>. Tout comme il est difficile de bien réussir dans un sport d'habiletés sans aucune technique, il importe de posséder de bonnes stratégies pour aborder ses tâches scolaires. De mauvaises méthodes et habitudes de travail peuvent entraîner pertes de temps et découragement. Il n'est pas toujours nécessaire d'étudier davantage pour réussir ; parfois il faut étudier différemment.
	</p>
</section>
<section id="rythme-de-vie">
	<h1>Prenez soin de votre rythme de vie</h1>
	<ul>
		<li>
			Sentez-vous sans cesse que le temps vous presse, vous bouscule ?
		</li>
		<li>
			Savez-vous bien vous organiser ?
		</li>
		<li>
			Connaissez-vous vos priorités ?
		</li>
	</ul>
	<p>
		Dans le feu de l'action, il n'est pas toujours facile de réaliser l'impact de votre rythme de vie sur votre niveau de stress. La gestion du temps et l'organisation sont des éléments indispensables à une bonne gestion du stress, surtout pour un étudiant ou une étudiante qui doit respecter de multiples échéances. Une gestion du temps laissée au hasard entraîne l'impression d'être sans cesse débordé ou débordée, de vous éparpiller et de ne plus rien maîtriser. Consultez le texte sur la <a href="{{LIEN}}gestion-temps" title="gestion du temps" target="_blank">gestion du temps</a>. Il importe d'établir des priorités et de faire des choix pour bien profiter de ce que vous faites. Il peut même être nécessaire de renoncer à certaines activités (ex. : prendre un cours de moins, réduire vos heures de travail).
	</p>
</section>
<section id="resistance">
	<h1>Augmentez votre résistance au stress</h1>
	<ul>
		<li>
			Utilisez-vous des moyens pour évacuer les tensions ? 
		</li>
		<li>
			Êtes-vous en forme ? 
		</li>
	</ul>
	<p>
		Un système bien entretenu est mieux préparé pour faire face au stress. Augmenter votre résistance (autrement dit vous assurer des moments pour « recharger votre batterie ») est une bonne façon de composer avec les exigences de la vie étudiante. 
	</p>
</section>
<section id="manger-dormir">
	<h1>Mangez et dormez en paix...</h1>
	<p>
		Ces éléments sont à la base même de votre fonctionnement. Malheureusement, dans le tourbillon de la vie universitaire, il peut être facile d'oublier ces vérités toutes simples ou de les négliger en période de stress. Vous pouvez aussi consultez le lien <a href="{{LIEN}}insomnie" title="Nuits blanches sur le campus" target="_blank">Nuits blanches sur le campus</a>. 
	</p>
</section>
<section id="activite-physique">
	<h1>Canalisez le stress dans une activité physique</h1>
	<p>
		Les principaux efforts fournis dans la vie étudiante sont intellectuels, donc sédentaires. En raison des multiples bienfaits de l'exercice physique (ex. : santé, estime de soi, humeur), cette stratégie est à considérer. Pas besoin de devenir un ou une athlète pour en bénéficier ! L'exercice physique aurait la capacité de prédisposer le corps et l'esprit au travail intellectuel. C'est pourquoi les étudiantes et étudiants actifs ont plus de facilité à se détendre et à se concentrer pendant leurs périodes d'études et leurs examens. L'idéal est de pratiquer l'activité à un moment où vous vous sentez moins apte à étudier (cela maximise ainsi l'efficacité de l'étude et minimise les pertes de temps). 
	</p>
	<p>
		Attention ! Il ne faut pas confondre l'activité physique (qui sollicite les muscles et le « cardio ») et l'entraînement (performance et dépassement personnel). Le premier critère de choix de l'activité devrait être le plaisir de vous y adonner. L'horaire du <a href="http://www.peps.ulaval.ca/" title="PEPS" target="_blank">PEPS</a> regorge de possibilités. Sinon, vous pouvez aussi choisir de profiter davantage des occasions quotidiennes de bouger (ex. : vous déplacer à pied). 
	</p>
</section>
<section id="relaxer">
	<h1>Relaxez un peu</h1>
	<p>
		Il peut être utile d'apprendre une technique de relaxation. Applicable en toute occasion, elle permet de diminuer les symptômes physiques du stress. Il existe plusieurs méthodes de relaxation efficaces. Il est important de choisir une méthode avec laquelle vous êtes à l'aise. Vous pouvez choisir de suivre un cours (ex. : yoga) ou essayer d'intégrer l'une des techniques de <a href="{{LIEN}}relaxation" title="relaxation" target="_blank">relaxation</a> présentées dans ce site.
	</p>
</section>
<section id="resoudre-problemes">
	<h1>Agissez concrètement : résoudre vos problèmes</h1>
	<ul>
		<li>
			Trouvez-vous anormal d'avoir des problèmes ? 
		</li>
		<li>
			Avez-vous tendance à essayer de ne pas y penser ? 
		</li>
		<li>
			Passez-vous plus de temps à penser à vos problèmes, qu'aux solutions permettant de les résoudre ? 
		</li>
		<li>
			Voyez-vous vos problèmes comme des menaces plutôt que des défis à relever ? 
		</li>
	</ul>
	<p>
		Un problème pourrait être défini comme la différence ressentie (subjectivement) entre une situation réelle et une situation idéale. La résolution de problèmes est un exercice qui vise à préciser la situation qui vous préoccupe en la définissant en termes moins globaux et confus (ex. : ça va mal dans mes études) et à l'analyser. Il vous est probablement déjà arrivé de vous sentir démuni ou démunie face à une situation, de la considérer comme « trop compliquée ». Il est alors tentant d'essayer de ne pas penser au problème, de le fuir plutôt que de l'affronter. Voyez les différentes étapes d'une résolution de problème efficace dans le texte <a href="{{LIEN}}resolution-problemes" title="La résolution de problèmes : agir concrètement" target="_blank">La résolution de problèmes : agir concrètement</a>.
	</p>
</section>
<section id="indulgence">
	<h1>Faites preuve d'indulgence envers vous-même</h1>
	<ul>
		<li>
			Avez-vous tendance à entretenir des exigences élevées et rigides ? 
		</li>
		<li>
			Vous comparez-vous beaucoup aux autres ? 
		</li>
		<li>
			Est-ce que vos objectifs vous paralysent, davantage qu'ils ne vous stimulent ? 
		</li>
		<li>
			Ressentez-vous souvent de l'insatisfaction, même lorsque vous réussissez bien ? 
		</li>
		<li>
			Avez-vous de la difficulté à vous donner le droit de faire des erreurs ?
		</li>
	</ul>
	<p>
		Il n'est pas possible de vous démarquer des autres de façon constante à l'université et, pour cette raison, il est souvent plus avantageux de se comparer... à soi. Il n'y a rien de mal à l'ambition, mais des exigences trop élevées risquent de vous décourager et de vous paralyser davantage que de vous stimuler. Certains facteurs sont hors de votre contrôle ; ainsi, vous pourriez vraiment faire de votre mieux et être quand même insatisfait ou insatisfaite. Vous aurez alors tendance à penser que ce que vous avez fait n'était pas suffisant, à vous déprécier, tout en redoublant d'efforts, pour atteindre... la perfection ? Cette attitude est souvent caractéristique des étudiantes et étudiants perfectionnistes. Ceux-ci sont d'éternels insatisfaits qui maintiennent des doutes sur leurs capacités, malgré une multitude de faits qui démontrent leur valeur comme personnes ou futurs professionnels. Pour assouplir un peu vos attentes et vos exigences : 
	</p>
	<ol>
		<li>
			trouvez-vous des objectifs qui dépendent le plus possible de vous. Se fixer des buts plus modestes permet souvent de les atteindre plus aisément ou même de les dépasser (ce qui augmente la confiance en soi au lieu de la diminuer). La norme ne doit pas être fixée à l'extérieur de soi, mais à partir de soi ; 
		</li>
		<li>
			évaluez ce que vous imposer toutes ces exigences vous apporte et identifiez les inconvénients que cela vous cause (ex. : épuisement, perte du plaisir d'étudier) ; 
		</li>
		<li>
			au delà d'un certain seuil, les efforts fournis vous nuisent plus qu'ils ne vous aident (ex. : arrêtez l'étude d'un examen bien préparé, plutôt que de vous rassurer en vérifiant sans cesse jusqu'à la dernière minute) ; 
		</li>
		<li>
			n'oubliez pas : pas d'essai, pas d'erreur et pas d'erreur, pas d'apprentissage ; 
		</li>
		<li>
			et puis, qu'arriverait-il si vous abaissiez un peu vos normes, vos critères ? En quoi est-ce si grave si quelqu'un est meilleur que vous dans un domaine ? 
		</li>
	</ol>
</section>
<section id="pensees-toxiques">
	<h1>Évitez les pensées toxiques !</h1>
	<p>
		L'angoisse est provoquée par différentes perceptions et attitudes qui méritent souvent d'être analysées et évaluées. Si vous avez tendance à vous inquiétez, à vous dévalorisez ou à vivre fréquemment différentes préoccupations, vous pouvez consulter le texte Les perceptions et les émotions. 
	</p>
</section>
<section id="conclusion">
	<h1>Conclusion</h1>
	<p>
		Espérons que ces pistes de solutions vous aideront à atteindre une bonne qualité de vie, dans votre vie étudiante comme dans votre future profession, et à trouver un niveau de stress qui vous motive, plutôt que de vous submerger... Pas toujours facile, dans une société qui valorise l'excellence et la performance ! Laissez-vous du temps pour vous connaître, pour apprendre à maîtriser ces stratégies et pour établir un équilibre satisfaisant pour vous. 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		Boucher, F., et A. Binette (1981), Bien vivre le stress, Boucherville, Éditions de Mortagne.
	</cite></p>
	<p><cite>
		Burns, D. (1985), Être bien dans sa peau, Saint-Lambert, Éditions Héritage. 
	</cite></p>
	<p><cite>
		Carlson, R. (1998), Ne vous noyez pas dans un verre d'eau : simplifiez-vous la vie !, Montréal, Stanké. 
	</cite></p>
	<p><cite>
		Fortin, B. (2001), La gestion du stress au travail, Montréal, Les consultations pédagogiques Fortin. 
	</cite></p>
	<p><cite>
		Ladouceur, R., A. Marchand et J.-M. Boisvert (dir.) (1999), Les troubles anxieux : approche cognitive et comportementale, Boucherville, G. Morin. 
	</cite></p>
	<p><cite>
		Lelord, F. (2001), Bien vivre avec son stress, coll. « Contre la montre », Paris, Village mondial : Pearson Education. 
	</cite></p>
</section>
<section id="complementaire">
	<h1>Contenu complémentaire</h1>
	<p><cite>
		Ellis, A. (1999), Dominez votre anxiété avant qu'elle ne vous domine, Montréal, Éditions de l'Homme. 
	</cite></p>
	<p><cite>
		Marchand, A. et A. Letarte (1993). La peur d'avoir peur : guide de traitement du trouble panique avec agoraphobie, coll. « Partage », Montréal, Stanké. 
	</cite></p>
	<p><cite>
		Néron, S. (1993), Des outils pour maîtriser l'anxiété et la panique, coll. « Psychologie médicale », Montréal, Méridien. 
	</cite></p>
	<p><cite>
		Ramirez Basco, M. (2000), Y a-t-il des perfectionnistes heureux ?, Montréal, Le Jour. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Véronique Mimeault, psychologue 
	</p>
</footer>
