<blockquote>
	Pour connaître la route qui est devant vous, demandez à celui qui en vient 
	<cite>Proverbe chinois</cite>
</blockquote>
<p>
	Vous songez à débuter une maîtrise ou un doctorat ou vous avez déjà pris la décision. Vous avez clarifié vos motivations et vos attentes. Vous y voyez une occasion d’analyser plus en profondeur un aspect précis de votre domaine, de développer de nouvelles compétences, de relever un défi intellectuel afin d’atteindre un objectif professionnel. Vous ne devez toutefois pas perdre de vue que l’objectif principal des études aux cycles supérieures est d’acquérir les principes et méthodes de recherche scientifiques propres à votre discipline. Rappelez-vous aussi que les études de 2ème et de 3ème cycle exigeront de vous certaines aptitudes et attitudes différentes de vos études de 1er cycle. 
</p>
<nav>
	<ul>
		<li><a href="#survol" title="Bref survol des études aux cycles supérieurs">Bref survol des études aux cycles supérieurs</a></li>
		<li><a href="#aptitudes" title="Question d’aptitudes et d’attitudes…">Question d’aptitudes et d’attitudes…</a></li>
		<li><a href="#choix-sujet" title="Le choix d’un sujet de recherche (mémoire, essai, thèse)">Le choix d’un sujet de recherche (mémoire, essai, thèse)</a></li>
		<li><a href="#choisir-directeur" title="Comment choisir votre directrice ou votre directeur de recherche?">Comment choisir votre directrice ou votre directeur de recherche?</a></li>
		<li><a href="#conclusion" title="Conclusion">Conclusion</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="survol">
	<h1>Bref survol des études aux cycles supérieurs</h1>
	<p>
		Différents types de programmes de 2ème et 3ème cycles existent. Le site de la Faculté des études supérieures vous permet d’obtenir une description des principales caractéristiques de ces programmes. <br>
		<s><a href="http://www.fes.ulaval.ca/sgc/Etudes/pid/2599" title="http://www.fes.ulaval.ca/sgc/Etudes/pid/2599" target="_blank">http://www.fes.ulaval.ca/sgc/Etudes/pid/2599</a></s>
	</p>
	<p>
		Pour obtenir plus de précisions sur les objectifs généraux poursuivis par un programme de maîtrise, vous pouvez aussi consulter la page 7 du règlement des études : <s><a href="http://www.ulaval.ca/sg/reg/Reglements/Reglement_des_etudes.pdf" title="http://www.ulaval.ca/sg/reg/Reglements/Reglement_des_etudes.pdf" target="_blank">http://www.ulaval.ca/sg/reg/Reglements/Reglement_des_etudes.pdf</a></s>
	</p>
	<p>
		Vous retrouverez les caractéristiques spécifiques des programmes de 2ème et 3ème cycles offerts dans votre discipline sur le site Web de votre faculté, département ou école.
	</p>
</section>
<section id="aptitudes">
	<h1>Question d’aptitudes et d’attitudes…</h1>
	<p>
		Les études aux cycles supérieures exigent un plus grand degré d’autonomie, une motivation soutenue, accompagnée d’une solide discipline de travail. L’environnement académique y est généralement moins structuré et les échéances sont plus à long terme que dans les études de 1er cycle. Toutefois, les compétences visées par les études de 2ème et de 3ème cycle diffèrent, tel qu’il est indiqué dans le tableau suivant. 
	</p>
	<table>
		<caption>Compétences visées au 2e et 3e cycles</caption>
		<thead>
			<tr>
				<th>Compétences au 2e cycle</th>
				<th>Compétences au 3e cycle</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<ul>
						<li>
							Développer des connaissances scientifiques dans son domaine de recherche et des connaissances générales dans sa discipline. 
						</li>
						<li>
							Mener les étapes d’une recherche sous la supervision d’un chercheur expert. 
						</li>
						<li>
							Appliquer des méthodologies rigoureuses. 
						</li>
						<li>
							Utiliser et analyser des résultats de recherche pour réaliser des études.
						</li>
						<li>
							Analyser et rédiger la présentation des résultats d’une recherche. 
						</li>
						<li>
							Faire preuve de sens critique, d’esprit d’analyse et de synthèse, d’éthique et de respect de la propriété intellectuelle. 
						</li>
						<li>
							Communiquer les résultats d’une recherche (par écrit et oralement).
						</li>
						<li>
							Utiliser les technologies de l’information pour divers usages en recherche (ex : bases de données, logiciels). 
						</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>
							Développer des connaissances scientifiques approfondies dans son sujet de recherche, une vaste étendue de connaissances dans son domaine de recherche, et des connaissances générales dans sa discipline. 
						</li>
						<li>
							Définir, élaborer et rédiger un projet de recherche de façon experte.
						</li>
						<li>
							Initier des projets de recherche novateurs, afin de résoudre des problèmes complexes. 
						</li>
						<li>
							Faire avancer les connaissances dans son domaine d’étude. 
						</li>
						<li>
							Présenter un projet de recherche et son financement dans des demandes de subvention. 
						</li>
						<li>
							Mettre en place et gérer une équipe de recherche.
						</li>
						<li>
							Rédiger et publier des articles scientifiques et autres documents scientifiques (langue maternelle et anglais). 
						</li>
						<li>
							Faire preuve de sens critique, d’esprit d’analyse et de synthèse, d’éthique et de respect de la propriété intellectuelle. 
						</li>
						<li>
							Communiquer avec clarté et aisance les résultats de recherche ou des connaissances dans diverses situations (conférences, formations, séminaires, cours). 
						</li>
						<li>
							Utiliser les technologies de l’information pour divers usages en recherche (ex : bases de données, logiciels). 
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
	<p>
		Voici une liste de caractéristiques considérées comme des atouts lorsque vous entreprenez des études de 2ème ou de 3ème cycle, afin de mener à terme un projet de recherche : 
	</p>
	<ul>
		<li>
			Autonomie : les tâches à réaliser pour atteindre votre objectif ne sont pas aussi précises que celles d’un syllabus! 
		</li>
		<li>
			Ténacité : un projet de recherche se prolonge dans le temps, sans connaître avec précision le moment où il se terminera; 
		</li>
		<li>
			Discipline : le travail doit être soutenu, malgré l’absence de résultats immédiats; 
		</li>
		<li>
			Flexibilité : il est souvent nécessaire de faire certains ajustements et de dévier du plan initial, il n’est pas possible d’avoir le contrôle sur tous les facteurs ; 
		</li>
		<li>
			Organisation/gestion du temps : importance du rythme de travail régulier afin de se rendre au fil d’arrivée, comme dans un marathon! 
		</li>
		<li>
			Capacité de travail en équipe : la recherche nécessite souvent la collaboration de d’autres personnes, la délégation de certaines tâches, des réunions ; 
		</li>
		<li>
			Habiletés de communication écrite et orale : les résultats sont présentés par écrit, sous forme d’articles, ou oralement, dans des colloques ou congrès; 
		</li>
		<li>
			Bonne connaissance de l’anglais écrit et oral : la langue de communication de la communauté scientifique est l’anglais, que ce soit dans la littérature ou dans les congrès ; 
		</li>
		<li>
			Attitude réceptive à la critique : les différentes versions de votre projet sont corrigées à plusieurs reprises suite aux commentaires de votre directeur; 
		</li>
		<li>
			Rigueur : vos idées et opinions doivent toujours être appuyées par des arguments scientifiques; 
		</li>
		<li>
			Sens des responsabilités: la responsabilité de l’évolution et de l’avancement de vos travaux vous revient en premier lieu; 
		</li>
		<li>
			Débrouillardise : vous devez initier les démarches pour surmonter les difficultés et obstacles que vous rencontrerez. 
		</li>
	</ul>
</section>
<section id="choix-sujet">
	<h1>Le choix d’un sujet de recherche (mémoire, essai, thèse)</h1>
	<p>
		Dans certains domaines, les étudiantes et les étudiants auront beaucoup de latitude et pourront laisser libre cours à leur initiative et faire preuve d’originalité dans le choix de leur sujet. Dans d’autres domaines, leur sujet s’inscrira dans des projets de recherche déjà structurés, et sera défini à partir des courants de recherche du directeur et des études en cours au sein de son laboratoire. Parfois, il arrive que ce soit des professeurs qui vous sollicitent directement afin d’amorcer des études supérieures. Si c’est votre cas, prenez le temps de vous questionner sur vos objectifs professionnels et sur vos motivations à entreprendre une maîtrise ou un doctorat. Au besoin, n’hésitez pas à consulter une conseillère ou un conseiller en orientation scolaire et professionnelle pour vous guider dans votre réflexion. 
	</p>
	<p>
		En consultant le site Internet du programme dans lequel vous désirez entreprendre des études supérieures, vous trouverez souvent une description des champs d’intérêts des professeurs, de même qu’une liste de publications. Ceci vous permettra de cerner si leur champ de recherche ainsi que leurs méthodes joignent vos intérêts. Le choix de votre directrice ou de votre directeur pourra dépendre du choix de votre sujet de recherche. Il est aussi possible que votre choix de sujet soit davantage guidé par le désir de travailler avec une personne en particulier. Assurez-vous alors que le sujet vous procure tout de même un degré d’intérêt suffisant. 
	</p>
	<p>
		De façon générale, un « sujet » consiste en une question de recherche que vous vous posez ou qui vous habite. Le sujet choisi doit vous intéresser suffisamment, capter votre attention, piquer votre curiosité, vous stimuler intellectuellement, faire émerger spontanément en vous des idées, correspondre à des valeurs personnelles. Ce sujet doit aussi bien s’inscrire dans le champ de recherche de la directrice ou du directeur que vous choisirez. 
	</p>
	<p>
		Notez vos idées sur papier et à ce stade-ci, essayez de ne pas trop vous limiter et laissez-vous explorer différentes avenues. Par la suite, effectuez une petite recherche préliminaire à l’aide de mots-clés, afin de prendre le pouls de ce qui existe dans la littérature sur ce sujet. Utilisez différents outils de recherche, revues scientifiques, Web. 
	</p>
	<p>
		Il peut être avantageux d’orienter votre choix sur un sujet où l’information afflue et est facilement accessible. De même, choisir un sujet qui intéresse particulièrement la personne qui dirigera votre recherche pourra l’amener à s’impliquer davantage dans les différentes étapes de la réalisation de votre projet. Entretenez des attentes réalistes : ne choisissez pas un sujet trop ambitieux! Réaliser une thèse qui révolutionnera votre domaine risque d’être « paralysant ». Pour un mémoire, assurez-vous de la faisabilité et du réalisme de votre projet (ne pas s’engager dans un travail de l’ampleur d’une thèse pour un mémoire, viser à tout prix d’innover ou de trouver une idée qui sorte de l’ordinaire). Aussi, assurez-vous de bien délimiter et définir votre sujet, afin de pouvoir réaliser votre recherche dans un échéancier raisonnable. Un projet mal délimité risque de disperser vos efforts et inévitablement, jouer sur votre motivation. C’est le rôle de votre directrice ou de votre directeur de recherche de vous aider à cerner ces balises et ceci sera fait au cours des premières rencontres. Enfin, n’oubliez pas que votre sujet (surtout à la maîtrise) demeure un prétexte pour vous initier à la recherche; vous ne serez pas confiné à ce domaine pour le reste de votre carrière! 
	</p>
</section>
<section id="choisir-directeur">
	<h1>Comment choisir votre directrice ou votre directeur de recherche?</h1>
	<p>
		L’encadrement dont vous bénéficierez sera très déterminant dans le déroulement de vos études supérieures. Un bon choix de directrice ou de directeur, ainsi qu’une bonne gestion de cette relation, constitue un élément crucial pour la réalisation de votre projet de recherche. Il est donc préférable de vous attarder à réfléchir à certains facteurs devant être pris en compte dans le choix de la direction et de ne pas laisser ce choix au hasard. Différents styles d’encadrement existent (ex : plus ou moins directif, plus ou moins chaleureux). Certaines études démontrent que la compatibilité entre l’étudiante ou l’étudiant et la directrice ou le directeur de recherche, mais surtout, leur accessibilité, auraient des effets positifs sur la productivité des étudiants et sur la persévérance. 
	</p>
	<p>
		Après avoir précisé quelques pistes d’intérêt de recherche, identifiez quelques chercheurs potentiels et planifiez un entretien avec eux. Il peut être sage d’avoir en tête deux ou trois possibilités. Vous pouvez aussi rencontrer les étudiantes ou les étudiants aux cycles supérieurs qui effectuent présentement une maîtrise ou un doctorat avec ces professeurs, afin d’obtenir plus d’information (ex : projets de recherche, fonctionnement du laboratoire, style d’encadrement) et leur poser des questions. Vous verrez également comment vous vous sentez dans cet environnement. Cette démarche est encore plus indiquée si vous changez d’université ou cherchez un directeur dans une autre université. Enfin, les professeurs jouissent habituellement d’une certaine réputation au sein de leur faculté ou département, informez-vous (ex : propriété intellectuelle, conflits avec leurs étudiants). 
	</p>
	<p>
		Avant d’entamer le premier contact, il peut être utile :
	</p>
	<ul>
		<li>
			d’avoir lu quelques publications récentes de la personne que vous rencontrerez ou encore, des travaux (mémoires, thèses) d’étudiants qui ont travaillé sous sa direction; 
		</li>
		<li>
			de dresser une liste de points que vous souhaiteriez aborder au moment de votre entretien et les questions que vous désirez poser; 
		</li>
		<li>
			d’apportez votre c.v. ainsi que votre dossier académique. 
		</li>
	</ul>
	<p>
		Exemples de points à aborder :
	</p>
	<ul>
		<li>
			votre sujet semble-t-il l’intéresser? 
		</li>
		<li>
			cette personne possède-t-elle une approche (théorique, méthodologique) assez compatible pour une éventuelle collaboration? 
		</li>
		<li>
			combien d’autres étudiants ou professionnels de recherche y a-t-il présentement dans le laboratoire? 
		</li>
		<li>
			quelles sont les infrastructures de son laboratoire de recherche (ex : locaux, budget, matériel informatique)? 
		</li>
		<li>
			y a-t-il la possibilité de vous impliquer au sein du laboratoire (ex : colloque, publications, congrès)? 
		</li>
		<li>
			pourrez-vous bénéficier d’un appui financier (ex : bourse, contrats de recherche)? 
		</li>
		<li>
			comment fonctionne l’encadrement avec ses étudiants? (fréquence des rencontres, délais pour la remise des corrections et commentaires, disponibilité pour la durée de vos études). 
		</li>
	</ul>
	<p>
		À ce stade, n’hésitez pas à communiquer clairement vos objectifs, attentes et besoins. La discussion de ces éléments pourra vous guider dans votre décision de vous engager ou non avec cette personne. Cela vous permettra de déterminer si vous vous sentez suffisamment à l’aise et ainsi, établir les bases d’une relation de collaboration professionnelle et d’une bonne entente ultérieures. Il se peut que la professeure ou le professeur vous suggère d’autres sujets que ceux auxquels vous aviez pensé. C’est l’occasion d’en discuter et d’entendre ses propositions. Dans tous les cas, laissez-vous un peu de temps pour prendre votre décision.
	</p>
	<p>
		Le fait que les professeurs soient au stade de début, milieu ou fin de carrière peut être un facteur à considérer dans le choix de la direction. Chacun de ces stades offrent des avantages et des inconvénients, selon les aspects qui s’avèrent plus prioritaires pour vous. Les jeunes professeurs en début de carrière pourront être plus ouverts, plus dynamiques, enthousiastes et disponibles, puisqu’ils ont généralement moins d’étudiants à encadrer. Ils pourront ainsi s’impliquer davantage dans votre projet. Cependant, ces professeurs vivent le stress et la pression du début de leur carrière. Ils sont moins expérimentés et reconnus et ont ainsi moins de contacts dont ils peuvent vous faire bénéficier. 
	</p>
	<p>
		Les professeurs en milieu de carrière ont atteint un certain niveau d’expérience et de reconnaissance et sont au sommet du développement de leurs projets de recherche. Ils peuvent bénéficier de bonnes subventions et d’un réseau de contacts bien établi. Cependant, ils pourront s’avérer moins flexibles quant au choix du projet de recherche (désirant poursuivre les travaux amorcés) et ils risquent de voyager plus souvent. 
	</p>
	<p>
		Les professeurs en fin de carrière peuvent offrir plusieurs avantages. Leur longue expérience, leurs nombreux contacts ainsi que leur réputation internationale peut souvent leur permettre d’enrichir leur encadrement. Ils siègeront souvent sur des comités ou des postes décisionnels et pourront ainsi avoir une influence bénéfique sur votre parcours. Ces professeurs ont souvent plus de ressources financières et matérielles et vivent moins de pression. Ils peuvent toutefois être moins dynamiques, moins impliqués et investis dans votre projet, s’absenter souvent et avoir bon nombre d’autres obligations. 
	</p>
	<p>
		La disponibilité de votre directrice ou directeur peut avoir des conséquences importantes sur la durée de vos études. Les chercheurs les plus renommés de votre domaine risquent aussi d’être les plus occupés! Enfin, il est à noter que l’implication de la personne qui dirigera votre mémoire ou votre thèse peut dépendre de la contribution qu’aura la recherche sur l’avancement de la science. S’il y a possibilité de publier les résultats, cette personne pourra s’investir davantage dans le projet.
	</p>
	<p>
		La directrice ou le directeur parfait n’existe pas! Cependant, la personne qui dirigera votre recherche devrait posséder l’expertise nécessaire ainsi que les compétences méthodologiques pour vous aider à mener à terme votre projet de recherche. Elle possèdera de bonnes habiletés de communication interpersonnelles (ex : respect, formulation de critiques constructives) et saura vous offrir son soutien dans les moments plus difficiles. Puisqu’il s’agit d’une relation professionnelle et que vous aurez à travailler en collaboration étroite avec elle, vous devez vous sentir à l’aise de l’approcher. Le choix de l’étudiant devrait ainsi idéalement tenir compte à la fois de l’expertise du chercheur et de ses caractéristiques personnelles. 
	</p>
	<p>
		Idéalement, la personne qui dirigera votre recherche vous permettra plusieurs activités professionnelles (ex : occasion de participer à des colloques, d’écrire un article, de vous présenter des personnes-ressources). Si vous n’êtes pas boursier d’un organisme, elle sera en mesure de vous offrir un soutien financier (ex : contrats d’enseignement ou de recherche, bourses) au cours de vos études. Le fait de pouvoir vous intégrer à une équipe de recherche comporte aussi certains avantages : accès à des ressources matérielles, soutien social, motivation, activités scientifiques. Toutefois, dans certains laboratoires, la présence de compétition entre les étudiants peut venir assombrir en partie ces bénéfices. 
	</p>
	<p>
		Dans certains cas (ex : sujet de recherche multidisciplinaire), la codirection peut vous permettre de bénéficier d’une double expertise. Cependant, elle comporte aussi ses désavantages (dont la gestion de deux relations et un plus grand risque de divergences d’opinions). 
	</p>
	<p>
		Dans tous les cas, établissez le plus tôt possible avec votre directrice ou votre directeur une entente claire portant sur tous les aspects du suivi académique (ex : projet de recherche, fréquence des rencontres, délai de correction des travaux, accès à un bureau, contrats de recherche, etc.). La personne qui dirige votre recherche possède différents rôles à jouer auprès de vous, soit un rôle professionnel, un rôle administratif et un rôle personnel. Pour une meilleure description des responsabilités qui incombent à la directrice ou au directeur, de même qu’à l’étudiante ou à l’étudiant, vous pouvez consulter le texte : <a href="{{LIEN}}encadrement" title="L’encadrement aux cycles supérieurs : savoir tirer le meilleur de la relation avec votre directrice ou directeur" target="_blank">L’encadrement aux cycles supérieurs : savoir tirer le meilleur de la relation avec votre directrice ou directeur</a>. 
	</p>
</section>
</section>
<section id="conclusion">
	<h1>Conclusion</h1>
	<p>
		Vous n’avez pas à être un génie pour réussir des études aux cycles supérieures. Le bon déroulement de vos études dépendra de votre motivation à atteindre votre but, d’un amalgame de qualités professionnelles et personnelles, de la qualité de l’encadrement dont vous bénéficierez, et surtout, d’une bonne dose de persévérance pour surmonter les obstacles! Bonne route! 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		Andraos, J. Choosing a graduate or postdoc advisor. Science Careers, Science. Août 2002. 
	</cite></p>
	<p><cite>
		Azuma, R. T. (2003). So long, and thanks for the PH.D.! Everything I wanted to know about C.S. graduate school at the beginning but did’t learn until later. <a href="http://www.cs.unc.edu/~azuma/hitch4.html" title="http://www.cs.unc.edu/~azuma/hitch4.html" target="_blank">http://www.cs.unc.edu/~azuma/hitch4.html</a>. 
	</cite></p>
	<p><cite>
		Bourdages, L. (1996). La persistance au doctorat. Une histoire de sens. Presses de l’Université. Du Québec, Sainte-Foy. 
	</cite></p>
	<p><cite>
		Leduc, A. (1990). La direction des mémoires et des thèses. Brossard, Behaviora. 
	</cite></p>
	<p><cite>
		Morin, S. (2006). Études supérieures recherche, Guide étudiant. Université de Sherbrooke. <a href="http://www.usherbrooke.ca/etudes-superieures/recherche/comment-trouver-un-directeur-de-recherche/" title="http://www.usherbrooke.ca/etudes-superieures/recherche/comment-trouver-un-directeur-de-recherche/" target="_blank">http://www.usherbrooke.ca/etudes-superieures/recherche/comment-trouver-un-directeur-de-recherche/</a>. 
	</cite></p>
	<p><cite>
		Prégent, R. (2001). L’encadrement des travaux de mémoire et de thèse. Presses internationales polytechnique. 
	</cite></p>
	<p><cite>
		Règlement des études: <s><a href="http://www.ulaval.ca/sg/reg/Reglements/Reglement_des_etudes.pdf" title="http://www.ulaval.ca/sg/reg/Reglements/Reglement_des_etudes.pdf" target="_blank">http://www.ulaval.ca/sg/reg/Reglements/Reglement_des_etudes.pdf</a></s>
	</cite></p>
	<p><cite>
		Royer, C. (1998). Vers un modèle de direction de recherche doctorale en sciences humaines. Presses de l’Université du Québec, Sainte-Foy. 
	</cite></p>
	<p><cite>
		Site web de la Faculté des études supérieures : <s><a href="http://www.fes.ulaval.ca" title="http://www.fes.ulaval.ca" target="_blank">http://www.fes.ulaval.ca</a></s>
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Véronique Mimeault, psychologue, en collaboration avec Chantal Thibodeau, psychologue. 
	</p>
</footer>
