<p>
	De plus en plus d’étudiantes et d’étudiants consultent le Centre d’aide aux étudiants, croyant à tort ou à raison souffrir d’un trouble déficitaire de l’attention avec ou sans hyperactivité (TDAH). Depuis quelques années, beaucoup d’information circule dans les médias sur ce trouble et les recherches ne cessent de progresser dans ce domaine. Ce texte vise donc à le définir brièvement, à présenter les traitements possibles et à identifier les ressources disponibles pour mieux réussir vos études universitaires avec un TDAH. 
</p>
<nav>
	<ul>
		<li><a href="#definition" title="Définition du TDAH">Définition du TDAH</a></li>
		<li><a href="#roles" title="Rôle des fonctions exécutives">Rôle des fonctions exécutives</a></li>
		<li><a href="#comment-savoir" title="Comment savoir si vous avez un TDAH ?">Comment savoir si vous avez un TDAH ?</a></li>
		<li><a href="#traitements" title="Traitements possibles">Traitements possibles</a></li>
		<li><a href="#ressources" title="Ressources universitaires">Ressources universitaires</a></li>
		<li><a href="#conclusion" title="Conclusion">Conclusion</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="definition">
	<h1>Définition du TDAH</h1>
	<p>
		Le trouble déficitaire de l’attention avec ou sans hyperactivité  (TDAH) est un problème neurologique qui apparaît durant l’enfance. Ce trouble est lié à des anomalies de développement et de fonctionnement du cerveau. Dans la majorité des cas, il y a une composante héréditaire. Le TDAH n’est pas causé par des besoins affectifs non comblés ou par des problèmes psychosociaux, même s’il peut être exacerbé par ces facteurs. Il n’y a pas non plus de lien entre le TDAH et l’intelligence de la personne.
	</p>
	<p>
		Les personnes souffrant d’un TDAH ont des difficultés d’attention et/ou  d’impulsivité et d’hyperactivité qui affectent différentes sphères de leur vie (sociale, scolaire et professionnelle). Ce trouble se présente plus souvent chez l’enfant que chez l’adulte mais il persiste à l’âge adulte chez la moitié des enfants qui en sont atteints. On estime à environ 4% la prévalence de ce trouble chez la population adulte. Le TDAH n’est pas plus fréquent chez les garçons que chez les filles mais il se manifeste différemment : en général, les garçons présentent davantage d’hyperactivité et d’impulsivité tandis que les filles démontrent plus d’inattention.
	</p>
</section>
<section id="roles">
	<h1>Rôle des fonctions exécutives</h1>
	<p>
		Un grand nombre d’études ont démontré chez les personnes atteintes d’un TDAH un déficit de certaines fonctions exécutives, c’est-à-dire des processus cognitifs liés à la planification, à la pensée abstraite et au contrôle cognitif. Chez les personnes ayant surtout des symptômes d’inattention, on observe  une lenteur dans l’exécution d’une tâche (ex. : difficulté à terminer une tâche, à se concentrer et perte fréquente d’objets). Par contre, si l’hyperactivité ou l’impulsivité domine, il s’agit plutôt d’un déficit d’inhibition (ex. : incapacité à patienter dans une file d’attente ou tendance à répondre trop rapidement à une question d’examen occasionnant des erreurs).
	</p>
	<p>
		Le modèle de  Thomas E. Brown (2005) précise que le problème concerne l’activation et le maintien de six fonctions exécutives importantes : l’activation, le focus, l’effort, la régulation des émotions, la mémoire et l’action. Selon ce modèle, les individus ayant un TDAH seraient aptes à exercer adéquatement chacune de ces fonctions de base mais dans certaines conditions (ex. en cas d’urgence ou si engagé dans une activité ayant un niveau d’intérêt immédiat). Le Dr Annick Vincent (2005) abonde dans le même sens : « Le TDAH n’est pas un manque d’attention mais bien une difficulté à moduler, à freiner et à inhiber.»
	</p>
</section>
<section id="comment-savoir">
	<h1>Comment savoir si vous avez un TDAH ?</h1>
	<p>
		L’évaluation du TDAH n’est pas simple car des symptômes similaires peuvent découler de certains troubles mentaux. En effet, dans plus de la moitié des cas, le TDAH est associé à d’autres problèmes psychologiques, tels que les troubles anxieux et de l’humeur, la toxicomanie et les problèmes relationnels. Plusieurs d’entre eux présentent aussi un trouble d’apprentissage comme la dyslexie. Vous pouvez consulter notre <a href="wp-content/uploads/2014/11/TroublesApprentissage.pdf" title="Guide pédagogique" target="_blank">guide pédagogique</a> sur ce sujet.
	</p>
	<p>
		Sont présentées ici les manifestations du TDAH selon les critères du DSM-IV. Cependant, il importe de ne pas conclure trop rapidement à ce diagnostic puisqu’il exige une évaluation rigoureuse, habituellement par l’un ou l’autre de ces professionnels : médecin de famille, psychiatre, neuropsychologue ou psychologue. Une entrevue clinique, des questionnaires et la recherche d’informations auprès de l’entourage (parents, amis, conjoint ou conjointe), entre autres,  permettent de recueillir le plus d’information possible.  De plus, il existe des tests neuropsychologiques qui permettent de valider le diagnostic et d’apporter certaines précisions (vitesse de traitement de l’information et capacité d’inhibition).
	</p>
	<p>
		Il est à noter que chaque personne ayant un TDAH peut présenter ces symptômes à différents degrés de sévérité. De plus, les symptômes doivent se maintenir dans le temps et avoir un impact significatif sur le fonctionnement de la personne.
	</p>
	<table>
		<caption>Manifestations du TDAH selon les critères du DSM-IV</caption>
		<tbody>
			<tr>
				<td><strong>L'inattention</strong></td>
				<td>
					<ul>
						<li>
							Prête difficilement attention aux détails;
						</li>
						<li>
							A du mal à soutenir son attention (cours, lectures, conversation);
						</li>
						<li>
							Ne semble pas écouter quand on lui parle;
						</li>
						<li>
							Ne se conforme pas aux consignes et ne termine pas ses tâches;
						</li>
						<li>
							Éprouve de la difficulté à planifier et à s’organiser au quotidien (travaux ou activités);
						</li>
						<li>
							Évite ou fait à contrecœur les tâches qui demandent un effort mental soutenu;
						</li>
						<li>
							Perd ses objets (notes de cours, agenda, livres, clés);
						</li>
						<li>
							Est facilement distrait par des stimuli externes;
						</li>
						<li>
							Fait des oublis fréquents (rendez-vous, rencontres).
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><strong>L'hyperactivité</strong></td>
				<td>
					<ul>
						<li>
							Remue souvent les mains et les pieds, bouge sur son siège;
						</li>
						<li>
							A de la difficulté à rester assis;
						</li>
						<li>
							Court et grimpe (chez l’adulte : bougeotte);
						</li>
						<li>
							A de la difficulté à rester tranquille (travail et loisirs);
						</li>
						<li>
							Est souvent « sur la brèche », ou survolté;
						</li>
						<li>
							Parle trop.
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><strong>L'impulsivité</strong></td>
				<td>
					<ul>
						<li>
							Répond aux questions avant qu’elles ne soient formulées;
						</li>
						<li>
							Arrive difficilement à attendre son tour;
						</li>
						<li>
							Interrompt souvent les autres ou impose sa présence (fait irruption dans les conversations).
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</section>
<section id="traitements">
	<h1>Traitements possibles</h1>
	<p>
		Deux types de traitements sont privilégiés : une approche pharmacologique et une approche psychologique. Un traitement qui combine les deux approches s’avère généralement plus efficace.
	</p>
	<p>
		La médication, souvent un psychostimulant tel que le Ritalin ou le Concerta, agit comme un frein pour la « bougeotte des idées ». Les personnes retrouvent alors le fil de leur pensée, sont moins facilement distraites et mieux organisées. Bien qu’il existe beaucoup de controverse dans les médias quant à l’usage de cette médication, il demeure qu’elle s’avère pertinente si le diagnostic est bien posé. En effet, le traitement pharmacologique  démontre son efficacité dans 50 à 70% des cas. Il atténue les symptômes et aide à mettre en place les stratégies d’adaptation et d’organisation.
	</p>
	<p>
		L’approche psychologique, c’est-à-dire le support et les conseils d’une aide professionnelle, permet d’apprendre à utiliser au quotidien des techniques de gestion du temps et d’organisation de tâches, comme l’utilisation de pense-bêtes, d’un agenda et de listes, pour réduire l’impact des symptômes.  Pour plus de détails, consulter le texte <a href="{{LIEN}}strategies-TDAH" title="Stratégies pour étudier avec un TDAH" target="_blank">Stratégies pour étudier avec un TDAH</a>.
	</p>
</section>
<section id="ressources">
	<h1>Ressources universitaires</h1>
	<p>
		La réussite universitaire requiert plusieurs habiletés cognitives : autocritique, initiative, organisation, planification des objectifs et des apprentissages. De plus, les étudiants doivent développer une pensée conceptuelle et critique. Ils doivent aussi fournir un effort mental soutenu, être flexible, persévérer, gérer leur temps de lecture, d’étude et de rédaction. Comme le TDAH affecte certaines de ces habiletés cognitives, la  performance scolaire de plusieurs étudiants souffrant de ce trouble en est diminuée.
	</p>
	<p>
		Heureusement, en utilisant des stratégies d’études adaptées, combinées ou non à la prise d’une médication, et en consultant les ressources appropriées, il est possible de réussir des études universitaires et d’atteindre vos objectifs de carrière.
	</p>
	<h2>Aide à l'apprentissage et à la réussite</h2>
	<p>
		Il n’est pas simple de modifier ses habitudes de travail et il en va de même pour les personnes ayant un TDAH.  N’hésitez pas à consulter un ou une psychologue du Centre d’aide aux étudiants pour évaluer vos stratégies actuelles (gestion de temps, méthodes d’étude, prise de notes, etc.) de manière à apporter les correctifs nécessaires. Au besoin, ces psychologues peuvent effectuer l’évaluation du TDAH pour les étudiants inscrits à l’Université Laval et les référer par la suite, si nécessaire,  à un médecin pour évaluer la pertinence d’une médication.
	</p>
	<h2>Soutien aux étudiants en situation de handicap</h2>
	<p>
		Pour la majorité des personnes ayant un TDAH, la médication ou les stratégies d’adaptation s’avèrent suffisantes à la réussite de leurs études. Toutefois, pour une partie d’entre elles, des mesures d’accommodations scolaires peuvent être nécessaires. Il est possible de rencontrer une conseillère ou un conseiller qui évaluera la possibilité d’obtenir des mesures d’accommodation scolaire pour les examens (local séparé de la classe ou temps supplémentaire) ou d’autres services (service de tutorat ou de prise de notes) pour procurer de meilleures conditions d’apprentissage. Un rapport d’évaluation qui confirme le diagnostic est toutefois nécessaire pour obtenir ces accommodations. Vous pouvez aussi consulter la section <a href="{{LIEN}}TDAH-handicap" title="Situation de handicap concernant le TDAH" target="_blank">Situation de handicap concernant le TDAH</a>.
	</p>
	<h2>Psychologie</h2>
	<p>
		Les conséquences du TDAH varient d’une personne à l’autre : faible estime de soi, anxiété, épuisement ou dépression. De plus, des problèmes relationnels peuvent souvent survenir. Les oublis, les retards et l’impulsivité peuvent mener à des conflits et même à des attitudes de rejet. L’entourage (professeurs, amis, employeurs) peut interpréter ces comportements comme un désintéressement ou un manque de respect.  Les psychologues de ce secteur peuvent aider ces personnes à développer des moyens pour mieux faire face à ces situations et à regagner leur estime personnelle.
	</p>
	<h2>Orientation</h2>
	<p>
		Chaque personne ayant un TDAH présente une combinaison de symptômes qui lui est propre. Certains symptômes peuvent même s’avérer un atout. Par exemple, le niveau d’énergie et la recherche de nouveauté de certains adultes hyperactifs peuvent être utiles pour les créateurs artistiques ou littéraires ou les chercheurs en quête de solutions pour résoudre des problèmes scientifiques. Pour cibler et exploiter leurs forces, il peut être pertinent pour ces étudiants de rencontrer un conseiller ou une conseillère en orientation qui pourra les éclairer dans un choix de carrière qui correspond à leurs aspirations.
	</p>
</section>
<section id="conclusion">
	<h1>Conclusion</h1>
	<p>
		Les traitements et les ressources actuelles font en sorte qu’il est possible d’étudier à l’université avec un TDAH. Il faut toutefois du temps et de l’entraînement pour mieux vivre avec les symptômes d’inattention et d’hyperactivité. Il ne faut pas hésiter à consulter les ressources disponibles pour mettre ainsi toutes les chances de votre côté afin de réussir à la mesure de votre plein potentiel.
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		AMERICAN PSYCHIATRIC ASSOCIATION – DSM IV (1996), Manuel diagnostique et statistique des Troubles mentaux , 4e édition, Washington. Traduction française par J.-D. GUELFI et al., Masson, Paris.
	</cite></p>
	<p><cite>
		Brown, Thomas E. (2005). Attention Deficit Disorder. The Unfocused Mind in Children and Adults. Yale University Press.
	</cite></p>
	<p><cite>
		Chevalier, N., Guay, M-C., Achim, A., Lageix, P. et Poissant, H. (Eds.) (2006). Trouble déficitaire de l’attention avec hyperactivité : soigner, éduquer, surtout valoriser. Presses de l’Université du Québec, Québec.
	</cite></p>
	<p><cite>
		Gagné, Louis, « TDAH chez l’adulte : suivre une psychothérapie réduit les symptômes ». In Site Passe port Santé, [En ligne]. <a href="http://www.passeportsante.net/fr/Actualites/Nouvelles/Fiche.aspx?doc=tdah-adulte-psychotherapie-reduirait-symptomes_20100908" title="http://www.passeportsante.net" target="_blank">http://www.passeportsante.net</a> (page consultée le 1er novembre 2010).
	</cite></p>
	<p><cite>
		Landry, France et Goupil, Georgette, « Trouble déficitaire de l’attention à l’université », Revue internationale de pédagogie de l’enseignement supérieur [En ligne], 26-2 | 2010, mis en ligne le 08 février 2011, Consulté le 21 juin 2011. URL : <a href="http://ripes.revues.org/index416.html" title="http://ripes.revues.org/index416.html" target="_blank">http://ripes.revues.org/index416.html</a>
	</cite></p>
	<p><cite>
		« Trouble du déficit de l’attention/hyperactivité (TDAH) ». In Site Passeport Santé, [En ligne]. <a href="http://www.passeportsante.net/fr/Maux/Problemes/Fiche.aspx?doc=trouble_deficit_attention_hyperactivite_pm" title="http://www.passeportsante.net" target="_blank">http://www.passeportsante.net</a> (page consultée le 1er novembre 2010).
	</cite></p>
	<p><cite>
		Vincent, Annick, M.D.(2005) Mon cerveau a encore besoin de lunettes : le TDAH chez l’adulte. Éditions Académie Impact, Lac Beauport (Québec)
	</cite></p>
</section>
<section id="complementaire">
	<h1>Contenu complémentaire</h1>
		<p><cite>
		<a href="http://www.attentiondeficit-info.com/" title="www.attentiondeficit-info.com" target="_blank">www.attentiondeficit-info.com</a><br>
		Site sur le TDAH préparé par Dr Annick Vincent
	</cite></p>
	<p><cite>
		<a href="http://www.caddra.ca" title="www.caddra.ca" target="_blank">www.caddra.ca</a><br>
		Canadian Attention Deficit Hyperactivity Disorder Resource Alliance
	</cite></p>
	<p><cite>
		<a href="wp-content/uploads/2014/11/TDAH.pdf" title="Guide pédagogique concernant les étudiants ayant un TDAH" target="_blank">Guide pédagogique concernant les étudiants ayant un TDAH</a>
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Marie-Hélène Simard, psychologue
	</p>
</footer>
