<p>
	Les études universitaires vous exposent à devoir présenter vos connaissances ou vos résultats de recherches dans différents contextes, que ce soit lors de séminaires, de colloques ou en classe. Ces présentations publiques sont, pour plusieurs, une source de grande anxiété. Il existe, cependant, des moyens pour surmonter le trac. La maîtrise de cette émotion nécessite toutefois de l'entraînement et de la patience. Votre premier défi consistera à ne pas éviter les présentations publiques, car l’évitement est la mère de l’anxiété et du trac. Vos études universitaires peuvent être une excellente occasion pour développer votre aisance devant un public.
</p>
<nav>
	<ul>
		<li><a href="#definition" title="Définition du trac">Définition du trac</a></li>
		<li><a href="#manifestations-physiques" title="Les manifestations physiques du trac">Les manifestations physiques du trac</a></li>
		<li><a href="#manifestations-cognitives" title="Les manifestations cognitives du trac">Les manifestations cognitives du trac</a></li>
		<li><a href="#performance" title="L’effet du trac sur la performance">L’effet du trac sur la performance</a></li>
		<li><a href="#apprivoiser" title="Les moyens pour mieux apprivoiser le trac ">Les moyens pour mieux apprivoiser le trac </a></li>
		<li><a href="#resume" title="En résumé : quoi faire avant, pendant et après votre exposé pour apprivoiser le trac">En résumé : quoi faire avant, pendant et après votre exposé pour apprivoiser le trac</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="definition">
	<h1>Définition du trac</h1>
	<p>
		Le <strong>trac</strong> se définit comme « un malaise lors de l’exécution d’une tâche en présence (réelle ou imaginée) d’autrui » (Picard, 1995). Ce peut être devant un groupe ou devant une personne, comme lors d’une entrevue d’emploi. Spécifique et ponctuel, le trac est lié à une performance à exécuter à un certain moment, contrairement à la timidité, qui est un trait personnel qui colore les différentes interactions sociales d’une personne. Les manifestations du trac sont physiques et cognitives.
	</p>
</section>
<section id="manifestations-physiques">
	<h1>Les manifestations physiques du trac</h1>
	<p>
		Plusieurs symptômes physiques sont associés au trac. Par exemple, le rythme cardiaque s’accélère, la respiration est plus difficile, les mains deviennent moites, la gorge sèche, etc. Souvent, ces symptômes diminuent rapidement au fil de l’exposé ou de la prestation, à moins de centrer son attention sur ceux-ci ! C’est à ce moment qu’un cercle vicieux s’installe. Lorsque l’attention se dirige vers les sensations physiques du trac et non vers le contenu de la présentation, les malaises s’intensifient et la concentration diminue. Des méthodes pour mieux contrôler ces phénomènes seront abordées plus loin.
	</p>
</section>
<section id="manifestations-cognitives">
	<h1>Les manifestations cognitives du trac</h1>
	<p>
		Les manifestations cognitives du trac sont les craintes ou les peurs associées à la prestation à réaliser. Ces craintes sont nombreuses et peuvent s’exprimer sous la forme de peurs de bafouiller ou de bégayer, de paraître nerveux, d’être ennuyeux, de rougir, de trembler, de faire des erreurs, etc. Le point commun à toutes ces craintes est la peur plus générale d’être jugé négativement par ceux et celles qui nous écoutent. Nous verrons plus loin comment s’adresser à ces craintes. 
	</p>
</section>
<section id="performance">
	<h1>L’effet du trac sur la performance</h1>
	<p>
		La très grande majorité des individus va vivre du trac avant ou pendant une présentation publique. Si un peu de trac est stimulant, trop de trac peut devenir paralysant. L’objectif n’est donc pas d’éliminer complètement l’anxiété. Il s’agit plutôt d’apprendre à l’apprivoiser, de ne pas fixer son attention sur ses symptômes et de se concentrer sur le contenu de sa présentation. 
	</p>
</section>
<section id="apprivoiser">
	<h1>Les moyens pour mieux apprivoiser le trac</h1>
	<nav>
		<ul>
			<li><a href="#relaxer" title="Apprendre à relaxer">Apprendre à relaxer</a></li>
			<li><a href="#identifier" title="Identifier et analyser vos craintes">Identifier et analyser vos craintes</a></li>
			<li><a href="#objectifs-realistes" title="Se fixer des objectifs plus réalistes : être un bon orateur ou un bon communicateur?">Se fixer des objectifs plus réalistes : être un bon orateur ou un bon communicateur?</a></li>
			<li><a href="#preparation" title="Bien vous préparer">Bien vous préparer</a></li>
			<li><a href="#visualisation" title="La désensibilisation par la visualisation">La désensibilisation par la visualisation</a></li>
			<li><a href="#repeter" title="Répéter, répéter, répéter…">Répéter, répéter, répéter…</a></li>
			<li><a href="#autosurveillance" title="Diminuer l’autosurveillance">Diminuer l’autosurveillance</a></li>
		</ul>
	</nav>
	<h2 id="relaxer">Apprendre à relaxer</h2>
	<p>
		La relaxation permet de diminuer les symptômes physiques du trac. En diminuant les malaises physiques, vous diminuerez également vos craintes d’avoir l’air nerveux. Il existe de nombreuses méthodes de relaxation, telle que celle de Jacobson (1938), qui est axée sur le contrôle de la respiration et la réduction des tensions musculaires. Consultez le texte sur la <a href="{{LIEN}}relaxation" title="relaxation" target="_blank">relaxation</a> pour connaître plus en détail cette technique, ainsi que d’autres. De plus, vous pouvez consulter les exercices guidés téléchargeables sur le site de <a href="http://www.passeportsante.net/fr/audiovideobalado/Balado.aspx" title="Passeport santé" target="_blank">Passeport santé</a>. Pratiquez cette relaxation les semaines précédant votre exposé. Avec de l'entraînement, vous arriverez à mieux reconnaître lorsque vous êtes tendu et il vous sera graduellement plus facile de relâcher vos tensions à l’aide de votre respiration. 
	</p>
	<h2 id="identifier">Identifier et analyser vos craintes</h2>
	<p>
		Les anticipations négatives créent l’anxiété. Lorsqu’une personne vit beaucoup de trac, les craintes et les anticipations deviennent des certitudes pour elle. Par exemple, la crainte d’être jugé négativement deviendra la certitude d’être jugé. Il est important de remettre en question les anticipations négatives, car elles ne correspondent pas toujours parfaitement à la situation.
	</p>
	<p>
		Nous vous proposons les exercices suivants afin de remettre en question la certitude de vos craintes concernant les exposés.
	</p>
	<h3><u>Exercice 1</u> : Répondre aux questions suivantes afin d’<em>identifier</em> vos craintes</h3>
	<div class="encadre">
		<ul>
			<li>
				Qu’est-ce qui s’est passé dans mon esprit juste avant que je me sente anxieux?
			</li>
			<li>
				Si ce que je crains survient, quelles sont les conséquences pour moi, pour mon avenir?
			</li>
			<li>
				Si ce que je crains survient, que penseront les autres personnes?
			</li>
			<li>
				Quel est le pire qui pourrait m’arriver?
			</li>
		</ul>
	</div>
	<p>
		Après avoir bien déterminé vos craintes, essayez de les remettre en doute. Les questions importantes sont : « Est-ce vrai? Sur quels faits je m’appuie pour affirmer cela? Y a-t-il des faits qui contredisent mon affirmation? Y a-t-il une autre possibilité? Qu’est-ce que je pourrais faire si cela arrivait? ».
	</p>
	<h3><u>Exercice 2</u> : Répondre à ces questions afin de vous interroger sur la certitude devos craintes</h3>
	<div class="encadre">
		<ul>
			<li>
				Quelle est ma préparation pour cette prestation?
			</li>
			<li>
				Est-ce que j’ai des expériences qui me montrent que cette crainte n’est pas toujours vraie?
			</li>
			<li>
				Si un(e) collègue me disait cette pensée, qu’est-ce que je lui répondrais?
			</li>
			<li>
				Est-ce qu’il y a des petites choses qui contredisent mes pensées?
			</li>
			<li>
				Est-ce que j’ai déjà été dans cette situation dans le passé? Qu’est-ce qui est arrivé? Est-ce que j’ai appris des choses depuis qui pourrait m’aider dans cette nouvelle expérience?
			</li>
		</ul>
	</div>
	<p>
		Après avoir questionné certaines de vos craintes, est-il possible que celles-ci soient à reconsidérer? Les pensées qui causent de l’anxiété sont souvent des réflexes : elles apparaissent à votre esprit de façon rapide, sans avertissement. Il faut donc prendre le temps de les analyser.
	</p>
	<p>
		Maintenant, analysons certaines craintes qui, pour plusieurs personnes, peuvent diminuer le plaisir de faire des exposés.
	</p>
	<table>
		<thead>
			<tr>
				<th>Peur reliée aux exposés</th>
				<th>Réflexion sur la peur</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Bafouiller ou bégayer</td>
				<td>
					Rares sont ceux qui n’hésitent jamais en parlant. Observez vos professeurs pour le constater. Bafouiller sur certaines syllabes est normal. C’est pourquoi cela n’amène pas nécessairement un jugement négatif de l’auditoire.
				</td>
			</tr>
			<tr>
				<td>Être ou paraître nerveux</td>
				<td>
					Si votre trac est bien maîtrisé, cela ne nuira pas à votre performance (voir <a href="#performance" title="L’effet de l’anxiété sur la performance">L’effet de l’anxiété sur la performance plus haut</a>). De plus, même si vous ressentez des symptômes physiques désagréables, dans la majorité des cas, ils passeront inaperçus pour votre auditoire. Il ne faut pas oublier que vous ressentez beaucoup plus vos symptômes que ceux qui vous écoutent. Par exemple, les tremblements, s’il y en a, ne sont pas toujours évidents pour l’auditoire, ni votre battement de cœur. Finalement, la grande majorité des personnes qui vous écoutent sont nerveuses aussi lors des exposés, ce qui diminue la probabilité de jugement négatif.
				</td>
			</tr>
			<tr>
				<td>Être ennuyeux ou faire rire de soi</td>
				<td>
					Impossible de plaire à 100 % de votre auditoire! Il est possible que certaines personnes bâillent ou parlent durant votre exposé. Cela n’est pas forcément en lien avec votre présentation. Assurez-vous tout de même de posséder les éléments de base pour offrir un exposé de qualité en consultant <a href="wp-content/uploads/2014/11/Guide_Exposes_oraux.pdf" title="le guide sur les exposés oraux" target="_blank">le guide sur les exposés oraux</a>.
				</td>
			</tr>
			<tr>
				<td>Rougir</td>
				<td>
					Ce symptôme est temporaire. L’important est de ne pas porter une attention exagérée sur le fait de rougir. En général, ce symptôme physique, bien qu’apparent, n’entraîne pas nécessairement de jugement négatif relié à votre présentation. Si vous êtes bien préparé avec un bon contenu, la plupart des auditeurs vous pardonneront les rougeurs !
				</td>
			</tr>
			<tr>
				<td>Faire une gaffe</td>
				<td>
					Vous avez trébuché ou laissé tomber votre crayon durant votre présentation. Attention de ne pas exagérer l’ampleur de votre gaffe! C’est davantage votre réaction qui rendra mal à l’aise votre auditoire que votre gaffe elle-même. Cela ne signifie pas que vous avez raté votre exposé pour autant.
				</td>
			</tr>
		</tbody>
	</table>
	<p>
		Finalement, il est possible que vous ne puissiez remettre en doute vos craintes si vous avez identifié des problèmes particuliers pouvant survenir avant ou pendant votre exposé. Par exemple, vos connaissances des technologies de présentation (ex. PowerPoint) sont plutôt limitées. Au lieu de vous inquiéter face à ce problème, envisagez des solutions possibles (ex. demander l'aide d’un collègue, suivre un cours sur le sujet), ce qui est une action plus constructive que d’éviter les exposés.
	</p>
	<h2 id="objectifs-realistes">Se fixer des objectifs plus réalistes : être un bon orateur ou un bon communicateur?</h2>
	<p>
		Plus vous avez tendance à vous fixer des objectifs élevés et même inatteignables, plus vous augmentez votre trac. <strong>Être un bon orateur</strong> consiste à parler avec éloquence et avec aisance devant un public tout en séduisant son auditoire (ex. animateur de télévision). <strong>Être un bon communicateur</strong> consiste davantage à faire passer un message ou une information juste tout en maintenant l’attention de son auditoire (ex. professeur). Le milieu universitaire vise avant tout à développer de bonnes habiletés de communication. Les principaux objectifs à atteindre sont donc de vous assurer de bien connaître le contenu de votre exposé et d’en parler avec intérêt (ex. regarder votre auditoire et lui sourire à l’occasion). Plus vous aurez l’occasion de faire des exposés, plus vous gagnerez en assurance. Vous pourrez alors augmenter vos attentes et vous mettre au défi d’améliorer vos techniques oratoires. Sur ce point, les activités d’un groupe <a href="http://www4.fsa.ulaval.ca/cms/site/fsa/page10317.html" title="Toastsmaster" target="_blank">Toastsmaster</a> peuvent vous aider à vous améliorer.
	</p>
	<h2 id="preparation">Bien vous préparer</h2>
	<p>
		Une bonne préparation est un gage de sécurité pour tout communicateur. Assurez-vous de bien maîtriser le contenu de votre exposé et de vous sentir à l’aise avec le vocabulaire utilisé. Ne laissez rien au hasard en vérifiant, notamment, la salle et le matériel utilisé (ex. micro, projecteur). Apprenez votre introduction sur le bout des doigts, ceci vous aidera à vaincre le trac du début de la présentation. Consultez le guide sur les exposés oraux pour obtenir plus de renseignements sur la préparation du contenu de votre exposé.
	</p>
	<h2 id="visualisation">La désensibilisation par la visualisation</h2>
	<p>
		Afin de développer un sentiment de confiance plus élevé lors de votre exposé oral, vous pouvez aussi avoir recours à l’imagerie mentale. Vous pouvez, en imagination, reproduire sensiblement les mêmes émotions que si vous viviez la situation réelle. En effet, imaginer une situation drôle peut vous faire sourire, au même titre que l’image d’un événement stressant peut vous amener à vivre de l’anxiété. En pratiquant la situation stressante en imagination, vous l’apprivoisez graduellement. Cette technique vous permet de vous habituer à faire des présentations orales sans attendre d’avoir l’occasion de vous exercer devant un public.
	</p>
	<h3><u>Étapes de réalisation de la désensibilisation par visualisation :</u></h3>
	<ol>
		<li>
			Avant de commencer l’exercice, définissez ce que vous allez imaginer (salle où vous présentez l’exposé, appareils utilisés, auditoire, émotions que vous ressentez dans la salle de présentation, etc.).
		</li>
		<li>
			Installez-vous confortablement et relaxez quelques instants.
		</li>
		<li>
			Fermez les yeux et tentez d’imaginer votre scénario le plus en détail possible. Imaginez-vous aller à l’avant, vous installer, vous présenter, puis commencer votre introduction. Lorsque vous ressentez un inconfort, tentez d’identifier ce qui vous a rendu nerveux, puis relaxez-vous. Lorsque vous avez retrouvé votre calme, reprenez le scénario et poursuivez l’imagerie. 
		</li>
		<li>
			Vos habitudes peuvent vous amener à imaginer un scénario négatif. Il est important que vous vous imaginiez positivement. Si vous craignez certaines difficultés particulières en cours de votre exposé, comme bafouiller ou avoir un trou de mémoire, imaginez-vous en train de les surmonter, puis de poursuivre votre exposé. 
		</li>
	</ol>
	<p>
		L’exercice peut être répété pendant 20 à 30 minutes, jusqu’à ce que l’imagination de votre scénario crée un niveau de trac minimal. L’utilisation des images mentales est relativement difficile à réaliser pour certaines personnes. C’est aussi une question d’entraînement.
	</p>
	<h2 id="repeter">Répéter, répéter, répéter…</h2>
	<p>
		La répétition représente la clé du succès pour bien maîtriser votre trac. Elle permet de développer des automatismes et du même coup la confiance en vos moyens. Vous pouvez vous exercer <strong>devant un miroir</strong> pour observer vos tics et vos manies. <strong>S’enregistrer à l’aide d’une caméra vidéo ou d’un enregistreur</strong> peut aussi être très utile. De plus, <strong>s’exercer devant des amis, votre famille ou quelques collègues,</strong> vous donne l’occasion d’avoir des commentaires pour vérifier la pertinence de vos propos. Comprennent-ils ce que vous expliquez? Sinon, il serait bon d’apporter certains ajustements. Vous serez peut-être très nerveux de pratiquer devant les autres. Parfait! Cette séance d'entraînement vous donne l’occasion de maîtriser vos techniques de contrôle du trac (ex. respiration, autosurveillance etc.). Trop souvent, les gens qui vivent le trac évitent de faire des répétitions : « Je n’ai pas envie d’être nerveux avant mon exposé ». Au contraire, plus vous vous exposez à ce qui vous fait peur, plus vous apprivoisez les symptômes du trac. La préparation de dernière minute augmente le trac.
	</p>
	<h2 id="autosurveillance">Diminuer l’autosurveillance</h2>
	<p>
		« L’autosurveillance » est le fait de tenter d’évaluer sa présentation et de se préoccuper de son apparence pendant l’exécution d’une tâche (Desberg,1996). Ce comportement peut créer des difficultés lorsque vous êtes aux prises avec le trac, car, pendant que vous vous « autosurveillez », votre attention n’est plus portée sur la tâche à accomplir, mais plutôt sur vous-même et votre trac. Gardez à l’esprit que vous êtes plus conscient de votre état interne que qui que ce soit dans la classe. Ce qui vous semble si apparent ne l’est peut-être pas autant pour une personne assise dans la salle.
	</p>
	<h3><u>Moyens afin de diminuer l'« autosurveillance » :</u></h3>
	<ol>
		<li>
			<strong>Concentrer votre attention</strong>. C’est la méthode la plus efficace. Faites l’effort de concentrer votre attention sur la tâche à accomplir. Si vous êtes en train de faire votre exposé et que vous vous surprenez en train de porter attention à votre degré de nervosité, tentez l’une des choses suivantes :
			<ul>
				<li>
					prenez une respiration et jetez un coup d’œil à votre plan;
				</li>
				<li>
					pensez à la prochaine idée que vous voulez traiter;
				</li>
				<li>
					si une personne en particulier vous rend nerveux (personne qui semble ennuyée, personne qui quitte la salle), cessez de la regarder.
				</li>
			</ul>
			<br>
		</li>
		<li>
			<strong>Répéter en « s'autosurveillant »</strong>. Souvent, vous devenez anxieux lorsque vous réalisez que vous êtes distrait ou que vous paraissez nerveux. Vous pouvez vous préparer à cette éventualité en prévoyant, pendant vos répétitions, des périodes où vous vous interrompez pour vous « autosurveiller », avant de reprendre le fil de votre exposé. Exercez-vous aussi à vous reprendre si vous cherchez un mot, bafouillez ou commettez une erreur. Vous pratiquerez ainsi les techniques vous permettant de vous réorganiser et de vous concentrer à nouveau sur la tâche si de telles situations se présentent. 
		</li>
	</ol>
</section>
<section id="resume">
	<h1>En résumé : quoi faire avant, pendant et après votre exposé pour apprivoiser le trac</h1>
	<table>
		<tbody>
			<tr>
				<td>AVANT</td>
				<td>
					<ul>
						<li>
							pratiquer la relaxation musculaire
						</li>
						<li>
							identifier et analyser vos craintes
						</li>
						<li>
							bien maîtriser votre contenu et être à l’aise avec le vocabulaire
						</li>
						<li>
							vous pratiquer seul, devant quelques personnes, en imagination ou en s'« autosurveillant »
						</li>
						<li>
							se minuter
						</li>
					</ul>
					<p>
						La veille :
					</p>
					<ul>
						<li>
							vous reposer
						</li>
						<li>
							relaxer
						</li>
						<li>
							vérifier la salle et l'équipement
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>AU DÉBUT</td>
				<td>
					<ul>
						<li>
							parler à quelques personnes de l’auditoire
						</li>
						<li>
							réfléchir à votre contenu
						</li>
						<li>
							vous présenter et faire votre introduction
						</li>
						<li>
							vous concentrer sur l’exposé et non sur les symptômes du trac (souvent peu apparents pour l’auditoire)
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>PENDANT</td>
				<td>
					<ul>
						<li>
							prendre des pauses (ex. boire de l’eau)
						</li>
						<li>
							respirer
						</li>
						<li>
							relâcher la tension dans les épaules
						</li>
						<li>
							bouger ou marcher
						</li>
						<li>
							laisser aller les tremblements dans la voix
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>APRÈS</td>
				<td>
					<ul>
						<li>
							vous féliciter d'avoir survécu !
						</li>
						<li>
							après quelques jours, évaluer votre performance
						</li>
						<li>
							vous rappeler : <strong>« L'expérience vient avec la pratique »</strong>
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
	<p>
		Bonne présentation !
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		Careau, L. (1994). Les exposés oraux. Service d’orientation et de counseling. Université Laval.
	</cite></p>
	<p><cite>
		Chneiweiss, L. et Tanneau, E. (2003). Maîtriser son trac. Éd. Odile Jacob.
	</cite></p>
	<p><cite>
		Cloutier, R. et Vermette,J.(1992). La parole en public, savoir être, savoir faire. Les Presses de l ’Université Laval.
	</cite></p>
	<p><cite>
		Desberg,P. (1996). Pour en finir avec le trac. Les éditions de L’Homme.
	</cite></p>
	<p><cite>
		Jacobson, E. (1938). Progressive relaxation. Chicago : University of Chicago Press.
	</cite></p>
	<p><cite>
		Lieb, A. (1993). Speaking for Success. HBJ.
	</cite></p>
	<p><cite>
		Picard, A. (1995). Exécution musicale et modulation cognitive : une approche pédagogique. Thèse de doctorat. Université Laval.
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Dominique Dubé, psychologue<br>
		Véronique Mimeault, psychologue<br>
		Marie-Hélène Simard, psychologue
	</p>
</footer>
