<p>
	Des difficultés peuvent survenir lorsque vient le temps de faire un travail écrit. Vous pouvez vous retrouver devant votre travail sans savoir par où commencer, sans savoir exactement quoi faire. Vous pouvez également avoir des difficultés dans l'organisation logique et la formulation des idées, vous pouvez faire des erreurs de syntaxe, d'orthographe. Votre passage à l'université est une bonne occasion pour vous améliorer sur ces différents points, ce qui sera à votre avantage tout au long de votre carrière. Il est à noter que la Faculté des lettres (<a href="http://www.flsh.ulaval.ca/" title="http://www.flsh.ulaval.ca/" target="_blank">http://www.flsh.ulaval.ca/</a>) de l'Université Laval vous offre plusieurs cours afin d'améliorer votre écriture.
</p>
<nav>
	<ul>
		<li><a href="#planifier" title="Planifiez votre échéancier à rebours">Planifiez votre échéancier à rebours</a></li>
		<li><a href="#comprendre-objectifs" title="Bien comprendre les objectifs du travail">Bien comprendre les objectifs du travail</a></li>
		<li><a href="#remue-meninges" title="Prenez le temps d'un remue-méninges...">Prenez le temps d'un remue-méninges...</a></li>
		<li><a href="#document-general" title="Commencez par un document général">Commencez par un document général</a></li>
		<li><a href="#recherches-informatique" title="Préparez les recherches sur les bases de données informatiques">Préparez les recherches sur les bases de données informatiques</a></li>
		<li><a href="#tresors" title="Les rayons contiennent des trésors...">Les rayons contiennent des trésors...</a></li>
		<li><a href="#objectifs-travail" title="Revenez sur vos objectifs de travail en cours de route">Revenez sur vos objectifs de travail en cours de route</a></li>
		<li><a href="#nattendez-pas-1er" title="N'attendez pas trop avant d'écrire !">N'attendez pas trop avant d'écrire !</a></li>
		<li><a href="#nattendez-pas-2e" title="N'attendez pas trop avant d'écrire (2e partie) !">N'attendez pas trop avant d'écrire (2e partie) !</a></li>
		<li><a href="#premier-jet" title="Un premier jet, sans être parfait">Un premier jet, sans être parfait</a></li>
		<li><a href="#pensez-lecteur" title="Pensez au lecteur !">Pensez au lecteur !</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="planifier">
	<h1>Planifiez votre échéancier à rebours</h1>
	<p>
		Afin d'éviter de sous-estimer le temps requis pour réaliser le travail, tentez de vous établir un échéancier réaliste. Pour ce faire, écrivez la liste des tâches de la dernière à la première (mise en page, correction, rédaction, recherche, etc.). Estimez le temps requis pour chacune des étapes. Finalement, à partir de la date de remise (ou quelques jours avant), précisez un échéancier de la dernière étape à la première.
	</p>
</section>
<section id="comprendre-objectifs">
	<h1>Bien comprendre les objectifs du travail</h1>
	<p>
		Il est important de consulter votre professeur ou professeure si vous avez des doutes concernant certains détails du travail à faire, au sujet des objectifs ou du style de travail demandé. Vous gagnerez en efficacité si vous avez une compréhension claire du travail avant de commencer une recherche en profondeur.
	</p>
</section>
<section id="remue-meninges">
	<h1>Prenez le temps d'un remue-méninges...</h1>
	<p>
		Avant de débuter votre recherche, vous pouvez essayer de mettre sur papier les idées qui vous viennent spontanément à l'esprit concernant votre sujet. Cela peut vous permettre de mieux cibler le début de la recherche bibliographique.
	</p>
</section>
<section id="document-general">
	<h1>Commencez par un document général</h1>
	<p>
		Si vous connaissez peu le sujet de votre travail, commencez vos recherches et vos lectures en consultant des documents de base, si possible. Ces lectures vous permettront de connaître les points majeurs dont vous devez traiter, les auteurs importants sur le sujet et autres notions que vous devez connaître avant de faire une recherche très pointue. En ce sens, les encyclopédies générales et spécialisées, ainsi que les dictionnaires thématiques sont des sources intéressantes d'information. Si vous commencez une recherche sur les bases de données d'articles, recherchez les revues de littérature sur le sujet avant de consulter les articles qui concernent un aspect très précis.
	</p>
</section>
<section id="recherches-informatique">
	<h1>Préparez les recherches sur les bases de données informatiques</h1>
	<p>
		La majorité des articles scientifiques sont répertoriés dans des bases de données informatiques que vous pouvez consulter à partir de mots-clés ou de descripteurs. Cependant, compte tenu de la quantité phénoménale de titres contenus dans ces banques, vous devez bien préparer la façon dont vous allez interroger la base de données. Si celle-ci fonctionne avec un vocabulaire libre, portez une attention particulière aux synonymes des mots-clés retenus. De plus, plusieurs bases de données fonctionnent à l'aide d'un vocabulaire précis et prédéfini. La liste de ces descripteurs est nommée thésaurus. Finalement, la plupart des banques sont en anglais. Vous devrez donc traduire vos concepts dans cette langue. Les documents de base sur le sujet peuvent vous aider à préciser vos mots-clés.
	</p>
	<p>
		Il y a des formations offertes aux étudiants et étudiantes afin de bien utiliser les différentes sources d'information. Informez-vous à la bibliothèque (<a href="http://www.bibl.ulaval.ca" title="http://www.bibl.ulaval.ca" target="_blank">http://www.bibl.ulaval.ca</a>).
	</p>
</section>
<section id="tresors">
	<h1>Les rayons contiennent des trésors...</h1>
	<p>
		La majorité des documents sont classés par thème dans les rayons de la bibliothèque. Regardez les ouvrages situés à côté de celui que vous cherchez, vous découvrirez peut-être un trésor d'information insoupçonné !
	</p>
</section>
<section id="objectifs-travail">
	<h1>Revenez sur vos objectifs de travail en cours de route</h1>
	<p>
		Les différentes informations que vous retrouvez lors de votre recherche peuvent vous mener à multiplier les sous-thèmes intéressants à insérer dans votre travail. Cependant, il importe de cibler votre recherche d'information afin de ne pas vous perdre dans une multitude de sujets, qui ne pourront être couverts correctement s'il s'agit d'un travail de 15 pages ! Il est positif d'être intéressé ou intéressée par plusieurs sujets ; il faut cependant éviter de vous éparpiller d'une façon excessive pour un travail de session. Si c'est une difficulté pour vous, revenez sur vos objectifs et sur votre plan avant de commencer une période de recherche, et ce, afin de revenir sur vos priorités et de restreindre votre sujet.
	</p>
</section>
<section id="nattendez-pas-1er">
	<h1>N'attendez pas trop avant d'écrire !</h1>
	<p>
		Une erreur fréquente est de lire beaucoup d'articles et de livres sans prendre de notes, pour tenter par la suite d'écrire un texte de mémoire. Cette façon de faire provoque une difficulté à entamer la rédaction, une perte des informations pertinentes et, souvent, des textes peu structurés et peu valides. Dès que vous lisez une information pertinente, notez-la (pour le classement des notes de lecture voir le guide en format PDF <a href="wp-content/uploads/2014/11/Guide_Travaux_longs.pdf" title="Les travaux longs" target="_blank">Les travaux longs</a>). 
	</p>
</section>
<section id="nattendez-pas-2e">
	<h1>N'attendez pas trop avant d'écrire (2e partie) !</h1>
	<p>
		Une autre erreur fréquente est de prendre beaucoup de notes de lecture sans les structurer. Cette façon de faire réduit l'efficacité. Classez vos notes de lecture au fur et à mesure que vous les rédigez. Par exemple, regroupez les notes de lectures qui réfèrent à un même thème. Vous pouvez également mettre la référence dans votre plan. Par exemple :
	</p>
	<dl class="toc">
		<dt>Thème 1 : Chronologie de la recherche sur le jeu pathologique</dt>
		<dd>
			<dl>
				<dt>Sous-thème 1.1 : La prévalence</dt>
				<dd>
					1.1.1 étude de l'auteur X (référence de l'article ou numéro de code de la note de lecture)
				</dd>
				<dd>
					1.1.2 étude de l'auteur Y (référence de l'article ou numéro de code de la note de lecture)
				</dd>
    	</dl>
    </dd>
  </dl>
	<p>
		Lorsque vous avez assez d'informations pour un thème ou un sous-thème, tentez d'écrire un premier jet de cette partie. Il n'est pas nécessaire de détenir l'ensemble des informations pour l'ensemble de votre travail avant de tenter un premier jet. La rédaction d'une partie, même si elle n'est pas complète, permet une recherche subséquente plus ciblée et une écriture plus efficace.
	</p>
</section>
<section id="premier-jet">
	<h1>Un premier jet, sans être parfait</h1>
	<p>
		La première version d'un texte ou d'une partie de texte n'a pas besoin d'être parfaite sur tous les plans. La révision de la grammaire ou de la ponctuation, le choix des mots, la structure des phrases et tout ce qui réfère à la forme de votre texte peut être effectué après l'écriture des idées. Cette façon de faire vous permettra de profiter au maximum de votre inspiration et augmentera votre vitesse à rédiger.
	</p>
</section>
<section id="pensez-lecteur">
	<h1>Pensez au lecteur !</h1>
	<p>
		N'oubliez pas que votre lecteur ou lectrice doit bien comprendre la logique de votre texte. Il est donc important de bien le réviser en ce sens. Est-ce que le travail est introduit clairement ? Y a-t-il des mots pour marquer la transition entre les idées et les paragraphes ? Y a-t-il des notions beaucoup plus expliquées et détaillées que d'autres ? Y a-t-il plusieurs idées qui réfèrent à des thèmes différents dans un même paragraphe ? Ces questions soulèvent des points à éviter. Si vous avez l'occasion de faire lire votre travail par une autre personne, cela pourra vous aider à mieux évaluer les qualités et défauts de votre texte.
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<h2>Liens Internet</h2>
	<p><cite>
		The Unabridged Student Counseling Virtual Pamphlet Collection : <a href="http://www.dr-bob.org/vpc/virtulets.html" title="The Unabridged Student Counseling Virtual Pamphlet Collection" target="_blank">http://www.dr-bob.org/vpc/virtulets.html</a>
	</cite></p>
	<p><cite>
		Guide format PDF: <a href="wp-content/uploads/2014/11/Guide_Concentration.pdf" title="La concentration et la gestion du temps" target="_blank">La concentration et la gestion du temps</a>. 
	</cite></p>
	<h2>Livres</h2>
	<p><cite>
		Beaud, M. &amp; Daniel, L. (1988). L'art de la thèse. Les éditions Boréal.
	</cite></p>
	<p><cite>
		Bégin, C. (1992). Devenir efficace dans ses études. Éditions Beauchemin.
	</cite></p>
	<p><cite>
		Boucher, F. &amp; Avard, J. (1984). Réussir ses études. Éditions de Mortagne. 
	</cite></p>
	<p><cite>
		Burka, J.B. &amp; Yuen, L.M. (1986). Pourquoi remettre à plus tard ? Le jour, éditeur.
	</cite></p>
	<p><cite>
		Dionne, B. (1990). Pour réussir. Éditions Études Vivantes. 
	</cite></p>
	<p><cite>
		Gauthier, L. &amp; Poulin, N. (1987). Savoir apprendre (2e édition). Les éditions de l'Université de Sherbrooke. 
	</cite></p>
	<p><cite>
		Goulet, L. &amp; Lépine, G. (1986). Cahier de méthodologie (3e édition). Les éditions de l'Université du Québec à Montréal. 
	</cite></p>
	<p><cite>
		Pauk, W. (1998). Study skills for college athletes. H&amp;H Publishing company. 
	</cite></p>
	<p><cite>
		Tremblay, R.R. &amp; Perrier, Y. (2000). Savoir plus. Les éditions de la Chenelière. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Dominique Dubé, psychologue
	</p>
</footer>
