<p>
	Lors de votre formation, vous aurez possiblement à réaliser des travaux en équipe. Bien que ces expériences soient profitables et permettent de développer des habiletés de communication, de planification et d'entraide, les travaux en équipe peuvent amener des déceptions et des frustrations. Voici quelques suggestions afin de rendre plus efficace le travail en équipe.
</p>
<nav>
	<ul>
		<li><a href="#former-equipe" title="Un premier défi : former une bonne équipe">Un premier défi : former une bonne équipe</a></li>
		<li><a href="#compromis" title="Le travail en équipe = compromis possibles">Le travail en équipe = compromis possibles</a></li>
		<li><a href="#choisir-sujet" title="Choisissez le sujet, précisez-le et commencez à prendre des notes">Choisissez le sujet, précisez-le et commencez à prendre des notes</a></li>
		<li><a href="#sources-information" title="Déterminez les sources d'information pour chaque thème du plan">Déterminez les sources d'information pour chaque thème du plan</a></li>
		<li><a href="#echeancier" title="Fixez-vous un échéancier">Fixez-vous un échéancier</a></li>
		<li><a href="#diviser-travail" title="Divisez le travail et identifiez les rôles de chacun">Divisez le travail et identifiez les rôles de chacun</a></li>
		<li><a href="#rencontre-equipe" title="Les rencontres d'équipe... pour qu'elles soient efficaces">Les rencontres d'équipe... pour qu'elles soient efficaces</a></li>
		<li><a href="#compte-rendu" title="Le compte rendu de réunion">Le compte rendu de réunion</a></li>
		<li><a href="#roles" title="Les différents rôles dans une équipe">Les différents rôles dans une équipe</a></li>
		<li><a href="#problemes" title="Problèmes possibles dans une équipe...">Problèmes possibles dans une équipe...</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="former-equipe">
	<h1>Un premier défi : former une bonne équipe</h1>
	<p>
		Comme toutes les personnes n'ont pas les mêmes personnalités, les mêmes intérêts et les mêmes habiletés, le succès d'une équipe dépend en grande partie de la convergence et de la complémentarité de ses membres. Si c'est possible, prenez le temps de discuter entre vous avant de conclure la formation de l'équipe. Idéalement, chacun devrait faire part de ses connaissances ou de ses intérêts face au cours, notamment si vous devez choisir un sujet. De plus, informez-vous réciproquement de vos disponibilités, surtout si vous êtes plus de deux dans l'équipe. Les informations retirées de ces discussions vous permettront de décider si les points de vue et les intérêts de chacun sont assez semblables pour être efficaces. En outre, les horaires de chacun permettent-ils des rencontres ? Si vous avez des doutes, posez des questions. Si vous êtes mal à l'aise, c'est le moment de vous retirer de l'équipe, si cela est possible.
	</p>
</section>
<section id="compromis">
	<h1>Le travail en équipe = compromis possibles</h1>
	<p>
		Pour plusieurs personnes, la réalisation d'un travail écrit en équipe est plus exigeant que de le faire seul ou seule. En effet, cela exige d'accepter les points de vue des autres et de remettre les vôtres en question par moment. De plus, il faut vous adapter aux styles d'écriture, aux personnalités différentes. Cependant, il ne faut pas oublier ce que cette expérience vous apprendra : découvrir vos forces, vos faiblesses, apprendre à déléguer, à faire confiance, à dire vos opinions. Le travail d'équipe permet de développer des compétences et des attitudes qui seront positives sur le marché du travail et dans votre vie personnelle.
	</p>
</section>
<section id="choisir-sujet">
	<h1>Choisissez le sujet, précisez-le et commencez à prendre des notes</h1>
	<p>
		Une fois l'équipe formée, planifiez tout de suite votre travail. Pour débuter, il s'agit de préciser votre sujet. Prenez le temps de faire un retour sur ce que chacun connaît du sujet. C'est le temps d'avoir une discussion plus ou moins structurée sur l'orientation possible du travail. Chacun devrait avoir en main un crayon et du papier afin de prendre en note les thèmes discutés. Par la suite, précisez l'orientation du travail et ses objectifs. À ce moment, il est pertinent d'élaborer un plan provisoire à partir des notes de chacun.
	</p>
</section>
<section id="sources-information">
	<h1>Déterminez les sources d'information pour chaque thème du plan</h1>
	<p>
		Entrevues, bibliothèque, sondage, etc. ; certaines sources demandent plus de temps de consultation que d'autres, ce qui influence le partage du travail.
	</p>
</section>
<section id="echeancier">
	<h1>Fixez-vous un échéancier</h1>
	<p>
		Fixez un échéancier pour la réalisation des différentes étapes du travail et précisez à ce moment les dates de rencontres. Si vous devez faire une recherche plus approfondie afin de préciser les thèmes et sous-thèmes du plan, il est important de planifier une rencontre sans trop de délai. Habituellement, les rencontres sont plus fréquentes au début de la réalisation du travail et à la fin, lors de la mise en commun du travail de chacun.
	</p>
</section>
<section id="diviser-travail">
	<h1>Divisez le travail et identifiez les rôles de chacun</h1>
	<p>
		Les différentes tâches de recherche et d'écriture doivent-être séparées entre les membres de l'équipe, puisqu'il est peu efficace de les réaliser tous ensemble. Les tâches devraient être divisées équitablement. Cependant, il est quelquefois difficile de divisez parfaitement au début. Il pourra donc y avoir des ajustements en cours de route.
	</p>
</section>
<section id="rencontre-equipe">
	<h1>Les rencontres d'équipe... pour qu'elles soient efficaces</h1>
	<p>
		Il ne faut pas multiplier les rencontres inutilement, car celles-ci sont souvent moins efficaces que le travail individuel ou en petits sous-groupes. Cependant, il en faut suffisamment pour obtenir un travail cohérent et également pour respecter les échéanciers. Pour qu'une rencontre soit productive, il faut un ordre du jour sur lequel s'entendent les membres du groupe en début de réunion. Sans structure, les discussions de groupe sont souvent peu efficaces. Dans cet ordre du jour, vous pouvez mettre les différents points suivants : un compte rendu de la réunion précédente, les synthèses individuelles dans lesquelles chaque personne (ou sous-groupe) présente le travail fait et les problèmes éprouvés. Si des problèmes sont identifiés, ils peuvent être réglés à ce moment ou inscrits à l'ordre du jour pour une résolution ultérieure. Par la suite, l'ordre du jour doit comporter une synthèse d'équipe avec les tâches réalisées et celles qui restent à faire. Finalement, une anticipation des étapes à venir doit être effectuée. Votre ordre du jour peut être plus détaillé et précis. Ce qui est important, c'est d'avoir une réunion structurée.
	</p>
</section>
<section id="compte-rendu">
	<h1>Le compte rendu de réunion</h1>
	<p>
		Un compte rendu de réunion peut être utilisé comme aide-mémoire pour les membres de l'équipe. Il contient les buts de la réunion, les idées importantes qui ont été émises et les décisions prises par le groupe. Évidemment, il doit également présenter les tâches à réaliser et leur attribution. Ce compte rendu est habituellement préparé par la personne identifiée comme secrétaire de la réunion.
	</p>
</section>
<section id="roles">
	<h1>Les différents rôles dans une équipe</h1>
	<p>
		Deux acteurs principaux peuvent favoriser l'efficacité d'une équipe : l'animateur ou l'animatrice et le ou la secrétaire. Des membres de l'équipe peuvent réaliser ces tâches pour l'ensemble du travail ou chaque membre de l'équipe peut le faire à tour de rôle. Habituellement, il est plus équitable que la responsabilité de secrétaire soit partagée. 
	</p>
	<p>
		Principalement, les responsabilités de l'animateur ou de l'animatrice sont de :
	</p>
	<ul>
		<li>
			préciser l'ordre du jour avec les membres et le suivre ;
		</li>
		<li>
			permettre un tour de parole à chacun ;
		</li>
		<li>
			réorienter le discours des membres sur le sujet ;
		</li>
		<li>
			structurer le temps des discussions ;
		</li>
		<li>
			faire reformuler ce qui est dit si une intervention manque de clarté ;
		</li>
		<li>
			favoriser le partage des idées des plus timides, des plus silencieuses ou silencieux ;
		</li>
		<li>
			résumer les discussions lorsqu'un point est couvert ;
		</li>
		<li>
			vérifier le consensus dans le cas d'une prise de décision.
		</li>
	</ul>
	<p>
		Les responsabilités du ou de la secrétaire sont de :
	</p>
	<ul>
		<li>
			prendre des notes pour le compte rendu ;
		</li>
		<li>
			aider l'animateur ou l'animatrice pour le résumé des discussions et des décisions ;
		</li>
		<li>
			écrire un compte rendu de la réunion et le transmettre aux autres membres.
		</li>
	</ul>
</section>
<section id="problemes">
	<h1>Problèmes possibles dans une équipe...</h1>
	<p>
		Différents problèmes peuvent survenir dans un travail d'équipe. Le plus important est de réagir sans trop de délai, puisque plus la frustration augmente chez certains membres de l'équipe, plus il sera difficile de régler les difficultés dans l'harmonie et ainsi demeurer une équipe efficace. 
	</p>
	<p>
		Dans le cas d'un conflit en raison d'une attitude ou d'un comportement négatif de la part d'un ou d'une membre (retard, absence, qualité insuffisante du travail), essayez d'éviter d'en discuter à son insu et exprimez-lui directement ce qui vous dérange (évaluez s'il est pertinent de le faire en présence ou non des autres membres de l'équipe). Évidemment, il faut accepter que le travail soit différent que si vous l'aviez fait vous-même. Dans le pire des cas, envisagez de quitter l'équipe si votre vision est trop divergente, si la motivation est insuffisante ou si les compromis vous semblent impossibles. Au besoin, contactez la professeure ou le professeur afin de considérer une correction équitable. Finalement, réglez une mauvaise répartition des tâches le plus rapidement possible. 
	</p>
	<p>
		Si vos horaires sont difficilement conciliables, vous pouvez tenter de planifier des réunions plus courtes, mais qui vous permettront de conserver une cohérence dans le travail. Lors de ces courtes réunions, il sera important de vérifier si la répartition des tâches est équitable. De plus, vous pouvez utiliser la révision de texte par courrier électronique ou l'utilisation de logiciels qui vous permettent de communiquer en groupe par ordinateur (ex. : Messenger de Microsoft). Ce n'est pas l'idéal, mais il faut éviter de cesser toute communication au sujet du travail en raison de conflits d'horaires. Finalement, n'oubliez pas que les études universitaires demandent des compromis. Ainsi, si vous quittez la région plusieurs journées par semaine, il sera plus difficile de vous entendre avec les autres membres de votre équipe. 
	</p>
	<p>
		Finalement, débutez le travail le plus tôt possible. Cela est vrai pour l'ensemble de vos tâches scolaires et particulièrement pour vos travaux d'équipe. Le temps vous donnera une plus grande marge de manoeuvre si des problèmes surviennent. 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<h2>Liens Internet</h2>
	<p><cite>
		The Unabridged Student Counseling Virtual Pamphlet Collection : <a href="http://www.dr-bob.org/vpc/virtulets.html" title="The Unabridged Student Counseling Virtual Pamphlet Collection" target="_blank">http://www.dr-bob.org/vpc/virtulets.html</a>
	</cite></p>
	<p><cite>
		Guide format PDF: <a href="wp-content/uploads/2014/11/Guide_Concentration.pdf" title="La concentration et la gestion du temps" target="_blank">La concentration et la gestion du temps</a>. 
	</cite></p>
	<h2>Livres</h2>
	<p><cite>
		Beaud, M. &amp; Daniel, L. (1988). L'art de la thèse. Les éditions Boréal.
	</cite></p>
	<p><cite>
		Bégin, C. (1992). Devenir efficace dans ses études. Éditions Beauchemin.
	</cite></p>
	<p><cite>
		Boucher, F. &amp; Avard, J. (1984). Réussir ses études. Éditions de Mortagne. 
	</cite></p>
	<p><cite>
		Burka, J.B. &amp; Yuen, L.M. (1986). Pourquoi remettre à plus tard ? Le jour, éditeur.
	</cite></p>
	<p><cite>
		Dionne, B. (1990). Pour réussir. Éditions Études Vivantes. 
	</cite></p>
	<p><cite>
		Gauthier, L. &amp; Poulin, N. (1987). Savoir apprendre (2e édition). Les éditions de l'Université de Sherbrooke. 
	</cite></p>
	<p><cite>
		Goulet, L. &amp; Lépine, G. (1986). Cahier de méthodologie (3e édition). Les éditions de l'Université du Québec à Montréal. 
	</cite></p>
	<p><cite>
		Pauk, W. (1998). Study skills for college athletes. H&amp;H Publishing company. 
	</cite></p>
	<p><cite>
		Tremblay, R.R. &amp; Perrier, Y. (2000). Savoir plus. Les éditions de la Chenelière. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Dominique Dubé, psychologue
	</p>
</footer>