<p>
	Il est cinq heures du matin et Sébastien ouvre les yeux pour la énième fois de la nuit. L'heure approche. Il doit faire un exposé oral cet avant-midi devant les autres étudiants et étudiantes du groupe et sa professeure. Il a la nausée et il est incapable d'avaler quoi que ce soit. Sébastien tremble à la simple idée de se présenter à l'université ce matin. Il est convaincu qu'il va faire un fou de lui et qu'il se dirige tout droit vers la catastrophe.
</p>
<p>
	Aujourd'hui, c'est jour d'initiation. Annie entreprend ses études universitaires dans un programme où elle ne connaît personne. Elle déteste parler de la pluie et du beau temps et elle craint de n'avoir rien d'intelligent à dire. Annie a peur qu'on la trouve sans intérêt et elle décide de ne pas y aller.
</p>
<p>
	Olivier participe à une réunion de son association étudiante et il ne partage pas le même point de vue que ses collègues. Il aimerait leur en faire part mais Olivier redoute leur réaction. Il choisit donc de se taire.
</p>
<p>
	Karine est au laboratoire et son professeur l'observe tandis qu'elle fait ses manipulations. Elle se sent rougir et elle a peur que ce dernier s'en aperçoive. Karine devient de plus en plus nerveuse, elle se met à trembler et elle n'arrive plus à cacher sa nervosité. Elle souhaiterait se retrouver n'importe où sauf là.
</p>
<p>
	Ces différents scénarios ont une chose en commun, ils mettent en scène des gens qui s'exposent au regard et au jugement des autres. Nous avons tous déjà vécu ce genre de situation. Mais que se passe-t-il donc lorsque le malaise qu'engendrent ces situations nous envahit ? 
</p>
<nav>
	<ul>
		<li><a href="#definition" title="Qu'est-ce que l'anxiété sociale ?">Qu'est-ce que l'anxiété sociale ?</a></li>
		<li><a href="#provenance" title="D'où vient cette peur des autres ?">D'où vient cette peur des autres ?</a></li>
		<li><a href="#manifestation" title="Comment se manifeste cette peur ?">Comment se manifeste cette peur ?</a></li>
		<li><a href="#surmonter" title="Comment surmonter sa peur des autres ?">Comment surmonter sa peur des autres ?</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="definition">
	<h1>Qu'est-ce que l'anxiété sociale ?</h1>
	<p>
		L'anxiété sociale correspond à la peur persistante d'une ou de plusieurs situations dans lesquelles la personne est susceptible d'être observée par autrui et craint d'agir de façon humiliante ou embarrassante. Lorsque nous sommes l'objet de l'attention des autres, il peut arriver que nous ayons peur de ne pas faire bonne impression. Il s'agit là d'un phénomène fort répandu.
	</p>
	<p>
		L'anxiété sociale comporte plusieurs variantes : le trac, la timidité et la phobie sociale en sont les principales.
	</p>
	<p>
		Le <strong>trac</strong> est le nom que l'on donne à l'inconfort ponctuel, directement associé à une performance à exécuter devant public. Il est limité à cette situation et n'altère pas, de façon importante, la qualité de vie de l'individu.
	</p>
	<p>
		Plus généralisée, la <strong>timidité</strong> correspond à un trait personnel, à une manière d'être. Bien qu'elle désire échanger avec son entourage, la personne timide a tendance à se tenir en retrait et à laisser les autres initier la conversation. Elle éprouve habituellement plus d'anxiété sociale que la moyenne. Au fil des rencontres cependant, l'angoisse diminue et la personne timide s'adapte. La timidité comporte d'ailleurs certains avantages. Les personnes timides sont souvent appréciées pour leur discrétion, leur sensibilité, leur sens de l'observation, leur sens critique et leur capacité d'analyse. Le monde d'aujourd'hui valorise l'extraversion mais tout groupe, toute population se doit de compter parmi ses membres des extravertis et des introvertis. Imaginez le brouhaha dans lequel nous nous retrouverions si la société dans laquelle nous vivons ne comportait que des personnes extraverties !
	</p>
	<p>
		À l'extrême, la timidité devient de la <strong>phobie sociale</strong>. Il s'agit là d'une peur importante et persistante de situations sociales où l'on est exposé au regard et à l'évaluation d'autrui. La personne souffrant de phobie sociale craint d'être humiliée ou embarrassée par sa façon d'agir ou par ses symptômes d'anxiété tels que le rougissement ou les tremblements. Bien qu'elle reconnaisse que sa peur est excessive ou irrationnelle, elle redoute la plupart des situations sociales, qu'elle tente d'éviter ou tolère avec difficulté. 
	</p>
</section>
<section id="provenance">
	<h1>D'où vient cette peur des autres ?</h1>
	<p>
		Difficile de répondre en toute certitude à cette question. On peut toutefois identifier certains facteurs tels que l'hérédité, l'environnement familial, l'éducation et des événements marquants. Si, par exemple, vous avez été ridiculisé ou ridiculisée devant toute la classe par un professeur ou une professeure au primaire parce que vous n'avez pas su répondre à une question, il y a de fortes chances que vous ayez de la difficulté à prendre la parole en public. Il est important de mentionner que nous vivons dans une société qui valorise l'individualisme et la performance. Il y lieu de s'interroger sur les effets qu'a cette quête de l'excellence sur nos relations interpersonnelles.
	</p>
</section>
<section id="manifestation">
	<h1>Comment se manifeste cette peur ?</h1>
	<p>
		Les manifestations de l'anxiété sociale sont diverses. Sous les projecteurs, les gens ressentent souvent des palpitations, des maux de tête. Ils transpirent plus qu'à l'habitude, ils ont l'estomac noué, sont tendus et ont la bouche et la gorge sèches. Les symptômes les plus redoutés sont ceux qui révèlent, contre notre gré, notre nervosité. Le rougissement, le bégaiement et les tremblements en font partie. Les gens ont alors tendance à focaliser davantage sur ces manifestations, ce qui a pour effet de les amplifier et donc d'augmenter, à son tour, le niveau d'anxiété.
	</p>
	<p>
		L'anxiété nous jette dans l'embarras et nous ressentons de la gêne et de la honte. Cette anxiété peut même se transformer en panique. Nous aurons alors tendance à éviter de façon directe en refusant les invitations, ou de façon plus subtile en ne regardant pas les gens dans les yeux, en ne prenant pas la parole ou en ne faisant que de brèves phrases.
	</p>
	<p>
		Si nous pouvions entendre les pensées qui traversent l'esprit des personnes qui souffrent de cette phobie avant, pendant et après une situation sociale, nous découvririons un discours intérieur fort négatif. Avant une rencontre, ces personnes anticipent souvent les pires scénarios. Une fois sur place, elles se concentrent sur leur malaise intérieur plutôt que sur la rencontre en cours. De retour à la maison, elles repassent inlassablement le film de cette rencontre, recherchant les erreurs présumées et amplifiant les conséquences de celles-ci.
	</p>
	<p>
		Non seulement ces autoverbalisations contribuent à augmenter l'anxiété et l'évitement relié à celle-ci, mais elles favorisent l'échec au plan social. La personne qui a peur de l'avion n'augmente pas, par ses pensées, le risque d'écrasement. Cependant, l'individu qui redoute les situations sociales limitera ses interactions et suscitera ainsi moins d'intérêt chez les autres. 
	</p>
</section>
<section id="surmonter">
	<h1>Comment surmonter sa peur des autres ?</h1>
	<p>
		L'anxiété sociale n'est pas à proscrire. Une petite poussée d'adrénaline n'a jamais nui à personne. Lorsque l'anxiété est trop faible, l'individu est moins motivé et moins mobilisé par la situation et risque ainsi de moins réussir. Lorsqu'elle est présente sans être excessive, l'anxiété stimule et nous permet de faire une meilleure prestation. Nous ne devons donc pas chercher à ne ressentir aucune nervosité mais plutôt chercher à garder un bon contrôle sur soi qui nous permettra d'être alerte et présent aux autres.
	</p>
	<p>
		L'une des premières étapes pour s'affranchir de la peur des autres consiste à s'habituer progressivement à affronter les situations redoutées. Cette <strong>exposition</strong> doit être graduelle. Il est préférable de commencer par une situation relativement facile puis, une fois qu'elle est surmontée, de passer à une autre un peu plus difficile et ainsi de suite. Si, par exemple, vous n'osez pas adresser la parole à votre voisin ou voisine en classe, vous pouvez commencer par lui sourire, lui dire bonjour, puis lui dire quelques mots en début de cours. Par la suite, vous pouvez discuter avec lui ou elle à la pause et, éventuellement, lui offrir d'aller casser la croûte ensemble après le cours. En répétant ces exercices d'exposition, la personne constate que son anxiété diminue, elle gagne confiance et parvient petit à petit à surmonter son angoisse.
	</p>
	<p>
		La personne qui a peur des autres doute de ses compétences sociales, parfois avec raison. En évitant les interactions sociales, la personne phobique a moins souvent l'occasion de développer des <strong>habiletés sociales</strong> de base telles que regarder son interlocuteur ou son interlocutrice, sourire et parler de façon audible. En développant des compétences sociales, l'individu améliore son sentiment d'efficacité personnelle et, par conséquent, arrive à faire diminuer son anxiété. Les Clubs Toastmasters, que l'on retrouve dans la plupart des régions, offrent d'excellentes occasions de le faire.
	</p>
	<p>
		Enfin, nous ne pouvons surmonter notre peur des autres sans modifier notre façon de penser. Nous devons d'abord identifier les perceptions erronées qui découlent de croyances que l'on entretient au sujet de soi-même et d'autrui, puis apprendre à les modifier en étant plus réalistes et en nuançant. Un étudiant ou une étudiante qui croit fermement que les gens surveillent les attitudes des autres et jugent négativement les faibles, par exemple, aura tendance à interpréter comme un signe de rejet le silence de son directeur ou sa directrice de recherche. Il est donc important de se pencher sur nos perceptions et nos propres croyances et de tenter de les remettre en question.
	</p>
	<p>
		Une bonne partie de l'anxiété sociale vient du fait que l'on se prend trop au sérieux et que l'on veut trop faire bonne impression. Pourquoi ne pas se prendre tel que l'on est : tantôt malhabile, tantôt timide, parfois drôle et souvent sympathique?
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		André, C. et  Légeron, P. (2000), La peur des autres : trac, timidité et phobie sociale (3e éd.), Paris, Éditions Odile Jacob.
	</cite></p>
	<p><cite>
		Boisvert, J.-M. et  Beaudry, M. (1979), S'affirmer et communiquer, Montréal, Éditions de l'Homme.
	</cite></p>
	<p><cite>
		Vermette, J. et  Cloutier, R. (1992), La parole en public, Québec, Les Presses de l'Université Laval.
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Louise Careau, psychologue
	</p>
</footer>

<!--Other useful tags-->
<time datetime="YYYY-MM-SS HH:MM:SS"></time>

<img src="wp-content/uploads/2014/11/{{FILE}}.jpg" alt="">

<h2>&#9632; SQUARE_WITH_TEXT</h2>
<p>
	
</p>

<p>
	<strong></strong> : <br>
	<em></em>
</p>

<ul>
	<li>
		<a href="{{LIEN}}" title="token" target="_blank">token</a>
	</li>
</ul>