<nav>
	<ul>
		<li><a href="#marijuana" title="La marijuana à l'université">La marijuana à l'université</a></li>
		<li><a href="#chiffres" title="Des chiffres">Des chiffres</a></li>
		<li><a href="#mythes" title="Des mythes">Des mythes</a></li>
		<li><a href="#causes" title="Les causes de la consommation">Les causes de la consommation</a></li>
		<li><a href="#effets" title="Les effets et les conséquences">Les effets et les conséquences</a></li>
		<li><a href="#accro" title="Suis-je accro ?">Suis-je accro ?</a></li>
		<li><a href="#conclusion" title="Conclusion">Conclusion</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="marijuana">
	<h1>La marijuana à l'université</h1>
	<p>
		La dépendance et l'abus de drogue ou d'alcool ne constituent qu'une faible proportion des demandes d'aide au Centre d'orientation et de consultation psychologique (COCP) de l'Université Laval. Il est difficile d'estimer le nombre d'étudiantes et étudiants universitaires qui consomment du cannabis et nous n'avons aucune donnée statistique sur le type ou la fréquence de leur consommation. Cependant, <strong>le cannabis est la substance illicite dont l'usage est le plus répandu dans le monde</strong>. Les adolescentes, adolescents et jeunes adultes en sont les plus grands consommateurs. De plus, l'association entre jeunesse, fêtes, alcool et cannabis semble admise pour une bonne partie des étudiants et étudiantes universitaires. Si la consommation chez les jeunes est aussi répandue (voir l'encadré « Des chiffres ») et qu'il y a peu de demandes d'aide concernant les drogues douces, est-ce à dire que celles-ci n'occasionnent aucun problème ?
	</p>
	<p>
		À l'heure où l'attention médiatique est davantage portée sur le débat entourant la décriminalisation ou la légalisation du cannabis, est-ce que cette drogue douce est devenue banale au point d'en négliger ses effets possibles ? Fumer ou manger de la marijuana, aussi « cool » ou inoffensif que cela puisse paraître, peut-il affecter la vie scolaire, affective ou professionnelle ?
	</p>
	<p>
		Comme nous le verrons plus loin, les effets et les conséquences de l'usage de cannabis peuvent varier en fonction du type et surtout de la fréquence de la consommation. Un usage régulier de cannabis, pendant plusieurs semaines ou plusieurs mois, peut provoquer des réactions émotives ou comportementales inhabituelles. Cela peut se traduire, par exemple, par un problème de couple, une baisse de motivation aux études ou au travail, ou encore un état dépressif. Il arrive souvent que le consommateur ou la consommatrice ne fasse pas le lien entre sa consommation et ces difficultés, qui se sont implantées graduellement.
	</p>
</section>
<section id="chiffres">
	<h1>Des chiffres<sup>*</sup></h1>
	<div class="encadre">
		<p>
			Au Canada, plus de 50 % des jeunes de 16 à 24 ans affirment avoir déjà consommé du cannabis, 30 % seraient des consommateurs réguliers (voir plus loin les types de consommateurs) et 5 à 10 % deviennent des fumeurs à risque ou dépendants. La popularité du cannabis tend à augmenter et l'âge moyen du premier essai à diminuer. 
		</p>
		<p>
			De 400 à 450 composants chimiques sont présents dans le cannabis. Le plus significatif est le delta-9-tétrahydrocannabinol, ou THC. Le rôle des autres composants est peu connu. 
		</p>
		<p>
			La teneur en THC a augmenté au cours des années : de 1,5 % à la fin de années soixante, il est passé aujourd'hui à un taux allant jusqu'à 20 %. Les effets de cette plus grande concentration n'ont pas été mesurés.
		</p>
		<p>
			Le THC a des effets sur l'organisme pendant les 24 heures suivant l'inhalation et demeure dans le sang jusqu'à 30 jours. 
		</p>
		<p>
			Un joint contient un taux de goudron correspondant à 4 ou 5 cigarettes qui, lorsque inhalé, endommage les poumons et les voies respiratoires. 
		</p>
		<p>
			Chez les consommatrices et consommateurs réguliers, 1 % ferait l'expérience d'une psychose cannabique dont les symptômes sont : hallucinations, confusion, amnésie, agitation et hypomanie. 
		</p>
	</div>
	<em>*Tiré du rapport du Comité spécial du Sénat sur les drogues illicites.</em>
</section>
<section id="mythes">
	<h1>Des mythes</h1>
	<div class="encadre">
		<p>
			<q>Fumer du pot brûle des cellules du cerveau.</q><br>
			Les fonctions cérébrales sont atteintes lors de la consommation de marijuana, mais fonctionnelles malgré la toxicité, qui elle est réversible. Les cellules cérébrales ne sont pas touchées.
		</p>
		<p>
			<q>Les jeunes qui prennent de l'herbe prendront ensuite des drogues dures comme la cocaïne.</q><br>
			Très peu d'usagers ou d'usagères se servent du cannabis comme tremplin pour passer à des drogues plus dures. De plus, selon le Rapport du Comité spécial du Sénat sur les drogues illicites, la théorie de l'escalade est injustifiée.
		</p>
		<p>
			<q>C'est surtout les gars et les gens à faible revenu qui consomment.</q><br>
			Aucune différence significative n'a été remarquée entre les hommes et les femmes ni entre les classes sociales concernant le taux de consommation.
		</p>
		<p>
			<q>Le cannabis est un bon traitement pour le cancer et un médicament pour plusieurs maladies.</q><br>
			Santé Canada permet un usage restrictif de la marijuana pour ses effets apaisants. Elle soulage certains symptômes, surtout pour des malades en phase terminale ou pour des personnes souffrant de sclérose en plaques, mais elle n'est pas utilisée pour guérir une maladie, ses effets en ce sens n'étant pas encore démontrés.
		</p>
		<p>
			<q>On peut faire une surdose de pot ou de hasch.</q><br>
			Des intoxications sévères de cannabis sont rarement rapportées et aucune mort due à une surdose de cannabis n'a jamais été signalée.
		</p>
	</div>
</section>
<section id="causes">
	<h1>Les causes de la consommation</h1>
	<p>
		Un ensemble de facteurs peut être évoqué pour expliquer la popularité du cannabis : sa disponibilité, son coût, la pression sociale ou l'exploration de nouvelles expériences. La santé mentale et la détresse psychologique sont parfois évoquées comme prédispositions, mais aucun lien direct de cause à effet n'a été clairement établi entre une faiblesse personnelle ou une maladie mentale et la consommation. <strong>Il en est de même pour les facteurs physiologiques</strong>. Il semble qu'un faible pourcentage de consommateurs et consommatrices utilise l'herbe comme tentative d'autotraitement de difficultés psychologiques ou pour fuir leurs problèmes. À l'inverse, une consommation abusive ou chronique pourrait déclencher des difficultés psychologiques ou personnelles, comme nous le verrons dans la section portant sur les effets et les conséquences de ce type de consommation. Il semblerait qu'il existe des traits de personnalité plus à risque. Une faible estime de soi et une difficulté à faire face aux problèmes seraient des traits associés à un risque accru de consommation abusive, comme dans le cas de la dépendance au jeu ou à l'alcool.
	</p>
</section>
<section id="effets">
	<h1>Les effets et les conséquences</h1>
	<p>
		Les effets et les conséquences du cannabis sont assez difficiles à déterminer de façon précise. D'abord, les effets varient beaucoup d'une personne à l'autre, ainsi que d'une expérience à l'autre. Aussi, les résultats des recherches sur les conséquences ne sont pas unanimes. Il est cependant essentiel de faire une distinction entre les différents types de consommation. Le Comité Sénatorial en a identifié quatre types :
	</p>
	<ul>
		<li>
			une consommation <strong>occasionnelle</strong> ou <strong>expérimentale</strong>, c'est-à-dire quelques joints fumés par curiosité au cours d'une vie ; 
		</li>
		<li>
			un usage <strong>régulier</strong>, quelques fois par mois, pour des activités récréatives bien ciblées ; 
		</li>
		<li>
			une utilisation à <strong>risque</strong>, soit à presque tous les jours, qui rend vulnérable à un usage excessif ; 
		</li>
		<li>
			un usage <strong>excessif</strong>, qui correspond à une consommation de plus d'un gramme par jour, dans des contextes variés (le travail et les loisirs), et qui s'échelonne sur plusieurs années.
		</li>
	</ul>
	<p>
		Les <strong>effets</strong> correspondent aux impacts psychologiques et physiologiques immédiats recherchés au moment de la consommation. Les <strong>conséquences</strong> se manifestent davantage dans les heures suivant l'inhalation chez l'usager ou l'usagère qui fume régulièrement et depuis longtemps (le type à risque ou excessif). On pourrait dire que ces conséquences s'apparentent à la « gueule de bois » vécue au lendemain de l'ingurgitation d'une grande quantité d'alcool ainsi qu'aux maladies associées à l'alcoolisme, sauf que, pour le cannabis, elles sont plus subtiles et moins connues. Il faut se rappeler, enfin, qu'il n'y a pas de <strong>consensus définitif</strong> sur les recherches à ce sujet et que, notamment, il semble que les conséquences soient réversibles après l'arrêt de la consommation. 
	</p>
	<h2>Effets recherchés</h2>
	<p>
		Les effets recherchés sont immédiats et attribuables au THC. Ils surviennent dans les minutes suivant l'inhalation et durent de une à quatre heures. Durant la phase « planante », la plupart des gens se sentent euphoriques, gais et insouciants. Les sensations physiques sont exacerbées, le rire vient plus facilement et la détente par rapport aux inquiétudes est favorisée. Ces modifications sont souvent accompagnées d'une augmentation de la confiance en soi et d'une perception différente du temps, de l'espace et de l'image de soi. Ce sont ces effets qui peuvent donner une impression de créativité soudaine. Cependant, certaines personnes vivent plutôt une augmentation de leur anxiété ou d'autres symptômes souvent déjà présents.
	</p>
	<h2>Conséquences tolérées</h2>
	<p>
		La plupart des conséquences tolérées sont connues et acceptées par les personnes qui consomment et ont peu de répercussions sur sa santé. Ainsi, il est fréquent, dans l'heure suivant l'inhalation, d'avoir un rythme cardiaque accéléré, une irritation des bronches, les yeux rougis et la bouche sèche. Au niveau psychologique, la mémoire à court terme est diminuée, de même que la concentration et l'attention. Les réflexes et la coordination visuo-motrice sont également au ralenti. La conduite automobile est donc à éviter. Enfin, ces conséquences sont souvent suivies de faim et de somnolence. Avec un peu de repos, elles s'estompent pour un retour à l'état normal ou habituel.
	</p>
	<h2>Conséquences méconnues</h2>
	<p>
		Les conséquences méconnues s'appliquent exclusivement aux personnes dont l'usage de cannabis est considéré <strong>à risque</strong> ou <strong>excessif</strong>. Ces conséquences sont souvent méconnues, parce que les symptômes sont diffus et subtils et ne se manifestent pas tout de suite après l'inhalation. Par exemple, il n'est pas rare qu'une personne consulte en raison d'une étrange baisse d'énergie et que, après évaluation, une consommation quotidienne soit ciblée.
	</p>
	<p>
		Plusieurs psychiatres ont évoqué un syndrome amotivationnel. Le symptôme principal est la réduction chronique du niveau d'énergie, de la motivation et de la capacité de concentration, ce qui provoque un ralentissement dans le travail ou les études. La marijuana n'est pas un remède à la dépression et peut même en aggraver les symptômes après avoir donné l'impression de les soulager. Le cannabis pourrait aussi être un <strong>élément déclencheur</strong> d'un trouble mental déjà existant, quoiqu'il pourrait être considéré comme une <strong>tentative d'auto-médication</strong>. Par exemple, une personne prédisposée à la schizophrénie serait plus sujette à des hallucinations et à une perte de contact avec la réalité. De même, une personne anxieuse qui consomme pour se calmer pourrait voir ses réactions de panique augmenter et la personne isolée qui fume à l'excès aurait encore plus de difficultés à entrer en contact avec les autres. Enfin, la psychose cannabique serait vécue par moins de 1% des fumeurs excessifs et serait entièrement réversible.
	</p>
	<p>
		Il est à noter que certaines conséquences physiologiques ont été signalées. Des cancers et d'autres troubles pulmonaires pourraient découler d'un usage répété de cannabis. Certaines recherches, sans être concluantes, auraient indiqué de légères perturbations des systèmes endocrinien et reproductif (chez l'homme). La seule évidence raisonnable, selon <strong>l'Institut national de la santé et de la recherche médicale (INSERM) en France</strong>, serait que l'usage de cannabis durant la grossesse nuit au développement du foetus.
	</p>
	<h2>La tolérance</h2>
	<p>
		La tolérance est un phénomène d'adaptation, ou d'accoutumance, caractérisé par une réponse diminuée à la même quantité d'une drogue donnée. En matière d'abus de drogues, cette tolérance peut conduire à une augmentation des doses initiales afin de retrouver l'effet recherché.
	</p>
	<p>
		Par exemple, pour les usagers et usagères de drogues fortes comme la cocaïne, une plus grande quantité de cette drogue devient graduellement nécessaire avec l'usage pour obtenir les mêmes effets physiques et psychologiques qu'au début de la consommation. Concernant le cannabis, il semble qu'une certaine tolérance physique soit développée avec le temps. Cette tolérance contribuerait à installer la dépendance.
	</p>
	<h2>La dépendance</h2>
	<p>
		Une dépendance au cannabis est exclusivement psychologique et de niveau modéré. Selon le Diagnostic and Statistical Manual of Mental Disorders, 4e édition (DSM-IV), une personne <strong>dépendante</strong> du cannabis l'utilise en grande quantité, durant toute la journée et pendant des mois. Elle peut consacrer plusieurs heures par jour à son utilisation ou encore pour se la procurer. La drogue devient son principal centre d'intérêt, ce qui interfère avec ses activités sociales et scolaires. Cette personne en consomme plus souvent et plus longtemps que ce qu'elle avait prévu, maintient sa consommation malgré ses difficultés et même si sa vie se détériore. Par exemple, l'étudiante ou l'étudiant se présentera « gelé » dans plusieurs de ses cours, retardera la réalisation de ses travaux, négligera l'étude de ses examens et continuera à fumer malgré le risque d'échouer sa session.
	</p>
	<h2>L'abus</h2>
	<p>
		Selon le DSM-IV, l'abus de cannabis consiste en un mode d'utilisation qui atteint un niveau de conséquences indésirables, récurrentes et significatives. Par exemple, la personne adopte une conduite dangereuse, risque de perdre son emploi, sa conjointe ou son conjoint et éprouve des problèmes judiciaires liés aux conséquences de sa consommation.
	</p>
	<h2>Le sevrage</h2>
	<p>
		La suppression du produit auquel la ou le toxicomane est habitué constitue un sevrage. Les symptômes encourus par un sevrage sont différents d'une drogue à l'autre. Par exemple, pour la cigarette ou l'héroïne, l'ampleur des symptômes physique et psychologique est telle que les rechutes sont très fréquentes. Concernant les usagers excessifs de cannabis, quelques symptômes ont été signalés lors du sevrage mais d'un nombre insuffisant pour être cliniquement significatifs. Il s'agit d'angoisse, de panique, de sueurs, de perte d'appétit, de tremblements, de transpirations, de nausées, et de perturbations du sommeil.
	</p>
</section>
<section id="accro">
	<h1>Suis-je accro ?</h1>
	<p>
		Voici quelques questions pour vous aider à déterminer si vous avez une dépendance au cannabis :
	</p>
	<div class="encadre">
		<ol>
			<li>
				Est-ce que fumer de la marijuana n'est plus aussi le fun qu'avant ?
			</li>
			<li>
				Est-ce qu'il vous arrive de fumer seul ou seule ?
			</li>
			<li>
				Est-ce difficile pour vous d'imaginer votre vie sans marijuana ?
			</li>
			<li>
				Est-ce que vous trouvez que vos amitiés sont déterminées par l'usage du cannabis ?
			</li>
			<li>
				Fumez-vous de la marijuana pour éviter de faire face à vos problèmes ?
			</li>
			<li>
				Fumez-vous du cannabis pour vous aider à gérer vos émotions ?
			</li>
			<li>
				Avez-vous déjà échoué dans une tentative pour réduire ou cesser votre consommation ?
			</li>
			<li>
				Est-ce que votre usage de cannabis entraîne des problèmes de mémoire, de concentration ou de motivation ?
			</li>
			<li>
				Lorsque votre réserve est écoulée, votre réapprovisionnement vous préoccupe-t-il ?
			</li>
			<li>
				Planifiez-vous votre vie autour de l'usage de marijuana ?
			</li>
			<li>
				Vous privez-vous de certaines choses, comme de sorties ou de nouveaux vêtements, de façon à pouvoir payer votre consommation ?
			</li>
			<li>
				Est-ce que vos amis, votre conjoint ou conjointe ou encore des membres de votre famille se sont déjà plaints de votre consommation ?
			</li>
		</ol>
	</div>
</section>
<section id="conclusion">
	<h1>Conclusion</h1>
	<p>
		Le cannabis, substance encore illicite bien que vraisemblablement bientôt décriminalisée, peut paraître commun ou inoffensif. Cependant, sa consommation, selon le type d'usage, peut entraîner des répercussions sur le fonctionnement général ou signaler la présence de difficultés personnelles ou psychologiques. En tant qu'adulte, c'est à vous de déterminer votre position par rapport à la consommation de cannabis. Si vous vous questionnez sur votre usage de cannabis ou si vous souhaitez obtenir plus d'information pour diminuer ou cesser votre consommation, n'hésitez pas à vous documenter ou à demander de l'aide.
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		American Psychiatric Association (1996). DSM-IV : manuel diagnostique et statistique des troubles mentaux, 4e édition, Paris, Éditions Masson.
	</cite></p>
	<p><cite>
		Comité permanent de lutte à la toxicomanie (2001), Drogues : savoir plus, risquer moins, Montréal, Éditions Stanké.
	</cite></p>
	<p><cite>
		Comité spécial du Sénat sur les drogues illicites (2003), Le cannabis. Rapport du Comité spécial du Sénat sur les drogues illicites, version abrégée, Montréal, Les Presses de l'Université de Montréal.
	</cite></p>
	<p><cite>
		Institut national de la santé et de la recherche médicale de la France : <a href="http://www.inserm.fr" target="_blank">www.inserm.fr</a>
	</cite></p>
	<p><cite>
		<a href="http://www.marijuana-anonymous.org" target="_blank">http://www.marijuana-anonymous.org</a>
	</cite></p>
	<p><cite>
		<s><a href="http://www.nouvelliste.ch/sci-dir/sci-cannabis" target="_blank">http://www.nouvelliste.ch/sci-dir/sci-cannabis</a></s>
	</cite></p>
	<p><cite>
		<a href="http://www.etape.qc.ca" target="_blank">http://www.etape.qc.ca</a>
	</cite></p>
	<p><cite>
		<s><a href="http://student-services.massey.ac.nz/default.asp?articleid=187" target="_blank">http://student-services.massey.ac.nz/default.asp?articleid=187</a></s>
	</cite></p>
	<p><cite>
		<s><a href="http://www.parl.gc.ca/drogues-illicites.asp" target="_blank">http://www.parl.gc.ca/drogues-illicites.asp</a></s>
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Marcel Bernier, psychologue
	</p>
</footer>
