<video width="320" height="240" controls>
  <source src="CPS_video.mp4" type="video/mp4">
  <source src="CPS_video.ogg" type="video/ogg">
	Votre navigateur ne supporte pas les vidéos natives HTML5. Veuillez <a href="http://browsehappy.com/" target="_blank">Mettre à jour votre navigateur</a> pour profiter du contenu.
</video>