<p>
	Dans cette section, vous trouverez différents textes portant sur des problématiques reliées au développement de l'être humain et portant sur la recherche d'un meilleur équilibre personnel.  Les sujets suivants sont présentés dans cette section:
</p>
<ul>
	<li><a href="{{LIEN}}recherche-bonheur" title="À la recherche du bonheur" target="_blank">À la recherche du bonheur</a></li>
	<li><a href="{{LIEN}}apprivoiser-emotions" title="Apprivoiser ses émotions" target="_blank">Apprivoiser ses émotions</a></li>
	<li><a href="{{LIEN}}colere" title="La colère" target="_blank">La colère</a></li>
	<li><a href="{{LIEN}}estime-de-soi" title="L'estime de soi" target="_blank">L'estime de soi</a></li>
	<li><a href="{{LIEN}}grand-maintenant" title="Je suis grand maintenant" target="_blank">Je suis grand maintenant</a></li>
	<li><a href="{{LIEN}}sejour-choc-retour" title="Séjour à l'étranger : le choc du retour" target="_blank">Séjour à l'étranger : le choc du retour</a></li>
	<li><a href="{{LIEN}}tomber-amour" title="Tomber en amour et le rester" target="_blank">Tomber en amour et le rester</a></li>
	<li><a href="{{LIEN}}colocation" title="La vie en colocation" target="_blank">La vie en colocation</a></li>
</ul>