<p>
	Il est possible de rencontrer des difficultés au cours de votre séjour à l'université. Dans cette section, vous retrouverez de l'information au sujet des difficultés suivantes:
</p>
<ul>
	<li><a href="{{LIEN}}anxiete-generalisee" title="L'anxiété généralisée" target="_blank">L'anxiété généralisée</a></li>
	<li><a href="{{LIEN}}anxiete-sociale" title="L'anxiété sociale" target="_blank">L'anxiété sociale</a></li>
	<li><a href="{{LIEN}}alcool" title="Je bois un peu? Beaucoup? Trop?" target="_blank">Je bois un peu? Beaucoup? Trop?</a></li>
	<li><a href="{{LIEN}}cannabis" title="Le cannabis : inoffensif?" target="_blank">Le cannabis : inoffensif?</a></li>
	<li><a href="{{LIEN}}concilier-famille" title="Concilier la famille et les études : mission impossible?" target="_blank">Concilier la famille et les études : mission impossible?</a></li>
	<li><a href="{{LIEN}}cyberdependance" title="La cyberdépendance : quand Internet prend les commandes" target="_blank">La cyberdépendance : quand Internet prend les commandes</a></li>
	<li><a href="{{LIEN}}depression" title="La dépression : mieux la connaître pour y faire face" target="_blank">La dépression : mieux la connaître pour y faire face</a></li>
	<li><a href="{{LIEN}}epuisement-etudiant" title="L'épuisement étudiant" target="_blank">L'épuisement étudiant</a></li>
	<li><a href="{{LIEN}}insomnie" title="L'insomnie" target="_blank">L'insomnie</a></li>
	<li><a href="{{LIEN}}perfectionnisme" title="Le perfectionnisme" target="_blank">Le perfectionnisme</a></li>
	<li><a href="{{LIEN}}reseaux-sociaux" title="Quand les réseaux sociaux font mal" target="_blank">Quand les réseaux sociaux font mal</a></li>
	<li><a href="{{LIEN}}coeur-semballe" title="Rien ne va plus, mon cœur s’emballe!" target="_blank">Rien ne va plus, mon cœur s’emballe!</a></li>
	<li><a href="{{LIEN}}rupture-amoureuse" title="La rupture amoureuse" target="_blank">La rupture amoureuse</a></li>
</ul>