<p>
	Vous trouverez dans cette section des informations sur la problématique du suicide et sur les différentes façons de venir en aide à quelqu'un qui pense mettre fin à ses jours. De plus, le Centre d'aide aux étudiants de l'Université Laval a mis sur pied un comité de prévention du suicide. Vous pouvez prendre connaissance des objectifs et des actions de ce comité à la fin de la présente section.
</p>
<ul>
	<li><a href="{{LIEN}}presentation" title="Présentation" target="_blank">Présentation</a></li>
	<li><a href="{{LIEN}}pourquoi-suicide" title="Pourquoi les gens se suicident-ils?" target="_blank">Pourquoi les gens se suicident-ils?</a></li>
	<li><a href="{{LIEN}}mythes-suicide" title="Mythes reliés au suicide" target="_blank">Mythes reliés au suicide</a></li>
	<li><a href="{{LIEN}}signes-precurseurs" title="Signes précurseurs" target="_blank">Signes précurseurs</a></li>
	<li><a href="{{LIEN}}quelquun-suicide" title="Quelqu'un que je connais pense au suicide..." target="_blank">Quelqu'un que je connais pense au suicide...</a></li>
	<li><a href="{{LIEN}}pense-suicide" title="Je pense au suicide..." target="_blank">Je pense au suicide...</a></li>
	<li><a href="{{LIEN}}proche-suicide" title="Un proche s'est suicidé..." target="_blank">Un proche s'est suicidé...</a></li>
	<li><a href="{{LIEN}}comite-prevention-suicide" title="Comité de prévention du suicide" target="_blank">Comité de prévention du suicide</a></li>
	<li><a href="{{LIEN}}semaine-prevention-suicide" title="Semaine de prévention du suicide" target="_blank">Semaine de prévention du suicide</a></li>
	<li><a href="{{LIEN}}sentinelles" title="Réseau de sentinelles à l'Université Laval" target="_blank">Réseau de sentinelles à l'Université Laval</a></li>
</ul>
<h2>Vidéo promotionnelle</h2>
<p>
	<a href="{{LIEN}}video-sentinelle" title="Réseau de sentinelle à l'Université Laval" target="_blank">Réseau de sentinelle à l'Université Laval</a>
</p>
<h2>Conférences</h2>
<dl>
	<dt>
		<a href="wp-content/uploads/2014/11/Reflexions_sur_le_bonheur.pdf" title="Réflexions sur le bonheur" target="_blank">Réflexions sur le bonheur</a>
	</dt>
	<dd>
		Texte de la conférence présentée par M. Thomas De Koninck dans le cadre de la Semaine de prévention du suicide à l'Université Laval en février 2005.
	</dd>
</dl>
<dl>
	<dt>
		<a href="http://www.agora.qc.ca/reftext.nsf/Documents/Suicide--La_sollicitude_pour_la_vie_par_Jacques_Dufresne" title="La sollicitude pour la vie" target="_blank">La sollicitude pour la vie</a>
	</dt>
	<dd>
		Lien vers le document en ligne, sur le site de « L'Encyclopédie de l'Agora », de la conférence de M. Jacques Dufresne présentée dans le cadre de la Semaine de prévention du suicide à l'Université Laval en février 2004.
	</dd>
</dl>