<p>
	Au cours de vos études universitaires, vous pouvez ressentir le besoin d'être soutenu durant une période de transition, de questionnements ou de détresse.
</p>
<p>
	En plus de la possibilité de rencontrer un psychologue pour vous accompagner dans vos difficultés personnelles, le secteur « Psychologie » met à votre disposition une série de textes pour vous guider dans vos réflexions. Ils sont regroupés sous trois catégories :
</p>
<h2>Développement personnel</h2>
<ul>
	<li><a href="{{LIEN}}recherche-bonheur" title="À la recherche du bonheur" target="_blank">À la recherche du bonheur</a></li>
	<li><a href="{{LIEN}}apprivoiser-emotions" title="Apprivoiser ses émotions" target="_blank">Apprivoiser ses émotions</a></li>
	<li><a href="{{LIEN}}colere" title="La colère" target="_blank">La colère</a></li>
	<li><a href="{{LIEN}}estime-de-soi" title="L'estime de soi" target="_blank">L'estime de soi</a></li>
	<li><a href="{{LIEN}}grand-maintenant" title="Je suis grand maintenant" target="_blank">Je suis grand maintenant</a></li>
	<li><a href="{{LIEN}}sejour-choc-retour" title="Séjour à l'étranger : le choc du retour" target="_blank">Séjour à l'étranger : le choc du retour</a></li>
	<li><a href="{{LIEN}}tomber-amour" title="Tomber en amour et le rester" target="_blank">Tomber en amour et le rester</a></li>
	<li><a href="{{LIEN}}colocation" title="La vie en colocation" target="_blank">La vie en colocation</a></li>
</ul>

<h2>Difficultés fréquentes</h2>
<ul>
	<li><a href="{{LIEN}}anxiete-generalisee" title="L'anxiété généralisée" target="_blank">L'anxiété généralisée</a></li>
	<li><a href="{{LIEN}}anxiete-sociale" title="L'anxiété sociale" target="_blank">L'anxiété sociale</a></li>
	<li><a href="{{LIEN}}alcool" title="Je bois un peu? Beaucoup? Trop?" target="_blank">Je bois un peu? Beaucoup? Trop?</a></li>
	<li><a href="{{LIEN}}cannabis" title="Le cannabis : inoffensif?" target="_blank">Le cannabis : inoffensif?</a></li>
	<li><a href="{{LIEN}}concilier-famille" title="Concilier la famille et les études : mission impossible?" target="_blank">Concilier la famille et les études : mission impossible?</a></li>
	<li><a href="{{LIEN}}cyberdependance" title="La cyberdépendance : quand Internet prend les commandes" target="_blank">La cyberdépendance : quand Internet prend les commandes</a></li>
	<li><a href="{{LIEN}}depression" title="La dépression : mieux la connaître pour y faire face" target="_blank">La dépression : mieux la connaître pour y faire face</a></li>
	<li><a href="{{LIEN}}epuisement-etudiant" title="L'épuisement étudiant" target="_blank">L'épuisement étudiant</a></li>
	<li><a href="{{LIEN}}insomnie" title="L'insomnie" target="_blank">L'insomnie</a></li>
	<li><a href="{{LIEN}}perfectionnisme" title="Le perfectionnisme" target="_blank">Le perfectionnisme</a></li>
	<li><a href="{{LIEN}}reseaux-sociaux" title="Quand les réseaux sociaux font mal" target="_blank">Quand les réseaux sociaux font mal</a></li>
	<li><a href="{{LIEN}}coeur-semballe" title="Rien ne va plus, mon cœur s’emballe!" target="_blank">Rien ne va plus, mon cœur s’emballe!</a></li>
	<li><a href="{{LIEN}}rupture-amoureuse" title="La rupture amoureuse" target="_blank">La rupture amoureuse</a></li>
</ul>

<h2>La prévention du suicide</h2>
<ul>
	<li><a href="{{LIEN}}presentation" title="Présentation" target="_blank">Présentation</a></li>
	<li><a href="{{LIEN}}pourquoi-suicide" title="Pourquoi les gens se suicident-ils?" target="_blank">Pourquoi les gens se suicident-ils?</a></li>
	<li><a href="{{LIEN}}mythes-suicide" title="Mythes reliés au suicide" target="_blank">Mythes reliés au suicide</a></li>
	<li><a href="{{LIEN}}signes-precurseurs" title="Signes précurseurs" target="_blank">Signes précurseurs</a></li>
	<li><a href="{{LIEN}}quelquun-suicide" title="Quelqu'un que je connais pense au suicide..." target="_blank">Quelqu'un que je connais pense au suicide...</a></li>
	<li><a href="{{LIEN}}pense-suicide" title="Je pense au suicide..." target="_blank">Je pense au suicide...</a></li>
	<li><a href="{{LIEN}}proche-suicide" title="Un proche s'est suicidé..." target="_blank">Un proche s'est suicidé...</a></li>
	<li><a href="{{LIEN}}comite-prevention-suicide" title="Comité de prévention du suicide" target="_blank">Comité de prévention du suicide</a></li>
	<li><a href="{{LIEN}}semaine-prevention-suicide" title="Semaine de prévention du suicide" target="_blank">Semaine de prévention du suicide</a></li>
	<li><a href="{{LIEN}}sentinelles" title="Réseau de sentinelles à l'Université Laval" target="_blank">Réseau de sentinelles à l'Université Laval</a></li>
</ul>