<p>
	Le bonheur... Tous le recherchent mais peu affirment l'avoir atteint. Qu'est-ce que le bonheur ? Chacun en a sa propre définition. Encore faut-il s'y arrêter... et notre rythme de vie actuel permet peu cette réflexion. À bien y penser, cette quête se cache derrière tout ce que l'on entreprend, que ce soit les études, les relations interpersonnelles et amoureuses ou le travail. Alors partons à la recherche du bonheur ! Essayons de découvrir les pistes pour y accéder. Toute une tâche en perspective... C'est donc sans prétention que ce texte vise à prendre le temps de réfléchir à cette question fondamentale : « Suis-je heureux, heureuse ou en voie de l'être ?».
</p>
<nav>
	<ul>
		<li><a href="#moments" title="Moments de bonheur ou état d'esprit ?">Moments de bonheur ou état d'esprit ?</a></li>
		<li><a href="#besoins" title="Des besoins à combler">Des besoins à combler</a></li>
		<li><a href="#attitudes" title="Des attitudes à adopter">Des attitudes à adopter</a></li>
		<li><a href="#conclusion" title="Conclusion">Conclusion</a></li>
		<li><a href="#questionnaire" title="Questionnaire; Quel est votre profil de bonheur ?">Questionnaire; Quel est votre profil de bonheur ?</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="moments">
	<h1>Moments de bonheur ou état d'esprit ?</h1>
	<p>
		Définir le bonheur n'est pas simple. S'agit-il d'une accumulation de « petits bonheurs » au quotidien ou d'un <strong>état d'esprit</strong> durable ? Philosophes, artistes, poètes, psychologues et bien d'autres se sont penchés sur la question. Les définitions varient mais une constante demeure : il s'agit d'un état d'esprit qui perdure malgré les échecs et les obstacles de la vie. Le Nouveau Petit Robert le définit comme « un état de la conscience pleinement satisfaite ». Les « moments de bonheur » font référence au plaisir et à la joie, deux émotions éphémères, tandis que le bonheur se veut durable et représente, pour la plupart d'entre nous, le but de l'existence humaine.
	</p>
</section>
<section id="besoins">
	<h1>Des besoins à combler</h1>
	<p>
		La tentation est forte de vouloir trouver LA recette pour être heureux ou heureuse. Peu importe les cultures et les époques, certains ingrédients s'avèrent tout de même importants pour accéder au bonheur : la satisfaction des besoins fondamentaux et relationnels, ainsi que l'accomplissement de soi en sont les principaux.
	</p>
	<p>
		La satisfaction des <strong>besoins fondamentaux</strong> (se nourrir, se vêtir, se loger et se sentir en sécurité) représente les éléments essentiels pour atteindre un état de bien-être. L'être humain a également besoin des autres pour vivre ou survivre en société. <strong>Le besoin relationnel</strong> répond alors au besoin d'aimer et d'être aimé ou aimée. À travers les relations amicales et amoureuses, l'individu apprend à mieux se connaître et à comprendre ceux qui l'entourent. Le <strong>besoin d'accomplissement de soi</strong> se traduit par un désir de comprendre, de connaître et de se réaliser. Les études universitaires tendent à répondre à ce besoin. Cependant, le travail ou la création constituent d'autres formes de réalisation.
	</p>
	<p>
		Comment expliquer que certaines personnes se sentent malheureuses même si elles ont réussi à combler tous ces besoins. « J'ai tout pour être heureux, heureuse et pourtant...». Alors que d'autres vivent dans un milieu défavorisé et réussissent à garder le sourire. La réponse se trouve peut-être bien au-delà de besoins à assouvir...
	</p>
</section>
<section id="attitudes">
	<h1>Des attitudes à adopter</h1>
	<p>
		Les gens heureux se distinguent davantage par leurs attitudes que par une accumulation de biens ou de plaisirs. En fait, ceux-ci mettent plutôt l'emphase sur l'être que sur le savoir. C'est du moins ce qui est démontré par Robert Blondin (1983). Ce dernier a mené une vaste enquête à travers le monde (Europe, Asie et Amérique), auprès de 2 000 personnes se disant heureuses. Voyons certaines attitudes qui ressortent de son enquête et essayons de les rattacher à la réalité étudiante.
	</p>
	<h2>1. Être disponible au changement</h2>
	<p>
		Les gens heureux possèdent cette aptitude à tout remettre en question, autant eux-mêmes que la société. Les changements sont perçus comme des défis ou une occasion de croissance personnelle et non pas comme une menace au bonheur. L'adaptation aux études universitaires renferme plusieurs éléments de changement (réseau social, méthodes de travail, relations amoureuses, etc.). Les étudiants et étudiantes qui acceptent les incertitudes inhérentes à cette première session universitaire traversent plus facilement cette période de transition.
	</p>
	<h2>2. Profiter du moment présent</h2>
	<p>
		Les gens heureux prennent le temps de vivre le moment présent sans être constamment envahis par des inquiétudes passées ou futures. Ceci ne les empêche pas pour autant de faire des projets ou de réfléchir à leurs problèmes. Par exemple, l'étudiante ou l'étudiant qui conserve le plaisir d'apprendre sans être constamment préoccupé de ses résultats scolaires arrive à profiter pleinement de ses études. 
	</p>
	<h2>3. Bien se connaître</h2>
	<p>
		Il est question ici de définir son identité. Les gens heureux sont conscients de leurs forces et de leurs faiblesses. Ils sont cohérents avec ce qu'ils sont, ce qu'ils croient et ce qu'ils font. De plus, ils acceptent dans la mesure du possible que les autres n'adhèrent pas aux mêmes valeurs ou priorités de vie. Les études universitaires représentent justement une bonne occasion de se définir et d'affronter ses limites tant par les différents problèmes scolaires à résoudre que par les travaux en équipe. 
	</p>
	<h2>4. Passer à l'action</h2>
	<p>
		C'est en prenant des risques que les chances d'être heureux ou heureuse augmentent. Selon Blondin, « c'est parmi les gens qui réussissent qu'on retrouve le plus haut taux d'échecs ! ». L'action permet une meilleure connaissance de soi et de son environnement. Pensons à l'étudiant ou à l'étudiante qui, après mûre réflexion sur son choix de carrière, s'inscrit dans un programme malgré le risque de se tromper. 
	</p>
	<h2>5. Être capable de s'abandonner</h2>
	<p>
		Pour contrer l'incertitude de la vie, la tentation est grande de vouloir tout contrôler, de prévoir l'imprévisible. Jusqu'à un certain point, les gens heureux choisissent plutôt de «   lâcher prise » face aux événements incontrôlables. Ils préfèrent faire confiance à la vie et composer avec les imprévus. Un participant à l'enquête de Blondin précise dans son témoignage : « Je me suis rendu compte que les choses essentielles qui m'arrivaient dans la vie c'étaient celles que je n'avais pas planifiées ». Les relations amoureuses en sont un bon exemple. Les gens trouvent souvent l'amour au moment où ils cessent de le chercher.
	</p>
</section>
<section id="conclusion">
	<h1>Conclusion</h1>
	<p>
		La satisfaction des besoins de base représente la condition indispensable mais non suffisante pour être heureux ou heureuse. Bien entendu, d'autres facteurs comme les traits de personnalité, les valeurs d'une société et même les expériences de vie peuvent influencer votre vision du bonheur. Peu importe de quoi est constitué votre bonheur actuellement (voir l'encadré : Quel est votre profil de bonheur ?), l'essentiel, du moins, est de réfléchir à la question. S'interroger sur le bonheur mène inévitablement à poser un regard sur sa propre existence, à dresser un bilan de sa vie et à en tirer des conclusions.
	</p>
</section>
<section id="questionnaire">
	<h1>Questionnaire; Quel est votre profil de bonheur ?</h1>
	<div class="encadre">
		<h2>Quel est votre profil de bonheur ?</h2>
		<p>
			Le psychiatre Christophe André (2003) fait ressortir quatre domaines qui représentent des sources de bonheur. Essayez de déterminer quel type de bonheur se rapproche le plus du vôtre : le bonheur d'action, de satisfaction, de maîtrise ou de sérénité. Chaque type comporte ses avantages et ses inconvénients. Il n'en revient qu'à vous d'y apporter les ajustements nécessaires. Bien entendu, votre profil peut se modifier avec le temps, selon les étapes de vie que vous traversez.
		</p>
		<h2>Bonheur dans l'action</h2>
		<p>
			Toujours en mouvement, vous êtes impliquée ou impliqué dans diverses activités : associations étudiantes, loisirs, sorties entre amis, etc. Ouf ! Votre devise est : « Agir et partager ». C'est dans le mouvement que vous vous sentez en vie, mais aussi par les liens que vous tissez autour de vous. L'avantage de vivre son bonheur dans l'action est qu'il s'observe et se communique facilement à l'entourage. Par contre, un bonheur axé uniquement sur cet aspect peut conduire à une certaine superficialité ne misant que sur les plaisirs ou les stimulations extérieures, et à une dépendance envers autrui pour se sentir heureux ou heureuse.
		</p>
		<h2>Bonheur de satisfaction</h2>
		<p>
			Vous vous fixez des objectifs et cherchez à les atteindre. Ces objectifs ne sont pas que matériels (ex. : avoir une maison, une voiture) mais aussi personnels (ex. : améliorer ses résultats scolaires, aider un ami ou une amie). Vous ressentez une grande satisfaction intérieure lorsque ces buts sont atteints. Par contre, quand il y a obstacle à l'atteinte des objectifs fixés (ex. : exclusion ou refus dans un programme d'études), votre bonheur s'en trouve menacé.
		</p>
		<h2>Bonheur de maîtrise</h2>
		<p>
			Comprendre, parfaire vos connaissances, vous réaliser sont vos principales sources de satisfaction. Votre domaine d'études ou de travail occupe une part très importante dans votre vie. Vous visez avant tout à vous dépasser, voire à atteindre l'excellence. Cependant, l'effet pervers de ce type de bonheur, quand il prend toute la place, est qu'il peut vous rendre vulnérable à l'épuisement ou vous pousser à négliger d'autres aspects de votre vie (ex. : vie affective ).
		</p>
		<h2>Bonheur de sérénité</h2>
		<p>
			Vous aimez regarder un coucher de soleil, écouter de la musique, observer le vol des oiseaux, etc. Ces plaisirs représentent des sources de bonheur de sérénité. En fait, ce type de bonheur privilégie la contemplation et la prise de conscience du moment présent. Il permet une paix intérieure et une tolérance face aux évènements incontrôlables. Par ailleurs, trop développer ce type de bonheur peut induire une certaine passivité ou un fatalisme face aux obstacles de la vie.
		</p>
	</div>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		André, C. (2003), Vivre heureux : psychologie du bonheur, Paris, Éditions Odile Jacob.
	</cite></p>
	<p><cite>
		Blondin, R. (1983), Le bonheur possible : les gens heureux ont une histoire. Les conclusions d'une vaste enquête, Montréal, Éditions de l'homme.
	</cite></p>
	<p><cite>
		Delourme, A. (1999), Le bonheur possible : Philosophie du changement personnel, Paris, Éditions Retz.
	</cite></p>
	<p><cite>
		Lelord, F. (2002), Le voyage d'Hector ou la recherche du bonheur, Paris, Éditions Odile Jacob.
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Marie-Hélène Simard, psychologue
	</p>
</footer>
