<p>
	De tous les temps, de toutes les époques, l'amour a toujours fasciné l'être humain. Il s'agit là probablement du sujet qui fut le plus étudié, le plus fouillé, par une multitude de spécialistes, qu'il s'agisse de philosophes, de sociologues, d'anthropologues, de biologistes, de psychologues ou de sexologues. L'humain ressent le besoin fondamental d'aimer et d'être aimé. Nous cherchons, à travers la relation amoureuse, à combler ce besoin. 
</p>
<p>
	Notre époque valorise énormément le sentiment amoureux. Dans nos rencontres quotidiennes avec les étudiants, nous sommes à même de constater que les relations amoureuses occupent une place importante dans leur vie. Que ce soit parce qu'ils ont de la difficulté à rencontrer quelqu'un, à faire de bons choix, à établir une relation ou à s'engager, les gens se préoccupent de leur vie amoureuse et consultent de plus en plus les psychologues à ce sujet.
</p>
<p>
	Devant cet engouement et cet intérêt marqué, nous vous proposons un texte qui décrit comment nous tombons amoureux et comment nous le demeurons. Nous ne prétendons pas ici répondre à toute la question et couvrir tout le sujet. Il y a des milliers de façons de concevoir la relation amoureuse, nous vous en suggérons une que nous jugeons éclairante. 
</p>
<nav>
	<ul>
		<li><a href="#primaire" title="Les styles d'attachement amoureux primaires">Les styles d'attachement amoureux primaires</a></li>
		<li><a href="#secondaire" title="Les styles d'attachments amoureux secondaires">Les styles d'attachments amoureux secondaires</a></li>
		<li><a href="#etapes" title="Les étapes de la vie à deux">Les étapes de la vie à deux</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="primaire">
	<h1>Comment nous tombons amoureux : les styles primaires d'attachement amoureux</h1>
	<p>
		Il existe plusieurs façons de tomber amoureux. Parfois il s'agit d'un coup de foudre, parfois il s'agit d'une amitié qui se transforme en amour. Certains tombent amoureux de façon répétitive, d'autres peuvent aimer deux ou trois personnes dans toute leur vie, avec une fidélité et un engagement total. Bien que notre façon de tomber en amour semble être reliée à notre personnalité, une même personne peut tomber amoureuse de différentes façons au cours de sa vie, tout dépendant de son âge, des étapes de vie et des expériences qu'elle traverse. 
	</p>
	<p>
		Le psychologue américain John Allen Lee a étudié l'amour et ses différentes «couleurs». Il décrit trois styles d'attachement amoureux principaux et trois styles secondaires. Lee ne prétend pas qu'il n'y ait que six façons de tomber en amour. Tout comme dans la théorie des couleurs, il existe toute une gamme de nuances. Nous vous présentons ici les styles prédominants. 
	</p>
	<h2>Érotique :</h2>
	<blockquote>
		Ma main s'enivre de plaisir de palper ton corps électrique. 
		<cite>Charles Beaudelaire</cite>
	</blockquote>
	<p>
		Ce style d'attachement amoureux naît toujours d'une attraction physique très forte. Les gens de ce style savent précisément ce qu'ils recherchent chez un partenaire au plan physique et n'y dérogent pas facilement. Ils recherchent la beauté et sont très difficiles. Ils sont candidats au coup de foudre et aiment intensément. Une fois l'exploration physique complétée toutefois, ils décrochent rapidement de la relation. 
	</p>
	<h2>Ludique :</h2>
	<blockquote>
		Tout le plaisir de l'amour est dans le changement. 
		<cite>Molière, Dom Juan</cite>
	</blockquote>
	<p>
		Les gens de ce style aiment avoir du plaisir. Ce sont de grands séducteurs. Pour eux, l'amour est un jeu où les règles doivent être souples. Ils ne possèdent pas de critères précis quant au choix du partenaire. Ils ne s'engagent pas et souffrent très peu d'une rupture. Ils aiment avoir plusieurs partenaires et sont plutôt infidèles lorsqu'ils sont en relation. En retour, ils ne sont ni jaloux, ni possessifs. 
	</p>
	<h2>Amical</h2>
	<blockquote>
		Le monde est si vide si l'on n'y imagine que montagnes, fleuves et villes, mais d'y savoir quelqu'un avec qui l'on s'entend, avec qui l'on peut vivre en silence, c'est ce qui fait de ce globe un jardin habité. 
		<cite>Johann Wolfgang Goethe</cite>
	</blockquote>
	<p>
		Les gens de style amical développent lentement une relation amoureuse, sans fièvre ni folie. Ils se sentent même soulagés lorsque la passion du début s'atténue. Ils aiment profondément, ils ont le sens du devoir et sont faits pour une relation stable et durable. Ils sont peu démonstratifs et ne s'expriment pas avec intensité. Leurs preuves d'amour sont concrètes. Autrement dit, n'attendez pas un souper aux chandelles et un lit garni de pétales de roses de leur part, mais soyez assuré qu'ils feront tout en leur pouvoir pour que vous soyez confortablement installé et que vous ne manquiez de rien. S'il y a rupture, ils souffrent énormément. 
	</p>
</section>
<section id="secondaire">
	<h1>Les styles d'attachments amoureux secondaires</h1>
	<p>
		Nous venons d'explorer les trois styles d'attachement primaires. Voyons maintenant les styles secondaires. 
	</p>
	<h2>Passionné :</h2>
	<blockquote>
		Une vie sans amour, c'est une vie sans soleil.
		<cite>Hervé Bazin</cite>
	</blockquote>
	<p>
		Ce style est une combinaison de ludique (légèreté dans le choix du partenaire) et d'érotique (l'intensité). Les passionnés tombent facilement en amour et avec n'importe qui, car ils n'ont pas de bon radar. On dit souvent d'eux qu'ils sont en amour avec l'amour. Ce sont des drogués de l'amour et, avec eux, la passion du début peut durer fort longtemps. Ils ont une conception romantique de l'amour. Ils sont souvent jaloux et possessifs et ont besoin d'être assurés qu'ils sont aimés. Pour cette raison, il arrive que les passionnés épuisent leur partenaire. Ils sont souvent laissés et vivent très difficilement la rupture. Ils leur arrivent aussi de se désintéresser de leur partenaire, surtout lorsque la passion s'éteint, et peuvent alors être eux-mêmes infidèles. Avant de laisser quelqu'un cependant, ils s'assureront d'avoir quelqu'un d'autre dans leur mire. Bien que l'on retrouve ce style chez des personnes de tout âge, on le rencontre fréquemment à l'adolescence. 
	</p>
	<h2>Pragmatique :</h2>
	<blockquote>
		Aimer, ce n'est pas regarder l'un l'autre, c'est regarder ensemble dans la même direction.
		<cite>Antoine de Saint-Exupéry</cite>
	</blockquote>
	<p>
		Il s'agit là d'un mélange des styles ludique (rencontre facile) et amical (recherche d'affinités). Les pragmatiques recherchent d'abord une personne avec qui ils sont compatibles et avec qui ils ont des affinités. Les petites annonces dans les journaux sont souvent placées par des personnes de ce style : « Homme cherche femme, non fumeuse, sans enfant, aimant le sport, les restos et le cinéma ». La passion pour eux est insuffisante à la survie du couple. Ils doivent partager des intérêts communs avec leur partenaire. Lorsque ces conditions sont présentes, ils s'engagent facilement dans la relation et, tout comme les gens du style amical, leur attachement peut être très profond. Ils seront moins affectés par les ruptures que ces derniers cependant.
	</p>
	<h2>Magnanime :</h2>
	<blockquote>
		Parfois, c'est ça aussi l'amour : laisser partir ceux qu'on aime. 
		<cite>Joseph O'Connor</cite>
	</blockquote>
	<p>
		Le style magnanime est une combinaison des styles érotique (intensité) et amical (sens du devoir). Ces gens aiment les personnes qu'ils peuvent aider. Ce sont des altruistes à l'âme missionnaire. Ils se font un devoir d'aimer leur prochain. Ils sont dévoués et peuvent même aller jusqu'à conseiller à leur partenaire de les quitter s'il n'est pas heureux. Il s'agit du style que l'on prête aux dévots. On rencontre beaucoup moins des gens de ce style maintenant qu'à une époque où les valeurs religieuses et la notion de sacrifice de soi étaient mises de l'avant. 
	</p>
	<p>
		Comme nous l'avons mentionné antérieurement, l'attachement amoureux ne se limite pas à ces six styles. Il existe une multitude de nuances. Si vous vous interrogez au sujet de vos relations amoureuses, nous vous suggérons de revoir votre passé amoureux et de tenter d'identifier les styles d'attachement que vous avez connus, au fil de vos rencontres. Vous pouvez également tenter d'identifier votre style actuel et celui de votre partenaire, si vous en avez un. Le fait de connaître le ou les styles que nous préférons et qui nous conviennent le mieux nous offre une plus grande chance de vivre des relations pleinement satisfaisantes. 
	</p>
	<p>
		Tout comme pour les couleurs, il y a des styles qui se marient mieux ensemble que d'autres. Les gens de même style s'accordent habituellement bien. Les gens de type amical et de type pragmatique partagent souvent la même définition de l'amour et peuvent, eux-aussi, développer une relation fort satisfaisante. Les personnes de style érotique et de type mania vivent la même intensité et forment des couples passionnés. Cependant, lorsque la passion s'estompe, l'union peut se retrouver en péril. 
	</p>
	<p>
		De manière opposée, les amoureux ludiques et passionnés forment, la plupart du temps, de bien mauvais couples. Malgré le fait qu'ils soient fortement attirés l'un vers l'autre, leur définition de l'amour est trop différente pour qu'ils puissent former un couple stable. Les infidélités de la personne ludique rempliront d'inquiétudes la personne passionnée. Celle-ci y réagira en devenant davantage jalouse et possessive, ce qui exaspérera l'amoureux ludique. La littérature et le cinéma raffolent de ce type de relation. Bien que caricatural, le film américain Liaison fatale en offre un fort bel exemple. 
	</p>
	<p>
		L'amoureux passionné ne se sentira guère mieux avec un amoureux de style amical. Bien qu'il soit très fidèle, ce dernier, étant peu démonstratif et peu intense, aura tôt fait d'angoisser le passionné qui a si souvent besoin d'être rassuré sur l'amour qu'on lui porte. À l'inverse, l'intensité de l'amoureux passionné étourdira l'amoureux amical qui n'apprécie pas vraiment le feu ardent de la passion. 
	</p>
	<p>
		Cette théorie nous rappelle que, tout comme pour les couleurs, toutes les teintes existent, il ne s'agit que d'une question de préférence. Ne dit-on pas «Des goûts et des couleurs il ne faut pas discuter» ? 
	</p>
	<p>
		La présentation des différents styles d'attachement amoureux nous a permis de mieux comprendre comment nous tombions amoureux. Il serait intéressant maintenant de comprendre comment nous le restons. 
	</p>
</section>
<section id="etapes">
	<h1>Les étapes de la vie à deux</h1>
	<p>
		Tout comme l'être humain, le couple traverse différentes étapes qui lui permettent de se développer, d'évoluer. Les psychologues Ellyn Bader et Peter T. Pearson se sont intéressés à la thérapie de couple et ont identifié quatre étapes de la vie à deux : la symbiose, la différenciation, l'expérimentation et le rapprochement. 
	</p>
	<h2>La symbiose :</h2>
	<p>
		Il s'agit de la toute première étape où on tombe en amour et on crée des liens. L'emphase est mise sur les ressemblances et les points communs. À cette étape, la passion domine, on voudrait toujours être avec l'autre et on ne cesse de s'épater de tout ce qui nous unit (goûts, intérêts, affinités). Cette étape est essentielle à la formation du couple. 
	</p>
	<h2>La différenciation :</h2>
	<p>
		Tôt ou tard la passion s'estompe. Au cours de l'étape de différenciation, les deux partenaires prennent conscience de ce qui les distingue, de leurs différences. Il s'agit de l'étape la plus difficile pour le couple puisque, constatant leurs divergences, les partenaires ont le réflexe de remettre en question le bien fondé de leur relation. Ceci crée d'autant plus de difficultés que l'on remarque souvent que les deux amoureux n'atteignent pas ce stade en même temps. Celui qui est encore à l'étape de la symbiose a alors peur d'être abandonné et celui qui a franchi cette étape peut se sentir étouffé. L'étape de la différenciation est cependant essentielle à la survie du couple puisque c'est au cours de cette étape que les membres du couple apprennent à exprimer clairement et ouvertement ce qu'ils sont, ce qu'ils désirent et ce qu'ils pensent. On y rétablit nos limites et nos frontières personnelles et on y retrouve une certaine indépendance. 
	</p>
	<h2>L'expérimentation :</h2>
	<p>
		Au cours de cette étape, les partenaires délaissent la relation de couple et se centrent sur le monde extérieur. Ils investissent dans leur carrière respective, ils ont des enfants et ils s'accomplissent en tant qu'individu. Ils pratiquent quelques activités et entretiennent certaines relations à l'extérieur du couple. Bien qu'il soit tout à fait sain et naturel de ne plus se centrer uniquement sur la relation amoureuse, le couple doit toutefois veiller à entretenir leur lien et à partager ensemble diverses expériences. Plusieurs hommes vous diront qu'ils ont trouvé fort difficile l'arrivée d'un enfant dans le couple. Bien des nouvelles mères vivent une relation fusionnelle avec leur bébé et délaissent leur conjoint. Il s'agit là d'un exemple qui illustre fort bien ce stade de la vie de couple. 
	</p>
	<h2>Le rapprochement :</h2>
	<p>
		L'étape du rapprochement signifie le retour à l'intimité dans le couple. Souvent les enfants sont élevés, la carrière est établie, l'heure de la retraite approche. Les partenaires souhaitent se rapprocher et ils redonnent de l'importance à leur relation amoureuse. Ils recommencent à faire des activités en couple. Bien entendu, les conjoints doivent être tous deux rendus à cette étape pour la franchir. Si l'un des deux est toujours à l'étape de l'expérimentation, s'il effectue un retour aux études par exemple, ou s'il vise une promotion au travail, la tentative de rapprochement de l'autre représente alors une menace.
	</p>
</section>
<section id="conclusion">
	<h1>Conclusion</h1>
	<p>
		Nous vous avons présenté les différents styles d'attachement amoureux et les différentes étapes de la vie de couple afin de vous aider à y voir plus clair et à vivre de belles expériences. Nous tenons à souligner toutefois que, pour tomber en amour, il faut d'abord se connaître et s'aimer soi-même. Il faut également être capable de vivre dans l'intimité d'une relation et être prêt à se dévoiler, à se révéler à l'autre. Pour rester en amour, il faut que les partenaires changent, évoluent et se transforment ensemble, sans se perdre de vue. La vie de couple doit aussi être pigmentée de surprises, de risques, d'incertitudes et de découvertes, tout comme la vie en générale. 
	</p>
	<p>
		Nous espérons que ce texte vous a offert quelques pistes de réflexion et quelques éléments de compréhension. La relation amoureuse demeure un phénomène complexe qui ne peut être circonscrit en quelques pages. Nous sommes donc conscients des limites de ce texte mais nous espérons qu'il a su allumer quelques lanternes. 
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		Alberoni, F. (1996). Je t'aime : tout sur la passion amoureuse. Paris : Plon 
	</cite></p>
	<p><cite>
		Bader, E. et Pearson, P.T. (1988). In quest of the mythical mate : developmental approach to diagnosis and treatment in couples therapy. New-York: Burnner/Mazel. 
	</cite></p>
	<p><cite>
		Lee, J.A. dans Sternberg, R.J. et Barnes, M.L. (Eds) (1988). The psychology of love. New Haven, CT : Yale University Press.
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Louise Careau, psychologue
	</p>
</footer>
