<p>
	Ce menu dans le section <a href="{{LIEN}}orientation" title="Orientation" target="_blank">Orientation</a> comporte les textes suivant:
</p>
<ul>
	<li><a href="{{LIEN}}partir-du-bon-pied" title="Partir du bon pied" target="_blank">Partez du bon pied</a></li>
	<li><a href="{{LIEN}}motifs-de-choix" title="Approfondir les motifs de son choix" target="_blank">Approfondir les motifs de son choix</a></li>
	<li><a href="{{LIEN}}influence" title="Étudiant sous influence" target="_blank">Étudiant sous influence</a></li>
	<li><a href="{{LIEN}}desicsion" title="Améliorer sa capacité à prendre des décisions" target="_blank">Améliorer sa capacité à prendre des décisions</a></li>
	<li><a href="{{LIEN}}s-informer" title="S'informer adéquatement" target="_blank">S'informer adéquatement </a></li>
	<li><a href="{{LIEN}}sens-aux-etudes" title="Donner du sens à ses études" target="_blank">Donner du sens à ses études</a></li>
</ul>