<blockquote>
	Les obstacles sont ces choses effrayantes que vous apercevez quand vous quittez votre but des yeux
	<cite>Hannah Moore</cite>
</blockquote>
<p>
	Vous terminerez bientôt vos études et le passage vers le marché du travail vous préoccupe. La fin d'une étape comporte son lot d'émotions à vivre et le côté inconnu de ce qui suivra peut susciter bien des appréhensions. Évidemment, elles sont normales. Il faut cependant vous assurer de rester en mouvement, d'aller de l'avant malgré tout.
</p>
<nav>
	<ul>
		<li><a href="#conditions" title="Les conditions générales actuelles du marché du travail">Les conditions générales actuelles du marché du travail</a></li>
		<li><a href="#incompetence" title="La peur de l'incompétence">La peur de l'incompétence</a></li>
		<li><a href="#offres-emploi" title="Le peu d'offres d'emplois dans les journaux">Le peu d'offres d'emplois dans les journaux</a></li>
		<li><a href="#lacune" title="Des lacunes personnelles">Des lacunes personnelles</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="conditions">
	<h1>Les conditions générales actuelles du marché du travail</h1>
	<p>
		Des craintes ou des appréhensions peuvent surgir à bien des égards. Les conditions générales actuelles du marché du travail ou de votre secteur de formation peuvent vous rebuter. Vous aurez entendu que le placement est difficile ou que le type d'emploi disponible ne correspond pas à vos exigences ou à vos attentes. Au point où vous doutez de l'utilité d'entreprendre des démarches de recherche d'emploi en vous disant que cela ne servira à rien. Certaines personnes s'accrocheront alors à leur emploi étudiant.
	</p>
	<p>
		Un faible taux de placement dans un secteur n'est certes pas très réjouissant. En même temps, rares sont les secteurs où le taux de placement est de 0 % ! Même à seulement 50 %, c'est assez rare. Dans ce scénario, une personne sur deux décrochera un emploi. Alors, pourquoi ce ne serait pas vous ? Répondez franchement à cette question et travaillez à remédier aux aspects identifiés par votre réponse. Une situation difficile comme celle-là nécessite aussi de sortir des sentiers battus pour augmenter vos chances d'embauche. <strong>Innovez dans vos stratégies de recherche d'emploi.</strong> Certaines personnes offrent gratuitement leurs services à un employeur ou une employeuse pendant un mois ! Une sorte de stage où ils ont eu l'occasion de montrer ce dont ils étaient capables.
	</p>
	<p>
		Côté temps, il importe d'inscrire votre recherche d'emploi dans des délais réalistes et de vous y tenir autant que possible. Donnez-vous six mois, huit mois ou un an pour décrocher quelque chose qui vous intéresse. Par la suite, faites un bilan pour déterminer ce que vous ferez : poursuivre vos recherches, ajouter de la formation, vous réorienter.
	</p>
</section>
<section id="incompetence">
	<h1>La peur de l'incompétence</h1>
	<p>
		D'autres personnes, malgré des perspectives d'emploi intéressantes, seront craintives devant la transition vers le marché du travail, car elles ont l'impression qu'elles n'auront pas la compétence requise pour exercer leur profession. Elles se diront qu'il leur faut tout savoir d'avance, qu'elles n'ont que des théories en tête, qu'il faut nécessairement avoir de l'expérience et qu'elles vont paniquer devant le premier problème qu'elles auront à résoudre. Elles sont certaines que toutes les autres personnes seront meilleures qu'elles.
	</p>
	<p>
		La crainte de ne pas être compétent ou compétente est relativement répandue, particulièrement à la suite d'études universitaires ! Cela tient à la nature même de ces études, souvent plus théoriques qu'appliquées, et plus conceptuelles que techniques. Si, par exemple, on vous apprend dans une technique collégiale à appliquer des procédés, à l'université, on vous apprend à créer, à élaborer ou à choisir une procédure. On vous enseigne à résoudre des problèmes pour lesquels les solutions ne sont pas toutes faites. L'impression de « ne rien savoir » ou de « n'avoir rien appris » est donc fréquente si vous mesurez votre compétence en termes de savoirs essentiellement techniques. En fait, vous avez les compétences de base que votre futur rôle de professionnel ou de professionnelle exigera <strong>et vous développerez votre « art »</strong> au fil des situations que vous rencontrerez.
	</p>
	<p>
		Ceux et celles qui expliquent cette crainte par leur difficulté à identifier les compétences développées durant leurs études trouveront utile d'en faire un <a href="{{LIEN}}competences" title="bilan" target="_blank">bilan</a>.Quant à ceux et celles qui l'expliquent par leur tendance au perfectionnisme, ils auront avantage à consulter ce document (<a href="{{LIEN}}perfectionnisme" title="Lien vers perfectionnisme-Psychologie" target="_blank">Lien vers perfectionnisme-Psychologie</a>)
	</p>
</section>
<section id="offres-emploi">
	<h1>Le peu d'offres d'emplois dans les journaux</h1>
	<p>
		Convaincue ou convaincu que tous les emplois sont affichés dans les journaux, vous pourriez être tenté ou tentée de limiter votre recherche d'emploi à cette seule source. Vous serez en proie à l'inquiétude et au découragement devant le peu d'offres d'emploi affichées dans votre secteur ou devant une exigence de cinq à dix ans d'expérience.
	</p>
	<p>
		Les journaux ne représentent pas la majorité, et de loin, des offres d'emploi existantes. Tous les conseillers et conseillères en emploi vous diront que ce n'est que la pointe de l'iceberg. Il faut comprendre que cette forme de recrutement est plutôt coûteuse pour une entreprise, d'autant plus si elle est petite. On y retrouve donc surtout de grosses entreprises ou de grands organismes publics ou parapublics, soit parce qu'ils y sont obligés par leur convention collective (lorsqu'il s'agit de postes ; c'est souvent une toute autre histoire pour les contrats), soit parce qu'ils cherchent à recruter chez leurs concurrents (d'où l'exigence d'expérience) ou parce qu'il y a une pénurie de demandeurs pour un type d'emploi donné. Autrement, ils préfèrent de beaucoup avoir des gens qui offrent leurs services que d'avoir à payer pour les attirer : coût de l'annonce dans les journaux, temps consacré par leur personnel pour gérer l'opération (texte du concours, pré-sélection, entrevue, sélection, etc.). Donc, quand ils le peuvent, <strong>les employeurs et employeuses vont procéder le plus simplement possible</strong> : contact direct, bouche à oreille, offre au stagiaire. D'où l'importance de multiplier les occasions de faire savoir que vous êtes en recherche d'emploi : agissez et foncez !
	</p>
</section>
<section id="lacune">
	<h1>Des lacunes personnelles</h1>
	<p>
		Enfin, l'appréhension peut vous gagner si vous vous reconnaissez certaines lacunes personnelles correspondant à des exigences de l'emploi souhaité. Des difficultés de communication, une timidité importante, une faiblesse en français, un manque d'habiletés relationnelles, des difficultés avec l'anglais : voilà autant d'exemples de constats qui peuvent vous immobiliser dans vos démarches ou vous mettre sur la défensive et influencer négativement vos performances en entrevue d'embauche.
	</p>
	<p>
		Identifiez bien la nature de ce manque et <strong>déterminez ce que vous pouvez y faire à court terme.</strong> (Prenez cependant le temps de vous assurer qu'il s'agit bien là d'un élément important pour le type d'emploi visé : la perfection n'est pas de ce monde). Un cours d'appoint peut parfois être suffisant. Aussi, être en mesure de dire que vous travaillez sur tel aspect de vous-même fournit en soi un petit exemple de votre motivation. Participez aux ateliers offerts par le <a href="http://www.spla.ulaval.ca" title="Service de placement de l'Université Laval" target="_blank">Service de placement de l'Université Laval</a>  : cela vous aidera à mieux maîtriser les stratégies de recherche d'emploi (entrevue, curriculum vitæ, etc.). Peut-être, également, avez-vous des expériences préalables à vivre avant de vous sentir prête ou prêt et apte au travail : voyages, implication sociale, etc. 
	</p>
	<p>
		Comme vous avez pu le constater, cette étape de transition vers le marché du travail entraîne ses propres préoccupations. En plus, elle annonce pour la plupart d'entre vous le passage d'un style de vie (étudiant ou étudiante) à un autre (travailleuse ou travailleur). Comme bien d'autres étapes que vous avez franchies avec succès (puisque vous êtes à la veille de terminer vos études), vous saurez mobiliser vos ressources et voir d'un autre oeil ce qui aura pu vous paraître insurmontable.
	</p>
</section>
<section id="complementaire">
	<h1>Contenu complémentaire</h1>
	<ul>
		<li>
			<a href="{{LIEN}}competences" title="Développer un sentiment de compétence" target="_blank">Développer un sentiment de compétence</a>
		</li>
		<li>
			<a href="{{LIEN}}integration" title="Planifier son intégration au marché du travail" target="_blank">Planifier son intégration au marché du travail</a>
		</li>
		<li>
			<a href="http://www.spla.ulaval.ca" title="Service de placement de l'Université Laval" target="_blank">Service de placement de l'Université Laval</a>
		</li>
	</ul>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Daniel Tremblay, conseiller d'orientation
	</p>
</footer>
