<blockquote>
	Un échec est un succès si on en retient quelque chose
	<cite>Malcom Forbes</cite>
</blockquote>
<p>
	L'avis d'exclusion d'un programme est généralement expédié aux étudiantes ou aux étudiants dont la moyenne cumulative est insuffisante. De 15 % à 18 % des personnes inscrites à un premier programme de baccalauréat ou de certificat auront de la difficulté à poursuivre en raison de leurs résultats scolaires. Une partie quittera sans demander son reste, peut-être à tort. Une réflexion s'impose car certaines actions ne peuvent être remises à plus tard.
</p>
<p>
	Vous voulez poursuivre dans votre statut actuel (programme ou études libres) ? Vous avez des recours si vous êtes en mesure de justifier l'état de votre dossier. Vous pouvez faire une demande de levée de sanction en vous adressant à votre directeur ou directrice (programme ou études libres).
</p>
<p>
	Il importe de savoir que l'exclusion d'un programme n'est pas une exclusion de l'université. Vous pourrez vous inscrire à d'autres programmes ou aux études libres et peut-être, par la suite, réintégrer le programme dont vous êtes exclue ou exclu (quoique cela soit très difficile). Cependant, si vous êtes exclu ou exclu des études libres et que la sanction ne peut être levée, vous devrez quitter l'université pour au moins une session régulière.
</p>
<p>
	Bien que parfois nécessaire pour des raisons stratégiques, le changement précipité vers un autre programme n'est pas toujours la meilleure solution. L'exclusion d'un programme engendre des émotions qui, tout en étant normales, peuvent influencer négativement vos attitudes et vos actions. L'exclusion d'un programme s'associe aux étapes que font vivre les pertes, mineures ou majeures. 
</p>
<ul>
	<li>
		Vous vivrez la <strong>négation</strong>, qui pourra s'exprimer par l'indifférence ou l'incrédulité. Vous risquez alors de penser que cela va s'arranger tout seul, que cela doit être une erreur.
	</li>
	<li>
		Vous éprouverez ensuite de la <strong>colère</strong>, ce qui pourra vous amener à faire porter le blâme aux autres, notamment à vos professeurs ou professeures et à la direction de programme. 
	</li>
	<li>
		Vous vivrez de la <strong>nervosité</strong> et vous désirerez probablement en sortir au plus vite. Vous serez donc très tenté ou tentée par la première solution un tant soit peu intéressante. Vous pourriez vous retrouver dans un programme où vous réussirez, mais qui ne vous intéressera pas vraiment. 
	</li>
	<li>
		Vous réaliserez que toutes ces émotions étaient des espoirs, vains, de faire en sorte que l'exclusion n'ait jamais eu lieu ou que la situation se renverse rapidement. Vous prendrez votre part de responsabilités et ferez le <strong>bilan des pertes</strong> que cette expérience a entraînées (amis et amies dans le même programme, dossier sans tache, etc.). Vous éprouverez en général du soulagement et une énergie nouvellement disponible sera consacrée à vous remettre sur pied et à élaborer de nouveaux projets.
	</li>
</ul>
<p>
	Il importe de bien diagnostiquer ce qui a mené à votre exclusion d'un programme d'études ou des études libres de manière à bien cibler les solutions. Évaluez honnêtement votre situation et osez regarder les choses en face. Pour bien faire le tour de la question, analysez-la selon les trois aspects suivants :
</p>
<ul>
	<li>
		D'abord, <strong>étiez-vous motivée ou motivé</strong>, à court, à moyen ou à long terme, par vos études ? Est-ce que les contenus, les tâches ou les rôles professionnels, de même que les conditions de travail qui y sont associés vous attiraient ? Il serait important de vérifier cela avant de chercher à réintégrer le programme ou à en entreprendre un autre.
	</li>
	<li>
		Deuxièmement, <strong>étiez-vous capable</strong> de réussir les études entreprises ? Vérifiez si vos méthodes de travail et vos stratégies d'études sont appropriées et efficaces. Même à l'université, on rencontre souvent ce genre de lacunes chez les étudiants et étudiantes, par exemple chez ceux qui faisaient tout à la dernière minute sans grande conséquence sur leurs résultats scolaires. Assurez-vous également que votre perception de ce qui est demandé pour une matière scolaire donnée, de même que votre perception de votre habileté à y répondre sont conformes à la réalité : surestimer la difficulté ou sous-estimer vos capacités donne rarement de bons résultats (l'inverse étant vrai aussi). Enfin, il arrive qu'on ne soit tout simplement pas capable de réussir dans certains domaines, souvent parce qu'on n'a pas développé d'intérêt pour les exigences qu'ils comportent (temps d'études requis, aspects théoriques ou abstraits, complexité, etc.). Vous devrez décider et tenir compte de ce que vous êtes prêt ou prête à consacrer, en temps et en efforts, pour parvenir à vos objectifs. 
	</li>
	<li>
		Enfin, <strong>étiez-vous suffisamment en santé</strong>, physique et psychologique, pour passer à travers les exigences des études ? Il arrive que l'on vive des situations incompatibles avec la poursuite d'études universitaires. Une rupture amoureuse en plein trimestre peut affecter votre disponibilité à l'étude et votre concentration. Le temps n'arrangeant pas toujours tout, reconnaissez vos difficultés personnelles et accordez-leur l'attention qu'elles méritent. Demandez de l'aide si nécessaire.
	</li>
</ul>
<p>
	Bien que peu agréable, l'exclusion peut aussi être une occasion privilégiée, par les informations qu'elle vous donne sur vous-même, de faire le point sur votre situation et d'apporter des modifications qui tiennent mieux compte de ce que vous êtes, incluant votre détermination, dans l'élaboration de vos projets.
</p>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Daniel Tremblay, conseiller d'orientation
	</p>
</footer>