<blockquote>
	C'est la nuit qu'il est beau de croire à la lumière.
	<cite>Jean Rostand</cite>
</blockquote>
<p>
	Vous êtes déjà beaucoup investie ou investi, vous vous êtes interrogé ou interrogée souvent, peut-être même avez-vous déjà consulté. Pourtant vous vous sentez encore très indécis ou indécise quant à votre avenir. Vous savez que certaines remises en question sont très utiles, mais vous n'avez pas le sentiment que vos doutes sont de cette nature-là ; ils vous empêchent plutôt d'avancer. Vous souhaitez vraiment sortir de cette impasse dans laquelle vous vous trouvez depuis trop longtemps, mais vous ne savez pas vraiment pourquoi... ni très bien ce que vous pouvez faire.
</p>
<nav>
	<ul>
		<li><a href="#difficultes" title="Les difficultés en cause">Les difficultés en cause</a></li>
		<li><a href="#actions" title="Des actions possibles">Des actions possibles</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="difficultes">
	<h1>Les difficultés en cause</h1>
	<p>
		Ce qui vous empêche de prendre une décision en regard de votre avenir tient probablement à l'une ou quelques-unes des difficultés suivantes, qui sont souvent présentes dans l'indécision mais qui sont ici plus accentuées.
	</p>
	<h2>&#9632; Vous avez une représentation floue de ce que vous êtes et de ce que vous souhaitez accomplir.</h2>
	<p>
		Un peu comme si votre cheminement antérieur ne vous avait pas donné la possibilité de développer une image stable et unifiée de vous-même. Faire un choix revient alors à vous demander de construire une maison sur un solage qui n'est pas complètement terminé.
	</p>
	<h2>&#9632; Vous avez une faible estime de vous-même.</h2>
	<p>
		Cela se traduit probablement par une grande difficulté à identifier et à reconnaître vos compétences ou par un manque significatif d'habiletés au plan de vos relations interpersonnelles, ces éléments rendant évidemment ardue la tâche de vous projeter dans une image professionnelle.
	</p>
	<h2>&#9632; Vous appréhendez les conséquences de votre choix d'une profession.</h2>
	<p>
		Par exemple, un homme peut craindre d'être rejeté ou humilié en devenant infirmier si son entourage perçoit cette profession comme celle d'une femme. Vous pouvez craindre de perdre l'approbation et l'affection de votre famille en optant pour les arts plastiques, formation qu'elle ne juge pas sérieuse. Ainsi, lorsque les enjeux sont de cette nature, faire un choix en restant fidèle à vous-même devient très exigeant puisque vous risquez des pertes significatives.Votre perfectionnisme est envahissant. Ce genre de perfectionnisme vous empêche d'avancer en se manifestant soit par une très grande peur de vous tromper, soit par la formulation d'exigences presque impossibles à rencontrer. Vous avez mis la barre si haute que vous êtes persuadé ou persuadée de ne pas arriver à l'atteindre. Dans pareille situation, la solution devient souvent le statu quo.
	</p>
	<h2>&#9632; Vous ressentez une anxiété omniprésente.</h2>
	<p>
		Ce type d'anxiété, qui vous affecte sur divers plans, peut évidemment avoir un effet paralysant sur votre capacité à prendre des décisions importantes, par exemple concernant votre projet professionnel.
	</p>
</section>
<section id="actions">
	<h1>Des actions possibles</h1>
	<p>
		Bien sûr, il n'y a pas de solution miracle mais il est certain que votre situation, si lourde qu'elle vous apparaisse maintenant, peut changer. Il n'y a pas de solution unique puisque chaque personne et chaque problème ont leurs spécificités. Cependant, quelles que soient la nature et la gravité des difficultés dans lesquelles vous vous êtes reconnue ou reconnu, il est important de retenir qu'elles sont à la source de votre indécision chronique et doivent donc être prises en compte en tout premier lieu. Elles pourront parfois être abordées dans le cadre d'un processus de décision de carrière, mais il arrive également qu'elles nécessitent une attention préalable et différente.
	</p>
	<p>
		Pour y voir plus clair, il serait souhaitable de poursuivre votre réflexion. Vous pouvez le faire à partir de ce site, les difficultés présentées ici étant reprises de façon plus spécifique dans d'autres sections. Ces lectures vous fourniront des outils appropriés à votre situation. Une aide professionnelle pourrait vous faciliter les choses, et ce, même dans le cas où une ou des démarches antérieures se seraient avérées infructueuses.
	</p>
	<p>
		Faire un premier pas, quel qu'il soit, peut vous permettre d'avancer, l'essentiel étant de ne pas demeurer dans votre impasse. En ce sens, rappelez-vous qu' <q>une porte de sortie est toujours une porte d'entrée ailleurs<q> <cite>(Dan Bigras)</cite>.
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		HAMEL, Henri. « L'indécision vocationnelle chez les étudiants(es) de niveau collégial et universitaire : éléments de diagnostic », Connat, no 8, 1985, p. 187-209. 
	</cite></p>
	<p><cite>
		DOSNON, Odile. « L'indécision face au choix scolaire et professionnel : concepts et mesures », L'orientation scolaire et professionnelle, no 1, 1996, 25 p. 129-168. 
	</cite></p>
</section>
<section id="complementaire">
	<h1>Contenu complémentaire</h1>
	<ul>
		<li>
			<a href="{{LIEN}}estime" title="L'estime de soi" target="_blank">L'estime de soi</a>
		</li>
		<li>
			<a href="{{LIEN}}anxiete-sociale" title="L'anxiété sociale" target="_blank">L'anxiété sociale</a>
		</li>
		<li>
			<a href="{{LIEN}}perfectionnisme" title="Le perfectionnisme" target="_blank">Le perfectionnisme</a>
		</li>
	</ul>
	<p><cite>
		FALARDEAU, Isabelle. « Sortir de l'indécision », Québec, Septembre Éditeur, 2007.
	</cite></p>
	<p><cite>
		FALARDEAU, Isabelle et ROY, Roland. « S'orienter malgré l'indécision », Éditions Septembre, Sainte-Foy, 1999. 
	</cite></p>
	<p><cite>
		ROBERGE, Michelle. « Tant d'hiver au coeur du changement », Éditions Septembre, Sainte-Foy, 1998. 
	</cite></p>
	<p><cite>
		PROULX, Suzanne. « Changer sans tout casser », Éditions du Méridien, Montréal, 1986.
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Louise Turgeon, conseillère d'orientation
	</p>
</footer>