<blockquote>
	J’ai pris la décision de ne plus être influençable. Qu’est-ce que vous en pensez?
	<cite>Patrick Sébastien</cite>
</blockquote>
<nav>
	<ul>
		<li><a href="#introduction" title="Introduction">Introduction</a></li>
		<li><a href="#malaise" title="Comprendre le malaise qui vous habite">Comprendre le malaise qui vous habite</a></li>
		<li><a href="#entourage" title="Que faire si les attentes de votre entourage interfèrent dans votre choix">Que faire si les attentes de votre entourage interfèrent dans votre choix</a></li>
		<li><a href="#conclusion" title="Conclusion">Conclusion</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="introduction">
	<h1>Introduction</h1>
	<p>
		Le choix d’une profession est le résultat d’un processus complexe. Il repose sur de nombreux éléments dont les caractéristiques de votre personnalité, les objectifs que vous voulez atteindre, les motivations qui vous animent, etc. Il est également  influencé par plusieurs facteurs dont les attentes de l’entourage, et principalement celles de votre famille. Pour certains d’entre vous, l’avis de vos amis et de vos professeurs comptera également beaucoup.
	</p>
	<p>
		Ces attentes de votre entourage quant à votre choix professionnel peuvent s’exprimer de différentes manières. Parfois, elles sont explicites et vous avez alors la possibilité d’y réagir. D’autres fois, elles se font plus subtiles et sont ainsi plus difficiles à remettre en question. Comme l’exprime l’auteur Gustav Meyrink : « Les influences qu’on n’arrive pas à discerner sont les plus puissantes ».
	</p>
	<p>
		Quelle que soit la manière dont elles s’expriment, les attentes de l’entourage peuvent être ressenties comme une confirmation de vos propres aspirations ou, au contraire, comme une pression à vous conformer qui freine votre affirmation personnelle, qui limite votre liberté de choix et qui influence votre motivation.
	</p>
	<p>
		D’abord, voici quelques exemples illustrant diverses formes que peuvent prendre les attentes de votre entourage.
	</p>
	<ul>
		<li>
			Marc, étudiant en informatique, réussit assez bien, mais il s’ennuie. Son père, lui-même informaticien, paie ses études et s’était engagé à le faire si le programme suivi offrait de très bonnes perspectives d’emploi. Marc sait qu’il perdra son soutien financier s’il décide d’opter pour le design graphique, programme qui conviendrait mieux à son besoin de création.
		</li>
		<li>
			Mélissa est la première de sa famille à fréquenter l’université. Son père est journalier et sa mère secrétaire. Son père aurait toujours voulu poursuivre des études, mais n’a pas pu le faire. Il est très fier que sa fille étudie à l’université et, chaque fois qu’il en a l’occasion, il en parle autour de lui.  Mélissa a cependant beaucoup de difficulté à réussir, mais elle s’acharne pour ne pas décevoir son père. 
		</li>
		<li>
			Éric se sent pris au piège, car sa mère, dentiste, a toujours espéré lui transmettre son bureau. Ayant consacré beaucoup d’énergie à monter sa clientèle, elle veut assurer un bon départ dans la vie à son fils en lui léguant une entreprise prospère. Éric est conscient de la bonne intention de sa mère et du privilège que cette transmission représente, mais en même temps, il ressent une pression énorme sur ses épaules. Il préfèrerait étudier la biologie, cette discipline l’intéressant davantage. Il est dans une impasse.
		</li>
		<li>
			Annie vient d’une famille d’enseignants : sa mère, son père et trois de ses tantes exercent cette profession. Sa mère lui reflète depuis qu’elle est petite qu’elle a tout pour être une bonne enseignante. Annie est hésitante. Elle se demande si son indécision tient d’un manque d’intérêt pour la profession ou si elle souhaite plutôt résister à ce « destin familial » pour se démarquer en faisant quelque chose de différent.  
		</li>
		<li>
			Isabelle a commencé l’université au baccalauréat en traduction. Elle pense à changer pour l’enseignement du français au secondaire, mais hésite. Elle a déjà une année de complétée en traduction et les programmes d’enseignement durent 4 ans. Ses parents, qui n’ont pas beaucoup de moyens financiers, retardent le moment de leur retraite afin de pouvoir l’aider à payer ses études. Elle voit l’impact d’un changement de programme sur eux. 
		</li>
	</ul>
	<p>
		Si vous vous êtes reconnu dans l’un ou l’autre de ces exemples, vous en éprouvez probablement un malaise plus ou moins important qui limite votre capacité à prendre une décision et à vous engager dans une direction précise. Cet article se propose de vous aider à mieux composer avec les attentes de votre entourage et ainsi atteindre un sentiment plus grand de prise en charge de votre avenir professionnel. Pour ce faire, il sera ici question de comprendre le malaise que vous ressentez, de vous situer quant aux attentes de votre entourage et d’agir en conséquence.
	</p>
</section>
<section id="malaise">
	<h1>Comprendre le malaise qui vous habite</h1>
	<p>Pour atteindre cet objectif, vous devez :</p>
	<h2>Interroger la clarté de votre choix</h2>
	<p>
		Les attentes de votre entourage auront plus ou moins d’impact sur votre choix d’orientation selon la solidité de celui-ci. Si vous êtes indécis ou que votre choix est précaire, vous aurez tendance à être plus réceptif aux avis des autres. Par ailleurs, vos proches seront probablement plus tentés de vous exprimer leur point de vue s’ils sentent que vous hésitez. L’inverse est tout aussi juste. Ainsi, plus vous aurez de l’assurance, basée sur une solide réflexion, plus votre attitude risque de décourager les opposants, voire de les faire adhérer à votre projet. Sur ce point, vous pouvez consulter les trois articles suivants : <a href="{{LIEN}}motifs-de-choix" title="Approfondir les motifs de son choix" target="_blank">Approfondir les motifs de son choix</a>, <a href="{{LIEN}}decisions" title="Améliorer sa capacité à prendre des décisions" target="_blank">Améliorer sa capacité à prendre des décisions</a>, <a href="{{LIEN}}s-informer" title="S'informer adéquatement" target="_blank">S’informer adéquatement</a>.
	</p>
	<h2>Identifier vos peurs</h2>
	<p>
		Les peurs sont également à prendre en compte pour comprendre le malaise que vous éprouvez quant aux attentes de votre entourage. De toutes les peurs possibles, celles qui menacent directement votre relation avec les personnes que vous aimez sont probablement les plus importantes. Elles peuvent prendre différentes formes, les plus habituelles étant la peur de déplaire, celle de ne pas être à la hauteur, et celle des conflits. En effet, si vous devez, pour être fidèle à vous-même, faire un choix qui ne répond pas aux attentes des personnes que vous estimez, il se peut que vous vous sentiez déchiré. Vous aurez probablement le sentiment de les trahir ou de les décevoir. Par exemple, faire un choix ne correspondant pas à la tradition familiale, alors que c’est ce qui est attendu, peut se vivre comme une absence de loyauté.
	</p>
	<p>
		Il est plausible aussi que ce qui vous fait hésiter ou qui bloque votre passage à l’action soit la crainte de ne pas être à la hauteur des attentes de votre entourage que celles-ci soient élevées ou perçues comme telles.
	</p>
	<p>
		De même, pour ne pas perdre l’affection et récolter l’approbation qui vous sécurise, vous aurez peut-être la tentation d’éviter les conflits. Pourtant, vous positionner en désaccord avec les autres s’avère parfois nécessaire au respect de vous-même. Il implique cependant de prendre le risque de projeter une image différente de l’idée que vous croyez que les autres se font de vous et d’assumer celui de vous sentir isolé.
	</p>
	<p>
		D’autres peurs sont aussi susceptibles d’interférer dans votre prise de décision et de vous rendre plus sensible à l’opinion de vos proches. Il peut s’agir de la peur de vous tromper ou de celle de dépasser un interdit. Il peut s’agir également de la crainte d’expérimenter les difficultés éprouvées par vos parents ou de faire vivre à vos enfants ce que vous avez vécu.
	</p>
	<p>
		La peur de se tromper se manifeste par la crainte de faire une erreur, par celle de regretter votre choix ou par la difficulté à renoncer aux autres options. Ainsi, si vous avez tendance à être perfectionniste ou encore si vous avez de la difficulté à vous faire confiance, vous vous sentirez probablement concerné par cette peur. Pour aller plus loin, vous pouvez lire l’article <a href="{{LIEN}}perfectionnisme" title=" Le perfectionnisme : quand le mieux devient l’ennemi du bien" target="_blank">Le perfectionnisme : quand le mieux devient l’ennemi du bien</a>.
	</p>
	<p>
		La peur de dépasser un interdit psychologique réfère à la crainte de transgresser une règle, qu’elle soit explicite ou implicite. L’illustration suivante en est un exemple : si vous êtes un étudiant dont le père est ouvrier et que vous venez de recevoir une offre d’admission en médecine, vous pourriez craindre de briser l’ordre moral établi entre votre parent et vous en raison de la différence de statut social entre ces deux rôles professionnels. Accepter cette offre signifierait peut-être pour vous de vous retrouver seul ou isolé de votre père et de votre famille.
	</p>
	<p>
		La peur d’expérimenter les difficultés rencontrées par vos parents ou de faire vivre à vos enfants ce que vous avez vécu peut aussi être une source de questionnement quant à votre choix professionnel. Ainsi, si vos parents avaient une profession qui prenait beaucoup de leur temps au détriment des autres sphères de leur vie, il se peut que vos perceptions quant à ce choix soient biaisées et vous empêchent de vous positionner adéquatement en regard de cette possibilité. Il en est de même si vous avez souffert de leur absence et que vous souhaitiez ne pas faire subir cette réalité à vos enfants. À cet égard, il vous faut peut-être réfléchir à la possibilité de faire ce même choix, mais de le vivre différemment.
	</p>
	<h2>Évaluer l’importance des personnes et de leur réaction</h2>
	<p>
		Évidemment, vous serez davantage influencé par les personnes de votre entourage selon l’importance que vous leur accordez, le mérite que vous leur attribuez et la force de la pression qu’elles utilisent pour marquer leur désaccord avec votre choix. Ainsi, le degré de proximité et d’intimité que vous avez avec une personne vous rendra beaucoup plus sensible à sa façon de voir votre avenir professionnel. Par conséquent, il vous sera plus difficile de prendre une décision n’allant pas dans le même sens. Il en va ainsi du niveau d’autorité qu’exerce une personne sur vous.
	</p>
	<p>
		Par ailleurs, le degré d’assurance, d’expérience et de connaissances des personnes importantes pour vous est également à prendre en compte puisque la crédibilité de leurs propos sera d’autant plus grande à vos yeux. En effet, vous fier à l’opinion de ces personnes comporte un côté rassurant qui peut alléger temporairement la lourdeur de la décision à prendre concernant votre avenir.
	</p>
	<p>
		En plus de ce que la personne représente pour vous, la manière dont elle manifestera son point de vue deviendra aussi un facteur déterminant. Évidemment, plus l’opposition sera grande, plus sera difficile le maintien de votre autonomie en regard de ce choix. Il va de soi qu’un désaccord quant à votre projet n’aura pas le même impact que le retrait du soutien financier de vos études.
	</p>
	<p>
		En toute circonstance, n’oubliez pas que <q>Ce ne sont pas les influences qui comptent, c’est le choix de ses influences qui est important</q> <cite>(Titouan Lamazou)</cite>. 
	</p>
</section>
<section id="entourage">
	<h1>Que faire si les attentes de votre entourage interfèrent dans votre choix professionnel?</h1>
	<h2>Préciser les motifs de votre choix</h2>
	<p>
		Réfléchir à vos préférences, vos valeurs, votre personnalité, vos aptitudes et faire une exploration complète des possibilités en lien avec ceux-ci améliorera votre niveau de confort avec votre choix et vous rendra ainsi moins vulnérable aux attentes de votre entourage. Un questionnement s’impose également sur les objectifs que vous poursuivez. Comprendre pourquoi vous désirez aider, avoir du prestige, défendre une cause ou transmettre des connaissances vous offrira une belle occasion de réfléchir à cette dimension. Par ailleurs, vous serez probablement influencé par des motivations qui ne sont pas directement liées à votre choix de carrière. Ainsi, votre opposition peut reposer sur un désir légitime d’affirmation de votre autonomie, si vous en êtes à ce stade de construction de votre identité, ou alors être une réponse à un conflit déjà présent dans votre relation avec votre entourage. Pour en savoir davantage, vous pourriez lire l’article suivant : <a href="{{LIEN}}grandir" title="Je suis grand maintenant" target="_blank">Je suis grand maintenant</a>.
	</p>
	<h2>Vérifier vos perceptions quant aux attentes de votre entourage</h2>
	<p>
		Tout d’abord, il est important de vérifier si les perceptions que vous avez concernant les attentes de votre entourage sont réellement fondées. En effet, il est possible que vous ayez interprété certains messages reçus dans un sens qui est parfois très éloigné de celui que voulait vous transmettre votre interlocuteur. Vous prêtez alors à cette personne une intention qu’elle n’avait pas et qui est potentiellement à l’origine d’un malentendu important. Ces erreurs d’interprétation ne relèvent en rien de la mauvaise volonté, mais plutôt de nombreux éléments reliés à ce que vous êtes, à votre type d’environnement, à vos croyances, à votre culture et à votre histoire. Ces éléments diffèrent forcément d’une personne à l’autre et peuvent expliquer que le même énoncé soit décodé différemment par chacun de vous.
	</p>
	<p>
		Ainsi, si vous découvrez qu’en réalité les attentes de vos proches vont dans la même direction que vos aspirations et que vous aviez mal compris leurs propos, vous pourrez utiliser leur avis pour pousser plus loin votre réflexion et développer une vision globale de votre situation.
	</p>
	<p>
		Par ailleurs, si votre entourage est réellement en désaccord avec ce que vous souhaitez accomplir sur le plan professionnel, alors il vous faudra clarifier votre situation en prenant en compte les motivations qui guident votre choix d’orientation et celles qui animent les personnes qui s’opposent à votre projet. Leurs arguments ou leurs réserves peuvent être valables et vous inciter à prendre de nouveaux facteurs en considération.
	</p>
	<h2>Comprendre les motivations de l’entourage</h2>
	<p>
		Il est difficile de connaître les motivations des personnes qui vous entourent et, comme il a été dit précédemment, il est facile de se méprendre sur leurs intentions. En ce sens, pour mieux décoder les motivations de vos proches, il peut être intéressant de vous interroger sur leurs valeurs, leurs rêves non réalisés et de vous attarder à leur situation socioéconomique.
	</p>
	<p>
		En effet, selon son tempérament et son histoire de vie, chaque personne développe un système de croyances qui lui est propre et qui est à l’origine du développement de ses valeurs. Ainsi, une personne qui a expérimenté la pauvreté et en a souffert pourra privilégier la sécurité financière et, par conséquent, l’employabilité et de bonnes conditions d’emploi. De même, l’importance accordée au prestige pourra amener à considérer davantage des professions mieux reconnues socialement. Si c’est le cas de vos parents, il est possible qu’ils considèrent certains choix comme non sécuritaires ou non prestigieux et qu’ils s’opposent à votre projet professionnel. De même, d’autres valeurs peuvent amener vos proches à ne pas adhérer à votre choix. Pensez, par exemple, au respect de la tradition ou à la primauté des valeurs humanitaires ou entrepreneuriales.
	</p>
	<p>
		Vos parents peuvent être habités par des rêves qu’ils n’ont pu réaliser pour différentes raisons et souhaiter que vous concrétisiez ce rêve qui leur appartient. Par exemple, si votre parent avait souhaité faire de longues études, il peut vouloir votre bonheur tout en vous encourageant trop fortement dans cette direction et ainsi vous empêcher de savoir ce que vous souhaitez accomplir pour et par vous-même. Il faut vous rappeler que <q>Rien n’influence plus un individu que son environnement psychologique et particulièrement, dans le cas des enfants, la vie que leurs parents auraient souhaité avoir</q> <cite>(Carl Gustav Jung)</cite>.
	</p>
	<p>
		Dans un autre ordre de considérations, il faut également prendre en compte la situation socioéconomique qui prévaut dans votre famille. Ainsi, le manque de moyens financiers rend plus difficile pour des parents d’entériner un choix qui nécessite des coûts qui leur apparaissent non-justifiés, que ceux-ci paient ou non vos études. Cette opposition peut prendre diverses formes mais, dans tous les cas, elle s’avérera un obstacle supplémentaire à la formulation de votre projet professionnel.
	</p>
	<p>
		Quelles que soient les motivations de votre entourage, mieux les comprendre vous aidera à départager ce qui vous appartient de ce qui ne vous appartient pas et à voir plus clairement les éléments à prendre en considération dans cette décision. Cette compréhension vous rendra aussi probablement plus ouvert, moins émotif et plus apte à en discuter calmement. Maintenir la communication avec vos proches, malgré les différends qui vous opposent, facilitera également l’annonce de la décision que vous prendrez.
	</p>
	<h2>Passer à l’action</h2>
	<p>
		Une fois que vous aurez analysé les possibilités et évalué les impacts de chacune des situations considérées, il vous faut maintenant prendre une décision quant à votre avenir professionnel. Si votre choix ne va pas dans le sens de ce que vos proches voyaient pour vous, il se peut qu’il soit difficile de vous affirmer en raison des peurs qui vous habiteront probablement. Cependant, rappelez-vous que rester fidèle à vous-même c’est prendre le risque de déplaire et de décevoir, mais aussi d’être reconnu dans vos besoins, respecté et aimé pour ce que vous êtes. Comme le dit <cite>Charles Cungi</cite> : <q>Plaire est agréable, savoir déplaire est utile</q>.
	</p>
	<p>
		Dans ce passage à l’action, vous devez prendre en compte certains éléments. En effet, l’annoncer d’abord à la personne que vous sentez la plus réceptive et le faire à un moment où celle-ci est disponible rendra cette tâche plus facile. Dans votre communication avec elle, souvenez-vous de prendre le temps de reconnaître la bienveillance de son intention et celui de partager la réflexion qui soutient votre décision. Cette façon de procéder facilitera son ouverture en regard de vos propos.  
	</p>
</section>
<section id="conclusion">
	<h1>Conlusion</h1>
	<p>
		Comme il a été vu, l’entourage joue un rôle dans le processus de prise de décision d’orientation. Il a également un impact dans plusieurs des dimensions de l’existence. Par ailleurs, les attentes des proches ne sont qu’une manifestation de l’ensemble des influences avec lesquelles il faut apprendre à composer tout au long de la vie. Le défi est de prendre en compte ces influences et d’en faire une source de développement. Comme l’exprime si bien <cite>Boris Cyrulnik</cite> : <q>Le paradoxe de la condition humaine c’est qu’on ne peut devenir soi-même que sous l’influence des autres</q>.
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		Boisvert, Jean-Marie et Beaudry, Madeleine (1979). S’affirmer et communiquer. Montréal : Éditions de l’Homme.
	</cite></p>
	<p><cite>
		Centre d’aide aux étudiants de l’Université Laval. L’estime de soi. URL : <a href="{{LIEN}}psychologie" title="L'estime de soi" target="_blank">{{LIEN}}psychologie</a> Consulté le <time datetime="2011-06-14">14 juin 2011</time>.
	</cite></p>
	<p><cite>
		D’Ansembourg, Thomas (2001). Cessez d’être gentils soyez vrai! : Être avec les autres en restant soi-même. Montréal : Éditions de l’Homme.
	</cite></p>
	<p><cite>
		Desmarais, Catherine et Lehoux, France (2009). Composer avec les attentes de l’entourage. Document de travail.
	</cite></p>
	<p><cite>
		Falardeau, Isabelle (2007).  Sortir de l’indécision. Québec : Septembre éditeur.
	</cite></p>
	<p><cite>
		Jobboom. Faire cavalier seul. URL : <a href="http://carriere.jobboom.com/carrieres-avenir/dossiers/2011/01/11/16840856-je.html" title="Faire cavalier seul" target="_blank">http://carriere.jobboom.com/carrieres-avenir/dossiers/2011/01/11/16840856-je.html</a> <time datetime="2011-03-21">Consulté le 21 mars 2011</time>.
	</cite></p>
	<p><cite>
		Monbourquette, Jean (1999). À chacun sa mission : Découvrir son projet de vie. Ottawa : Novalis.
	</cite></p>
	<p><cite>
		Services aux étudiants de l’Université de Montréal. Choisir une profession pour ses parents? URL: <a href="http://www.cesar.umontreal.ca/orientation/vies_a_vies/v15n2-2.html" title="Choisir une profession pour ses parents?" target="_blank">http://www.cesar.umontreal.ca/orientation/vies_a_vies/v15n2-2.html</a> <time datetime="2011-06-14">Consulté le 14 juin 2011</time>.
	</cite></p>
</section>
<footer>
	<h2>Rédigé par :</h2>
	<p>
		Catherine Desmarais, conseillère d’orientation<br>
		Louise Turgeon, conseillère d’orientation
	</p>
</footer>