<blockquote>
	Ne vous inquiétez pas si vous bougez lentement, inquiétez-vous si vous restez immobile.
	<cite>Proverbe chinois</cite>
</blockquote>
<p>
	Sortir de l'insouciance, pourquoi ? direz-vous. C'est un état plutôt confortable dans un monde préoccupé, pressé, stressé... Et vous avez raison. Pourtant, l'insouciance dont il est question ici peut aussi engendrer du stress, si elle se prolonge trop, parce qu'elle deviendra alors un obstacle à votre développement personnel et professionnel. Mais de quoi s'agit-il au juste ? Commençons d'abord par préciser notre propos.
</p>
<p>
	L'insouciance réfère dans ce texte à l'attitude qui consiste à se laisser porter, à différer le moment de prendre des décisions quant à son avenir professionnel plutôt que de chercher à avancer. Cette attitude est donc très différente de l'attitude de vigilance qui caractérise les personnes qui sont dans une période de vie où elles s'accordent du temps pour réfléchir à leurs choix, pour vivre de nouvelles expériences, pour explorer des réalités qui les attirent sans qu'elles les connaissent bien. Au contraire, l'état d'insouciance en est plutôt un d'immobilité et est fréquemment associé à diverses croyances erronées ou à certaines peurs.
</p>
<nav>
	<ul>
		<li><a href="#croyances" title="Les croyances">Les croyances</a></li>
		<li><a href="#peurs" title="Les peurs">Les peurs</a></li>
		<li><a href="#prix" title="Le prix à payer">Le prix à payer</a></li>
		<li><a href="#espoir" title="L'espoir">L'espoir</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="croyances">
	<h1>Les croyances</h1>
	<p>
		Différentes croyances peuvent nourrir l'attitude d'insouciance dans laquelle vous vous reconnaîtrez peut-être, attitude qui peut laisser croire à votre entourage que vous vivez présentement vos études universitaires en dilettante. Ainsi, il se peut que vous entreteniez la croyance du « coup de foudre ». En l'attendant, vous pouvez choisir par exemple de faire deux sessions aux études libres, de faire des études pour votre culture personnelle ou encore de vous accorder une année de réflexion. Ce que vous ne réalisez pas, c'est que dans votre vie professionnelle, comme peut-être dans votre vie amoureuse, vous risquez d'attendre longtemps votre « coup de foudre ». Précisons que ces propos ne s'adressent pas aux personnes qui s'inscrivent à une session aux études libres pour mieux connaître certaines disciplines ou encore à celles qui vont chercher des outils manquants ; le fondement d'actions semblables pouvant être évidemment très différent. La croyance est répandue que préciser un projet se fait tout seul. Un peu comme dans les contes, où on espère tranquillement l'âme soeur sur son balcon... Dans les histoires, cette méthode peut bien fonctionner, mais dans la vraie vie, mieux vaut sans doute mettre un peu la main à la pâte.
	</p>
	<p>
		Vous pouvez aussi vouloir garder toutes les options ouvertes. Il est vrai que cela peut vous être utile un certain temps et en certaines circonstances, mais à la condition qu'il ne s'agisse pas tout simplement d'un moyen de retarder le moment de choisir. Il peut s'avérer bien tentant également de croire qu'un voyage vous aidera à y voir plus clair et ainsi à prendre de meilleures décisions. Bien sûr, un voyage (en raison de tout ce qu'il permet de vivre au plan de l'autonomie, de la débrouillardise, de la liberté, de l'ouverture à l'autre, de la découverte de soi, etc.) est souvent une expérience enrichissante et positive qui peut vous aider dans vos décisions professionnelles. Néanmoins, cet effet ne se produira qu'à la condition de vous mobiliser en ce sens. Sur ce plan, il n'y a pas moyen de faire l'économie de la réflexion et de l'investissement, même en voyage.
	</p>
	<p>
		Cette liste de croyances n'est pas exhaustive mais elle résume les plus fréquentes. Cependant, même si vous vous appuyez sur d'autres assertions, votre situation est probablement comparable et vous avez également intérêt à poursuivre cette lecture.
	</p>
</section>
<section id="peurs">
	<h1>Les peurs</h1>
	<p>
		Certaines peurs sont également à mettre en lien avec l'attitude d'insouciance qui maintient l'évitement de la prise de décision. Il y a la peur du monde adulte, peur qui peut prendre diverses formes. Elle peut être associée, par exemple, à la crainte de prendre des responsabilités, ce qui se traduit par la perte d'une certaine légèreté qu'on ne souhaite pas quitter, si illusoire soit-elle. Cette peur du monde adulte peut également être en lien avec la crainte d'entrer dans un univers qu'on perçoit négativement. Ainsi, si pour vous les adultes représentent des modèles à ne pas imiter, il peut devenir très tentant de retarder le plus longtemps possible le moment de vous retrouver de leur côté de la clôture.
	</p>
	<p>
		On peut également penser à la peur de se tromper qui se manifeste, dans ce contexte, par la crainte de faire un mauvais choix. Pour composer avec celle-ci, on privilégie alors la solution qui consiste à ne pas bouger, à éviter un choix en n'y pensant tout simplement pas.
	</p>
</section>
<section id="prix">
	<h1>Le prix à payer</h1>
	<p>
		Reporter sa décision n'est certes pas catastrophique mais ce n'est pas sans conséquence non plus. À cet égard, et surtout si vous demeurez longtemps dans cette situation, il est bien possible que vous développiez progressivement une perception négative de vous-même et que vous vous dévalorisiez, ce qui deviendra en soi un autre problème. Ce danger est d'autant plus grand que nous vivons dans une société qui valorise beaucoup la performance et le succès rapide.
	</p>
	<p>
		Accumuler de la fatigue et des dettes est un autre piège potentiel. C'est-à-dire que si vous retardez indûment le moment de prendre vos décisions, il est à craindre que la lassitude et l'endettement accumulés deviennent des obstacles majeurs à la réalisation de vos nouveaux objectifs.
	</p>
	<p>
		Il se peut aussi qu'en prolongeant vos études, vous vous retrouviez dans l'obligation de retarder d'autres projets qui vous tiennent à coeur, comme par exemple avoir des enfants ou devenir propriétaire d'une maison, d'une voiture, etc. Ces renoncements, même temporaires, sont parfois source de frustration.
	</p>
</section>
<section id="espoir">
	<h1>L'espoir</h1>
	<p>
		L'espoir en regard de l'évolution de votre situation tient d'abord à la prise de conscience de ce qu'il vous en coûte de demeurer dans votre attitude présente. À partir de là, vous aurez la motivation nécessaire pour trouver les moyens qui vous aideront à modifier vos croyances et à surmonter vos peurs afin de parvenir à préciser votre identité et vos objectifs d'avenir.
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		HAMEL, Henri. « L'indécision vocationnelle chez les étudiants(es) de niveau collégial et universitaire : éléments de diagnostic », Connat, no 8, 1985, p. 187-209.
	</cite></p>
	<p><cite>
		DOSNON, Odile. « L'indécision face au choix scolaire et professionnel : concepts et mesures », L'orientation scolaire et professionnelle, no 1, 1996, 25 p. 129-168. 
	</cite></p>
</section>
<section id="complementaire">
	<h1>Contenu complémentaire</h1>
	<p><a href="{{LIEN}}decisions" title="Améliorer sa capacité à prendre des décisions" target="_blank">Améliorer sa capacité à prendre des décisions</a></p>
	<p><cite>
		FALARDEAU, Isabelle. « Sortir de l'indécision », Québec, Septembre Éditeur, 2007.
	</cite></p>
	<p><cite>
		FALARDEAU, Isabelle et ROY, Roland. « S'orienter malgré l'indécision », Éditions Septembre, Sainte-Foy, 1999. 
	</cite></p>
	<p><cite>
		ROBERGE, Michelle. « Tant d'hiver au coeur du changement », Éditions Septembre, Sainte-Foy, 1998. 
	</cite></p>
	<p><cite>
		PROULX, Suzanne. « Changer sans tout casser », Éditions du Méridien, Montréal, 1986.
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Louise Turgeon, conseillère d'orientation
	</p>
</footer>

<!--Other useful tags-->
<time datetime="YYYY-MM-SS HH:MM:SS"></time>
<img src="wp-content/uploads/2014/11/{{FILE}}.jpg" alt="">
<h2>&#9632; SQUARE_WITH_TEXT</h2>
<li>
	<a href="{{LIEN}}" title="token" target="_blank">token</a>
</li>