<blockquote>
	Il n'y a que le premier pas qui coûte
	<cite>Proverbe</cite>
</blockquote>
<p>
	Pour la grande majorité des étudiantes et étudiants, les études actuelles et à venir vont conduire à un travail rémunéré. La préparation vers une telle transition gagne à être anticipée, car certains éléments qui joueront en votre faveur nécessitent du temps pour être développés ou corrigés.
</p>
<p>
	L'intégration au marché du travail est tributaire de plusieurs dimensions qui ne sont pas toutes sous votre contrôle : facteurs économiques, politiques, culturels, géographiques, démographiques, milieu familial, entourage, amis et amies, etc. Par ailleurs, à diplôme égal dans un milieu donné pour un emploi donné, ce qui fera la différence, ce sera souvent des caractéristiques personnelles affichées par vous ou recherchées par l'employeur ou l'employeuse. Et sur celles-là, vous avez plus de pouvoir. Ce serait donc une erreur de penser que la préparation à l'insertion socioprofessionnelle se limite à la rédaction d'un bon curriculum vitæ (aussi garni soit-il) et à de bonnes techniques d'entrevue. Ce sont des atouts importants, mais insuffisants.
</p>
<p>
	Nous vous proposons donc de faire un premier bilan de vos caractéristiques personnelles, en vous inspirant des étapes du développement psychosocial d'Erikson , dans le but de vous permettre d'identifier quels aspects de vous-même mériteraient une attention de votre part. Demandez-vous où vous en êtes par rapport à :
</p>
<h2>&#9632; La confiance</h2>
<p>
	Avez-vous suffisamment confiance pour vous ouvrir aux autres sans méfiance excessive ? Êtes-vous en mesure de reconnaître votre valeur personnelle et celles des autres ?
</p>
<h2>&#9632; L'autonomie</h2>
<p>
	Faites-vous preuve d'assurance personnelle ? Savez-vous vous affirmer lorsque nécessaire et êtes-vous capable de travailler aussi bien seule ou seul qu'avec d'autres ?
</p>
<h2>&#9632; L'initiative</h2>
<p>
	Avez-vous le goût de réaliser des projets, d'avoir des défis, d'essayer des rôles ? Avez-vous des buts et voulez-vous les atteindre ?
</p>
<h2>&#9632; Le savoir-faire «Industry»</h2>
<p>
	Aimez-vous apprendre ? Avez-vous le goût du travail, le goût d'accomplir des tâches et de les réussir ? Avez-vous le sens des responsabilités ? Finissez-vous ce que vous commencez ? Aimez-vous les projets ?
</p>
<h2>&#9632; L'identité</h2>
<p>
	Avez-vous une image positive de vous-même ? Vous acceptez-vous ? Êtes-vous capable de prendre des décisions éclairées ?
</p>
<h2>&#9632; L'intimité</h2>
<p>
	Êtes-vous capable de développer des amitiés authentiques, d'avoir des relations saines et stables et de nourrir des relations positives avec les autres ? Car il vous faudra entretenir des relations constructives avec les autres en milieu de travail.
</p>
<p>
	Peut-être trouvez-vous étonnant que l'on vous parle d'insertion professionnelle sous cet angle ? Voici des exemples de compétences que les employeurs et employeuses peuvent rechercher, telles que recensées par le <a href="http://sass.uottawa.ca/fr" title="Service d'appui au succès scolaire" target="_blank">Service d'appui au succès scolaire</a> (SASS) de l'Université d'Ottawa :
</p>
<table>
	<tr>
		<td>Communication (orale, écrite)</td>
		<td>Éthique de l'emploi</td>
	</tr>
	<tr>
		<td>Travail en équipe</td>
		<td>Adaptabilité et flexibilité</td>
	</tr>
	<tr>
		<td>Relations interpersonnelles</td>
		<td>Attitudes et comportements positifs</td>
	</tr>
	<tr>
		<td>Habiletés d'écoute</td>
		<td>Autonomie au travail</td>
	</tr>
	<tr>
		<td>Négociation</td>
		<td>Créativité et innovation</td>
	</tr>
	<tr>
		<td>Esprit analytique</td>
		<td>Atteinte d'objectifs</td>
	</tr>
	<tr>
		<td>Résolution de problèmes</td>
		<td>Participation aux projets</td>
	</tr>
	<tr>
		<td>Prise de décisions</td>
		<td>Habileté de gérer et d'organiser l'information</td>
	</tr>
	<tr>
		<td>Leadership et gestion</td>
		<td>Apprentissage continu</td>
	</tr>
	<tr>
		<td>Sens des responsabilités</td>
		<td>Prudence au travail</td>
	</tr>
	<tr>
		<td>Honnêteté</td>
		<td>Fiabilité</td>
	</tr>
</table>
<p>
	<cite>Sources : Le Conference Board du Canada, Développement de ressources humaines Canada, workopolisCampus.com, et Nace's Job Outlook 2002.</cite>
</p>
<p>
	Vous conviendrez que, lorsqu'on y regarde de plus près, plusieurs de ces éléments relèvent des aspects de la personnalité mentionnés ci-dessus (confiance, autonomie, initiative, etc.). Voilà plusieurs dimensions qui vont influencer, à des degrés divers, votre insertion socioprofessionnelle. Pour les identifier ou pour les modifier, utilisez les occasions qui se présentent à vous : stages, travaux d'équipe, emplois d'été, emplois scolaires, bénévolats, parrainage, voyages. Vous aurez deviné qu'il importe peu que vos activités soient reliées à votre programme de formation.
</p>
<p>
	Il sera avantageux aussi de pouvoir rendre compte de vos apprentissages et de faire part des compétences que vous avez acquises jusqu'ici. Certains programmes d'études facilitent cette explicitation ; vous devrez parfois vous arrêter pour en faire le tour. Consultez la rubrique de notre site « Développer un sentiment de compétence » pour plus d'informations.
</p>
<p>
	Prévoyez également développer des outils en vue des démarches de recherche d'emploi : bonne connaissance de la profession et du marché du travail, techniques d'entrevue, rédaction de curriculum vitæ, etc. Notre salle de documentation et de nombreux sites Internet peuvent vous aider. Vous pouvez aussi obtenir de l'assistance du <a href="http://www.spla.ulaval.ca/" title="Service de placement de l'Université Laval" target="_blank">Service de placement de l'Université Laval</a>. Si vous vous sentez l'âme d'une entrepreneure ou d'un entrepreneur, profitez de votre statut d'étudiante ou d'étudiant pour bénéficier du soutien qu'offre <a href="http://www.el.ulaval.ca/" title="Entrepreneuriat Laval	" target="_blank">Entrepreneuriat Laval</a> : ateliers, bilans, démarches, concours, etc.
</p>
<p>
	Un bilan comme celui qui vous est proposé et les suites que vous voudrez bien lui donner n'auront pas un impact seulement sur votre intégration professionnelle. Tous les aspects de votre vie pourront en bénéficier à différents degrés. Cependant, ils témoignent plus d'une évolution vécue que d'un état atteint. Donnez-vous le temps de progresser.
</p>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		ALLARD, R. et OUELLETTE, J.-G. « Vers un modèle macroscopique des facteurs déterminants de l'insertion socioprofessionnelle des jeunes ». Carriérologie [En ligne] . Vol. 8, no 3-4, p. 1-9, 2002. http://www.carrierologie.uqam.ca/volume08_3-4/12_allard/12_allard.html (Page consultée le 3 juillet 2003) 
	</cite></p>
	<p><cite>
		ERIKSON, E. H. (1980). Identity and the life cycle : A reissue. New-York : Norton 
	</cite></p>
</section>
<section id="complementaire">
	<h1>Contenu complémentaire</h1>
	<ul>
		<li>
			<a href="{{LIEN}}competences" title="Développer un sentiment de compétence" target="_blank">Développer un sentiment de compétence</a>
		</li>
		<li>
			<a href="http://www.spla.ulaval.ca/" title="Service de placement de l'Université Laval" target="_blank">Service de placement de l'Université Laval</a>
		</li>
		<li>
			<a href="http://www.el.ulaval.ca/" title="Entrepreneuriat Laval	" target="_blank">Entrepreneuriat Laval</a>
		</li>
	</ul>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Daniel Tremblay, conseiller d'orientation
	</p>
</footer>
