<blockquote>
	Il n'est jamais trop tard pour sonder l'inconnu, <br>
	Il n'est jamais trop tard pour aller au-delà
	<cite>Gabriele d'Annunzio</cite>
</blockquote>
<p>
	Ressentez-vous l'appel du large ? Les cultures étrangères vous attirent ? Avez-vous envie de combiner éventuellement un emploi et un séjour prolongé à l'étranger ?
</p>
<p>
	S'ouvrir sur le monde est une autre façon de donner de l'intérêt à ses études, de se découvrir au plan personnel et d'enrichir son bagage professionnel.
</p>
<p>
	Selon vos motivations, vous pouvez vous tourner vers des cours de langue, des projets d'échange, des voyages, des emplois d'été à l'étranger ou encore profiter des opportunités de mobilité étudiante pour faire une ou deux sessions d'études dans un autre pays. Ces expériences et bien d'autres pourront vous donner l'occasion de satisfaire votre curiosité et de répondre à votre besoin d'apprendre, d'élargir vos horizons, de relever de nouveaux défis, de côtoyer des gens d'autres cultures.
</p>
<p>
	Par ailleurs, l'ouverture à des saveurs, des couleurs, des odeurs, des cultures différentes éveille bien souvent le désir d'ajouter une dimension internationale à sa vie professionnelle. Les événements majeurs au plan international renforcent ce désir de devenir un acteur dans un monde en changement et en interdépendance croissante.
</p>
<p>
	Bien que cet attrait soit présent chez bon nombre d'étudiantes et d'étudiants, le travail à l'étranger présente cependant des exigences auxquelles vous devez être sensibilisé ou sensibilisée. Pour amorcer un cheminement dans cette direction, il est essentiel dans un premier temps de préciser vos motivations et de vous assurer d'avoir les caractéristiques personnelles qui permettent de réussir dans ce créneau.
</p>
<p>
	Comme il est impossible de couvrir dans un court article l'étendue du sujet, ce texte tentera de répondre principalement à deux questions : « Que faut-il pour envisager une carrière internationale ? » et « Comment s'y préparer ? ». Des références en fin d'article vous permettront de poursuivre votre réflexion.
</p>
<nav>
	<ul>
		<li><a href="#international" title="Que faut-il pour envisager une carrière internationale ?">Que faut-il pour envisager une carrière internationale ?</a></li>
		<li><a href="#preparation" title="Comment s'y préparer ?">Comment s'y préparer ?</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="international">
	<h1>Que faut-il pour envisager une carrière internationale ?</h1>
	<p>
		Bâtir une carrière internationale requiert des démarches, de la volonté, de la patience et une bonne connaissance de soi. De façon générale, la documentation sur le sujet reconnaît que les deux principales dimensions considérées par les employeurs et employeuses avant de sélectionner du personnel pour des mandats internationaux sont la compétence professionnelle et le « quotient international » (traduction de « international IQ »). Vous situer par rapport à ces deux éléments vous permettra de confronter vos aspirations avec la réalité et de vous construire un projet réaliste qui aura des chances de succès.
	</p>
	<h2>La composante professionnelle</h2>
	<p>
		Comme les opportunités d'emploi à l'étranger couvrent un large spectre, la première question à vous poser est donc : « Qu'est-ce que je veux vraiment faire dans le domaine international ? ». Les employeuses et employeurs internationaux recherchent des candidats et candidates ayant une expertise professionnelle spécifique attestée par un diplôme et un nombre d'années d'expérience plus ou moins étendu selon la nature du poste à combler. Préciser vos intérêts, vos objectifs et vos motivations est donc le point de départ pour choisir la formation qui constituera votre passeport pour le monde. Il est fondamental d'être engagé dans un domaine d'études qui vous plaît; ce sera le coeur de votre vie professionnelle, peu importe où vous l'exercerez !
	</p>
	<p>
		Votre réflexion peut vous amener à préciser la nature de vos intérêts en fonction de deux perspectives. Vous pouvez souhaiter exercer votre profession à l'étranger durant quelques années : par exemple, être enseignant ou enseignante au Japon, ingénieure ou ingénieur en Afrique, ergothérapeute en Iran. Vous pouvez aussi désirer travailler en lien avec des problématiques internationales : droit, politique, commerce ou développement international. Dans cette deuxième perspective, une carrière internationale n'implique pas nécessairement des séjours prolongés à l'étranger et il est possible de travailler dans un contexte international tout en demeurant dans son pays. 
	</p>
	<p>
		Une expertise spécifique ne suppose pas toujours une expertise pointue ; les personnes généralistes, qui ont une vision large dans leur domaine, sont aussi en demande car elles font souvent preuve d'une capacité d'adaptation à une diversité de situations.
	</p>
	<p>
		Comme les affectations à l'étranger sont rarement accordées à des personnes sans aucune expérience, vous avez quelques années devant vous pour peaufiner cette autre dimension très importante recherchée par les employeuses et employeurs internationaux.
	</p>
	<h2>Le «quotient international»</h2>
	<p>
		Le vocable « quotient international » recouvre un ensemble de connaissances, d'attitudes et d'habiletés démontrant la capacité d'une personne à pouvoir vivre et travailler efficacement dans un contexte interculturel. Ces aspects peuvent être regroupés en quatre domaines. Les questions suivantes vous permettront de mieux mesurer leurs implications.
	</p>
	<h2>&#9632; Culture générale vaste (histoire, politique, géographie, économie, etc.) :</h2>
	<p>
		Connaissez-vous la carte du monde ? Lisez-vous les journaux ? Vous intéressez-vous à l'actualité internationale ? Êtes-vous en mesure de discuter des événements qui se produisent sur la scène mondiale ? Pourriez-vous échanger sur les divers aspects de votre propre culture avec des personnes venues d'ailleurs ?
	</p>
	<h2>&#9632; Qualités personnelles :</h2>
	<p>
		Êtes-vous ouvert ou ouverte d'esprit, curieux ou curieuse, tolérant ou tolérante ? Avez-vous de la facilité à vous adapter à différentes exigences et différents environnements ? Est-il aisé pour vous d'établir de nouvelles relations ? Êtes-vous autonome, débrouillard ou débrouillarde, persévérant ou persévérante ? Avez-vous une bonne santé physique et un bon équilibre psychologique ? Avez-vous le sens de l'humour ? Comment gérez-vous votre stress ?
	</p>
	<h2>&#9632; Aptitudes interculturelles :</h2>
	<p>
		Aimez-vous côtoyer des gens en provenance d'autres pays ? Êtes-vous sensible et attentif ou attentive aux différences culturelles ? Êtes-vous ouvert ou ouverte à des visions du monde différentes ? Connaissez-vous les étapes du choc culturel et les moyens de l'atténuer ? Parlez-vous une deuxième ou une troisième langue ? Êtes-vous ouvert ou ouverte à connaître la culture locale des pays où vous irez et à tenir compte des effets qu'elle pourrait avoir sur votre contexte de travail ? Êtes-vous prêt ou prête à ajuster vos façons de faire pour favoriser la communication et la réussite d'objectifs communs ?
	</p>
	<h2>&#9632; Connaissance des aspects internationaux de votre discipline :</h2>
	<p>
		Connaissez-vous des entreprises ou organisations qui ont des activités internationales ? Quels sont les aspects de votre discipline qui peuvent avoir des incidences ou des applications internationales ? Êtes-vous intéressé ou intéressée par les conférences internationales dans votre domaine ? Cherchez-vous à rencontrer des personnes qui ont une expérience à l'étranger, afin de connaître leur avis sur les habiletés et les types d'expériences qu'ils considèrent déterminantes ?
	</p>
	<h2>Atouts supplémentaires</h2>
	<p>
		Quelques compétences additionnelles au plan professionnel peuvent également contribuer à votre sentiment d'efficacité dans le cadre de mandats internationaux. Comme ces mandats permettent souvent d'avoir des responsabilités accrues et variées, il est très utile d'avoir certaines notions de gestion de projets, de gestion financière ou de gestion des ressources humaines. Il faut souvent aussi démontrer des capacités pédagogiques pour transmettre adéquatement ses connaissances aux partenaires locaux. De plus, dans certains contextes où les technologies de l'information ne sont pas aussi développées qu'ici, il peut arriver que vous soyez sollicitée ou sollicité pour régler divers problèmes de cette nature, même si vous n'êtes pas un ou une spécialiste... Finalement, est-il nécessaire de mentionner la capacité à travailler en équipe ?
	</p>
</section>
<section id="preparation">
	<h1>Comment s'y préparer ?</h1>
	<p>
		La responsabilité de développer vos compétences et d'exercer votre travail en contexte international repose entre vos mains. C'est un projet qui se bâtit sur de nombreuses années et à travers une succession d'étapes, dont voici un aperçu. Vous pourrez ainsi déterminer les prochains pas à faire pour vous former, vous informer, vous valider et pour développer votre « quotient international ». Vous aurez accès à des possibilités nouvelles au fur et à mesure de vos expériences. Comme des perles qui sont enfilées sur un collier, votre carrière internationale s'élaborera petit à petit. Pour parvenir à vos objectifs, il est suggéré de :
	</p>
	<ul>
		<li>
			Procéder à une bonne évaluation de vous-même afin de pouvoir vous situer par rapport aux exigences du marché du travail international. Déterminez des objectifs clairs et précisez vos motivations, afin de développer des attentes réalistes. 
		</li>
		<li>
			Se donner une bonne formation (formation de base dans une discipline, bonifiée de cours de culture générale - histoire, politique, géographie, etc. - et de cours permettant d'acquérir une vision internationale dans sa discipline). 
		</li>
		<li>
			Côtoyer des étudiantes et étudiants étrangers ou des immigrantes ou immigrants ; avoir des loisirs à saveur internationale. 
		</li>
		<li>
			Vivre des expériences de courte durée à l'étranger (voyages, cours de langues ou emplois d'été à l'étranger, études à l'étranger, programmes d'échange) pour tâter le terrain et vous tester. Cette décentration culturelle apporte souvent une meilleure connaissance de soi, de ses réactions à l'éloignement, de sa capacité à s'adapter à une autre culture. En vous mettant en situation de dépaysement, vous évaluerez si vous voulez poursuivre dans cette perspective. 
		</li>
		<li>
			Acquérir une expérience de plus longue durée : bénévolat, coopération, stages en entreprises ou par le biais de programmes gouvernementaux. 
		</li>
		<li>
			S'informer de la réalité d'une pratique professionnelle à l'étranger auprès de différentes personnes qui ont vécu et travaillé ailleurs. 
		</li>
		<li>
			S'informer du marché du travail international dans sa discipline : connaissance des employeurs ou employeuses, des moyens de recrutement, du processus de sélection, des perspectives et des besoins (en vous adressant à un ordre professionnel, à des consultants ou consultantes, à des personnes qui ont travaillé à l'international, à des agences spécialisées en recrutement ou autres). 
		</li>
		<li>
			Préparer son retour : Comment maintiendrez-vous au loin votre réseau de contacts ? Comment intégrerez-vous cette expérience dans votre parcours professionnel ? Quelles seront vos perspectives d'intégration en emploi à votre retour ? Que savez-vous du choc du retour dans votre société d'origine, plus ou moins important selon la durée de votre absence ?
		</li>
	</ul>
	<p>
		Pour poursuivre votre réflexion sur le sujet, nous vous invitons à assister aux <a href="{{LIEN}}cles-reussite" title="exposés" target="_blank">exposés</a> suivants, offerts par le Centre d'aide aux étudiants :
	</p>
	<ul>
		<li>
			L'emploi à l'international : Première expérience à l'étranger ? Faites les bons choix et préparez-vous à partir ! (présenté en collaboration avec le Service de placement de l'Université   Laval)
		</li>
		<li>
			Le choc du retour : la réadaptation à la suite d'un séjour à l'étranger.
		</li>
	</ul>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		Hachey, J.-Y. <a href="http://www.bibl.ulaval.ca/chercher-autres-sujets/emploi-et-carriere" title="My World Abroad" target="_blank">MyWorldAbroad</a> (anciennement The BIG Guide to Living and Working Overseas). <i>C'est l'outil de référence le plus complet et le plus recommandé sur le sujet.</i>
	</cite></p>
</section>
<section id="complementaire">
	<h1>Contenu complémentaire</h1>
	<ul>
		<li>
			<a href="http://www2.ulaval.ca/international.html" title=" Bureau international de l'Université Laval" target="_blank"> Bureau international de l'Université Laval</a>
		</li>
		<li>
			<a href="https://voyage.gc.ca/voyager/publications" title="Travailler à l'étranger, comment y voir clair" target="_blank">Travailler à l'étranger, comment y voir clair</a> (Document en ligne sur le site du Ministère des affaires étrangères, Ottawa, Canada. Offert aussi en version PDF.)
		</li>
	</ul>
	<p><cite>
		Vulpe, T., Kealey, D., Protheroe, D. Et Macdonald, D. Profil de la personne efficace sur le plan interculturel. 2e éd. Centre d'apprentissage interculturel, Institut canadien du service extérieur, Ministère des affaires étrangères et du commerce international, 2001.
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		France Lehoux, conseillère d'orientation
	</p>
</footer>
