<blockquote>
	Deviens sans cesse celui que tu es, sois le maître et le sculpteur de toi-même.
	<cite>Nietzeche</cite>
</blockquote>
<p>
	« Qu'est-ce que je fais vraiment ici ? Suis-je à ma place en actuariat ou en enseignement primaire ? » Il est bien possible que ces questions vous soient familières. Même si ce n'était pas le cas, il est important de se rappeler que se repositionner vis-à-vis de son choix, bien se l'approprier est un excellent moyen de mieux s'engager dans ses études et d'être au bout du compte beaucoup plus satisfait de son passage à l'université et de ce qui en découlera. Bien que cela puisse vous paraître surprenant, la première année de vos études universitaires est un moment particulièrement propice à cette réflexion, que votre choix soit récent ou qu'il remonte à plusieurs années. Voici quelques pistes qui pourraient vous guider en ce sens.
</p>
<nav>
	<ul>
		<li><a href="#choix" title="Qu'est-ce que j'ai pris en compte pour faire mon choix ?">Qu'est-ce que j'ai pris en compte pour faire mon choix ?</a></li>
		<li><a href="#anime" title="Qu'est-ce qui m'anime en regard de mon choix ?">Qu'est-ce qui m'anime en regard de mon choix ?</a></li>
		<li><a href="#exigences" title="Ai-je pris le temps de m'interroger sur les exigences de la formation choisie ?">Ai-je pris le temps de m'interroger sur les exigences de la formation choisie ?</a></li>
		<li><a href="#realisation" title="">Mon choix est-il concordant avec ce que je veux réaliser ?</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="choix">
	<h1>Qu'est-ce que j'ai pris en compte pour faire mon choix ?</h1>
<p>
	« J'aimais les mathématiques et la physique, j'ai décidé d'aller en génie » ou encore « j'aime aider les autres, je serai travailleuse sociale ». Au moment de faire un choix, il peut être bien tentant d'en rester aux premières considérations, et ce, pour toutes sortes de raisons. On se dira que le temps presse, que c'est bien trop inconfortable de rester assis entre deux chaises, que de toute façon, c'est trop mêlant, etc. Bien sûr, ce que vous avez pris en considération est valable mais peut-être pas suffisant parce que plusieurs dimensions de votre personnalité ont été laissées en plan. Ainsi, non seulement vos valeurs et vos intérêts doivent-ils être considérés mais également vos compétences, vos capacités intellectuelles et vos besoins. Différents moyens peuvent vous aider à mieux vous connaître. Par exemple, vous pouvez vous interroger sur vos expériences passées, explorer le contenu de votre vie actuelle, penser à vos rêves pour l'avenir, discuter avec des personnes de confiance, faire des lectures ou toutes autres choses susceptibles de vous éclairer sur vous-même.
</p>
</section>
<section id="anime">
	<h1>Qu'est-ce qui m'anime en regard de mon choix ?</h1>
<p>
	Bien entendu, vos caractéristiques personnelles sont importantes, mais les motivations en cause dans votre choix le sont également. Pour réfléchir à cette dimension, il peut être très utile de vous interroger sur l'origine de votre choix. À cet égard, la famille est un incontournable. Les parents, de même que les autres personnes de confiance dans votre vie (les grands-parents, les soeurs et frères, les professeurs, etc.), sont les premiers modèles qui ont influencé votre choix professionnel. Il se peut que vous ayez voulu leur ressembler et jouer un rôle semblable au leur. Il se peut au contraire que vous ayez souhaité être le plus différente ou différent possible d'eux. Peut-être votre choix est-il un moyen de vous prouver quelque chose (ex. : «  je suis capable de réussir en actuariat ») ou de prouver quelque chose à quelqu'un ou encore une manière de réparer un tort fait à quelqu'un que vous aimez (ex. : « mes parents ont été victimes d'une injustice, je serai avocate »). Quoi qu'il en soit, comprendre pourquoi vous désirez aider, avoir du prestige ou défendre une cause vous offrira une belle occasion d'être au clair avec vous-même et vous assurera que vous êtes vraiment aux commandes de votre destinée.
</p>
</section>
<section id="exigences">
	<h1>Ai-je pris le temps de m'interroger sur les exigences de la formation choisie ?</h1>
<p>
	Maintenant que vous avez bien réfléchi à vos motivations, il peut être utile d'envisager la formation choisie sous l'angle de ses exigences implicites. Hélas ! pour réussir dans une discipline, il ne suffit pas d'en avoir les capacités intellectuelles même si celles-ci sont essentielles. Chaque programme comporte des enjeux spécifiques que vous découvrirez progressivement et avec lesquels vous devrez apprendre à composer pour demeurer à l'aise dans votre choix. Ainsi, on peut penser à la tolérance à l'incertitude (ex. : programmes de santé), à l'aspect subjectif des performances à réaliser (ex. : arts visuels, création littéraire), à la nécessité de produire avec des contraintes (ex. architecture), au côté très abstrait de certaines matières (ex. : mathématiques, physique), à la tolérance à la compétition (ex. : psychologie, droit) ou à la nécessité d'une autonomie plus grande pour développer son identité professionnelle dans d'autres disciplines (ex. : communication, études internationales et langues). Prendre conscience de ces réalités et vous outiller en conséquence, car les moyens varient beaucoup selon les exigences particulières de chacun des programmes, vous permettra d'éviter les embûches qui vous amèneraient à requestionner votre choix inutilement. Ces moyens peuvent tenir à un changement d'attitude (ex. : collaboration versus compétition), à l'ajustement de vos attentes, à l'amélioration de votre gestion de temps ou de votre capacité à composer avec le stress, à la précision de vos buts ou au développement de compétences nouvelles, etc. L'important étant de voir venir...
</p>
</section>
<section id="realisation">
	<h1>Mon choix est-il concordant avec ce que je veux réaliser ?</h1>
	<p>
		Jusqu'à présent, vous êtes passé ou passée d'un régime pédagogique à un autre. Cette fois-ci, la prochaine étape, c'est le marché du travail. Aussi est-il important d'envisager votre choix de formation avec cette considération en tête. Se dire qu'il sera toujours temps d'y penser n'est peut-être pas la meilleure attitude à adopter. Il est vrai que votre choix de formation est un « moyen » d'atteindre vos objectifs professionnels et qu'il n'est peut-être pas le seul. Mais il demeure très pertinent de vous assurer que vous êtes dans une voie qui vous permettra d'acquérir les connaissances et de développer les compétences correspondant à ce que vous souhaitez accomplir sur le marché du travail. En ce sens, il pourrait être intéressant d'examiner les objectifs de votre programme et les connaissances qu'il permet d'acquérir pour faire le lien avec les aspirations qui vous habitent.
	</p>
	<p>
		Plusieurs pistes ont été ici empruntées pour vous permettre d'approfondir les motifs de votre choix. Vous seront utiles celles qui ont une résonance en vous. Celles-là, suivez-les. Elles vous mèneront à bon port.
	</p>
</section>
<section id="complementaire">
	<h1>Contenu complémentaire</h1>
	<p><cite>MONBOURQUETTE, Jean. « À chacun sa mission », Novalès, Université St-Paul, Ottawa, 1999.</cite></p>
	<p><cite>CYR, M. et MAURAIS, Y. « S'orienter à partir de soi », Éditions Septembre, Sainte-Foy, 1999. </cite></p>
	<p><cite>COQUELIN, Pierre et KRAU, Edgar. « Projet professionnel, projet de vie ». ESF Éditeur, Paris, 1992. </cite></p>
	<p><cite>JONES, Laurie Beth. « Tous les chemins mènent à soi : l'importance de trouver sa voie », Le Jour, Montréal, 1996. </cite></p>
</section>
<footer>
	<h2>Rédigé par :</h2>
	<p>Louse Turgeon, conseillère d'orientation</p>
</footer>