<p>
	Quel métier ou profession devrais-je choisir? Quelles sont mes forces? Suis-je dans le bon programme d'études? Voilà autant de questions que l'on peut se poser durant notre parcours scolaire et qui donnent lieu, parfois, à bien des maux de tête!
</p>
<p>
	Le secteur « Orientation scolaire et professionnelle » vous offre un soutien dans l'élaboration et la consolidation d'un projet de formation et d'un projet professionnel qui soient signifiants pour vous. Il vous assiste dans l'acquisition des attitudes et des habiletés nécessaires à la prise en charge de votre formation, votre carrière et votre insertion socio-professionnelle.
</p>
<p>
	Nous avons mis à votre disposition des textes pour vous aider dans la résolution des difficultés qu'il est possible de rencontrer en cours de formation ou lorsqu'il est question de faire un choix pour son projet d'études. Ils sont regroupés en trois catégories :
</p>

<h2>S'approprier son projet de formation</h2>
<ul>
	<li><a href="{{LIEN}}partir-du-bon-pied" title="Partir du bon pied" target="_blank">Partez du bon pied</a></li>
	<li><a href="{{LIEN}}motifs-de-choix" title="Approfondir les motifs de son choix" target="_blank">Approfondir les motifs de son choix</a></li>
	<li><a href="{{LIEN}}influence" title="Étudiant sous influence" target="_blank">Étudiant sous influence</a></li>
	<li><a href="{{LIEN}}desicsion" title="Améliorer sa capacité à prendre des décisions" target="_blank">Améliorer sa capacité à prendre des décisions</a></li>
	<li><a href="{{LIEN}}s-informer" title="S'informer adéquatement" target="_blank">S'informer adéquatement </a></li>
	<li><a href="{{LIEN}}sens-aux-etudes" title="Donner du sens à ses études" target="_blank">Donner du sens à ses études</a></li>
</ul>

<h2>Surmonter les obstacles</h2>
<ul>
	<li><a href="{{LIEN}}refus" title="Composer avec le refus" target="_blank">Composer avec le refus</a></li>
	<li><a href="{{LIEN}}panique" title="Éviter la panique en début d'études" target="_blank">Éviter la panique en début d'études</a></li>
	<li><a href="{{LIEN}}insouciance" title="Sortir de l'insouciance" target="_blank">Sortir de l'insouciance</a></li>
	<li><a href="{{LIEN}}remise-en-question" title="Sortir des remises en questions" target="_blank">Sortir des remises en questions</a></li>
	<li><a href="{{LIEN}}indecision" title="Sortir de l'indécision chronique" target="_blank">Sortir de l'indécision chronique</a></li>
	<li><a href="{{LIEN}}exclusion" title="Réagir à l'exclusion d'un programme d'études" target="_blank">Réagir à l'exclusion d'un programme d'études</a></li>
	<li><a href="{{LIEN}}rumeurs" title="Dépasser les rumeurs" target="_blank">Dépasser les rumeurs</a></li>
	<li><a href="{{LIEN}}crainte-marche-du-travail" title="Relativiser ses craintes face au marché du travail" target="_blank">Relativiser ses craintes face au marché du travail</a></li>
</ul>

<h2>Voir plus loin</h2>
<ul>
	<li><a href="{{LIEN}}appartenance" title="Développer un sentiment d'appartenance" target="_blank">Développer un sentiment d'appartenance</a></li>
	<li><a href="{{LIEN}}competence" title="Développer un sentiment de compétence" target="_blank">Développer un sentiment de compétence</a></li>
	<li><a href="{{LIEN}}monde" title="S'ouvrir sur le monde" target="_blank">S'ouvrir sur le monde</a></li>
	<li><a href="{{LIEN}}etudes-superieures" title="Envisager des études supérieures" target="_blank">Envisager des études supérieures</a></li>
	<li><a href="{{LIEN}}insertion" title="Planifier son intégration au marché du travail" target="_blank">Planifier son intégration au marché du travail</a></li>
</ul>