<blockquote>
	Seul l'inconnu épouvante les hommes. Et pour quiconque l'affronte, il n'est déjà plus l'inconnu.
	<cite>Antoine de Saint-Exupéry</cite>
</blockquote>
<p>
	Bravo, vous êtes admis, admise à l'université. Vos espoirs et vos rêves vont enfin pouvoir se concrétiser. Toutes ces nouveautés en perspective, c'est très excitant.
</p>
<p>
	En même temps, arriver à l'université et s'y adapter n'en demeure pas moins une étape à franchir. Il y a d'abord un certain déracinement et la nécessité de réorganiser plusieurs aspects de sa vie. Bien sûr, si vous êtes une étudiante ou un étudiant étranger, il est certain que le «déracinement » et la « réorganisation » prendront un sens différent pour vous et comporteront des exigences supplémentaires.
</p>
<p>
	Mais quelle que soit votre situation, voici quelques pistes pour vous assurer d'aller jusqu'au bout :
</p>
<nav>
	<ul>
		<li><a href="#inconnu" title="L'inconnu à apprivoiser">L'inconnu à apprivoiser</a></li>
		<li><a href="#amities" title="Des amitiés à nouer">Des amitiés à nouer</a></li>
		<li><a href="#equilibre" title="Un équilibre à garder">Un équilibre à garder</a></li>
		<li><a href="#milieu" title="Un milieu à explorer">Un milieu à explorer</a></li>
		<li><a href="#sens" title="Une ouverture à adopter">Un sens à donner</a></li>
		<li><a href="#ouverture" title="Une ouverture à adopter">Une ouverture à adopter</a></li>
		<li><a href="#methode" title="Des méthodes d'études à ajuster">Des méthodes d'études à ajuster</a></li>
		<li><a href="#temps" title="Du temps à se donner">Du temps à se donner</a></li>
	</ul>
</nav>
<img src="wp-content/uploads/2014/11/adapt1.jpg" alt="Premiers pas à l'université">
<section id="inconnu">
	<h1>L'inconnu à apprivoiser</h1>
	<p>
		Vous venez d'arriver dans un nouvel univers qui se présente d'abord à vous sous la forme de nombreux visages inconnus. Malgré cette foule, vous vous sentez pour le moment peut-être bien seul, seule. Si en plus vous avez quitté votre ville, votre famille et vos amis, il se peut que vous éprouviez de la nostalgie et que le soutien de vos proches vous manque beaucoup. Ne vous en faites pas trop, l'inconnu vous deviendra bientôt familier.
	</p>
	<p>
		Vous ne savez plus où donner de la tête? Il faut vous débrouiller sur un nouveau campus, dans une nouvelle ville, faire les repas, le ménage, le lavage, trouver un boulot, etc. C'est beaucoup... mais d'ici peu vous arriverez à bien maîtriser la situation et vous trouverez votre vitesse de croisière. N'oubliez pas cependant que vous devrez accorder plus de temps à vos études qu'auparavant. Si vous êtes inscrit, inscrite à temps plein, prévoyez un maximum de 10 à 15 heures par semaine pour votre emploi. En effet, les recherches menées sur ce sujet nous apprennent que le nombre d'échecs et d'abandons augmente considérablement au-delà de cette limite.
	</p>
</section>
<section id="amities">
	<h1>Des amitiés à nouer</h1>
	<p>
		Rapidement, vous constaterez que vous êtes plusieurs dans la même situation. Alors profitez-en! Avoir des amis et une vie sociale vous apportera du support, vous donnera accès à toutes sortes d'informations pertinentes et augmentera votre sentiment d'appartenance à votre programme et à votre faculté. Toutes ces nouvelles amitiés, c'est à la fois excitant et insécurisant. Au début, il peut être tentant de s'en tenir uniquement à son réseau habituel d'amis. Toutefois, pour bien vous adapter, vous gagnerez à faire rapidement de la place à ce nouvel entourage.
	</p>
</section>
<section id="equilibre">
	<h1>Un équilibre à garder</h1>
	<p>
		La tentation est grande de mettre les bouchées doubles et de se lancer à corps perdu dans le travail. Bien sûr, la priorité ira à vos études, mais vous aurez aussi intérêt à continuer à prendre soin de vous en répondant à l'ensemble de vos besoins intellectuels, affectifs, physiques et spirituels. Vous verrez, votre motivation et votre efficacité ne s'en porteront que mieux. Pensez-y en faisant votre horaire.
	</p>
</section>
<section id="milieu">
	<h1>Un milieu à explorer</h1>
	<p>
		Afin de profiter pleinement de votre séjour à l'université, offrez-vous dès votre arrivée une première exploration de cet univers. Plusieurs moyens sont à votre portée : les activités d'initiation, les « 5 à 7 », une visite guidée de la bibliothèque, « Rendez-vous Laval », etc. De plus, il existe des personnes-ressources qui pourront vous conseiller et s'avérer utiles en cas de difficultés : les membres du corps professoral, des directions de programme et des services aux étudiants. Renseignez-vous!
	</p>
	<p>
		Vous sentir à l'aise dans votre programme et dans votre faculté facilitera votre adaptation. Connaître les valeurs et les idéaux qui prévalent dans votre milieu, identifier les coutumes qui en constituent le patrimoine culturel, adhérer à des objectifs communs vous aideront en ce sens. Et puis rassurez-vous, vous imprégner de l'air ambiant ne vous empêchera nullement de développer votre couleur personnelle.
	</p>
</section>
<img src="wp-content/uploads/2014/11/adapt2.jpg" alt="pile de livres">
<section id="sens">
	<h1>Un sens à donner</h1>
	<p>
		Vous aviez l'habitude de passer d'un régime scolaire à un autre. Les études universitaires représentent la dernière étape avant la vie professionnelle. Il faut donc aborder vos études d'une façon différente en leur donnant un sens qui va au-delà des bons résultats scolaires. Avoir un « projet de formation » est un excellent moyen de vous engager dans vos études et de maintenir votre motivation.
	</p>
</section>
<section id="ouverture">
	<h1>Une ouverture à adopter</h1>
	<p>
		Vous vous dites peut-être : « enfin à l'université, je vais étudier dans le domaine que j'ai choisi ». Surprise! Certains cours ne vous intéressent pas de prime abord. C'est normal! Les programmes regroupent un ensemble de cours visant une formation générale qui permet de développer une capacité de jugement et d'analyse qui vous sera essentielle dans l'exercice de votre profession. Ne vous fermez surtout pas à de nouvelles connaissances qui vous semblent non pertinentes à première vue. Discutez-en avec vos professeurs, professeures et vos camarades de classe afin d'en saisir l'utilité.
	</p>
</section>
<section id="methode">
	<h1>Des méthodes d'études à ajuster</h1>
	<p>
		Comme la majorité des étudiants et des étudiantes qui entrent à l'université, vous avez déjà acquis des habitudes et des méthodes de travail. Toutefois, quelques ajustements pourront s'avérer nécessaires. En effet, vous devrez faire face à des styles pédagogiques variés, à une augmentation de la charge de travail et à une complexité accrue des matières.
	</p>
	<p>
		Pour bien mettre au point votre méthode d'étude, il existe plusieurs possibilités : <a href="{{LIEN}}apprentissage-reussite" target="_blank">les conseils d'étude</a>, les ateliers et les exposés « <a href="{{LIEN}}cles-reussite" target="_blank">Les clés de la réussite</a> », <a href="{{LIEN}}apprentissage-reussite" target="_blank">les Guides sur les stratégies d'études</a>, l'auto-évaluation de ma méthode d'étude et des rencontres individuelles avec des psychologues.
	</p>
</section>
<section id="temps">
	<h1>Du temps à se donner</h1>
	<p>
		Votre adaptation à l'université ne se fera pas en une nuit. Il est possible que vous ressentiez du stress, de la nostalgie et que vous ayez des doutes sur vos capacités ou vos choix. Donnez-vous du temps. Bientôt, vous saurez mieux quoi faire et comment le faire.
	</p>
	<p>
		Selon vos expériences et votre réalité antérieures, votre adaptation sera rapide ou graduelle. Elle peut même se prolonger si les changements à effectuer touchent toutes les dimensions de votre vie (par exemple, arriver de l'étranger). Respectez votre rythme. Toutefois, si des difficultés persistent ou si vous souhaitez faire le point sur votre situation, n'hésitez pas à consulter le personnel (conseillers, conseillères d'orientation, psychologues) du Centre d'aide aux étudiants.
	</p>
</section>
<footer>
	<h2>Rédigé par :</h2>
	<p>
		Anne-Louise Fournier, psychologue<br>
		Louise Turgeon, conseillère d'orientation
	</p>
</footer>