<p>
	Ce menu dans le section <a href="{{LIEN}}orientation" title="Orientation" target="_blank">Orientation</a> comporte les textes suivant:
</p>
<ul>
	<li><a href="{{LIEN}}appartenance" title="Développer un sentiment d'appartenance" target="_blank">Développer un sentiment d'appartenance</a></li>
	<li><a href="{{LIEN}}competence" title="Développer un sentiment de compétence" target="_blank">Développer un sentiment de compétence</a></li>
	<li><a href="{{LIEN}}monde" title="S'ouvrir sur le monde" target="_blank">S'ouvrir sur le monde</a></li>
	<li><a href="{{LIEN}}etudes-superieures" title="Envisager des études supérieures" target="_blank">Envisager des études supérieures</a></li>
	<li><a href="{{LIEN}}insertion" title="Planifier son intégration au marché du travail" target="_blank">Planifier son intégration au marché du travail</a></li>
</ul>