<blockquote>
	Accepter ce qui ne dépend pas de nous, cela dépend de nous !
	<cite>André Comte-Sponville</cite>
</blockquote>
<p>
	Si vous faites partie des très nombreuses personnes qui chaque année font face à un refus d'admission à un programme contingenté, vous avez probablement intérêt à prendre connaissance de ces propos. Bien sûr, cette expérience varie dans sa nature et dans son intensité et est vécue différemment selon les individus. Cependant, même si le degré de difficultés rencontrées est très variable, il n'en demeure pas moins que pour plusieurs, vivre un refus a toutes les caractéristiques d'un choc et doit être abordé comme tel.
</p>
<nav>
	<ul>
		<li><a href="#refus" title="L'expérience d'un refus">L'expérience d'un refus</a></li>
		<li><a href="#reagir" title="Réagir">Réagir</a></li>
		<li><a href="#conclusion" title="Conclusion">Conclusion</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="refus">
	<h1>L'expérience d'un refus</h1>
	<h2>Faire face à la réalité</h2>
	<p>
		Être refusée ou refusé, c'est d'abord rencontrer une limite dans l'atteinte des objectifs que l'on poursuit. Il est probable que jusqu'ici, du moins au plan scolaire, vos efforts ont été récompensés. Et voilà que cette fois, « le système » s'interpose entre vous et ce que vous désirez faire dans la vie, vous plaçant ainsi contre votre gré devant l'obligation de faire un autre choix. Évidemment, si vous rêviez depuis longtemps de devenir pharmacienne ou enseignant, si vous étiez convaincu ou convaincue que ce choix vous convenait parfaitement et aviez presque la certitude d'être admis ou admise, cette contrainte sera d'autant plus difficile à accepter. Mais quelle que soit votre situation, il y a fort à parier que prendre une autre direction n'aura rien de bien tentant...
	</p>
	<h2>Assumer les conséquences</h2>
	<p>
		Être refusée ou refusé, c'est aussi composer avec les conséquences qui en découlent. D'abord, c'est la perte, dans l'immédiat, d'un certain statut social et des avantages qui l'accompagnent (reconnaissance, prestige, etc.). Devoir se dire : « Je ne serai pas étudiante en droit » ou « je ne serai pas étudiant en physiothérapie », du moins pas cette année, c'est dérangeant et insécurisant. L'impression de perdre du temps et d'être désorganisé ou désorganisée peut aussi vous habiter : « Qu'est-ce qui va m'arriver ? ». Parfois, c'est la fierté, l'estime ou l'image de soi qui peuvent être sérieusement égratignées au passage, et ce, surtout si vous avez interprété ce refus comme un échec. Pour d'autres, il s'agira également de reconnaître avoir mal travaillé ou de s'être trop impliqué ou impliquée dans les activités parascolaires et savoir se le pardonner. Il n'est donc pas surprenant alors que cette expérience vous amène à éprouver de la frustration, de la déception, de la colère, de la tristesse ; comme il n'est pas surprenant non plus que vous puissiez souhaiter très fort, intérieurement, que ce refus n'ait jamais été formulé...
	</p>
</section>
<section id="reagir">
	<h1>Réagir</h1>
	<h2>Briser l'isolement</h2>
	<p>
		En pareil moment, il est important de résister à la tentation de garder le silence sur ce qui vous arrive. Discutez de votre situation avec des personnes en qui vous avez confiance : vous vous sentirez moins seule ou seul et cela vous permettra d'apprivoiser peu à peu cette réalité éprouvante et face à laquelle vous devez réagir même si le coeur n'y est pas... Ces échanges vous aideront à voir plus clair en vous-même et à prendre ainsi de meilleures décisions.
	</p>
	<h2>Évaluer concrètement votre situation</h2>
	<p>
		Dans les décisions que vous devez prendre, il est primordial de tenir compte de certaines réalités universitaires qui sont incontournables. À ce sujet, si vous n'êtes pas déjà en possession de ces informations, il vous faut connaître <strong>votre cote de rendement collégial</strong> ou <strong>votre cote de rendement Laval</strong>, <strong>les critères utilisés</strong> lors du processus d'admission, de même que le <strong>rang</strong> que vous occupez dans l'ensemble des candidatures. Ces données vous serviront de base dans l'évaluation des divers scénarios qui s'offrent à vous.
	</p>
	<h2>Explorer tous les scénarios</h2>
	<p>
		Même si souvent vous êtes dans l'obligation de faire vite, il demeure important de bien considérer toutes les hypothèses possibles. « Hâtez-vous lentement » résume assez bien l'attitude qu'il est souhaitable de prendre en ces circonstances. Ainsi, en tenant compte de l'ensemble de vos caractéristiques personnelles et des éléments de votre réalité, vous avez avantage à vous accorder le temps nécessaire pour bien explorer les différentes alternatives suivantes :
	</p>
	<p>
		<h2>&#9632; Faire une nouvelle demande d'admission dans le même programme.</h2>
	</p>
	<p>
		Vous pouvez faire un choix ayant comme objectif d'être acceptée ou accepté lors d'une nouvelle demande d'admission dans le programme où vous avez été refusée ou refusé. Pour cette option, votre première préoccupation sera évidemment <strong>d'améliorer votre dossier scolaire</strong> puisque, même s'il est déjà probablement très bon, votre candidature n'a pas été retenue. Dans ce cas, votre stratégie sera de débuter un programme transitoire. Pour bien choisir ce programme, vous devrez alors tenir compte de divers éléments tels vos aptitudes, vos intérêts et vos acquis antérieurs, puisque la motivation et le plaisir d'étudier dans une discipline pour laquelle on éprouve de l'attrait jouent un rôle important au plan de la performance. Vous devrez également considérer les règles d'admission et les nouvelles données qui s'appliqueront lors de votre prochaine demande car si vous fréquentez l'Université Laval, vous serez désormais un candidat ou une candidate en changement de programme. Bien sûr, même en procédant de cette manière et en mettant toutes les chances de votre côté, personne ne pourra vous offrir de garanties absolues sur votre admission au programme convoité. Il vous faut donc évaluer les risques quant au temps à investir et à la performance à atteindre. Cette option étant de toute façon la plus complexe, il est souvent plus avisé de consulter.
	</p>
	<p>
		<h2>&#9632; Prendre une autre route.</h2>
	</p>
	<p>
		Vous pouvez également faire un choix dont le premier critère serait de vous permettre de vous retrouver à plus long terme dans un emploi qui répondrait à vos attentes. Par exemple, vous avez été refusée ou refusé en ergothérapie, vous choisissez maintenant, après mûre réflexion, de devenir enseignant ou enseignante au primaire, travailler avec les enfants étant ce qui vous tient le plus à coeur. En somme, vous prenez une autre route qui vous assure de vous réaliser, en acceptant qu'il vous faudra du temps pour être complètement à l'aise avec cette décision. Tourner la page est presque toujours très difficile.
	</p>
	<p>
		<h2>&#9632; Trouver le meilleur compromis.</h2>
	</p>
	<p>
		Vous pouvez aussi opter pour la voie du meilleur compromis, c'est-à-dire tenter de concilier les deux buts précédents. Cela revient à faire un choix qui vous apparaît satisfaisant à plus long terme et qui semble vous offrir néanmoins de bonnes possibilités d'améliorer votre dossier scolaire en vue d'une nouvelle demande d'admission dans le programme où vous avez été refusé ou refusée. Dans ce scénario, comme dans tout compromis, il y a une part de renoncement. Par contre, il vous assure la possibilité d'avancer dans une direction qui a du sens pour vous et de poursuivre vos études sans avoir perdu temps et énergie si vous ne parvenez pas à obtenir les notes nécessaires pour être admis ou admise dans le programme correspondant à votre premier choix.
	</p>
	<p>
		<h2>&#9632; Retarder la décision à prendre.</h2>
	</p>
	<p>
		Vous pouvez enfin choisir de retarder la décision à prendre et d'utiliser ce temps pour diversifier vos expériences, améliorer vos compétences, explorer de nouvelles réalités, etc. Autrement dit, vous faites une pause avec l'intention de repartir dans la meilleure direction possible.
	</p>
	<p>
		Comme vous venez de le constater, plusieurs options s'offrent à vous, chacune étant porteuse d'avantages et d'inconvénients. Pour finaliser votre décision, vous avez donc intérêt à analyser toutes ces options, afin de privilégier celle qui sera la plus pertinente pour vous. Rappelez-vous cependant que dans toute prise de décision demeurent des incertitudes, même si vous avez très bien réfléchi. Souvenez-vous également qu'un choix professionnel est un moyen de réalisation et non une fin en soi. Concrètement, cela signifie que les buts que vous désirez atteindre, que ce soit le bonheur, le succès, l'aide aux autres, le prestige ou la reconnaissance, <strong>vous appartiennent et restent toujours accessibles par d'autres voies.</strong>
	</p>
</section>
<section id="conclusion">
	<h1>Conclusion</h1>
	<p>
		Enfin, en guise de conclusion, voici un petit conte plein de sagesse qui alimentera votre réflexion.
	</p>
	<blockquote>
	<p>
		Un vieil homme et son fils s'occupaient d'une petite ferme. Ils n'avaient qu'un seul et unique cheval pour tirer la charrue. Un jour, le cheval s'enfuit. Les voisins les plaignirent : « C'est affreux. Quelle malchance ! ».
	</p>
	<p>
		« Qui sait s'il s'agit ou non de malchance », répliqua le fermier.
	</p>
	<p>
		Une semaine plus tard, le cheval revint des montagnes, ramenant avec lui cinq juments dans la grange. « Quelle chance extraordinaire ! » s'exclamèrent les voisins.
	</p>
	<p>
		« Chance ? Malchance ? Qui sait ? » répondit le vieil homme.
	</p>
	<p>
		Le lendemain, alors qu'il essayait de dompter l'un des chevaux, le fils tomba et se cassa la jambe. « C'est terrible. Quelle malchance ! »
	</p>
	<p>
		« Malchance ? Chance ? »
	</p>
	<p>
		Quelque temps après, l'armée passa dans toutes les fermes enrôler de jeunes hommes pour la guerre. Le fils du fermier ne leur était d'aucune utilité, il fut donc épargné.
	</p>
	<p>
		« Chance ? Malchance ? »
	</p>
	</blockquote>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		HAMEL, Henri, TREMBLAY, Daniel, TURGEON, Louise. « Aux prises avec le contingentement universitaire : une étude phénoménologique », Revue québécoise de psychologie, vol. 16, no 1, 1995, p. 25-37. 
	</cite></p>
	<p><cite>
		HAMEL, Henri, TREMBLAY, Daniel, TURGEON, Louise. « L'expérience d'être aux prises avec le contingentement universitaire : l'intervention ». Conférence présentée dans le cadre du colloque de l'O.P.C.C.O.Q., 1995.
	</cite></p>
</section>
<section id="complementaire">
	<h1>Contenu complémentaire</h1>
	<p><cite>
		VIORST, Judith. » Les renoncements nécessaires », Robert Laffont, Paris, 1988. 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Louise Turgeon, conseillère d'orientation
	</p>
</footer>