<p>
	Dans la vie de tous les jours, nous sommes exposés et exposées à des masses d'informations sollicitant notre jugement. Devant tant d'informations à traiter, il peut être tentant, parfois même reposant, de donner du crédit à ce que l'on entend autour de nous, en provenance de proches, d'amis, de la télévision, etc. Si ces renseignements peuvent à l'occasion apporter des éléments utiles, un peu plus de vigilance s'impose lorsqu'il s'agit de votre avenir professionnel. Pourquoi ?
</p>
<ul>
	<li>
		L'information glanée peut être très partielle ou refléter des généralités qui ne répondent pas à votre besoin <i>(ex. : <q>en administration, on fait seulement du travail de bureau</q>)</i>.
	</li>
	<li>
		L'information peut être teintée par les perceptions ou expériences subjectives des autres, qui ne seraient pas nécessairement les vôtres dans les mêmes circonstances <i>(ex. : <q>Ne suis pas tel cours, le prof est trop exigeant</q>). 
	</li>
	<li>
		L'information peut être fausse.
	</li>
</ul>
<p>
	En prenant conscience des motifs qui peuvent vous amener à vous fier aux rumeurs, vous pourrez éviter quelques pièges dans vos prises de décision.
</p>
<nav>
	<ul>
		<li><a href="#fier" title="Ce qui peut pousser à se fier aux rumeurs">Ce qui peut pousser à se fier aux rumeurs</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>
<section id="fier">
	<h1>Ce qui peut pousser à se fier aux rumeurs</h1>
	<ul>
		<li>
			De façon générale, la grande majorité des gens ont tendance à accepter les informations qui les servent et à rejeter celles qui les défavorisent. Dans ce contexte, les rumeurs sont souvent utilisées pour <strong>confirmer vos propres perceptions</strong>, ce qui permet ensuite de justifier votre action ou votre inaction. 
		</li>
		<li>
			Prendre une décision hâtive à partir de ces sources peut aider à <strong>calmer temporairement l'anxiété</strong>, au risque de le regretter plus tard. 
		</li>
		<li>
			Se fier aux ouï-dire demande peu d'efforts, mais, sans s'en rendre compte, ne remettez-vous pas ainsi la responsabilité de votre choix entre les mains des autres ? Cette <strong>façon subtile de vous déresponsabiliser</strong> permettra par la suite de blâmer plus facilement quelqu'un d'autre, si votre décision s'avère mauvaise.
		</li>
		<li>
			Finalement, il se pourrait tout simplement que <strong>vous vous sentiez malhabile à pousser plus loin votre recherche d'information</strong> parce que vous ne savez pas comment chercher ni comment organiser l'information que vous récoltez.  Pour de l'aide sur la façon de recueillir et de traiter vos informations, voir le texte : <a href="{{LIEN}}s-informer" title="S'informer adéquatement" target="_blank">S'informer adéquatement</a>
		</li>
	</ul>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		Robidoux, Manon et St-Louis, Maurice. Élaboration et prestation de services d'information scolaire et professionnelle. Atelier présenté au Colloque de l'OCCOPPQ, mai 2001 (document non publié). 
	</cite></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		France Lehoux, conseillère d'orientation
	</p>
</footer>