<blockquote>
	Ce qu'on rencontre dans la vie est la destinée. La façon dont on la rencontre est l'effort personnel.
	<cite>Sathya Sai Baba</cite>
</blockquote>
<p>
	Une fois le processus des études universitaires engagé, la perception que vous avez de votre programme et de vous-même dans ce programme va nécessairement se transformer. Des questionnements surgiront. Vous aurez besoin, de temps à autre, d'informations additionnelles sur votre champ d'études ou sur d'autres domaines, ainsi que sur les professions et le marché de l'emploi.
</p>
<p>
	L'information disponible sur les formations et les professions apporte des éléments nouveaux et utiles dans la prise de décisions. Si on peut se réjouir de l'abondance des renseignements disponibles et de la multitude des sources, il en découle par contre fréquemment une difficulté à organiser ses recherches. Cette difficulté peut éveiller un vague sentiment d'incompétence et rendre rébarbatif à l'exploration. Par conséquent, plusieurs étudiantes et étudiants tendent à escamoter cette tâche ou à l'amorcer au dernier moment, ce qui risque de fragiliser les assises de leurs décisions. Il est toutefois possible de modifier cette attitude et de rendre cette expérience positive.
</p>
<nav>
	<ul>
		<li><a href="#attitude" title="Développer des attitudes facilitantes">Développer des attitudes facilitantes</a></li>
		<li><a href="#action" title="Passer à l'action">Passer à l'action</a></li>
		<li><a href="#personnaliser" title="Personnaliser l'information">Personnaliser l'information</a></li>
		<li><a href="#references" title="Références">Références</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="attitude">
	<h1>Développer des attitudes facilitantes</h1>
	<ol>
		<li>
			Prenez l'habitude de vous impliquer activement et d'initier des démarches, au lieu d'attendre que l'information vienne à vous. Cela peut sembler évident, mais il ne faut pas oublier que la recherche d'informations demande du temps et des efforts. Avoir une attitude pro-active vous permettra de mieux intégrer l'information et vous apportera le sentiment de prendre en charge votre projet d'études.
		</li>
		<li>
			Abordez votre recherche dans un esprit d'ouverture, en essayant de ne pas censurer trop rapidement ce que vous découvrez. Cette ouverture créera un espace intérieur pour considérer la nouvelle information ou découvrir de nouvelles avenues. Tant d'étudiantes et d'étudiants ne s'en tiennent qu'aux seules options connues !
		</li>
		<li>
			Finalement, essayez de développer votre capacité à tolérer temporairement la confusion. En demeurant en état de recherche malgré l'incertitude, vous éviterez de prendre des décisions hâtives à partir d'informations incomplètes et vous vous donnerez la chance d'introduire des nuances dans la vision que vous avez des professions ou dans l'image que vous avez de vous-même.
		</li>
	</ol>
</section>
<section id="action">
	<h1>Passer à l'action</h1>
	<p>
		Agir suppose en premier lieu d'identifier votre besoin. Qu'est-ce que vous cherchez et pourquoi ? Par exemple, souhaitez-vous identifier les qualités requises pour exercer telle profession ? Explorer les champs de spécialisation dans votre domaine ? Ou explorer des disciplines totalement différentes pour vérifier si vous n'y seriez pas plus à l'aise ?
	</p>
	<p>
		Il s'agira ensuite de faire l'inventaire des sources pouvant vous apporter des éléments de réponse, pour en privilégier quelques-unes : livres, revues professionnelles, sites Internet spécialisés, étudiantes ou étudiants plus avancés, professeurs et professeures, directeurs et directrices de programme, diplômées et diplômés en contexte de travail, conseillers et conseillères d'orientation, etc. La consultation de sources variées et crédibles apportera un point de vue plus nuancé et plus réaliste.
	</p>
	<p>
		Si vous avez besoin d'informations objectives sur l'inscription, l'admission, les changements de programme, il faudra se référer aux instances universitaires concernées (Bureau du registraire et directions de programmes) ou aux documents disponibles (règlement des études, horaire des cours, répertoire des programmes, etc.).
	</p>
</section>
<section id="personnaliser">
	<h1>Personnaliser l'information</h1>
	<p>
		Pour que l'information demeure pertinente et vous aide dans votre prise de décisions, il est primordial de vous l'approprier et de la contextualiser en fonction de vos caractéristiques personnelles, de vos valeurs, de vos aspirations. Prenez le temps d'identifier ce que vous ressentez au contact des réalités professionnelles considérées. Ainsi, l'exploration vous permettra de faire des liens entre l'information et ce qui a de la valeur pour vous.
	</p>
	<p>
		Cet aller-retour constant entre ce que vous découvrez et ce que vous êtes est essentiel pour connaître et reconnaître ce que peut vous offrir la formation ou le milieu professionnel.
	</p>
	<p>
		Ne tombez pas dans le piège en espérant le coup de foudre à la lecture d'informations, mais essayez plutôt de donner vie à ce que vous lisez. Cela est plus facile à faire lorsque vous avez déjà précisé ce que vous êtes et ce que vous recherchez.
	</p>
</section>
<section id="references">
	<h1>Références</h1>
	<p><cite>
		Robidoux, Manon et St-Louis, Maurice. Élaboration et prestation de services d'information scolaire et professionnelle. Atelier présenté au Colloque de l'OCCOPPQ, mai 2001 (document non publié).
	</cite></p>
</section>
<section id="complementaire">
	<h1>Contenu complémentaire</h1>
	<p>
		<a href="{{LIEN}}rumeurs" title="Dépasser les rumeurs" target="_blank">Dépasser les rumeurs</a>
	</p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		France Lehoux, conseillère d'orientation
	</p>
</footer>