<blockquote>
	La personne qui a un pourquoi peut répondre à presque tous les comment.
	<cite>Nietzche</cite>
</blockquote>
<nav>
	<ul>
		<li><a href="#pourquoi" title="Pourquoi suis-je à l'université ?">Pourquoi suis-je à l'université ?</a></li>
		<li><a href="#situation" title="Comment comprendre votre situation ?">Comment comprendre votre situation ?</a></li>
		<li><a href="#demarche" title="Vivre une démarche de connaissance">Vivre une démarche de connaissance</a></li>
		<li><a href="#developpement" title="Se donner une occasion de développement">Se donner une occasion de développement</a></li>
		<li><a href="#avenir" title="S'outiller pour l'avenir">S'outiller pour l'avenir</a></li>
		<li><a href="#plaisirs" title="Partager des plaisirs">Partager des plaisirs</a></li>
		<li><a href="#complementaire" title="Contenu complémentaire">Contenu complémentaire</a></li>
	</ul>
</nav>
<section id="pourquoi">
	<h1>Pourquoi suis-je à l'université ?</h1>
	<p>
		Plusieurs réponses vous viennent peut-être en tête à la lecture de cette question. En effet, les motivations possibles pour fréquenter l'université sont nombreuses et varient beaucoup d'une personne à l'autre. Certaines motivations reposent sur des éléments intérieurs <i>(ex. : <q>je suis très intéressée par la discipline que j'ai choisie et je veux en savoir toujours plus</q> )</i>, alors que d'autres tiennent à des conditions extérieures <i>(ex. : <q>je veux avoir un bon salaire</q> )</i>. Bien sûr, les motifs de votre séjour à l'université vous appartiennent. Par ailleurs, il se peut que vous ayez de la difficulté à formuler une réponse à cette question, peut-être parce que vous n'y avez pas encore réfléchi ou encore que vous ne le sachiez vraiment pas pour le moment. Mais quelle que soit votre situation, vous vous reconnaîtrez sans doute dans l'un ou plusieurs des énoncés suivants :
	</p>
	<ul>
		<li>
			Je me sens bien à l'université. C'est une belle opportunité pour moi d'apprendre, de m'accomplir et de vivre des expériences enrichissantes et variées.
		</li>
		<li>
			Je prépare mon futur. Je suis là par choix pour atteindre mes objectifs professionnels : avoir un travail intéressant, de bonnes conditions de vie, de la sécurité, etc.
		</li>
		<li>
			Être à l'université, cela fait partie de l'image que j'ai de moi. C'est une norme personnelle que je me suis fixée : je dois me prouver que je suis capable de réussir. De plus, je me sentirais coupable si je n'avais pas atteint ce niveau. 
		</li>
		<li>
			Il le faut bien. C'est la suite logique. Tout le monde est d'accord qu'il vaut mieux avoir un diplôme universitaire pour se tirer d'affaire dans la vie. C'est un mal nécessaire, quoi.
		</li>
		<li>
			Je ne sais pas trop bien pourquoi je suis là. Je n'arrive pas vraiment à me sentir concerné ou concernée. En fait, je me sens plutôt étranger, étrangère à ce qui se passe.
		</li>
	</ul>
</section>
<section id="situation">
	<h1>Comment comprendre votre situation ?</h1>
	<p>
		Si vous vous reconnaissez dans le premier énoncé, tant mieux. On peut dire que vos motivations ont des assises profondes et que votre séjour à l'université revêt un sens bien personnel pour vous. Vous vous sentez, dans ce milieu, comme un poisson dans l'eau. C'est sûr qu'au cours de votre formation universitaire, vous pourriez de temps en temps perdre de vue ce qui vous habite, mais ces périodes nuageuses ne devraient pas durer très longtemps...
	</p>
	<p>
		Si vous avez choisi le deuxième énoncé, c'est probablement que vous accordez beaucoup d'importance à ce que vous souhaitez réaliser sur le marché du travail. C'est déjà un motif très stimulant. Cependant, rien ne vous empêche de diversifier vos motivations; vos années à l'université ne s'en verront qu'enrichies. En ce sens, le premier énoncé pourrait vous donner des idées.
	</p>
	<p>
		Si vous vous sentez surtout concernée ou concerné par le troisième énoncé, vous tenez entre vos mains un outil à double tranchant. En effet, si vous réussissez bien dans vos études, votre confiance en vous en sera augmentée. Vous vous sentirez valorisée ou valorisé. Mais si vous vivez des échecs, c'est le contraire qui pourrait se produire. Il vous sera alors difficile de ne pas vous dévaloriser.
	</p>
	<p>
		Si vous vous situez dans les derniers énoncés, vous risquez de vous décourager et peut-être même d'abandonner vos études. Il est donc important de ne pas demeurer trop longtemps dans cette situation, en prenant les moyens nécessaires pour que votre vie étudiante prenne de la valeur à vos yeux.
	</p>
	<p>
		Bien entendu, il n'y a pas de recette miracle pour donner plus de pertinence à votre séjour à l'université. Mais peu importe où vous vous situez présentement (votre position peut évidemment fluctuer au cours de votre formation), si vous vous arrêtez sur l'ensemble de votre expérience d'être une étudiante ou un étudiant universitaire, vous découvrirez qu'elle peut être significative à bien des égards.
	</p>
</section>
<section id="demarche">
	<h1>Vivre une démarche de connaissance</h1>
	<p>
		Étudier à l'université, c'est d'abord vivre une démarche de connaissance : non seulement dans le sens des connaissances utiles pour bien maîtriser les contenus de votre futur domaine professionnel, mais aussi dans le sens de la découverte intellectuelle, du bonheur de comprendre, de la recherche de réponses à vos questions existentielles. La connaissance, c'est comme un réservoir où se développe votre capacité à porter des jugements. C'est aussi un bagage qui vous fournit d'excellents outils pour la conduite de votre vie. Cela représente donc plus d'autonomie, plus de liberté, plus de pouvoir pour mieux déterminer vos comportements. La preuve n'en est-elle pas que si l'on veut garder quelqu'un dans la soumission, on le garde dans l'ignorance ?
	</p>
	<p>
		Divers moyens sont susceptibles de vous mettre davantage en contact avec les joies de la connaissance. Par exemple, identifiez ce que vous avez du plaisir à apprendre et nourrissez cet intérêt. Au lieu de vous en tenir à apprendre une matière, essayez de la comprendre pour être en mesure de faire des liens entre ses différents aspects. Progressivement, vous découvrirez ainsi le plaisir de développer une vision globale de votre domaine. Utiliser vos connaissances en dehors des cours aussi souvent que possible pourrait également s'avérer une bonne façon de mieux les intégrer.
	</p>
</section>
<section id="developpement">
	<h1>Se donner une occasion de développement</h1>
	<p>
		L'expérience d'étudier à l'université, c'est aussi se donner une occasion de développement à travers les défis à relever et les compétences à améliorer ou à acquérir. On peut à cet égard penser au travail en équipe, à l'analyse d'un problème complexe, à la mise en application de certaines qualités personnelles telles la discipline, la persévérance et le sens de l'effort, habiletés et qualités que vous pourrez utiliser dans des aspects très diversifiés de votre vie.
	</p>
	<p>
		Donc, si l'accomplissement vous intéresse... et que vous souhaitez avancer dans cette direction, vous pourriez par exemple effectuer de temps à autre des retours sur votre expérience, sous forme de bilans personnels. Ces bilans vous permettraient de reconnaître vos acquis de même que d'identifier d'autres tâches à maîtriser, deux pratiques efficaces pour votre développement. D'autres voies sont également intéressantes comme participer à divers types d'activités, tenter de nouvelles expériences en prenant des risques calculés, adopter une attitude d'ouverture. Bien entendu, cette liste n'est pas exhaustive mais seulement un bon point de départ...
	</p>
</section>
<section id="avenir">
	<h1>S'outiller pour l'avenir</h1>
	<p>
		Faire des études universitaires, c'est aussi se doter d'un instrument fort adéquat pour vous préparer des lendemains meilleurs. Elles vous permettront de dénicher un emploi intéressant, non seulement au plan des revenus et des conditions générales, mais également au plan des possibilités de développement global que cet emploi vous offrira. En ce sens, plus vous parviendrez à concrétiser votre projet professionnel, plus votre motivation aura des racines solides.
	</p>
</section>
<section id="plaisirs">
	<h1>Partager des plaisirs</h1>
	<p>
		Que dire enfin de ces expériences vécues à l'université et qui sont une valeur ajoutée à la qualité de la vie quotidienne ! Pensons seulement ici au plaisir de partager votre passion pour une discipline avec vos collègues, d'écouter un conférencier stimulant, de remettre un travail dont vous êtes très fier ou fière, ou encore à la satisfaction de vivre de belles rencontres dont certaines se transformeront en amitiés profondes.
	</p>
	<p>
		Eh oui ! c'est tout cela donner du sens à vos études, toutes ces significations étant de nature à donner davantage de valeur à votre formation et à alimenter ainsi votre motivation.
	</p>
</section>
<section id="complementaire">
	<h1>Contenu complémentaire</h1>
	<p><a href="{{LIEN}}motivation" title="La motivation" target="_blank">La motivation</a></p>
</section>
<footer>
	<h2>Rédiger par :</h2>
	<p>
		Louise Turgeon, conseillère d'orientation
	</p>
</footer>