<p>
	Ce menu dans le section <a href="{{LIEN}}orientation" title="Orientation" target="_blank">Orientation</a> comporte les textes suivant:
</p>
<ul>
	<li><a href="{{LIEN}}refus" title="Composer avec le refus" target="_blank">Composer avec le refus</a></li>
	<li><a href="{{LIEN}}panique" title="Éviter la panique en début d'études" target="_blank">Éviter la panique en début d'études</a></li>
	<li><a href="{{LIEN}}insouciance" title="Sortir de l'insouciance" target="_blank">Sortir de l'insouciance</a></li>
	<li><a href="{{LIEN}}remise-en-question" title="Sortir des remises en questions" target="_blank">Sortir des remises en questions</a></li>
	<li><a href="{{LIEN}}indecision" title="Sortir de l'indécision chronique" target="_blank">Sortir de l'indécision chronique</a></li>
	<li><a href="{{LIEN}}exclusion" title="Réagir à l'exclusion d'un programme d'études" target="_blank">Réagir à l'exclusion d'un programme d'études</a></li>
	<li><a href="{{LIEN}}rumeurs" title="Dépasser les rumeurs" target="_blank">Dépasser les rumeurs</a></li>
	<li><a href="{{LIEN}}crainte-marche-du-travail" title="Relativiser ses craintes face au marché du travail" target="_blank">Relativiser ses craintes face au marché du travail</a></li>
</ul>