<p>
	Le Centre d'aide aux étudiants de l'Université Laval est une unité de la <a href="http://www.dse.ulaval.ca" target="_blank" title="Direction des services aux étudiants">Direction des services aux étudiants.</a>
</p>
<p>
	Son mandat :
</p>
<blockquote>
	Offrir une assistance directe et indirecte au développement normal de l'étudiant dans le cheminement qu'il est venu faire à l'Université et dans les crises qui surgissent dans ce processus, en collaboration avec les autres composantes de l'Université.<cite> (U-76-76)</cite>
</blockquote>
<p>
	Nous vous souhaitons une bonne visite de notre site web.
</p>