<h1>Bienvenue sur le site du Centre d'aide aux étudiants de l'Université Laval</h1>
<p>
	Notre site Web vous offre de l'information sur des sujets touchant quatre secteurs d'aide pour vous conseiller dans votre cheminement universitaire :
</p>
<ul>
	<li><span>Orientation</span></li>
	<li><span>Apprentissage et réussite</span></li>
	<li><span>Psychologie</span></li>
	<li><span>Soutien aux étudiants en situation de handicap</span></li>
	</li>
</ul>
<p>
	Vous trouverez dans chacune de ces sections une grande quantité d'informations, des articles détaillés, des trucs et des suggestions pour alimenter votre réflexion ou vous aider à résoudre vos difficultés. Vous trouverez aussi sur ce site des ressources générales constamment disponibles (menu de gauche) vous informant de nos activités et répondant à vos questions sur nos services.
</p>
<p>Bonne visite!</p>
<h2>À SIGNALER :</h2>
<p>
	<strong>Exposé : </strong>L’emploi à l’international : Première expérience à l’étranger? Faites les bons choix et préparez-vous à partir.<time datetime="2014-11-10 11:30"> Lundi 10 novembre 2014, de 11h30 à 13h, local 3105, Maurice Pollack.</time>
</p>
<p>
	<strong>Exposé : </strong>Bien vivre le stress : des moyens concrets pour favoriser une bonne gestion de son stress.<time datetime="2014-11-11 11:30"> Mardi 11 novembre 2014, de 11h30 à 12h20, local 3B, De Koninck.</time>
</p>
<p>
	<strong>Exposé : </strong>Améliorer mes exposés oraux : la préparation du contenu et les techniques oratoires.<time datetime="2014-11-12 11:30"> Mercredi 12 novembre 2014, de 11h30 à 12h20, local 3B, De Koninck.</time>
</p>
<p>
	<strong>Atelier : </strong>Présentation devant public : comment gérer mon trac.<time datetime="2014-11-12 14:00">Mercredi 12 novembre 2014, de 14h à 16h, local 3344, Alphonse-Desjardins.</time><time datetime="2014-11-07"><strong class="underline">
	<br>
	Date limite d’inscription : </strong>Vendredi 7 novembre 2014</time>
</p>
<p>
	<strong>Atelier : </strong>En apprendre davantage sur soi par l’utilisation d’un indicateur typologique, le MBTI. (Atelier de groupe de 10 personnes). 1re étape : Passation individuelle, lundi 10 novembre au mardi 18 novembre 2014 au Centre d’aide aux étudiants, au local 2121, Maurice Pollack. 2e étape : Remise des résultats et interprétation (en groupe), <time datetime="2014-11-20 09:00">jeudi 20 novembre 2014, de 9h à 12h, local 3342, Alphonse-Desjardins.</time><time datetime="2014-11-07"><strong class="underline">
	<br>
	Date limite d’inscription : </strong>Vendredi 7 novembre 2014</time>
</p>
<p>
	Lien vers le site d'informations scolaires et professionnelles Repères :
</p>
<a href="{{LIEN}}reperes" title="Lien vers Repères">
	<img src="wp-content/uploads/2014/11/reperes_logo.gif" alt="Repères">
</a>