<nav>
	<ul>
		<li><a href="#heures-ouverture" title="Heures d'ouverture">Heures d'ouverture</a></li>
		<li><a href="#nous-joindre" title="Pour nous joindre">Pour nous joindre</a></li>
		<li><a href="http://www.ulaval.ca/Al/interne/plan/" title="Plan du campus" target="_blank">Plan du campus</a></li>
		<li><a href="#equipe" title="L'équipe">L'équipe</a></li>
	</ul>
</nav>
<section id="heures-ouverture">
	<h1>Heures d'ouverture</h1>
	<p>Lundi au vendredi de 8 h 30 à midi et de 13 h 30 à 17 h</p>
</section>
<section id="nous-joindre">
	<h1>Pour nous joindre</h1>
	<ul>
		<li>
			Par téléphone : (418) 656-7987
		</li>
		<li>
			Par courriel : <a href="mailto:accueil@aide.ulaval.ca">accueil@aide.ulaval.ca</a><br>
			<strong>(Pas de prise de rendez-vous ni de consultation par courriel)</strong>
		</li>
		<li>
			Par télécopieur : (418) 656-7866
		</li>
		<li>
			Adresse :
			<p>
				Centre d'aide aux étudiants<br>
				Pavillon Maurice-Pollack<br>
				2305, rue de l'Universitée<br>
				Local 2121<br>
				Université Laval<br>
				Québec (Québec)&nbsp;&nbsp;G1V 0A6<br>
				Canada
			</p>
		</li>
	</ul>
</section>
<section id="equipe">
<h1>L'équipe</h1>
<h2>Coordonateur</h2>
<p>
	Daniel Tremblay, conseiller d'orientation
</p>
<h2>Personnel de secrétariat</h2>
<p>
	Bénédicte Doré<br>
	Johanne Jacques<br>
	Guylaine Thibault
</p>
<h2>Personnel professionnel</h2>
<p>
	Sandra Boucher, conseillère d'orientation<br>
	Annie Brulotte, conseillère d'orientation<br>
	Donald Côté, conseiller d'orientation<br>
	Marie-Catherine Côté, conseillère d'orientation, psychologue<br>
	Catherine Desmarais, conseillère d'orientation<br>
	Sylvie Gamache, conseillère d'orientation<br>
	France Lehoux, conseillère d'orientation<br>
	Laurette Maurice, conseillère d'orientation, psychologue<br>
	Yves Villeneuve, conseiller d'orientation
</p>
</section>