<p>
	Le Centre d'aide aux étudiants tient à remercier Joanne Fournier, conseillère en communication Web à l'Université Laval, pour l'ampleur et la qualité de sa contribution au graphisme et à l'architecture de notre site.
</p>
<p>
	Nous avons grandement apprécié le professionnalisme de ses interventions à toutes les étapes du processus et sa capacité à bien saisir la perspective avec laquelle nous effectuons notre travail auprès des étudiants et des étudiantes.
</p>