<nav>
	<ul>
		<li><a href="#admissibilite" title="Qui est admissible?">Qui est admissible?</a></li>
		<li><a href="#marche-suivre" title="Marche à suivre">Marche à suivre</a></li>
		<li><a href="#documents-requis" title="Documents requis">Documents requis</a></li>
		<li><a href="#services" title="Services disponibles">Services disponibles</a></li>
		<li><a href="#ressources-materielles" title="Ressources matérielles">Ressources matérielles</a></li>
		<li><a href="#ressources-humaines" title="Ressources humaines">Ressources humaines</a></li>
		<li><a href="#confidentialite" title="Confidentialité">Confidentialité</a></li>
		<li><a href="#adapter-vie-uni" title="Vous adapter à la vie universitaire">Vous adapter à la vie universitaire</a></li>
		<li><a href="#references" title="Références">Références</a></li>
	</ul>
</nav>

<section id="admissibilite">
	<h1>Qui est admissible?</h1>
	<p>
		Pour avoir droit à nos services en raison d'une déficience auditive, vous devez être inscrit ou inscrite à un programme régulier ou aux études libres à l'Université Laval et répondre à une de ces exigences :
	</p>

	<p>
		<h2>&#9632; l'oreille qui a la plus grande capacité auditive est affectée d'une déficience auditive évaluée à moins de 70 décibels. Ce type de déficience est dite « grave »;</h2>
	</p>

	<p>
		<h2>&#9632; votre capacité auditive se situe au niveau minimal de 25 décibels, ce qui est aussi une déficience reconnue.</h2>
	</p>

	<p>
		Bien sûr, il existe toujours des cas particuliers ou limites. N'hésitez pas à venir nous rencontrer si vous êtes dans cette situation ou si vous doutez de votre admissibilité.
	</p>
</section>

<section id="marche-suivre">
	<h1>Marche à suivre</h1>
	<p>
		Dès que vous avez effectué votre choix de cours pour la session, que ce soit votre première à l'Université Laval ou non, prenez rendez-vous avec un conseiller ou une conseillère de notre bureau. Après avoir vérifié votre admissibilité, nous évaluerons avec vous vos besoins d'accommodations pour cette session-là, de même que les personnes-ressources et le matériel que ces besoins exigent. S'il y a lieu, nous vous aiderons dans vos démarches pour l'obtention de financement pour ces ressources.
	</p>
 
 	<p>
		Si vous avez droit au service d'interprétariat, nous ferons immédiatement parvenir au Collège de Sainte-Foy votre horaire provisoire pour qu'on planifie l'embauche d'un ou d'une interprète, puisque l'Université Laval a une entente avec cette institution pour la gestion des interprètes.
	</p>

	<p> 
		Vous devez répéter cette marche à suivre au début de chaque session où vous vous inscrirez à des cours.
	</p>
</section>

<section id="documents-requis">
	<h1>Documents requis</h1>
	<p>
		Lors de votre première rencontre avec un de nos conseillers ou conseillères, vous devez apporter un audiogramme récent. Nous en garderons une copie pour nos dossiers. Par la suite, ce document ne sera plus nécessaire, à moins d'une modification importante de votre audition.
	</p>
 
 	<p>
		Nous aurons aussi besoin de votre choix de cours pour la session.
	</p>
</section>

<section id="services">
	<h1>Services disponibles</h1>
	<p>
		Nous offrons l'évaluation de votre admissibilité à nos services et une identification des accommodations qui seront nécessaires à vos études.
	</p>
 
	<p>
		Différentes accommodations peuvent être utilisées pour permettre la poursuite de vos études, sans discrimination ni privilège. Elles sont toujours personnalisées et varient d'un individu à l'autre, d'un cours à l'autre.
	</p>
 
	<p>
		Vous pouvez avoir besoin de ressources matérielles ou humaines. Lorsqu'elles entraînent des coûts, elles sont accessibles dans la mesure où un financement existe. Celui-ci varie en fonction de votre provenance : québécoise, canadienne ou étrangère. Nous pouvons, à l'occasion, contribuer aux frais, sous réserve de la disponibilité des fonds discrétionnaires que nous accorde le ministère de l'Éducation (MEQ).
	</p>
</section>

<section id="ressources-materielles">
	<h1>Ressources matérielles</h1>
	<ul>
		<li>
			L'achat d'un appareil ou de matériel visant à compenser les effets de votre déficience auditive et jugé nécessaire à la poursuite de vos études à la maison peut être requis. Pour les résidants du Québec, c'est la <a href="http://www.ramq.gouv.qc.ca/fr/Pages/accueil.aspx" title="Régie de l'assurance maladie du Québec">Régie de l'assurance maladie du Québec</a> qui rembourse les frais relatifs aux ressources matérielles (aide auditive). Vous devez donc faire votre demande à cet organisme.
		</li>

		<li>
			Si vous êtes atteinte ou atteint d'une déficience auditive grave et que vous devez vous procurer un micro-ordinateur afin de compenser les effets de votre déficience, nous ferons parvenir votre demande à l'Aide financière aux études du MEQ (si vous y êtes éligible).
		</li>

		<li>
			L'achat de matériel périssable (papier NCR, photocopies, cassettes audio), lorsqu'il est requis pour les services de prise de notes, de lecture ou de transcription, peut, dans certains cas, être remboursé.
		</li>

		<li>
			Nous pouvons vous prêter certaines ressources matérielles momentanément (système d'amplification MF, ordinateur portable) ou en complément de vos ressources actuelles (système de caméra AudiSee pour la lecture labiale).
		</li>	
	</ul>
</section>

<section id="ressources-humaines">
	<h1>Ressources humaines</h1>
	<p>
		<strong>Interprétation</strong> : traduction de vos cours en LSQ (langage des signes québécois) ou interprétation orale.
	</p>

	<p>
		<strong>Accompagnement</strong> : aide relative à vos besoins scolaires (tutorat).
	</p>

	<p>
		<strong>Prise de notes</strong> : prise de notes en classe, à la main ou à l'ordinateur.
	</p>
</section>

<section id="confidentialite">
	<h1>Confidentialité</h1>
	<p>
		Le secteur Accueil et intégration des personnes handicapées étudiantes applique une politique de confidentialité par laquelle il s'engage à ne pas transmettre quelque documentation que ce soit sans une autorisation écrite de l'étudiante ou de l'étudiant.
	</p>
</section>

<section id="adapter-vie-uni">
	<h1>Vous adapter à la vie universitaire</h1>
	<p>
		Voici quelques suggestions afin de faciliter votre intégration sociale à l'Université Laval.
	</p>

	<ul>
		<li>
			Au besoin, dites à votre interlocuteur ou interlocutrice que vous avez un problème d'audition. À votre demande, il pourra alors parler plus lentement, faire des phrases plus courtes, etc.
		</li>

		<li>
			Rapprochez-vous de la personne qui vous parle et placez-vous en face d'elle.
		</li>

		<li>
			Assurez-vous que son visage est bien éclairé et demandez-lui de se déplacer au besoin.
		</li>

		<li>
			Éliminez autant que possible les bruits ambiants (par exemple, fermez les fenêtres, la porte). Trouvez un endroit calme et peu passant pour discuter.
		</li>

		<li>
			N'hésitez pas à faire répéter quand vous ne comprenez pas. Ne faites pas semblant de comprendre un message (parlé, écrit ou signé). Il arrive à <strong>tout le monde</strong> de ne pas bien comprendre et d'avoir à demander de répéter, que ce soit à cause d'une distraction, d'une confusion dans le sens des mots utilisés, de la façon dont l'idée est exprimée, d'un bruit soudain, d'une incapacité auditive ou parce que deux personnes parlent en même temps. Faire semblant que vous comprenez peut nuire à votre intégration sociale et entraver votre sentiment d'appartenance au groupe. <strong>Vous aurez vraisemblablement plusieurs années à passer avec ce groupe</strong> ; bien établir les bases de votre intégration sociale en vaut la peine.
		</li>

		<li>
			Dites ce que vous avez compris ; votre interlocuteur ou interlocutrice pourra alors compléter au besoin.
		</li>

		<li>
			Si vous abordez un groupe déjà en discussion, demandez à connaître le sujet de conversation. C'est une question banale et communément posée par tous.
		</li>

		<li>
			Dans un groupe, <strong>surtout lors de travaux en équipe</strong>, demandez à ce qu'une personne parle à la fois.
		</li>

		<li>
			Dans une réunion, parlez à une personne à la fois.
		</li>

		<li>
			Ayez en main un calepin et un crayon, afin que vous puissiez communiquer ou recevoir par écrit les informations qui ne sont pas comprises.
		</li>
	</ul>

	<p>
		Les situations de groupe peuvent être difficiles pour vous, et ce, même si vous savez lire sur les lèvres. En effet, vous ne pouvez regarder qu'une personne à la fois et vous perdez ainsi plusieurs indices qui pourraient vous aider à suivre la conversation. Soyez à l'aise de demander au groupe de se discipliner pour qu'une seule personne parle à la fois. De plus, vous pourriez convenir d'une manière d'identifier l'interlocuteur ou l'interlocutrice : utilisez, par exemple, un gros crayon qu'on se passe comme un microphone. Dans certaines situations, les services d'un interprète oral peuvent s'avérer incontournables. Songez cependant que, en milieu de travail, vous devrez souvent vous débrouiller sans interprète.
	</p>

</section>

<section id="references">
	<h1>Références</h1>
	<p><cite>
		Association des devenus sourds et des malentendants du Québec, Site de l'Association, [En ligne] [<a href="http://www.adsmq.org/" title="Site de l'Association des devenus sourds et des malentendants du Québec">www.adsmq.org</a>] (page consultée le 23 avril 2010)
	</cite></p>

	<p><cite>
		Jacob, Nathalie (tsp.), Info-sociale, Site de l'auteure, [En ligne]. [<s><a href="http://www3.sympatico.ca/njacob/" title="Site de l'auteure Nathalie Jacob">www3.sympatico.ca/njacob</a></s>] (14 novembre 2003)
	</cite></p>
</section>

<footer>
	<h2>Rédigé par :</h2>
	<p>
		Anne-Louise Fournier, conseillère aux étudiants en situation de handicap
	</p>
	<p>
		Daniel Tremblay, conseiller aux étudiants en situation de handicap
	</p>
</footer>