<p>
	Cette section vise à informer les étudiantes et les étudiants ayant une déficience fonctionnelle des procédures et accommodations possibles.
</p>

<ul>
	<li>
		<a href="{{LIEN}}deficience-auditive" title="Déficience auditive" target="_blank">Déficience auditive</a>
	</li>
	<li>
		<a href="{{LIEN}}deficience-motrice" title="Déficience motrice" target="_blank">Déficience motrice</a>
	</li>
	<li>
		<a href="{{LIEN}}deficience-organique" title="Déficience organique" target="_blank">Déficience organique</a>
	</li>
	<li>
		<a href="{{LIEN}}deficience-visuelle" title="Déficience visuelle" target="_blank">Déficience visuelle</a>
	</li>
	<li>
		<a href="{{LIEN}}troubles-apprentissage" title="Troubles d'apprentissage" target="_blank">Troubles d'apprentissage</a>
	</li>
	<li>
		<a href="{{LIEN}}trouble-attention" title="Trouble déficitaire de l'attention" target="_blank">Trouble déficitaire de l'attention</a>
	</li>
	<li>
		<a href="{{LIEN}}troubles-mentaux" title="Troubles mentaux" target="_blank">Troubles mentaux</a>
	</li>
</ul>