<p>
	De plus en plus d'étudiantes et d'étudiants ayant un handicap, un trouble d'apprentissage ou un trouble mental réalisent avec succès leur projet d'études universitaires.
</p>

<p> 
	Nous offrons à ces étudiantes et étudiants des outils, des services et des mesures d'accommodation visant à pallier une limitation fonctionnelle, sans discrimination ni privilège.
</p>
 
<p> 
	La mission du secteur « Accueil et soutien aux étudiants en situation de handicap » s'harmonise avec la Déclaration des droits fondamentaux des étudiantes et des étudiants de l'Université Laval.

<h2>À signaler :</h2>

<ul>
	<li class="doc">
		<a href="wp-content/uploads/2014/11/Note_aux_etudiants_Aout_2014.doc" title="Informations importantes pour les étudiants - Automne 2014" target="_blank">Informations importantes pour les étudiants - Automne 2014</a>
	</li>

	<li class="doc">
		<a href="wp-content/uploads/2014/11/inscriptions_cours_langues.docx" title="Inscriptions aux cours de langue" target="_blank">Inscriptions aux cours de langue</a>
	</li>

	<li class="pdf">
		<a href="wp-content/uploads/2014/11/conseils_gestion_examens.pdf" title="Conseils pour la gestion des examens" target="_blank">Conseils pour la gestion des examens</a>
	</li>

	<li class="vid">
		<a href="{{LIEN}}conference" title="Conférence « Emploi et étudiants en situation de handicap », par Guillaume Parent, avril 2013" target="_blank">Conférence « Emploi et étudiants en situation de handicap », par Guillaume Parent, avril 2013</a>
	</li>
</ul>

<h2>Dépliant du secteur :</h2>

<a href="wp-content/uploads/2014/11/dep_general_ACSESH_dec12.pdf" title="Étudier avec un handicap, un trouble d'apprentissage, un trouble de santé mentale" class="pdf" target="_blank">Étudier avec un handicap, un trouble d'apprentissage, un trouble de santé mentale</a>

<h2>Étudier avec un handicap</h2>

<ul>
	<li><a href="{{LIEN}}deficience-auditive" title="Déficience auditive">Déficience auditive</a></li>
	<li><a href="{{LIEN}}deficience-motrice" title="Déficience motrice">Déficience motrice</a></li>
	<li><a href="{{LIEN}}deficience-organique" title="Déficience organique">Déficience organique</a></li>
	<li><a href="{{LIEN}}deficience-visuelle" title="Déficience visuelle">Déficience visuelle</a></li>
	<li><a href="{{LIEN}}troubles-apprentissage" title="Troubles d'apprentissage">Troubles d'apprentissage</a></li>
	<li><a href="{{LIEN}}trouble-attention" title="Trouble déficitaire de l'attention">Trouble déficitaire de l'attention</a></li>
	<li><a href="{{LIEN}}troubles-mentaux" title="Troubles mentaux">Troubles mentaux</a></li>
</ul>

<h2>Ressources pour le personnel enseignant</h2>

<ul>
	<li><a href="{{LIEN}}accessibilite-internet" title="Accessibilité à Internet">Accessibilité à Internet</a></li>
	<li><a href="{{LIEN}}notice-plan-cours" title="Notice pour plan de cours">Notice pour plan de cours</a></li>
	<li><a href="{{LIEN}}passation-examens" title="Passation des examens">Passation des examens</a></li>
	<li><a href="{{LIEN}}personnes-ressources" title="Personnes-ressources">Personnes-ressources</a></li>
	<li><a href="{{LIEN}}transcription-braille" title="Transcription en braille">Transcription en braille</a></li>
	<li><a href="{{LIEN}}guides-pedagogiques" title="Guides pédagogiques">Guides pédagogiques</a></li>
</ul>

<h2>Services</h2>

<ul>
	<li><a href="{{LIEN}}accessibilite-architecturale" title="Accessibilité architecturale">Accessibilité architecturale</a></li>
	<li><a href="{{LIEN}}aide-financiere-publique" title="Aide financière publique">Aide financière publique</a></li>
	<li><a href="{{LIEN}}aide-financiere-privee" title="Aide financière privée">Aide financière privée</a></li>
	<li><a href="{{LIEN}}consignes-evacuation" title="Consignes d'évacuation">Consignes d'évacuation</a></li>
	<li><a href="{{LIEN}}logement" title="Logement">Logement</a></li>
	<li><a href="{{LIEN}}aide-personnelle" title="Service d'aide personnelle">Service d'aide personnelle</a></li>
	<li><a href="{{LIEN}}aide-technique" title="Service d'aide technique">Service d'aide technique</a></li>
	<li><a href="{{LIEN}}enregistrement-lectures" title="Service d'enregistrement des lectures">Service d'enregistrement des lectures</a></li>
	<li><a href="{{LIEN}}coordination" title="Service de coordination">Service de coordination</a></li>
	<li><a href="{{LIEN}}transport-adapte-public" title="Transport adapté public">Transport adapté public</a></li>
</ul>
<div>
	<a href="http://trophees.apajh.org/index.php?option=com_content&view=article&id=5&Itemid=50" title="Trophée APAJH 2008" target="_blank"><img src="wp-content/uploads/2014/11/APAJH.jpg" alt="Récipiendaire du trophée d'honneur 2008" /></a>
	<p>Université Laval, récipiendaire<br />du trophée d'honneur 2008.</p>
</div>
<h2>Sensibilisation</h2>

<ul>
	<li><a href="{{LIEN}}politique-integration" title="Politique d'intégration">Politique d'intégration</a></li>
	<li><a href="{{LIEN}}quest-ce-handicap" title="Qu'est-ce qu'un handicap?">Qu'est-ce qu'un handicap?</a></li>
	<li><a href="{{LIEN}}comment-reagir" title="Comment réagir?">Comment réagir?</a></li>
	<li><a href="{{LIEN}}mythes-prejuges-realites" title="Mythes, préjugés et réalités">Mythes, préjugés et réalités</a></li>
	<li><a href="{{LIEN}}conseils-accessibilite" title="Conseils d'accessibilité">Conseils d'accessibilité</a></li>
	<li><a href="{{LIEN}}articles-liens" title="Articles et liens sur Internet">Articles et liens sur Internet</a></li>
</ul>

<a href="{{LIEN}}nous-joindre-handicap" title="Nous joindre">Nous joindre</a>

<p>
	Cette mission est appuyée par la <a href="{{LIEN}}politique-handicap" title="Politique d'intégration des personnes handicapées étudiantes à l'Université Laval">Politique d'intégration des personnes handicapées étudiantes à l'Université Laval</a> adoptée par le Conseil d'administration en mars 2002. 
</p>

